[2019-01-13 01:18] Huachao commented on #310
@AdamWorley thanks for your quick response, and what's your grant type configured in postman which can work?

[2019-01-13 04:05] VictorSu000 opened #311 "bugs on sending multipart/form-data requests with duplicate field names"
- VSCode Version: 1.30.1
- OS Version: Linux x64 4.15.0-29deepin-generic
- REST Client Version: 0.21.1

Steps to Reproduce:

requests:

[code]

The request has two files and they use the same field name "file". If I send this request in postman, the server will receive both files, 1.docx and 2.docx. But if I send it via REST Client, the server can only receive 1.docx.

[2019-01-13 07:00] Huachao commented on #311
@VictorSu000 I think the root cause is your request body isn't right, only the last part can be delimited with double - suffix

[2019-01-13 07:01] #311 closed

[2019-01-14 09:01] AdamWorley commented on #310
Hey @Huachao, the grant type is **Implicit**
![image](https://user-images.githubusercontent.com/28906234/51103485-c3650e00-17da-11e9-9e21-504959addcda.png)

[2019-01-16 15:47] PiotrPerak commented on #169
Is there a way to assign contents of a file to one of arguments? I can't manage to do it.

    arg0=val0
    &arg1=path_to_file.xml

[2019-01-16 21:51] PiotrPerak opened #312 "Support sending contents of files for x-www-form-urlencoded requests"
Is there a way to send file in this kind of request?

    POST https://host:8443/my/path/to/endpoint
    Content-Type: application/x-www-form-urlencoded

    arg0=val0
    &arg1=my_file.xml

I tried to use < before name of the file but it sends it as string "< my_file.xml"

[2019-01-17 10:10] unclosable opened #313 "if there is an array in response,could I handle it as a loop?"
[code]

if http://example.com/query response like
[code]
is there a way could post http://example.com/post three times?

[2019-01-19 08:07] Huachao commented on #313
@unclosable currently this is not supported

[2019-01-21 02:35] LX314 opened #314 "How can i the params's md5 during the request?"
In my case, i need to pass a md5 of my parameters(sorted first) in the http headers, What should i do?

[2019-01-21 02:38] Huachao commented on #314
@LX314 I am sorry it's currently not supported, maybe in the future we can work the `script` capability.

[2019-01-21 06:11] LX314 commented on #314
@Huachao Oh, I see. thanks

[2019-01-21 06:11] #314 closed

[2019-01-21 14:58] RyanOC commented on #179
Having the ability to overwrite an environmental variable is very important to me as well. I have dozens of requests and do not want to put my username/password in a post request in every file. I really need to have only one single file that has this authentication request and all the other files will read the environmental value that was set. Thanks for this awesome tool so far though!

[2019-01-24 07:26] rhythmk opened #315 "response preview render"
I send a request  to servers and get  a page status is 500. This page contains a glorified error message 。
Can I use this to see the results returned, as in the browser?

[2019-01-24 07:50] Huachao commented on #315
@rhythmk you mean render the html page, currently it's not supported.

[2019-01-24 08:20] rhythmk commented on #315
sorry, I didn't find the operation  method

[2019-01-24 08:42] Huachao commented on #315
@rhythmk what's do you mean the *operation method*?

[2019-01-24 12:20] stirp opened #316 "Need cookie Variable"
I need to get value from Cookie and use it in next request URL.

Previous response like :

HTTP/1.1 200 OK
Server: Tengine
Date: Thu, 24 Jan 2019 12:11:47 GMT
Content-Type: application/json
Transfer-Encoding: chunked
Connection: keep-alive
Vary: Accept-Encoding
Set-Cookie: a=xxx; Domain=example.com; Expires=Thu, 10-Jan-2069 20:59:59 GMT; Path=/,b=xxx; Domain=example.com; Path=/; Secure; HttpOnly

[2019-01-24 19:32] viktor-evdokimov commented on #300
So this is huge. copying result body was working for me and stopped working lately, really ruined my workflow =(

[2019-01-24 21:23] silenceleaf commented on #302
Please not only support OAuth 2 but also OAuth 1. My company is still using OAuth 1.0

[2019-01-25 01:58] Huachao commented on #300
@viktor-evdokimov I haven't implemented this feature, what do you mean `was working for you`?

[2019-01-25 14:35] viktor-evdokimov commented on #300
Up to some point i was able to select text from result tab and copy it to clipboard, and that no longer works

[2019-01-25 17:48] viktor-evdokimov commented on #300
Created PR for this #317

[2019-01-26 04:59] Huachao commented on #300
@viktor-evdokimov what's your VSCode and my extension versions respectively? Since I can't repro this on my machine.

[2019-01-26 12:36] viktor-evdokimov commented on #300
I am on insider build of vscode and latest version of the plugin.

[2019-01-26 13:31] Huachao commented on #300
@viktor-evdokimov this is an known issue of Microsoft/vscode#65452, I will keep track of it. BTW, I add a comment in your PR, please help to resolve it when available. Thanks in advance.

[2019-01-27 23:06] faisalraja commented on #267
This would be great. I'm thinking something like another divider for assert results:

GET ....

assert(ContentType == "application/json")
const data = JSON.parse(body)
assert(data.result.length == 5)

###

It would just have an additional data when running it on its own with pass fail. But running it for the whole file would give pass or fail for each.

Plus a compatible cli that can run a set of

[2019-01-28 05:51] Huachao commented on #300
@asmith3006 @Baoyx007 @pranayrauthu @michelemauro Thank for the help of @viktor-evdokimov , we have fixed this issue and will publish this feature in next release. And @viktor-evdokimov I will keep track of the issue you've mentioned.

[2019-01-28 05:51] #300 closed

[2019-01-28 14:50] jgroom33 commented on #267
I've switched to using strest and wrote this plugin: https://github.com/jgroom33/vscode-strest-client

[2019-01-29 21:17] ishepherd commented on #291
+1, this could let us ditch Postman/Newman
How would one run such a thing from command line? npm?

[2019-01-30 01:47] ishepherd commented on #291
This is a dupe of https://github.com/Huachao/vscode-restclient/issues/267

[2019-01-30 01:55] ishepherd commented on #267
+1 looks more flexible/natural than strest's approach where you code your validations as an AST.

[2019-01-30 03:59] lonix1 commented on #291
How cool would that be - to have one less app open during development!

[2019-01-30 04:25] readless opened #319 "add system dynamic variables $envIf"
can you add an system dynamic variables $envIf,
when i use @name= {{$envIf local name1  name2}}, it mean if current env is local , then name = name1 , otherwise name =name2。

this feture will be usable。

[2019-01-30 06:54] Huachao commented on #319
@readless this seems can be achieved via current offerings.

1. Create one environment named `local` in vscode settings:
[code]
This piece of code means, if your environment is local, then the value of `name` would be `Huachao`, otherwise, the value of name would be `readless`

2. Create a sample request like following:
[code]
3. Send this request in `local` environment and other environments, the

[2019-01-30 07:18] readless commented on #319
if i hava two http file ,
A.http use two variables {{name}} {{code}} ,
when env = local, name=name1, code=code1
         env = dev, name=name2, code=code2
B.http use two variables {{name}} {{code}}
when env = local, name=name3, code=code1
         env = dev, name=name4, code=code2

so code can be put in rest-client.environmentVariables, but name depends different http request。
if i  also  put name

[2019-01-30 07:44] readless commented on #319
when i have 30 or more http files , i must have 30*2 = 60 env。

i  will make a pull request

[2019-01-30 08:01] Huachao commented on #319
@readless I agree with the idea for the conditional file variables whose value determined by some conditions. For your case, the condition is the assertion of environment name, I am considering if it would be better to provide a more general way to support conditional file variables. Just like the `@variableName = {{condition ? value1 : value2}}`. The condition can be the validation of current act

[2019-01-30 08:15] Meir017 commented on #319
maybe rename the variable to `$if` and create condition keywords.
for example:
[code]
or maybe
[code]

[2019-01-30 08:19] Huachao commented on #319
@Meir017 nice suggestion, @readless  actually I think the scenario is not quite common for many users, if we want to support what @Meir017 suggested, we'd better first create a new environment name called something similar to `$currentEnvironmentName`, then use this variable to do some validation.

[2019-01-30 15:57] readless opened #321 "send request button show too slow"
i find that send request button show too slow。when i open the http file, send request button will show after 2 seconds 。Can it improve?

[2019-01-31 04:41] Huachao commented on #321
@readless can you try to run the command `Show Running Extensions` and check the time of my extension, and how many requests stored inside your `http` file

[2019-02-02 11:08] lihuanshuai opened #322 "A way for empty string as value of variable"
empty string `''` is widely used in url parameters, is there any way to declare a variable to be empty string?

maybe something like

[code]

I am using a workaround now, config

[code]

then `{{empty}}` could be used inside `.rest` file.

but it is not elegant enough, so a system variable may be necessary

[2019-02-03 15:17] xtuer opened #323 "Hide the Send Request Button"
It would be wonderful to provide an option to hide the `Send Request` button that makes the document cleaner.

[2019-02-03 15:20] xtuer opened #324 "Show the request list"
It would be wonderful to provide a shortcut to show the full request list for navigating to different request.

[2019-02-04 08:38] Huachao commented on #323
@xtuer Duplicate of #295

[2019-02-04 08:38] #323 closed

[2019-02-04 08:40] Huachao commented on #324
@xtuer I think this is actually supported in this extension, you can check out the https://github.com/Huachao/vscode-restclient#navigate-to-symbols-in-request-file

[2019-02-04 08:40] #324 closed

[2019-02-04 14:44] ryan-ju opened #325 "Allow custom timestamp format"
It would be great to allow the user to specify a timestamp formatter, maybe using the [moment.js](https://momentjs.com/docs/#/displaying/) standard.

This will also allow the user to get parts of the timestamp, like the hour, the minutes, etc.

[2019-02-11 01:51] Huachao commented on #322
@lihuanshuai Can you provide me with more details about the usage of empty string?

[2019-02-11 01:52] Huachao commented on #325
@ryan-ju we already support the timestamp with datetime offset, does this fit for you?

[2019-02-12 12:16] redcoreit opened #326 "VSCode 1.31.0 large json hangs"
- VSCode Version: 1.31.0
- OS Version: Win10 1803
- REST Client Version: 0.21.1

Symptoms:
After update (1.31.0) big request hangs, and finally show an error (connreset or similar)
It is ok with 1.30.2.
Small json request still works with the new VSCode version.

Steps to Reproduce:

1. Send a large (mine is 1835KB) json request.
2. I'm using cert based auth (xxx.pfx).
3. Localhost still works wit

[2019-02-12 18:31] asmith3006 opened #327 "Query response with text/javascript content"
When you query Facebook Graph API the response is "text/javascript; charset=UTF-8" and I can't query the result using {{ConfirmToken.response.body.user_id}} it says "Only JSON request/body is supported to query the result" so I'm assuming it's looking for "application/json"?

Can you please include "text/javascript"?

Thanks.

[2019-02-13 01:26] Huachao commented on #327
@asmith3006 does the Facebook API response is actually a JSON body, although the `Content-Type` of it is marked as `text/javascript`?

[2019-02-13 06:23] Huachao commented on #295
@ccidral @xtuer I have implemented this feature by adding two new settings to control *Send Request* and *Variable References* codelens with `rest-client.enableSendRequestCodeLens` and `rest-client.enableCustomVariableReferencesCodeLens`.

[2019-02-13 06:23] #295 closed

[2019-02-13 16:02] ccidral commented on #295
@Huachao This is awesome, thank you so much!

[2019-02-13 23:19] jugaltheshah opened #328 "Cannot copy request as cURL or generate snippet if host looks invalid"
- VSCode Version: 1.31.1
- OS Version: Ubuntu 18.10
- REST Client Version: 0.21.1

Steps to Reproduce:

1. Create request to a host that doesn't look valid, e.g. an env var:
[code]
2. Highlight it
3. Right click and select "Copy Request As cURL" or "Generate Code Snippet"

Expected behavior:
I'd expect a cURL request equivalent to the one highlighted to be copied to clipboard. Or if "Generate Code

[2019-02-13 23:53] jugaltheshah commented on #328
Sorry, I believe "Copy Request As cURL" is not working regardless of the host being malformed-looking or not. Possibly related to #308? Though I thought that was one of the fixes for this release.

[2019-02-14 05:48] Huachao commented on #328
@jugaltheshah I can repro the issue and it seems not related to #308. And what's the expected behavior for url `$URL/service`, should the generated code remain as is like `curl -XPOST $URL/service` or append the protocol like `curl -XPOST http://$URL/service`?

[2019-02-14 05:58] jugaltheshah commented on #328
The expected behavior is that code generated from `$URL/service` remains as-is, i.e. `curl -X POST $URL/service`.

[2019-02-14 07:15] Huachao commented on #328
@jugaltheshah I have fixed this issue and will publish this in next releasae

[2019-02-14 07:15] #328 closed

[2019-02-14 12:59] jugaltheshah commented on #328
That's amazing, thanks @huachao. I don't think I could turn around a sandwich that fast. :)

[2019-02-14 16:01] alembiq opened #329 "release notes for 0.21+ are still in 2018"
0.21.1 (2018/1/8)
Feature: Add fold/unfold full response body features in the response preview panel
Bug Fix: Copy request as cURL not working
Bug Fix: AAD Auth stopped to work in new version - 0.21.0
0.21.0 (2018/1/3)
Bug Fix: Unable to collapse the json response body
Improvement: Use Webpack to bundle extension to improve activation time and high CPU load
Improvement: Update RFC1322 to RFC1123

[2019-02-15 05:14] Huachao commented on #329
@alembiq if you saw this in VSCode extension, that's expected behavior, since I haven't published a newer release. I plan to publish a new release next week, and after that, it will be OK

[2019-02-15 05:14] #329 closed

[2019-02-16 07:11] Huachao commented on #292
@jimmcslim @michelemauro so in this case the content type header of request body should be Content-Type: application/x-ndjson, right ?

[2019-02-16 11:50] jimmcslim commented on #292
Yes, that appears to be the case.

[2019-02-18 08:51] Huachao commented on #292
@jimmcslim @michelemauro @esurijon I have fixed the issue that append a newline character to the end of the request body for `x-ndjson` MIME type. And this fix will be published in next release.

[2019-02-18 08:51] #292 closed

[2019-02-18 14:25] mekwall commented on #267
Where is the parser located for the http language? If that could be moved out to a separate package it would be easy to contribute with tooling for testing.

[2019-02-19 09:14] lihuanshuai commented on #322
@Huachao sorry for late reply. I am testing an api with different parameter groups. The code looks like:

[code]

In this way, I could comment/uncomment some lines to switch parameters. yet, some parameter may be `''` as a default value, if there is no `{{empty}}`, there won't be a way to declare such variable.

You may say, comment/uncomment `&param2={{param2}}` line is an option, yet isn't it to

[2019-02-19 09:18] Huachao commented on #322
@lihuanshuai thanks for your reply, in my view, the two methods provided from you, that a query parameter like `param2=` and without `param2` query parameter may be different for some server web frameworks. So if they act the same, they uri may look like `GET https://api.example.com?param1=`, right?

[2019-02-19 09:20] lihuanshuai commented on #322
@Huachao right

[2019-02-19 12:45] tom-thorne opened #330 "xpath expression in response variable not resolving"
- VSCode Version: 1.31.1 (1.31.1)
- OS Version: Mac OSX Mojave 10.14.3
- REST Client Version: 0.21.1

Trying to use xpath to read a token out of an logon xml response, but it isn't working - I always get 'No value is resolved for given XPath'.

[code]

The redacted response from the Logon call is as follows:
[code]

[2019-02-19 15:54] Somebi opened #331 "Automatically beautify pasted curl"
Would be nice to see formatted curl request

[2019-02-19 15:54] Somebi commented on #331
Because sometime it's so ugly when copied from google chrome.

[2019-02-20 07:29] Huachao commented on #330
@tom-thorne since your xml has namespace, so you should update your xpath to something like following `{{logon.response.body.//*[name()='m_szToken']}}`

[2019-02-20 07:29] #330 closed

[2019-02-21 08:03] Timbuktu1982 opened #332 "Unable to send requests "multipart/form-data" that contains files"
- VSCode Version: 1.31.1 (user setup)
- OS Version: Windows_NT x64 10.0.17134
- REST Client Version: 0.21.1

Error description:
If a request with the content-type "multipart/form-data" containing a file is to be executed, the request continues endlessly and must be aborted with ctrl+alt+k. If no file is transmitted or could not be found, e.g. because the specified file name is not correct, the req

[2019-02-22 05:09] Huachao commented on #332
@Timbuktu1982 nice catch, I have fixed this issue and will publish in next release.

[2019-02-22 05:09] #332 closed

[2019-02-23 18:26] moorthi07 opened #333 "Does it work on Browser"
Does it work on browser apps with js frameworks or ts frameworks.

Thanks.

[2019-02-25 01:25] Huachao commented on #333
@moorthi07 No, it depends on the Node.JS runtime and APIs. :)

[2019-02-25 01:25] #333 closed

[2019-02-25 03:16] newbienewbie commented on #110
I'm not sure whether I'm encountering the same bug.

Recently , when I post a file, it waits there , hangs and and never returns . However, if I send a payload in `application/json` format, this extension works as expected.

For example, I post an image as below:
[code]
However, the same code worked flawlessly last month. I'm pretty sure there's nothing wrong with the server side.

**What I have t

[2019-02-25 03:21] Huachao commented on #110
@newbienewbie this is a known issue, and already fixed in #332 , and will publish this fix in next release

[2019-02-25 04:33] newbienewbie commented on #110
@Huachao  Hi, thanks for your quick response.

Is there a known date when the next version is released ?

[2019-02-25 04:46] Huachao commented on #110
@newbienewbie earlier next week or later this week.

[2019-02-25 04:52] newbienewbie commented on #110
@Huachao Got it . Thanks again for your great extension 💯 !

[2019-02-25 10:18] qqapp opened #334 "um... VsCode - restFul response beautify code"
hi.
i used vscode Tools.
and i used httpConnection rest-client plugin .
i want respose data beatify...
um ...
sample data
-- origin data
    { "key1":"123", "key2":"134"}
-- change data
    {
        "key1":"123",
        "key2":"134"
     }

[2019-02-25 10:35] xywwf commented on #188
HTTP/1.1 200 OK
Date: Mon, 25 Feb 2019 10:32:58 GMT
Content-Length: 70
Expires: Mon, 25 Feb 2019 10:32:58 GMT
Cache-Control: no-cache
Content-Type: application/json-rpc
Access-Control-Allow-Origin: *
Content-Encoding: gzip
Connection: close

{
  "id": "1",
  "jsonrpc": "2.0",
  "result": "bd8fcd73a15c681f"
}

This is the response of aria2c, but i can't use  "@hashValue = {{addUri.response.body.$.r

[2019-02-25 10:41] xywwf opened #335 "response body with application/json-rpc"
HTTP/1.1 200 OK
Date: Mon, 25 Feb 2019 10:32:58 GMT
Content-Length: 70
Expires: Mon, 25 Feb 2019 10:32:58 GMT
Cache-Control: no-cache
Content-Type: application/json-rpc
Access-Control-Allow-Origin: *
Content-Encoding: gzip
Connection: close

{
"id": "1",
"jsonrpc": "2.0",
"result": "bd8fcd73a15c681f"
}

This is the response of aria2c, but i can't use "@hashValue = {{addUri.response.body.$.result}}

[2019-02-25 13:14] Huachao commented on #188
@xywwf since the `Content-Type` of response is not `application/json`, I will consider if I can improve this, thanks for mentioning this

[2019-02-25 13:31] Huachao commented on #334
@qqapp what's the `Content-Type` of your response?

[2019-02-25 15:20] JohannesBeranek opened #336 "datetime iso8601 format wrong"
- VSCode Version: 1.31.1
- OS Version: Win 10
- REST Client Version: 0.21.1

Steps to Reproduce:

1.  Use {{$datetime iso8601}}

iso8601 format is not implemented correctly, it currently includes milliseconds but should not.
E.g. expected:
2019-02-25T15:18:38Z
but actual:
2019-02-25T15:18:38.449Z

[2019-02-25 19:47] ggayan commented on #42
@Huachao It looks like searching in the preview webview is not working anymore. I am willing to check how can this be patched, but I am not sure where to look. Do you have any pointers?

[2019-02-25 22:57] Huachao commented on #42
@ggayan do you mean you can't get the highlighted results after you provide the searching words , can you please provide a screenshot

[2019-02-26 00:19] #335 closed

[2019-02-26 14:03] Huachao commented on #336
@JohannesBeranek could you please provide the documentation about ISO 8601 time representation without  milliseconds

[2019-02-26 16:14] nathan-bardwell opened #337 "Store full JSON object as environment variable"
I have multiple files that send requests using the same JSON object. Would it be possible to add a feature that allows me to store this JSON as an environment variable so I can make changes to this object in one place instead of having to update each file individually?

For example:
[code]

[code]

[2019-02-27 13:16] zmqcherish opened #338 "miss query string when generate code snippet when use python(requests library)"
- VSCode Version:1.31.1
- OS Version:windows 10 ,10.0.17134
- REST Client Version:0.21.1

Steps to Reproduce:
1. create a test.http
2. just input the curl string:
GET https://cn.bing.com/search?q=microsoft
3. Ctrl + Alt + C, then choose python -> Requests
4. right panel has show the code, but miss the param: microsoft
`import requests
url = "https://cn.bing.com/search"
response = requests.request(

[2019-02-27 14:45] Huachao commented on #338
@zmqcherish nice catch, I have fixed the issue and will publish this fix in next release.

[2019-02-27 14:45] #338 closed

[2019-03-04 22:13] TechWatching opened #339 "How to query the microsoft graph thanks to rest client"
I don't really understand how to use the REST client and in particular the Azure Active Directory Token system variable to query the microsoft graph.
The AAD token I can retrieve thanks to REST Client does not seem to have the right on the Microsoft Graph as I receive a 403 with the following request
[code]
Requesting a token for the Microsoft Graph API usually involves registring an application i

[2019-03-06 03:06] Huachao commented on #328
@jugaltheshah you can try the latest version 0.21.2 to verify

[2019-03-06 03:06] Huachao commented on #292
@jimmcslim @michelemauro @esurijon you can try the latest version to verify

[2019-03-06 03:06] Huachao commented on #332
@Timbuktu1982 you can try the latest version to verify

[2019-03-06 03:07] Huachao commented on #338
@zmqcherish you can try the latest version to verify

[2019-03-06 08:05] Timbuktu1982 commented on #332
@Huachao : Many thanks for the quick help!

[2019-03-06 08:57] xywwf commented on #188
It seems that the question not been solved in the new version, i read the file `vscode-restclient/src/utils/requestVariableCacheValueProcessor.ts`, and found the code just like below

[code]

I wonder if it's possible to distinguish the response body by parameter  `nameOrPath`  that user given ?

[2019-03-06 09:51] Watson-Shen opened #340 "the json in requstbody has blank line will be cut off"
- VSCode Version:  1.31.1
- OS Version: Windows_NT x64 10.0.17134
- REST Client Version: 0.21.2

Steps to Reproduce:

1. Create request to a host,make the json has blank line
[code]
2. the json data will be cut off from blank line,it will be like this:
[code]

[2019-03-06 12:58] Huachao commented on #188
@xywwf personally I think we only need to update the JSON MIME type validation logic and make your response pass the check

[2019-03-06 13:59] Huachao commented on #110
@newbienewbie you can try the latest version to verify

[2019-03-07 05:29] Huachao commented on #340
@Watson-Shen this is by design, you should remove the blank lines in request body except for `multipart/xxx` MIME type

[2019-03-07 05:29] #340 closed

[2019-03-08 02:55] newbienewbie commented on #110
@Huachao Sorry for the late response. It works now . Thanks 👍

[2019-03-11 03:25] gtryasak opened #341 "http version"
- VSCode Version:1.32.1
- OS Version:Windows_NT x64 6.1.7601
- REST Client Version: 0.21.2

Steps to Reproduce:
Send any request with http version 1.0. Rest client sends request version 1.1

f.e. i send "GET http://localhost/any.php HTTP/1.0". The server receives a request "any.php HTTP/1.1"

[2019-03-11 07:46] zmqcherish commented on #338
it work well, thanks.

[2019-03-11 15:14] jugaltheshah commented on #328
Sorry for the late reply. With 0.21.2 "Copy Request As cURL" is working as expected with arbitrary (non-url) strings.

Thanks!

[2019-03-12 12:41] ariehf opened #342 "Allow environment variables to reference shared environment variables"
Allow environment variables to reference shared environment variables.
This is useful when there are a large amount of environments.
(can choose to be implemented with or without using the "$shared " prefix)

For example multiple environments where half of the environments use one shared variable, and the other half uses a different shared variable.

    "rest-client.environmentVariables": {

[2019-03-13 05:01] flanakin commented on #339
I wasn't able to get this to work with Microsoft Graph. I know there were changes to Azure AD auth, which Microsoft Graph requires, but do not know the details and did not have enough time to investigate this. I believe we'll need another community contribution to support Microsoft Graph.

[2019-03-13 13:47] ironbishop opened #343 "generate snippet from multiple requests"
is it possibile to generate snippet from multiple requests? currently, when i select multiple requests and use "generate snippet", only the first is turned into code.

REST Client Version: 0.21.2
VSCode Version: 1.32.1 (user setup)
OS: Windows_NT x64 10.0.17134

[2019-03-14 08:20] noname2001 commented on #194
+1

[2019-03-14 13:18] xiorcal commented on #135
for xml requests, if you use [dotjoshjohnson.xml(https://marketplace.visualstudio.com/items?itemName=DotJoshJohnson.xml) you can select the text and run "Format as XML" . I don't know if something similar exists for json

[2019-03-15 08:03] Huachao commented on #343
@ironbishop nice suggestion, I will update in this thread for any updates

[2019-03-15 09:17] Huachao commented on #341
@gtryasak native Node.js `http` request implementation hard-code the http version to 1.1, although we can directly write socket with the http plain text, instead of relying on the `http` module, I think it's in a lower priority and maybe we can come up with a better idea.

[2019-03-17 01:54] mtnrbq commented on #218
Hi - will PR #276 be merged in? - (I don't want to go back to using Postman :) )

[2019-03-17 14:29] Huachao commented on #218
@mtnrbq I think I will merge this after resolving the comment , and do you have interest to contribute it? BTW, can this pr solve your problem?

[2019-03-17 14:51] mthierba commented on #339
@TechWatching This should be possible once #218 has been resolved (PR #275) - which will allow you authenticate against your own custom AAD application. There has been some movement on #218 recently, so fingers crossed! (I'm also waiting for this.)

[2019-03-18 17:40] Andrew-Webb opened #344 "At send-request time, what happens when an SSL client cert is set for the target host?"
I have set an SSL client cert for my target API (localhost:port) in the VS Code settings file, via a PFX file and passphrase, as per https://github.com/Huachao/vscode-restclient#ssl-client-certificates

When I send a request to the API, what does Rest Client actually do?  I thought maybe the client cert would be sent in a custom request header, but the server isn't receiving any more than the usua

[2019-03-19 00:28] Huachao commented on #344
@Andrew-Webb the client/server certificate verification is done at the TLS/SSL layer, which you can think as a step before issuing actual http request. And you need to use SSL client certificate authentication only if server-side needs this.

[2019-03-19 00:28] #344 closed

[2019-03-20 08:05] benc-uk commented on #199
This would be brilliant, would let us run a suite of simple integration tests. This is the one thing I still need to switch to use Postman for :(

[2019-03-20 09:57] jyotibala5 opened #345 "Regex help"
I need to extract code out of below response to use in next post request, however no regex is working ` Can anyone please help with this ?
{
  "redirect_uri": "https://www.investec.com#code=X9zA4XSE&id_token=eyJraWQiOiJGMEQ4NTAxOUREM0NCRTEzMEY1QTg2QUQ1QTk5M0YzQjNDNzQxNTBBIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJ1cm46aW52ZXN0ZWM6b2I6YWNjOjg2ZTc3MjY2LWU3MTYtNDI5YS1iMzM4LTg1MTE5MTJmOGM2OSIsI

[2019-03-20 09:59] jyotibala5 opened #346 "regex"

[2019-03-20 10:00] #346 closed

[2019-03-20 16:15] alinasrabadi opened #347 "command 'rest-client.generate-codesnippet' not found"
- VSCode Version: 1.32.3 (1.32.3)
- OS Version: Mac Os 10.13.6 (17G65)
- REST Client Version: 0.21.2

Got error while click 'Generate Code Snippet'

Developer Tools:
![Screen Shot 2019-03-20 at 7 44 52 PM](https://user-images.githubusercontent.com/11992945/54700655-acc79400-4b48-11e9-8b49-257f1f1c2a97.png)

[2019-03-20 18:12] #347 closed

[2019-03-24 12:34] sjamesexamsoft commented on #336
According to Wikipedia.
Decimal fractions may be added to any of the three time elements. However, a fraction may only be added to the lowest order time element in the representation.
So milliseconds are allowed.
https://en.wikipedia.org/wiki/ISO_8601

[2019-03-24 12:39] Huachao commented on #336
@JohannesBeranek so I think this is an acceptable implementation now. I'd like to close it.

[2019-03-24 12:39] #336 closed

[2019-03-24 20:08] sjamesexamsoft opened #348 "Support for Authorization header with Bearer tokenn"
Need to be able to send HTTP requests with an Authorization header of the type:
Authorization: bearer eyJhbGciOiJBMTI4S...129379hf

[2019-03-25 02:10] Huachao commented on #348
@sjamesexamsoft bear authentication is supported out-of-box, doesn't it work for you?

[2019-03-25 02:11] #348 closed

[2019-03-25 09:23] sjamesexamsoft commented on #348
My bad - user error - it is working.

[2019-03-25 10:12] qqapp commented on #334
@Huachao Content-type value is 'application/json'

[2019-03-25 10:33] Huachao commented on #334
@qqapp could you please take a screenshot of the response to help me to investigate, if you can also provide a public URL is better

[2019-03-25 10:33] Huachao commented on #334
@qqapp could you please take a screenshot of the response to help me to investigate, if you can also provide a public URL is better

[2019-03-25 14:22] Huachao commented on #345
@jyotibala5 the JSON path capability is supported by the ` jsonpath ` package, which doesn't support the regex capability

[2019-03-26 07:37] KeYuyi opened #349 "Generate Code Snippet for Objective-C null不自动转空字符串导致无法生成OC代码"
- VSCode Version: 1.32.3
- OS Version: Win7 SP1 64位
- REST Client Version: 0.21.2

Steps to Reproduce:

1. 一个正常的http请求，参数中带有null的话就无法生成Objective-C代码
2.将null手动改为“”空字符串,才可以正常生成

[2019-03-26 08:16] Huachao commented on #349
@KeYuyi what do you mean that query string carries `null`, can you give me an example?

[2019-03-26 12:09] KeYuyi commented on #349
@Huachao example:
PUT {{url}} HTTP/1.1
Content-Type: application/json
Authorization: Bearer XXXXXXX
Cache-Control: no-cache

{
    "username":"",
    "gender":null,
    "district":"",
    "address":""
}
这段代码无法直接生成为Objective-C 需要将 null 改为 "" 才可以

[2019-03-27 04:35] Huachao commented on #349
@KeYuyi I have updated the dependent `httpsnippet` package version to fix this issue.

[2019-03-27 04:35] #349 closed

[2019-03-29 09:02] Deathhush opened #350 "Enhance the AAD support to be able to use Service Principal"
The AAD support in the extension is great. It uses the current user's identity via device logon. However, many APIs are protected by service principal. Is it possible to provide the service principal id and key to the extension and let the extension do the token acquiring/refreshing for us?

[2019-04-03 08:22] cool21540125 commented on #298
Thank all of you!!
I have been troubled by this problem for a long time.

[2019-04-03 09:55] stickeeper opened #351 "file transfer support"
file transfer support
support multipart/form-data request and can  transfer file

[2019-04-04 03:17] Huachao commented on #351
@stickeeper you can check the [Request Body](https://github.com/Huachao/vscode-restclient#request-body) section of `README`

[2019-04-04 03:17] #351 closed

[2019-04-04 12:55] navarde opened #352 "Embed external files in json request"
Hi.

We are using a web service requiring to send the content of XML files embedded inside the json request (with many other parameters).

Example:
[code]

Would it be feasible to add a feature allowing us to embed (and escape) external files inside the json structure sent in the request body?

With a syntax like:
[code]
or something using variables maybe?...

The "embedded" file would have to be

[2019-04-04 16:05] pungggi commented on #266
Hi @Huachao  Any news on this?

[2019-04-05 21:28] svenax opened #353 "[Feature Request] Read environment variables from separate file"
For compatibility with PHPStorm, it would be great if environment variables could be read from a separate file and not only from the VS Code settings file(s).

PHPStorm uses files called `rest-client.env.json` and/or `rest-client.private.env.json` normally placed in the same directory as the `.http` file(s). Those files contain environment definitions that look just like those already used by vsco

[2019-04-06 14:22] svenax commented on #353
I see that this is a duplicate of #229. Closing.

[2019-04-06 14:22] #353 closed

[2019-04-09 09:46] akalcik commented on #302
I would really love to have this feature.

[2019-04-10 11:13] asmith3006 opened #354 "Content-type not being passed in specific scenario"
- VSCode Version: 1.33.0
- OS Version: Windows 10
- REST Client Version: 0.21.2

Steps to Reproduce:
Change Preview Option to "exchange" so you can see all sent AND received headers.

Perform this POST:
POST https://domain.myshopify.com/admin/orders/123456789/fulfillments.json
Authorization: Basic Username Password
Content-Type: application/json
Cookie: none

{"fulfillment": {"location_id":7894561

[2019-04-11 01:49] Huachao commented on #354
@asmith3006 the underlying http client module `request` when remove the `Content-Type` header when redirect happens, here for your case, the first request redirects your request to login API. While `request` module enters into the maintenance state,  I am planning to migrate to other http client libraries. I think this bug will be fixed after that.

[2019-04-11 14:17] schneider8357 opened #355 "Label displayed when hovering scroll-to-top button says "null""
![vscodeissue](https://user-images.githubusercontent.com/40526466/55964422-12400980-5c4b-11e9-9f50-5ec549621c49.png)

Don't know if it's intended. Just reporting.

[2019-04-12 02:32] Huachao commented on #355
@schneider8357 nice catch, I have fixed the issue and will publish in next release.

[2019-04-12 02:32] #355 closed

[2019-04-12 15:17] IanIsFluent commented on #303
We're in a similar position - Postman still edges out this extension in two ways:
# it can get responses and set variables
# it can run tests

If we could run some (JS?) code to parse a response into a variable, to be used in later requests, we'd consider switching off Postman!

[2019-04-12 18:36] vit100 opened #356 "call requests in sequence"
Would be nice to call all requests in file in sequence automatically.
For example
1 get token
2 get resource (with token retrieved in step1)

[2019-04-12 18:39] vit100 commented on #327
In my case I have request which returns HTML document and I need to extract property from <form > element.
But requests with extract doesn't work and shows message: Only JSON response/request body is supported to query the result.
Any idea?

[2019-04-13 16:46] wxing2008666 opened #357 "The json field in the http response does not display correctly in Chinese."
Due to the encoding format problem, the Chinese of the json field in the http response cannot be displayed correctly.

[2019-04-14 03:46] Huachao commented on #357
@wxing2008666 what's the content type header of the response, and can you also provide a public URL to verify if available

[2019-04-14 04:09] wxing2008666 commented on #357
The keywords field in the http response is Unicode encoding, how to change to utf-8 encoding, can display Chinese normally

[2019-04-14 04:13] wxing2008666 commented on #357
request：
![image](https://user-images.githubusercontent.com/11993921/56088225-b5448d80-5eae-11e9-829d-5569bc9e195a.png)
response：
![image](https://user-images.githubusercontent.com/11993921/56088228-c55c6d00-5eae-11e9-8389-38fb3837db2b.png)

[2019-04-14 04:51] #357 closed

[2019-04-15 21:04] mfulton26 commented on #127
@alembiq

GraphQL mutations over HTTP still use `"query"` but you'll need mutation in the actual GQL:

[code]

[2019-04-18 20:41] faisalraja commented on #267
I created a very specific needs that has very similar format with vscode-restclient since I like it's approach. It's still incomplete since we're only using this in our project and we add features as needed. [testhttp](https://github.com/faisalraja/testhttp) will also run dependencies, for example you run a test it will run all required calls to populate the variable plus importing a different fil

[2019-04-19 14:19] mickeypearce opened #358 "Generate code snippet with file as a body content"
Hi,

I think It would be nice if "Generate code snippet" would include file path content in generated code, similar to environment variables.

For example:
from
[code]
to:
[code]
(instead of   --data '< ./request.json')

@Huachao, thanks, very useful extension. :+1:

[2019-04-19 16:46] ringosham opened #359 "Parse error on nonstandard HTTP codes"
- VSCode Version: 1.32.3, 1.33.1
- OS Version: Manjaro, Windows 10
- REST Client Version: 0.21.2

Steps to Reproduce:

1. Host a restlet server. Have an API call that returns restlet errors.
2. Make a request to connect to it.
3. Wait for a nonstandard response like 1000.

Below is the same request made in postman (on Windows).
![Annotation 2019-04-19 174124](https://user-images.githubusercontent.

[2019-04-19 16:47] ringosham commented on #359
Here are the headers.
![Annotation 2019-04-19 174658](https://user-images.githubusercontent.com/7325740/56434125-3e066380-62cb-11e9-986e-6f9311d4cb31.png)

[2019-04-20 13:39] Huachao commented on #359
@ringosham why do you want such a nonstandard status code, and most web frameworks only support status code less than 1000. BTW, can you provide a public url for me to verify?

[2019-04-20 13:39] Huachao commented on #359
@ringosham why do you want such a nonstandard status code, and most web frameworks only support status code less than 1000. BTW, can you provide a public url for me to verify?

[2019-04-20 16:46] ringosham commented on #359
While a 4 digit status code is so uncommon (You are not supposed to use this status code in APIs anyway. It's reserved in the framework's code, which is Restlet), I think it's better for the plugin to show something instead of just a parse error.

As for a public URL... I don't have a domain to host one. This server is locally deployed, sorry.
The best I can help is providing you with a link to th

[2019-04-20 16:53] ringosham commented on #359
The response itself doesn't seem to be any different than any other standard response other than it's 4 digits.

[2019-04-24 11:25] asmith3006 commented on #354
Thanks for the feedback.

Would it be possible to have the output tell us a redirect happened? I have no way of knowing what's going on in this instance.

[2019-04-24 14:03] Huachao commented on #354
- @asmith3006 make sense, I will consider this carefully

[2019-05-01 14:11] ringosham commented on #359
I've made a small test server that throws an 1001 status code.
Simply made a post call to localhost:8080/test/test
https://drive.google.com/open?id=1i7MWFaULsVRVMnqoTev02g1LLOODzvuu

[2019-05-03 08:29] Mr-Chilly opened #360 "Add Rest Calls + history in sidebar"
Awesome plugin, it would be amazing if you could specify a folder - and any REST calls in said folder would appear in the sidebar with 'make/cancel' and status. A separate pane with history would also be amazing!

[2019-05-05 07:53] Huachao commented on #359
@ringosham thanks for your fantastic `jar` package, and I have tested the url, the error is `Parse Error`, and this error will also occur some tools like `Postman`, the root cause is that the rest client extension is built on the Node.js, and the underlying http parser that Node.js uses will do the status code check https://github.com/nodejs/http-parser/blob/5c17dad400e45c5a442a63f250fff2638d14468

[2019-05-05 07:53] #359 closed

[2019-05-07 13:40] ferronrsmith commented on #127
[code]

Here is a patch of `httpRequestParser.ts` that adds support GraphQL

Request looks something like this :

[code]

Pay special attention to `x-request-type: GraphQL`. This customer-header tells the parser that it's a GraphQL request and it should look for a query/mutation + variables.

[2019-05-07 15:09] cmjchrisjones commented on #325
Sorry to jump on the back of this, is there a way, using {{$datetime}} that we can specify the format of the output? Currently, if I use

`"{{$datetime iso8601 10 d}}"`, this returns `17/05/2019 15:03:38`, however, I would like to get this so it follows the `yyyy-MM-dd` format, I've tried `{{$datetime iso8601 10 d d-m-y}}` and variations on that, however don't seem to be able to get it to work?

[2019-05-07 15:20] connelhooley commented on #325
It would be nice if we could do the following:

[code]

To generic a date 10 days in the future with a custom format. But as far as I can see that isn't supported.

[2019-05-08 02:03] Huachao commented on #325
@cmjchrisjones can you confirm that the `{{$datetime iso8601 10 d}}` returns `17/05/2019 15:03:38`, in my local test, this returns `2019-05-18T02:00:44.368Z`

[2019-05-08 08:20] cmjchrisjones commented on #325
Hi @Huachao, indeed `{{$datetime iso8601 10 d}}` does return a date that is 10 days further from now, however it is in the format of `dd/MM/yyyy hh:mm:ss`.

It would, however, be nice we could choose the format of the output for this, for example an API I'm trying to call will only accept a date rather than a timestamp, and the date format needs to be in the `yyyy-MM-dd` format without any time in

[2019-05-08 08:54] Huachao commented on #325
@cmjchrisjones I still want to know how can you find out that the `{{$datetime iso8601 10 d}}` returns the date time in the format of `dd/MM/yyyy hh:mm:ss`. Thanks

[2019-05-08 09:54] cmjchrisjones commented on #325
@Huachao in the API I'm calling (which is private, not public so I can't share) its returning an error `"message": "Supplied value could not be accepted. Supplied date '18/05/2019 09:34:21' is invalid, ensure to supply in yyyy-MM-dd format.` when supplying `"{{$datetime iso8601 10 d}}"` as the value, this message is coming from an internal API.

I was also doing a bit of research and stumbled acro

[2019-05-08 14:33] Huachao commented on #325
@cmjchrisjones  from the error message we can find out that the datetime variable doesn't behave incorrectly, since the string you replaced with is the actual format that datetime variable generated. So the error message of your internal api is not defined quite well, BTW you should try to figure out what's the expected date time format, I guess your api doesn't allow the time part, only wants the

[2019-05-08 14:40] cmjchrisjones commented on #325
Indeed, the expected format of our API is `yyyy-MM-dd` so isn't what the current implementation provides unfortunately. This would be a nice feature to be able to specify the format that gets returned from the `timestamp` and `datetime` variables if possible

[2019-05-08 14:44] Huachao commented on #325
@cmjchrisjones totally agree, it's very useful for some cases

[2019-05-08 15:49] connelhooley commented on #325
I can raise a proper PR later, but I'm thinking the following changes will do it inside `registerDateTimeVariable`:

Replace line 99:

[code]

With:

[code]

We'll then have to expand the regex a little bit to allow for custom formats. So:

[code]

Becomes:

[code]

I'll need to get my local version running to verify the changes, but @Huachao are these changes you'd accept in a PR?

[2019-05-08 23:24] Huachao commented on #325
@connelhooley I will be very happy that you can create a PR for this feature

[2019-05-09 10:44] ChenghaoZHU commented on #278
Solved my problem, thank you.

[2019-05-09 18:10] dremekie commented on #127
@codepunkt @Huachao We have used the update above (from @ferronrsmith) in order to use GraphQL (which we use a great deal). It works very well. Would you be able to apply the patch above?

This plugin is extremely useful and having GraphQL support like this opens up the audience even more.

[2019-05-09 19:24] connelhooley commented on #325
Hi @Huachao I've raised a PR: #361

I haven't worked on a VS Code extension before so I haven't ran my changes. Is there a good guide anywhere for me to get the code running on my machine? If not would it be possible for you to run my branch and test it when you have time?

[2019-05-10 02:42] Huachao commented on #325
@ryan-ju @cmjchrisjones with the weird PR from @connelhooley , you could expect to specify custom datetime format in next release. @connelhooley thanks, great work.

[2019-05-10 02:42] #325 closed

[2019-05-16 03:18] Huachao commented on #355
@schneider8357 you can check this fix in latest version 0.21.3

[2019-05-16 03:18] Huachao commented on #349
@TaroLoveFoxes you can verify this in latest version 0.21.3

[2019-05-16 03:19] Huachao commented on #325
@ryan-ju @cmjchrisjones you can experience this feature in latest version 0.21.3 with the fantastic PR from @connelhooley

[2019-05-18 23:13] LucaGabi opened #362 "JsonPath get id of first object in array from previous request"
Hi,

Haw to solve the situation in the screenshoot:

Haw to get the id value from the json and pass it to the second request?

![image](https://user-images.githubusercontent.com/37976898/57975875-8e143b00-79db-11e9-9da6-d2d270904e5a.png)

[2019-05-20 01:58] Huachao commented on #362
@LucaGabi it seems this path is OK `{{all.response.body.$[0].id}}`

[2019-05-20 01:58] #362 closed

[2019-05-20 08:47] haohongran opened #363 "GET can not have a body"
- VSCode Version:
- OS Version:
- REST Client Version:

Steps to Reproduce:

1.
2.

[2019-05-21 01:45] Huachao commented on #363
@haohongran what do you mean `GET can not have a body`, do you mean you can't send a GET request with body?

[2019-05-24 03:27] liuwangchen opened #364 "Run a request before a request"
um...my english is not good...
sometime i want to send a request which take some variable from another request.response.
i know we have the 'Request Variables' , but it need me send it twice.
hope send once just like add "# @before xxxrequest".
thank you very much

[2019-05-24 04:01] liuwangchen commented on #364
囧~。。不说英文了，没看你的个人信息。。

[2019-05-24 04:14] Huachao commented on #364
@liuwangchen do you mean automatically send the dependent requests before sending your underlying request?

[2019-05-24 15:33] liuwangchen commented on #364
@Huachao yes~

[2019-05-25 05:27] LucaGabi opened #365 "Generate requests api calls"
Hi, great extention better then postman :).

Can this be enhanced to generate the api calls for a swagger definition file?

[2019-05-26 08:35] mtnrbq commented on #252
@tom-thorne , @Huachao  happy for some feedback on #366, my PR to address local environment access from vscode-restclient (incorporating text from this issue in the doco  :wink:)

[2019-05-27 02:07] Huachao commented on #365
@LucaGabi nice suggestion, I will consider this carefully

[2019-05-30 10:24] cloudrkt commented on #279
+1 This would be great. We would prefer passwords and other sensitive data outside the working directory included from an external source. Maybe hook it up to a password vault or keychain type of store?

[2019-05-30 14:41] cmjchrisjones opened #367 "Custom Date Time Format - stripping leading zero from day value"
- VSCode Version: 1.33.1 (User Setup)
- OS Version: Win 10 Enterprise
- REST Client Version: 0.21.3

### Background

@connelhooley recently made a change to resolve #325 which allows us to use a custom date format as well as specifying a dynamic date in PR #361, although, again this is specific to just our use case, I noticed that when doing `"{{$datetime 'YYYY-MM-DD' 5 d}}"` today (30th May, 5 da

[2019-05-30 17:18] Suraj-Yadav opened #368 "Ability to choose user and credential"
It would be great to have an ability to choose `userId` and `token` for sending a request, something similar to choosing an environment.

Currently in my workflow i have stored the `userId` and `token` as variables in starting of the http file, which i comment/uncomment based on which user i want to use.

[code]

[2019-05-31 03:41] Huachao commented on #367
@cmjchrisjones nice catch, I have fixed the issue and will publish it in next release.

[2019-05-31 03:41] #367 closed

[2019-05-31 08:51] cmjchrisjones commented on #367
Thanks, looking forward to the next release 👍

[2019-06-01 23:39] mtnrbq opened #369 "Enable autocompletion for processEnv system variable"
As per @Huachao  -- add the processEnv system variable into httpElementFactory.ts to enable the autocompletion for it.

https://github.com/Huachao/vscode-restclient/pull/366#issuecomment-496381282

[2019-06-03 10:12] haohongran commented on #363
yes

[2019-06-03 13:31] Huachao commented on #363
@haohongran the extension imposes no such restrictions on sending GET request includes a body, the error may come from the web server which doesn't allow this case. Could you please provide some screenshot of your request and response, or the reason you think my extension is incapable of sending GET request includes body.

[2019-06-04 01:08] Huachao commented on #369
@mtnrbq I think you can also implement this minor feature in #252

[2019-06-04 09:48] #369 closed

[2019-06-04 09:50] Huachao commented on #252
@tom-thorne @michelemauro @shadoll @spitlo with the fantastic patch from @mtnrbq we can try this feature in next release, thanks @mtnrbq

@mtnrbq I have fixed the #369 , don't worry

[2019-06-04 09:50] #252 closed

[2019-06-04 10:01] MrXhh commented on #367
Replace "%USERNAME%\.vscode\extensions\humao.rest-client-0.21.3\dist\extension.js" with the file in "extension.zip" if you need it urgently.
My plugin version is: 0.21.3

[extension.zip](https://github.com/Huachao/vscode-restclient/files/3251685/extension.zip)

[2019-06-05 21:28] asmith3006 opened #370 "Code folding"
It would be great to be able to mark "Regions" of code up and collapse them, something like C# files

[code]

For example.

[2019-06-05 21:41] asmith3006 opened #371 "Include other files"
Alternatively to https://github.com/Huachao/vscode-restclient/issues/370

It would be really cool to be able to include other files in a file.

Scenario: I'm making an API with lots of methods in there (Parcels, Customers, Orders etc.). It would be great to be able to have:

BaseConfig.http
Parcel.http
Customer.http
Order.http

Then BaseConfig.http can contain things like the URL and the method fo

[2019-06-06 08:58] GoodMirek commented on #370
I am specifically looking for a REST client with collections. It seems this issue is addressing it.

[2019-06-06 11:24] GoodMirek opened #372 "Headers folding"
In requests with many headers, it would be useful to be able to fold/unfold the headers section.

It will be useful in both editor and response views. In response view both request headers (visible in exchange preview mode) and response headers should be foldable.
There should be a button to fold/unfold all headers, also a preference in settings whether the editor/request/response headers should b

[2019-06-06 11:26] GoodMirek commented on #370
Two or three levels of folding would be great, but even one level folding will be great help.

[2019-06-07 02:39] DaveJohnson8080 commented on #356
This looks similar to #364 that was marked as an enhancement.

This would be the Postman killer in my book.

[2019-06-08 18:56] asmith3006 commented on #372
I'd love to see a three way split like the files / folders / outline view where you can expand / collapse the different sections as you see fit. Sections for: Request, Response Headers, Response Body

see https://user-images.githubusercontent.com/2210413/47602244-19fe4f80-da17-11e8-9edf-015b48a6b9c9.png for example

[2019-06-10 03:19] Huachao commented on #356
@vit100 @DaveJohnson8080 @JJB-123 Duplicate of #364, close this to in favor of that

[2019-06-10 03:19] #356 closed

[2019-06-12 14:10] jezikk opened #373 "Bad json formatting in request with variables"
- VSCode Version: 1.35
- OS Version: Windows 10
- REST Client Version: 0.21.3

If I put a variable into the JSON request, the formatting of JSON goes wrong.

![image](https://user-images.githubusercontent.com/7671531/59358265-8753bc00-8d2c-11e9-9d06-95655612f258.png)

[2019-06-12 20:00] erodewald commented on #238
Echoing my support for something like this – in my case, I would love to use it to dynamically expand HATEOAS lists without having to deliberately build URLs. With request variables, you can get close, but I still find myself needing to extricate the query string from a valid HREF.

[2019-06-14 20:19] erodewald commented on #237
Is this issue being worked on at all? I'd love to see this so I can add a unique correlation id to each request to my API for tracing purposes, so I would use the global var `{{$guid}}`.

[2019-06-16 05:02] rscharfer opened #374 "Option to show responses with binary / unsupported file types"
When I make a request for an image/gif from the server, the response is successful, but other than the header which indicates how long the request took the tab is **blank**.  I can save the response and open it with VSC which says that because the response includes binary or an unsupported file type, it cannot be displayed, with the option to "open it anyway".  When I open it anyway, I can see the

[2019-06-17 03:59] liuwangchen opened #375 "Format"
Prefer
![image](https://user-images.githubusercontent.com/25526033/59577425-542b7700-90f6-11e9-9ad0-bc1d046980b2.png)
to
![image](https://user-images.githubusercontent.com/25526033/59577456-65748380-90f6-11e9-8f67-490149f27605.png)

Hope add a feature for format.
This already became my favorite http-client.

[2019-06-19 08:44] gitter-me opened #376 "Upload a file with spaces in the path"
- VSCode Version: 1.35.1
- OS Version: Win10 1809
- REST Client Version: 0.21.3

Steps to Reproduce:

I tried to upload a file with spaces on windows, not getting it to work:

[code]
I tried putting the path in single and double quotes, tried to use a custom variable, and also tried to replace the spaces in the string with %20

[2019-06-20 05:22] Huachao commented on #376
@gitter-me nice catch, I have fixed the issue, and now you can keep the original file path with spaces as you did(no escape is needed). And I will publish this fix in next release.

[2019-06-20 05:22] #376 closed

[2019-06-20 21:58] uriel-sf opened #377 "Cannot access process environment variable"
- VSCode Version: 1.35.1
- OS Version: mac osx mojave
- REST Client Version: latest 0.21.3
- shell: zsh

Steps to Reproduce:

1. Open shell. `FOOBAR=hello code`
2. Reference `{{$processEnv FOOBAR}}` in HTTP file.

FOOBAR will be blank

[2019-06-21 02:22] Huachao commented on #377
@uriel-sf this feature hasn't been published and will be delivered in the next release.

[2019-06-21 02:22] #377 closed

[2019-06-21 03:20] liuwangchen opened #378 "Completion"
![image](https://user-images.githubusercontent.com/25526033/59895198-33289600-9416-11e9-8b5f-d5e919dd280c.png)
⬇️
![image](https://user-images.githubusercontent.com/25526033/59895213-3de32b00-9416-11e9-988f-baf9ea1dc2f0.png)
⬇️
![image](https://user-images.githubusercontent.com/25526033/59895230-4d627400-9416-11e9-99ef-93085dc476c2.png)
Hope:
![image](https://user-images.githubusercontent.com/2552

[2019-06-21 04:17] uriel-sf commented on #342
👍

[2019-06-21 04:20] uriel-sf commented on #342
I have a related use case. I'd like to reference different shared variables for different environments. For example:
[code]

[2019-06-22 10:39] shywei commented on #199
不知道这种需求常不常见，我想要异步的将所有请求都发送出去，其实目的是为了看看后台的响应速度以及是会不会挂掉……

[2019-06-22 14:40] GaryChangCN opened #379 "功能需求：希望支持变量或者环境切换"
希望支持设置变量或者切换环境

[2019-06-24 02:01] Huachao commented on #379
@GaryChangCN we already supported custom variables and environments switch. You can check out the documentation [Environments](https://github.com/Huachao/vscode-restclient#environments) and [Variables](https://github.com/Huachao/vscode-restclient#variables) sections.

[2019-06-24 02:01] #379 closed

[2019-06-24 08:52] Huachao commented on #374
@rscharfer could you please provide me the actual request you sent, since the extension will automatically preview the gif image

[2019-06-24 10:11] rscharfer commented on #374
Hi there. Actually, you may be right. Because the image is only one pixel, maybe the preview is there like it should be. I was expecting being able to see the response headers as well, which I don't see.  Here is an example URL :https://paas.finanzcheck-shared.de/v1/log?configuration=erzZBpdsmNJd&da=erzZBpdsmNJd&bid=055b459a7b195c35fac8ac9bb5d57834&sid=a710b16dd92243dcfb6c74e328&referrer=https%3A%

[2019-06-24 21:08] uriel-sf opened #380 "$dateTime does not parse/encode correctly"
- VSCode Version: 1.35.1
- OS Version: macosx mojave
- REST Client Version: 0.21.3

Steps to Reproduce:

1. Use the following in a URL: `?foobar={{$datetime "MM/DD/YYYY}}`

Expected results:
* As per the docs, it should be `?foobar=06%2F27%2F2019`

Actual results:
* `?foobar=06%2F27%2F192019`

There's a bug in either the implementation or the docs.

[2019-06-25 04:48] SudhakaranRamalingam opened #381 "Image upload by using customize key"
In my project we are using customize keys to upload the images.

In postman we are using key in body content.  How to use the customize key in the rest client?
![image](https://user-images.githubusercontent.com/52189410/60069937-73e42000-9732-11e9-90aa-89a7edee7ec7.png)

[2019-06-25 09:00] henrikwh opened #382 "Dependencies - testing APIs often needs data from previous API calls"
It would be useful if you can take dependency on other requests. For testing APIs, this would be very useful.
[code]

In the above, deleteSalesOrder requires salesOrderId as param, which I set by calling postSalesOrder.

Testing a delete request would have a dependency on postSalesOrder, which have the dependencies above.
[code]

[2019-06-25 12:51] Huachao commented on #380
@uriel-sf above code snippet misses a quote sign `"` after Y, it should be `?foobar={{$datetime "MM/DD/YYYY"}}`

[2019-06-25 12:57] Huachao commented on #374
@rscharfer the response is actually received, and you can verify this by turning on *text view* flag for previewing response(default is webview), `"rest-client.previewResponseInUntitledDocument": true`. After that, sending the request, you can see the binary response in  an untitled document.

[2019-06-25 12:57] #374 closed

[2019-06-25 12:58] Huachao commented on #382
Duplicate of #364

[2019-06-25 12:58] #382 closed

[2019-06-25 13:01] Huachao commented on #381
@SudhakaranRamalingam an exampled copied from **README**, following is a multipart/form-data request with two keys, one is `text` of value `title`, the other is `image` whose value is the content of `1.png`.

[code]

[2019-06-25 13:01] #381 closed

[2019-06-25 14:06] uriel-sf commented on #380
OMG, why did u close this? that's not the cause of the bug. I manually
recreated from a properly formatted string

On Tue, Jun 25, 2019, 7:51 AM Huachao Mao <notifications@github.com> wrote:

[2019-06-26 02:07] Huachao commented on #380
@uriel-sf I l already have fixed this issue in commit https://github.com/Huachao/vscode-restclient/commit/d81f4e99a08d17621c324241ecb35cd25151e674 and will publish in next release.

[2019-06-26 02:07] #380 closed

[2019-06-27 07:58] md2perpe commented on #373
If it were only about string variables, one way to solve this could be the vscode way:
https://code.visualstudio.com/docs/editor/variables-reference

[code]

But with numeric variables, I don't know.

[2019-07-02 09:37] Huachao commented on #266
@pungggi @jerkovicl I have fixed the issue by replacing the original `jsonpath` package, and you can reference the string value with json path `$`, as for your case, the full variable value should be `{{tokenResponse.response.body.$}}`

[2019-07-02 09:37] #266 closed

[2019-07-02 13:19] erlendve commented on #15
+1

[2019-07-03 05:22] shinhwagk opened #383 "display integrity resqust headers?"

[2019-07-03 06:05] Huachao commented on #383
Could you please provide more details？

[2019-07-03 06:14] shinhwagk commented on #383
When I click 'send request', I actually can't see the actual request header.

[2019-07-03 07:23] Huachao commented on #383
@shinhwagk you can set the `rest-client.previewOption` to `exchange` to view the underlying sent request

[2019-07-03 07:23] #383 closed

[2019-07-03 07:28] shinhwagk commented on #383
:+1:

[2019-07-07 07:07] CorfitzMe commented on #127
@Huachao I second this.. GraphQL support like this would be beautiful.. Nice job @ferronrsmith

[2019-07-08 02:01] Huachao commented on #127
@ferronrsmith @CorfitzMe @dremekie PR is warmly welcomed, pls feel free to create a PR and I will review it. Thanks in advance

[2019-07-08 16:13] ferronrsmith commented on #127
https://github.com/Huachao/vscode-restclient/pull/384

[2019-07-09 05:12] Huachao commented on #127
@codepunkt @marija17 @jon301 @bisyonary @offero @mfulton26 @wprater @CorfitzMe @dacz @alembiq @dremekie with the fantastic patch from @ferronrsmith, the extension has the capability to send the GraphQL request directly. And this feature will be published in **next** release! You can provide a required query body and optional variables section.

You can easily achieve this by adding a custom http h

[2019-07-09 05:12] #127 closed

[2019-07-09 16:52] goltvn opened #385 "cannot upload file with "<" - error: Header name must be a valid HTTP token"
- VSCode Version: 1.36
- OS Version: windows 10
- REST Client Version:  0.21.3

Im trying to run this where i want to upload a file via the rest client ( what an amazing tool ) :

POST {{Host}}/DataImport/DataFileUpload HTTP/1.1
Authorization: Bearer {{authToken}}
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW
Cache-Control: no-cache
------WebKitFormBoundary7MA4Y

[2019-07-09 17:42] #385 closed

[2019-07-10 19:21] adarshmadrecha opened #386 "Default Content-Type or Content-Type Setting"
Many use this extension to test the APIs. In order to test the API which expects the `Content-Type` to be set as `application/json`. Which I believe is true for most of the `JSON` based APIs. Needs to add an extra line to every `Send` Request.

It would save time and also give convenience to users if they could set the default `Content-Type` value in settings of this plugin.

[2019-07-11 01:55] Huachao commented on #386
@adarshmadrecha actually you could use the `rest-client.defaultHeaders` setting to add your default headers for all outgoing requests, like
[code]

[2019-07-11 01:55] #386 closed

[2019-07-12 07:08] jjeejj opened #388 "Parameter value not encoded correctly"
- VSCode Version: 1.36.0
- OS Version: Win: Windows_NT x64 6.1.7601
- REST Client Version: 0.21.3

when i send a requet:
[code]
The `+` in the base64_code_str parameter is replaced by a space
`base64_code_str=sdsdsds sdsdsd`

[2019-07-12 13:39] Huachao commented on #388
@jjeejj You can use set the setting `rest-client.formParamEncodingStrategy` to `never` to keep the request body as is.

[2019-07-12 13:39] #388 closed

[2019-07-12 20:05] venkycz opened #389 "socket hang up (requests with cert auth) after upgrade vscode to v1.36.1"
### socket hang up (requests with cert auth) after upgrade vscode to v1.36.1

- REST Client Version: 0.21.3
- VSCode Version:
   Version: 1.36.1 (user setup)
   Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
   Date: 2019-07-08T22:59:35.033Z
   Electron: 4.2.5
   Chrome: 69.0.3497.128
   Node.js: 10.11.0
   V8: 6.9.427.31-electron.0
   OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. IIS -

[2019-07-13 14:23] pranayrauthu opened #390 "trialing comma in json body"
The json spec doesn't allow trialing comma. can you please highlight when a json body contains trialing comma.

![image](https://user-images.githubusercontent.com/22414856/61172824-ea44a700-a5a7-11e9-95b1-79605115f6b2.png)

[2019-07-15 07:33] Huachao commented on #389
@venkycz thanks for reporting this, did you test the extension on both versions of vscode side by side, did you add some extra setting in newer version, like `rest-client.excludeHostsForProxy`

[2019-07-15 08:09] Huachao commented on #389
@venkycz have tried that remove the port information in the settings, like following:
[code]

[2019-07-15 11:11] venkycz commented on #389
I couldn't test this side by side, because I have ordinarily updated vsode and after update this problem has occured. But I experienced it on two computers. On the second one before upgrade it still worked but immediately after update it stopped working and since the update "socked hung up" error occures.

I tried remove port information in `"rest-client.certificates": { }` with no effect.

I trie

[2019-07-15 12:40] Huachao commented on #389
Did you add the certificates in the setting? since in your reply, the value is an empty dict

[2019-07-15 13:27] warlord0 opened #391 "Variables in included files"
When I use an include file with `<` the environment variables within are not processed.

I would like to  call my `authenticate.http` which returns a token from within another http file.

Working Example:

[code]

This works and grabs the `{{binary-token}}`. But I'd like to put the authenticate into it's own file for reuse with other `.http` files.

Failing Example:

[code]

But the `{{username}}`

[2019-07-15 15:03] Huachao commented on #391
@warlord0 did you miss the request separator `###` betwern followinh two lines

[code]

[2019-07-15 17:25] warlord0 commented on #391
Hmm, quite possibly. I was wondering why I had to run it in two parts :)

But that's not related to my variable issue is it?

[2019-07-15 17:44] warlord0 commented on #391
I modified it the include the ### and still get this returned:

[code]

So you can see it is returning the unprocessed variable `{{username}}` as part of the error.

[2019-07-16 01:39] Huachao commented on #391
@warlord0 sorry, I misunderstand your case, and resolving variables in imported body file is not supported currently.

[2019-07-16 08:01] venkycz commented on #389
ofcourse I did. (it was only for shorten the text...)

[2019-07-16 15:05] Huachao commented on #389
@venkycz I can reproduce the issue, and it really behaves as you said, and the same code base works in 1.35.1, while failed in 1.36.0. I guess that it may be related to the upgrade of Electron version in vscode, which internally upgraded Node.js from `v10.2.0` to `v10.16.0`, I guess the root cause is here. And I will continue to investigate this and also check if there exist some workaround.

[2019-07-16 17:41] warlord0 commented on #391
Thank for the reply.

Keep up the great work. Loving this extension. Made documentation and samples a breeze.

[2019-07-16 17:41] #391 closed

[2019-07-21 12:02] sopel opened #392 "Copy Request as HTTPie"
Hi @Huachao, first and foremost, many thanks for putting this brilliant extension together!

Given your focus on simplicity and a respectively _intuitive UI_, I'm surprised that you only seem to support copying requests as cURL and not also as the likewise brilliant [HTTPie](https://httpie.org/), which aims to be a modern and intuitive alternative to cURL and is thus perfectly aligned with your ex

[2019-07-22 02:13] Huachao commented on #392
@sopel the `Copy Request As cURL` is an easy way to use [`Generate Code Snippet`](https://github.com/Huachao/vscode-restclient/#generate-code-snippet), we support various languages and libraries to generate the code snippet, and you can copy the generated code snippet. I think the usage `HTTPie` is not very common as `cURL`, so I'd like to not put it as a separate command.

[2019-07-22 02:13] #392 closed

[2019-07-22 03:48] Yvonne-Z opened #393 "can not execute"
- VSCode Version: 1.36.1(user setup)
- OS Version: Win10
- REST Client Version: 0.21.3

Steps to Reproduce:

When I prepared a request(ctrl + Alt + R), "command 'git.openChange' not found" is shown.
![キャプチャ](https://user-images.githubusercontent.com/53161574/61603883-fdbfd400-ac71-11e9-8901-bd5e87433b37.PNG)

Is there any solution?

[2019-07-22 06:03] Huachao commented on #393
@Yvonne-Z open the keybinding setting panel of VSCode, and reset the keybinding of `git.openChage`, on my machine, `git.openChange` has no default keybinding

[2019-07-22 06:04] #393 closed

[2019-07-22 07:57] Huachao commented on #389
@venkycz some updates, this issue is related to the Electron 4 update in vscode 1.36.0, and similar issues have been raised in the official electron project repository, see electron/electron#18380 and electron/electron#18557. I will keep eyes on it. Thanks for reporting this

[2019-07-22 12:31] davgonca opened #394 "Support for HMAC"
Hi,

Is it possible to implement the support for HMAC encryption ?

Thanks

[2019-07-23 15:39] Croverit commented on #179
This is a very important feature. And it's absence is the reason why I'm still using Postman.
The feature that is close to this one and already implemented in postman is : `postman.setGlobalVariable("key", value); `

[2019-07-24 14:23] RyanOC commented on #179
Same here @Croverit . This feature would be a huge win for this project IMO.

[2019-07-25 06:17] lochstar opened #396 "Request name as Tab title"
Hi,

I sometimes have a number of request tabs open and they all have the generic title `Response(XXXms)`. Adding an option to use the `requestName` as the tab title, this would be helpful to identify which request is which.

I suggest something like the following:

### New Setting

`rest-client.requestNameAsTabTitle`: Show request name as the tab title. (Default is false)

### Example Request

[c

[2019-07-29 01:33] Huachao commented on #396
@lochstar what's the behavior when a request has no name defined in this case?

[2019-07-29 03:23] lochstar commented on #396
Same as now, would just show `Response(XXXms)`.

[2019-07-29 03:26] Huachao commented on #396
@lochstar OK, and if you want to contribute this project, please feel free to submit a PR, thanks.

[2019-07-29 09:55] connelhooley commented on #367
Is there any update on when this will be released? I'd rather not get our entire team to download the zip and manually update the extension if possible.

Thanks

[2019-07-29 09:56] Huachao commented on #367
@connelhooley it should be released in this week 😄

[2019-07-31 02:29] tonilxm opened #398 "Debugging not working when sending request"
- VSCode Version:1.36.1
- OS Version: Mac High Sierra
- REST Client Version: 0.21.3

Steps to Reproduce:

1. Open VSCode
2. Set Breakpoint on PHP Script
3. Run PHP Debug
4. Run 'Send Request'
5. Breakpoint not reached
6. Try using Postman, debugging works as expected, breakpoint reached.

I am not sure if i need to put this into 'Bug' or 'Feature' but i am working on microservices project and havi

[2019-07-31 09:19] Huachao commented on #398
@tonilxm it seems that you have an extra `/` in the url, it should be `{{base_url}}/catalog_product/secureTest`

[2019-07-31 09:51] Huachao commented on #367
@connelhooley @cmjchrisjones @MrXhh this fix has been published in latest version 0.22.0, you can try it.

[2019-07-31 09:55] Huachao commented on #252
@tom-thorne @michelemauro @shadoll @spitlo  you can experience this feature in the latest version 0.22.0

[2019-07-31 09:56] Huachao commented on #376
@gitter-me I have fixed this in latest version 0.22.0, and you can try this fix, and you just need to keep the original whitespaces in the file path

[2019-07-31 09:56] Huachao commented on #266
@pungggi @jerkovicl you can try this in latest version 0.22.0

[2019-07-31 09:58] Huachao commented on #127
@codepunkt @marija17 @jon301 @bisyonary @offero @mfulton26 @wprater @CorfitzMe @dacz @alembiq @dremekie `GraphQL` support is coming in the latest version 0.22.0, you can download and try it. Thanks for your patience, and @ferronrsmith 's great contribution to this feature.

[2019-07-31 20:24] mburleigh opened #399 "Support for JMESPath"
@Huachao - any interest in adding JMESPath (http://jmespath.org/) support to the REST Client? My initial thought would be to add syntax to pipe the response through a jmes parser and open the result in a new editor.

If you think it's a good idea I will start working on a proof of concept implementation.

Great extension - has totally replaced Postman for me!

[2019-08-01 04:00] Huachao commented on #363
@haohongran any update, I'd like to close this issue since my extension imposes no such restrictions.

[2019-08-01 04:00] #363 closed

[2019-08-01 05:05] tonilxm commented on #398
@Huachao : fix and retry but still no luck. Break point still not reached (Postman works as expected). I hope you fix it. Thanks.

[2019-08-01 05:07] Huachao commented on #398
@tonilxm can you show me the snapshots of both Postman and my extension of the issuing request?

[2019-08-01 08:06] tonilxm commented on #398
![Response_46ms__—_pccw_oocl_mid](https://user-images.githubusercontent.com/4486196/62276285-ea7ce780-b46d-11e9-8f01-54dc0f6263f8.png)
![Screen Shot 2019-08-01 at 15 04 03](https://user-images.githubusercontent.com/4486196/62276290-ecdf4180-b46d-11e9-9d7b-bc5878c4a278.png)
![Postman](https://user-images.githubusercontent.com/4486196/62276296-efda3200-b46d-11e9-97ed-729917a6f97b.png)

[2019-08-01 08:26] Huachao commented on #398
@tonilxm what are the collapsed temporary request headers in *Postman* ?

[2019-08-01 13:52] XobSod commented on #152
Hi,
Do you have any workaround for this? I have the same issue :/

[2019-08-02 02:22] tonilxm commented on #398
<img width="868" alt="Screen Shot 2019-08-02 at 09 21 36" src="https://user-images.githubusercontent.com/4486196/62339653-f8327b80-b506-11e9-8d3b-7d28694f2894.png">

[2019-08-02 02:30] Huachao commented on #398
@tonilxm try to add the header in your request of my extension like:
[code]

[2019-08-02 02:41] #396 closed

[2019-08-02 03:59] tonilxm commented on #398
Tried and still not reach breakpoint.

[2019-08-02 04:03] Huachao commented on #398
@tonilxm Since with my extension, the response body already returns a JSON payload with {"code": 0, "msg": "success"}. Can you check does any other places will return this besides your action code, like the middleware, or something?

[2019-08-02 04:12] tonilxm commented on #398
![ItemController_php_—_pccw_oocl_mid_and_Postman_Console_and_Postman_and_Debugging_not_working_when_sending_request_·_Issue__398_·_Huachao_vscode-restclient](https://user-images.githubusercontent.com/4486196/62343953-5155db80-b516-11e9-8975-e97e4e68a7c5.png)
![Postman_Console_and_ItemController_php_—_pccw_oocl_mid_and_Postman](https://user-images.githubusercontent.com/4486196/62343954-53b83580-b51

[2019-08-02 04:15] tonilxm commented on #398
I use 'secureTest' endpoint, just for checking. It returns JSON in response body as shown in Postman IDE.

[2019-08-02 04:22] Huachao commented on #398
@tonilxm I think the first step is to consolidate the request in Postman and my extension, add the `Accept` and `Content-Type` headers in the request. After that check the response. If still not hit, can you update the `code` in your response like changing from `0` to `1`, and re-send the request in my extension again, and check the response.

[2019-08-02 04:50] tonilxm commented on #398
I have changed response content and added request headers but still not working. Any suggestion?
![Screen Shot 2019-08-02 at 11 49 10](https://user-images.githubusercontent.com/4486196/62345234-b829c380-b51b-11e9-8f11-26132965f1ab.png)

[2019-08-02 05:38] Huachao commented on #398
@tonilxm from the response body, I think the request sent from my extension actually reaches your  PHP code, the problem is just why the breakpoint doesn't hit? How about open the `.http` file in another VSCode window, and then **debug** your PHP project. Finally, send the request in the newly opened VSCode window?

[2019-08-02 10:15] pungggi commented on #266
Thank you! Works.

[2019-08-03 02:19] tonilxm commented on #398
Still not working. And opening 2 windows fo debugging beat the purpose of using ide. my 2 cents.

![Response_31ms__and_ItemController_php_—_pccw_oocl_mid](https://user-images.githubusercontent.com/4486196/62406068-91c56000-b5cf-11e9-9cbe-c71c7e24317c.png)

[2019-08-04 14:38] OysteinAmundsen opened #401 "Explorer UI for .rest/.http files"
Hi.

This extension is great. The option to store requests as a way to document api's right inside the source folder for my api is fantastic. But what would be even more fantastic, is if there was a UI explorer available to browse all my *.rest files - like the `Test Explorer UI`.

For me, this feature would make tools like "Postman" or "Insomnia" completely redundant.

[2019-08-04 14:41] OysteinAmundsen commented on #360
Probably the same issue as https://github.com/Huachao/vscode-restclient/issues/401

[2019-08-05 08:27] Huachao commented on #398
@tonilxm I have no ideas now, I can only infer that the request sent from the extension already arrived at your server and received the correct response.

[2019-08-07 14:45] raedwa01 commented on #267
I would also like to see a way to implement these tests in a CI system like Jenkins.

[2019-08-07 17:37] lynnroth commented on #368
This would be a useful addition.

[2019-08-09 09:33] rockaut opened #402 "setting shared variables"
Currently we can set local/file/request variables with

`@authToken = {{login.response.body.token}}`

It would be great if we could also set shared/environment variables. Maybe like:

`@shared.authToken = {{login.response.body.token}}`

Or maybe something like a session variables which will persist the whole session. This way we would only need to run a login request just once.

[2019-08-14 11:29] chengjingtao opened #403 "Support http.proxy in rest-client.environmentVariables"
Hi,  it seems not support to configure in `rest-client.environmentVariables`.
I have this scene: *different proxy in different environment *, it is so troubling to change `http.proxy` of vscode settings every time.
So, My Appeal is:

1. support to set proxy with environment settings in  `rest-client.environmentVariables`
2. support to set proxy in `rest-client.environmentVariables.$shared`

[2019-08-15 22:55] james-klein commented on #156
+1 would love to be able to leave out the Cookie header. I tried doing something like this:

`POST https://myapi.com/x
Cookie:

{
    "foo": "bar"
}`

hoping it would just not send a Cookie header at all, but instead it sent the saved cookie (as intended, I'm assuming).

[2019-08-18 00:55] anonimusprogramus opened #404 "Wrong randomInt example"
- VSCode Version: **1.37.0**
- OS Version: **Arch Linux 64bit**
- REST Client Version: **0.22.0**

Steps to Reproduce:

1. Open [this docs](https://marketplace.visualstudio.com/items?itemName=humao.rest-client)

2. Go to **System Variables** samples
[code]

3. `{{$randomInt 5, 200}}` shouldn't have **comma**, it would be assumed as string.

Please fix, thanks.

[2019-08-19 10:17] 502647092 opened #405 "package.json schema error"
https://json-schema.org/understanding-json-schema/reference/numeric.html?highlight=exclusiveminimum#range
[code]

[2019-08-19 13:08] Huachao commented on #405
@502647092 as you can see in the link you've provided, the `exclusiveMinimum` can be boolean and work with `minimum` together, if true, the `minimum` value is excluded.

[2019-08-19 13:08] #405 closed

[2019-08-19 13:09] Huachao commented on #405
@502647092 as you can see in the link you've provided, the `exclusiveMinimum` can be boolean and work with `minimum` together, if true, the `minimum` value is excluded.

[2019-08-19 13:11] #404 closed

[2019-08-20 06:39] snackb commented on #342
Mind if I take a look at this?

[2019-08-20 10:35] 502647092 opened #407 "waiting icon is not align"
- VSCode Version: 1.37.1
- OS Version: Windows
- REST Client Version: 0.22.0

Steps to Reproduce:

1. Send Request
2. waiting icon is not align
![temp](https://user-images.githubusercontent.com/10203793/63340255-2e7e5080-c379-11e9-87fb-770e8970ad3c.gif)

![temp](https://user-images.githubusercontent.com/10203793/63340275-3d650300-c379-11e9-8a44-0baca7032ab5.gif)

[2019-08-22 13:53] fstof commented on #402
Agreed.
This is especially useful if requests are split across different files. we won't need to do a login on each file

[2019-08-22 14:12] lcpautotester opened #410 "Login use a Token"
This is a general Question:
Is it possible to login to a API with UserName PWD, then get a Token and then save that Token to a global variable to use with other API's?

[2019-08-28 03:56] incubus8 opened #411 "Request variable did not work"
- VSCode Version:1.37.1
- OS Version: MacOs  10.12.6
- REST Client Version: 0.22.0

**Steps to Reproduce:**

1.  The following:
[code]
2. Execute named `login` request
3. Execute named `logout` request
4. Error missing variable
5. Linter also showed error (see screenshot)
<img width="413" alt="Screen Shot 2019-08-28 at 10 55 43 AM" src="https://user-images.githubusercontent.com/5300674/63824754-71

[2019-08-28 06:23] Huachao commented on #411
@incubus8 can you show me the response of `login` request?

[2019-08-28 06:31] Huachao commented on #342
@ariehf @uriel-sf @snackb with the great PR from @snackb this feature will be published in next release.

[2019-08-28 06:31] #342 closed

[2019-08-28 08:16] Huachao commented on #407
@502647092 do you mean the icon is not align in the second screenshot or both?

[2019-08-28 08:18] 502647092 commented on #407
@Huachao
both
first screenshot is in vscode
second screenshot is in theia(compatible vscode ext)

[2019-08-28 13:37] incubus8 commented on #411
Login response

[code]

[2019-08-28 13:43] Huachao commented on #411
So the json path of the request variable should be access_token instead of accessToken

[2019-08-28 13:44] #411 closed

[2019-08-28 13:52] incubus8 commented on #411
@Huachao my bad.. I'm newbie on this, thanks for the help

[2019-09-02 10:24] gnosis-xian commented on #410
You can write like this.
[code]

[2019-09-02 13:56] weq opened #413 "Negotiate support"
Any plans to support this? We use a lot of apis that support Negotiate and it would be a smother experience to use that instead of Basic.

[2019-09-02 14:54] Huachao commented on #413
what do you mean negotiate here, could you pls provide more details?

[2019-09-02 14:56] weq commented on #413
Oh I'm sorry. Authentication method.
https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/understanding-http-authentication for reference.

[2019-09-02 15:11] Huachao commented on #413
I found following description in the link you provided

However none of the above.authentication method is supported

[2019-09-03 12:24] weq commented on #413
I get that there is no support for them as of now. But any plans to implement either? There are plenty of APIs around the world within businesses that utilize either Kerberos or NTLM with negotiation.

[2019-09-03 14:18] wekempf commented on #410
See the section in the readme on request variables.

[code]

[2019-09-03 14:58] wekempf opened #414 "Request scoped file variables"
It would be nice if file variables could have scope. This would make it easier to manage large sets of HTTP requests. Here's an example.

[code]

[2019-09-04 09:37] SardineFish opened #415 "Options to not working with plaintext"
Currently, the snipets in this extension is working in plaintext such as *.txt, which will be trigger unexpectly when typing with normal text.
Is it possible to remove the snipets with plaintext in `package.json` or provide settings to specific which file type to enable this extension.

[2019-09-05 01:24] Huachao commented on #415
@SardineFish nice catch, I prefer removing the snippet support for plaintext file

[2019-09-05 01:24] #415 closed

[2019-09-05 05:02] Huachao commented on #413
@weq we have an issue to track the NTLM issue (#15), however, since the underlying `request` library entered into a maintenance mode, so I'd like to implement this after migrating to another http client library. And I'd like to close this to in favor of that one

[2019-09-05 05:02] Huachao commented on #413
Duplicate of #15

[2019-09-05 05:02] #413 closed

[2019-09-05 12:49] borekb commented on #252
For anyone trying this, it's necessary to exit VSCode and start it again after each change of an environment variable – "Reload Window" is not enough to pick the new value up!

[2019-09-06 11:33] borekb commented on #279
For anyone reading this:

- #182 is a similar suggestion, maybe a bit simpler as it would import files entirely instead of specific variables from them.
- A workaround is to use [system variables](https://github.com/Huachao/vscode-restclient/tree/b76d1629a4d1b4fd26f1cc62483bd0a21b1fbed8#system-variables), like this:

[code]

The `AUTH_TOKEN` can be put to keychain (as mentioned by @cloudrkt), e.g.

[2019-09-06 16:51] GoMino commented on #127
What about graphql fragment support ?

[2019-09-09 01:44] FabianoLothor opened #416 "Is it possible send a File as Body?"
How?

[2019-09-10 05:14] snyang opened #417 "How to redirect response.body into a specific file?"
- VSCode Version: 1.38
- OS Version: Windows
- REST Client Version: Present

We implemented a rest api which will output a specific file with content-type:  application/octet-stream.
How to use the extension to save response.body into a specific file?

[2019-09-10 05:40] Huachao commented on #416
@FabianoLothor Sure, you can check out the documentation [here](https://github.com/Huachao/vscode-restclient#request-body), with the `<` syntax

[2019-09-10 05:40] #416 closed

[2019-09-10 05:42] Huachao commented on #417
@snyang you can check out the [Save the Response Body](https://github.com/Huachao/vscode-restclient#save-response-body) doc.

[2019-09-10 05:42] #417 closed

[2019-09-10 07:57] Huachao commented on #334
@qqapp Do you still have this problem, I'd like to close it, and if you still have it, please feel free to reopen it and add some screenshots?

[2019-09-10 07:57] #334 closed

[2019-09-13 14:37] euleryang commented on #209
Thanks，it also prevent me to use fully without this function.

[2019-09-13 15:21] euleryang commented on #209
I think it will be a great Release.Would you tell me when it release.
Thank you for your reply!

[2019-09-13 18:45] mattwaler opened #418 "Native .env file support?"
I'm using `.env` files to do all of my secret hiding. It kinda stinks to have to translate the values to JSON in the settings folder. Is it feasible/possible to be able to access `.env` file values at the root of the folder to be accessible by the extension? Maybe via `{{$dotenv PORT}}` for a file named `.env` and `{{$dotenvLocal PORT}}` for a `.env.local` file?

[2019-09-13 19:21] dandax commented on #310
@Huachao @AdamWorley has anything further happened with this? I'm trying to get B2C to work as well but I think ADAL is the issue. I have been using Postman with similar settings as above but would prefer to move to the REST Client extension.

[2019-09-16 06:06] CwjXFH opened #419 "POST send json data case sensitive"
- VSCode Version: 1.38.1
- OS Version: Windows10
- REST Client Version: 0.22.0

When JSON key starts with a capital letter, in post request, it can't send JSON data to the server.

[2019-09-16 23:17] lcpautotester commented on #410
Sorry for the very late response>

I just saw this my email>  I have too many accounts...

Thank you, again

I will test it and let you know if it worked :)

[2019-09-17 07:31] Huachao commented on #419
@CwjXFH could you please provide for details for the underlying request?

[2019-09-18 05:26] Huachao commented on #342
@ariehf @uriel-sf @snackb you can try this feature implemented by @snackb in the latest version 0.2.1

[2019-09-18 05:27] Huachao commented on #415
@SardineFish you can try the latest version 0.22.1

[2019-09-18 05:28] Huachao commented on #396
@lochstar this feature has been published in the latest version 0.22.1

[2019-09-18 05:48] lochstar commented on #396
Awesome! Cheers.

[2019-09-18 08:08] SardineFish commented on #415
Thanks a lot :smiley:

[2019-09-19 09:03] atrakaz opened #420 "Shared variables are no longer accessible when selecting "No Environment" after update"
- VSCode Version: 1.38.1
- OS Version: Windows 10 Pro
- REST Client Version: 0.22.1
Note: Worked yesterday before the new version

Steps to Reproduce:

1. ...>AppData>Roaming>Code>User>settings.json:
"rest-client.environmentVariables": {
        "emptyEnvironment": {
        },
        "$shared": {
            "testUrl": "http://www.google.com/"
        },
}

2. Select REST Client Environment: "No

[2019-09-19 09:52] Huachao commented on #420
@atrakaz nice catch, I have fixed the issue and will be published in next release 😄

[2019-09-19 09:52] #420 closed

[2019-09-20 08:40] jezikk commented on #420
@Huachao When this bugfix will be published in production please? I started VSCode today and the error message is still shown. Shared environments are not available in my project.

[2019-09-20 08:42] Huachao commented on #420
@jezikk version 0.22.1 is not totally ready, I am still working on some other features, and after that the 0.22.1 will be published

[2019-09-20 08:46] jezikk commented on #420
It's weird, but I already have version 0.22.1 installed.

![image](https://user-images.githubusercontent.com/7671531/65312924-c1d2bd80-db93-11e9-88c8-cadb3a3f90dc.png)

[2019-09-20 08:51] Huachao commented on #420
@jezikk sorry the upcoming release version should be **0.22.2**

[2019-09-22 05:39] euleryang opened #421 "When does it support the feature of Scripts?"
I want to do APIs integration testing with Scrips.
Thank you for your reply!

[2019-09-23 01:02] Huachao commented on #421
@euleryang thanks for your question, this issue is tracked by #209 , and I don't have a deadline for this feature. Since currently, I am not working on it. Sorry for the inconvenience. I will also close this to favor of that one.

[2019-09-23 01:02] #421 closed

[2019-09-23 07:36] Emory-M opened #422 "Header auto completion is broken in the newest version"
- VSCode Version: 1.38.1
- OS Version: macOS 10.14.4
- REST Client Version: 0.22.1

Steps to Reproduce:

1. switch vscode to http language.
2. type some http header  like Content-Type, not any code completion tips.
3. downgrade version to 0.22.0 the auto completion is working.

[2019-09-24 03:04] Huachao commented on #422
@Emory-M already fixed ffbd8f2 and will be published in next release

[2019-09-24 03:04] #422 closed

[2019-09-24 08:52] papanito commented on #130
Are wildcards supported? Or do I have to list any particular host?

[2019-09-25 02:46] Huachao commented on #422
@Emory-M you can download the latest version 0.22.2 to verify it.

[2019-09-25 02:47] Huachao commented on #420
@jezikk @atrakaz  you can try the latest version 0.22.2 to verify it.

[2019-09-25 05:59] Huachao commented on #130
@papanito wildcards are not supported now, if you have interests, you can make a PR, that will be welcomed

[2019-09-25 06:38] m1nkeh commented on #209
as a workaround, i converted my rest request to python (using the tool), and simply added my necessary script which for me was to deflate my body in python...

worked a treat, i'm sure there will be a better solution in the future...

[2019-09-25 08:34] jezikk commented on #420
It's oka now. Thanks!

[2019-09-25 10:11] papanito commented on #130
Thanks if I find some time I will definitely do so

[2019-09-25 10:42] kiesner commented on #337
Any updates on this?
I need to use an array in the request body that has varying length depending on the environment, i.e.

[code]

Any ideas for a workaround?

[2019-09-25 17:05] Emory-M commented on #422
@Huachao It's working, Thank you!
otherwise, about the http code snippet
use ${2:${3:header name}: ${4:header value}} in the header section can be better to use.
fast to delete whole header section if not have any custom header, and then back to use autocomplete to fill.

[2019-09-26 02:41] CwjXFH commented on #419
Sorry for the late reply.

Because of some history reason, my project deserialization is case-sensitive. So, I think this is what causes the HTTP request error.

Thanks!

[2019-09-26 02:43] Huachao commented on #419
👌

[2019-09-26 02:43] #419 closed

[2019-09-26 02:43] rohitkrishna094 opened #423 "Focus of cursor moves to response tab once you send the request"
- VSCode Version: `1.38.1`
- OS Version: `Windows 10`
- REST Client Version: `0.22.2`

#### Steps to Reproduce:

1. Type any request(GET or POST etc) and click `Send Request` or press `CTRL + ALT + R`
2. Now the response is shown, but its shown in the right side tab. However the cursor's focus, which was supposed to be in the rest client's (.http or .rest file's I mean) editor, is now gone.

####

[2019-09-27 06:27] Huachao commented on #423
@rohitkrishna094 you can achieve this by set the setting `rest-client.previewResponsePanelTakeFocus` to `false`. Thanks for your detailed issue description.

[2019-09-27 06:27] #423 closed

[2019-09-27 07:07] RobertWu-TIBCO opened #424 "http header content-length should be recalculated before sending out requests just like fiddler does, otherwise it's value is incorrect and causing server errors"
- VSCode Version:
- OS Version:

版本: 1.38.1 (system setup)
提交: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
日期: 2019-09-11T13:35:15.005Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.15063

- REST Client Version: 0.22.2

Summary： 如果content-length存在，rest client不会重新计算，编辑内容后重发就会导致发出的content-length值错误，服务端就会出问题。

如果不存在，rest client会自动生成正确的。
content

[2019-09-28 09:37] ilog2000 opened #425 "JSONPath filter not working"
- VSCode Version: 1.38.1
- OS Version: Windows 10 1903
- REST Client Version: latest

Steps to Reproduce:

1.  Simulate JSON response for variable `env` as
[code]
2. Try to use variable `env` as
[code]
I always get the first object in array which is wrong.

[2019-09-28 18:57] bdelsaz opened #426 "[SOLVED] Body of application/json request not being serialized properly"
First of all, I think this extension is awesome :)

- VSCode Version: 1.38.1
- OS Version: Windows 10 Pro 1809
- REST Client Version: 0.22.2

Steps to Reproduce:

1. Create POST request with Content-Type 'application/json' and a body
[code]
Error shown:
[code]
Sending a normal curl request works, so it does not seem to be related to my application (.net core web api). Also, if I send the request l

[2019-09-28 20:15] bdelsaz commented on #426
Duhh.
It was a problem on my application. This response got me in the right direction:
https://stackoverflow.com/questions/57678571/unexpected-character-encountered-while-parsing-value-path-line-1-positio

So basically I was not deserializing the request body into a proper object with properties.
Now I created a class for the incoming request data:
[code]
And my controller looks like this:
[code]

[2019-09-28 20:15] #426 closed

[2019-09-29 05:21] #424 closed

[2019-09-29 05:36] Huachao commented on #425
@ilog2000 I think the reason is that your JSON path is not correct, it should be `{{env.response.body.$[?(@.Name=="Name 2")].Id}}`, since it uses `==` for equality check

[2019-09-29 05:36] #425 closed

[2019-09-29 07:29] ilog2000 commented on #425
I tried == as well but it did not help. In this case the expression itself comes to query string non-parsed, which is completely wrong. I mean variable value contains the expression.

[2019-09-29 07:36] ilog2000 commented on #425
Here is how request looks like
[code]

[2019-09-29 08:02] ilog2000 commented on #425
Oh, sorry, my bad. It works with `==`, there was a typo in Name. Thank you very much for prompt response.

[2019-09-29 08:44] Huachao commented on #422
@Emory-M I add the header related lines for `POST` and `PUT` requests, and I think these requests should contain a body as well as the `Content-Type` header.

[2019-09-30 15:06] tom-thorne opened #427 "When sending a request with request body from a file, variables aren't parsed and replaced"
- VSCode Version: 1.38.1
- OS Version: Mac osx 10.14.5
- REST Client Version: 0.22.2

1. Setup a request like this:
[code]

2. put variables in the resource.json file, eg

[code]

3. send the request

Actual behaviour
* the file is sent as a request as is

Desired behaviour
* the file is parsed to substitute variables, and then sent as a request

[2019-10-02 10:44] DefJunx opened #428 "Add code snippet for request / request-promise or axios in NodeJS"
Let me begin by saing that this extension is the real deal and so nice to use in a pinch.

With that out of the way, I was wondering if it could be possible to add a snippet generator which uses request / request-promise or axios, considering they're arguably the most used packages nowadays I believe.

[2019-10-02 18:46] gritcsenko opened #429 "Extension causes high cpu load"
[humao.rest-client-unresponsive.cpuprofile.txt](https://github.com/Huachao/vscode-restclient/files/3682833/humao.rest-client-unresponsive.cpuprofile.txt)

- Issue Type: `Performance`
- Extension Name: `rest-client`
- Extension Version: `0.22.2`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.38.1`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-c

[2019-10-04 20:54] skamansam commented on #315
Are there plans to support this? If not, would you consider accepting a PR for this feature?

[2019-10-06 20:21] dcsan opened #430 "Header name must be a valid HTTP token ["{"]"
I had a previous simple test file that was working
I tried to add a couple of requests in the same file
but now I just get the error above on any request...

I tried reverting any changes to the `.http` file
but still the extension just gives this invalid error each time i try to load a resource.

- VSCode Version: Version: 1.38.1

- OS Version: OSX 10.14.6
- REST Client Version: 0.22.2

Steps to

[2019-10-06 20:24] dcsan commented on #430
OK looks like the error is:

[code]

where as this is OK:
[code]

[2019-10-06 20:24] dcsan commented on #430
so the extra line is critical.  a bit of a pedantic bug...

[2019-10-08 01:59] Huachao commented on #430
@dcsan this follows the rules in RFC, and there should be a separated blank line between header and body parts.

[2019-10-08 01:59] #430 closed

[2019-10-08 07:53] Huachao commented on #427
@tom-thorne this is by design, we don't intend to touch the imported files

[2019-10-08 07:53] #427 closed

[2019-10-08 07:53] Huachao commented on #429
@gritcsenko does this unresponsive situation continuously occurs?

[2019-10-08 10:35] sinapis opened #431 "Copy as cURL not working well for POST requests against ExpressJs"
- VSCode Version: 1.38.1
- OS Version: Windows 10, 18995.1
- REST Client Version: 0.22.2
- cURL Version: curl 7.47.0

Steps to Reproduce:

1. Create the following HTTP request in VSCode:
post http://localhost/test/1

2. ctrl+p and Rest Client: Copy request as cURL

3. Paste

Expected: curl --request POST --url http://localhost/test/1

Actual: curl --request post --url http://localhost/test/1

when

[2019-10-08 13:40] siddharth2586 commented on #389
@Huachao This issue still exists.

[2019-10-09 02:10] #431 closed

[2019-10-09 02:10] Huachao commented on #431
@sinapis I have fixed this and will publish this in next release

[2019-10-09 21:02] sinapis commented on #431
@Huachao thank you for the quick response!!

[2019-10-10 13:18] tugend opened #432 "Cli runner for the same format"
Hi. Love the client, it's great. Just what I've been looking for after Postman.

The only thing I really miss, is to have a cli runner of some kind so I can use the same format for automated tests. I'm not saying it should be part of this repo, but could you recommend a tool in the README or possible outfactor the internal engine for reuse - that would really increase the value for me and my team.

[2019-10-14 02:12] Huachao commented on #371
Duplicate of #182

[2019-10-14 02:12] Huachao commented on #371
@asmith3006 close this to favor of that one.

[2019-10-14 02:12] #371 closed

[2019-10-15 09:47] Harag9 commented on #402
I'm just starting out with Rest Client, and moving from postman. having a lot of quests means I need to scroll up and down all the time to run them, so would prefer to break them into  groups of file, but because I can't share the token between the files, I'm having to "login" on each file to get the token.

I can't find a way to update the Environment variable I have in my VSCode settings file to

[2019-10-15 09:50] Harag9 commented on #414
Also Cross file variables would be great so I can break down my APIs into several files and just have one "Token" variable...

[2019-10-15 16:08] schallm opened #433 "Local datetime dynamic variable instead of UTC"
I need to send the datetime with local offset to an API (`2019-10-15T10:45:50.124-05:00`).  I see that you can use `{{$datetime iso8601}}` to get the current datetime, however that is returns a UTC date (`2019-10-15T15:45:50.124Z`).  Is this currently possible?  If not, maybe add:

* another dynamic variable like `{{$datetimeLocal}}`
* another modifier to datetime to make it local like `{{$datetim

[2019-10-16 05:16] Huachao commented on #433
@schallm I added a new variable named `$localDatetime`, just as your first solution. And this patch will be published in next release

[2019-10-16 05:16] #433 closed

[2019-10-16 06:49] atrakaz commented on #420
It works. Thanks!

[2019-10-16 15:35] nezorflame commented on #101
@Huachao any thoughts on this?
I saw this kind of functionality available in GoLand, which my colleagues are using, and while your extension covers most of use cases, it is missing the ability to rean the environment setup from a JSON file (in our case we have `test.http` file with requests and `env.json` file with environment).

[2019-10-17 03:56] Huachao commented on #418
@mattwaler nice suggestion, I will implement it and update in this thread later

[2019-10-17 07:19] Huachao commented on #418
@mattwaler @Ruegen @yfwz100 @devalnor  I have supported the `{{$dotenv variableName}}` syntax, and you just need to put the .env file in the same folder of your `.http` file. However, `.env.local` file is not supported currently.

[2019-10-17 07:19] #418 closed

[2019-10-17 11:13] mattwaler commented on #418
Awesome! Thank you so much for this amazing extension.

[2019-10-20 22:35] jspronk commented on #281
Is this still an open issue?

[2019-10-21 05:43] Huachao commented on #281
@jspronk yes

[2019-10-22 06:37] wujunchuan opened #435 "Add config option to control auto Camel-Case feature when `previewOption` is set to `exchange`"
Add a extension config option to control the **custom request header Camel-Case**

For example there is a HTTP request 👇

[code]

## Current

[code]

The custom HTTP headers `auth` and `lang`  will auto uppercase its first letter

## Except

[code]

[2019-10-23 12:04] jlg-io commented on #83
Hello @Huachao, as @pberenyi said already, do you think it's psosible to implement a "ignore certificate" feature like -k/--insecure in Curl or verify=False in Python ?
It would make it easier to use with self-signed certificate system.
Great work on this plugin by the way!

[2019-10-23 19:21] razzfox opened #436 "308 Permanent Redirect changes method to GET"
- VSCode Version: 1.39.2
- OS Version: macOS 10.15
- REST Client Version: 0.22.2

Steps to Reproduce:

1. Send request using POST method.
2. Server responds with status 308 Permanent Redirect
3. REST-client resends request using method GET method.

According to [https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections#Permanent_redirections](these docs), the method and body should not change

[2019-10-24 03:22] Huachao commented on #83
@jlg-io  Do you mean that rest client ignore self-signed certificate from server side, it should be supported two years ago. Hmm, could you please provide more details, like some screenshots

[2019-10-24 03:51] Huachao commented on #436
@razzfox nice catch, this fix will be published in the next release.

[2019-10-24 03:51] #436 closed

[2019-10-24 14:07] Mibeon opened #437 "IN WHICH FILE SHOULD BE PLACED ENVIRONMENT VARS????"
- VSCode Version: 1.39.2
- OS Version: 10.15
- REST Client Version:0.22.2

I want to place my env vars in a file.
I read the complete documentation, searched in net, but I didn't find anything that I could use.

IN WHICH FILE (WHICH FILE NAME) SHOULD I PUT THIS ALL CONFIGS?????
WHY IS IT NOT IN THE DOCUMENTATION????

There is just a talk about setting file. But how it should be named???

Thanks fo

[2019-10-24 14:10] #437 closed

[2019-10-30 07:35] rwenz3l commented on #432
I'd like that as well, but for testing you would have to define the expected response as well, right?

So the following snippet would be my preferred way of doing this, but I think it's too much for this project. Would be a good idea to move this over to a new project.. AFAIK there is none that does this, but you might want to look into https://taverntesting.github.io/..

[code]

[2019-10-30 11:03] tugend commented on #432
For the sake of readability, i'd prefer something like below to be required.
Thanks for the reference, I'll look that up! ^_^

[code]

Alternatively we could just use the '@name = hello' attribute to support a separate test file.
Something like below or similar, but in a separate file.

[code]

[2019-10-30 11:06] tugend commented on #432
It's just that, I really like the readability of the spec.
And automated tests ontop is just such an obivious boon. ^_^

Wrt. TavernTesting, I was really hoping for a) something in node instead, and b) something that also integrated with my editor and could be executed manually, like e.g. postmans cli runner and vscode-restclient allows.

[2019-10-31 03:13] Huachao commented on #435
@wujunchuan I have fixed the issue and will always preserve the outgoing request headers case.

[2019-10-31 03:13] #435 closed

[2019-11-05 16:22] rohitkrishna094 opened #438 "How to not show references?"
Check the image below.

![Screenshot (5)](https://user-images.githubusercontent.com/18495886/68225506-86af1100-ffbe-11e9-85d1-af936ae868c3.png)

Is there a way to remove the word `references` if I don't want them to be displayed and take up space?

[2019-11-06 01:55] Huachao commented on #438
@rohitkrishna094 you can achieve this by set the setting `rest-client.enableCustomVariableReferencesCodeLens` to `false`

[2019-11-06 01:55] #438 closed

[2019-11-06 03:58] terryliulj opened #439 "the variable value is incorrect when I use named request to get value of Long data type from response body"
- VSCode Version: 1.39.2
- OS Version: macos 10.14.6
- REST Client Version: 0.22.2

the variable value is incorrect when I use named request to get value of Long data type from response body.
For example:
@aid = {{getObj.response.body.$.data.aid}}
the actual value of aid is 3756818201733464064, but the value of @aid is 3756818201733464000

[2019-11-06 13:39] kosirm opened #441 "Congrats!!!"
Hi, I just installed extension and it looks amazing!!! Congrats and thanks for sharing such a great code!

[2019-11-06 13:40] #441 closed

[2019-11-06 15:11] rohitkrishna094 commented on #438
Thanks for your response. btw where can I find all these settings that I can change? Is there a doc somewhere? Thanks

[2019-11-06 15:43] Huachao commented on #438
@rohitkrishna094 at the bottom of the README.md

[2019-11-07 08:17] terryliulj commented on #439
That is related to the length of the numeric type of js. May not be a bug.

[2019-11-07 10:00] Huachao commented on #439
@terryliulj  you are right, since the number is larger than the maximum number `2 ^ 53 - 1`, and the native `JSON.parse` doesn't work as expected. I am still considering any other plans to solve it.

[2019-11-07 11:01] cortopy opened #442 "Variables in body file"
I'm aware than https://github.com/Huachao/vscode-restclient/issues/427 has already been closed, so I'm making a request to change the design so that we can use variables in request bodies imported from files.

When doing SOAP requests, they may have a very big XML body. In an `.http` file, vscode does not recognise the xml and I can't use features like commenting a line or a block. When trying out

[2019-11-08 14:49] JorisJBR opened #443 "Cannot make HTTPS requests"
- VSCode Version: 1.40.0
- OS Version: Win7
- REST Client Version: 0.22.2

Steps to Reproduce:

1. Make any request to a https endpoint
2. Error appears:

write EPROTO 76202696:error:100000f0:SSL routines:OPENSSL_internal:UNSUPPORTED_PROTOCOL:../../third_party/boringssl/src/ssl/handshake_client.cc:568:

[2019-11-08 15:38] #443 closed

[2019-11-12 18:57] lanette46 commented on #122
setting my host to 127.0.0.1 instead of localhost in my laravel server also works, thanks for saving me @MickaelTH

[2019-11-13 10:59] bm-stschneider opened #444 "Send all requests in a file"
If I have multiple requests in a file and they have request/response variables. It would be nice if I could run all the request in sequence so that all get executed based on the same initial request.

[2019-11-13 15:49] Huachao commented on #444
@bm-stschneider do you mean just run all the requests in the correct order and display all the responses

[2019-11-13 19:27] gritcsenko commented on #429
@Huachao no, looks like it is fixed, thanks.

[2019-11-13 23:04] #429 closed

[2019-11-14 05:20] ri8ika opened #445 "How to upload multiple files?"
I am trying to upload multiple files. But I'm not sure if I'm doing it correctly. And obviously it does not work:
[code]

If I print the request, I can see 1.png but not 2.png. So, how to upload multiple files? Sorry for this newbie and stupid question.

[2019-11-14 08:33] Huachao commented on #445
@ri8ika can you ensure both the `1.png` and `2.png` exist in your directory, and I can succeed in my local test

[2019-11-14 10:47] ri8ika commented on #445
Yes. Both exists.

But I'm surprised to know that I'm doing it right. Is it correct way by providing name for both the same? Or shouldn't it be something like an array?

I'm only able to see 1.png in my log.

[2019-11-14 12:35] ri8ika commented on #445
Ah, finally I resolved it. I found the correct way after using postman. I have to remove the boundary line after `< ./1.png` .

[2019-11-14 12:35] #445 closed

[2019-11-14 12:37] bm-stschneider commented on #444
pretty much yes but also with possible request variables

[2019-11-17 15:24] snyang commented on #303
A workaround is:
- run login rest api
- copy the response body
  e.g.
[code]
- you should know your token name, e.g. my-app-token
- and run next rest request like below.

- Example:
[code]

So far, it seems the only problem is `@jwtoken = {{login.response.body}}` does not work.

[2019-11-17 18:31] c4tom opened #446 "{{$randomInt {{start}} {{end}} }} not work"
- VSCode Version: 1.41.0
- OS Version: Linux Mint 19.2
- REST Client Version: 0.22.2

Steps to Reproduce:

[code]

**this return**

[code]

[2019-11-18 03:47] Huachao commented on #303
@snyang the full path of request variable should be `{{login.response.body.$}}`

[2019-11-19 07:04] Huachao commented on #428
@DefJunx I use the `httpsnippet` package to generate code snippet, I will assign the `upstream` label to this issue and continuously track the progress.

[2019-11-20 04:33] xdmushui commented on #319
Maybe put variables to file.
For example:

[code]
After executing getTokenApi in variables.http,
The @access_token variable will have a value. In another file (test-myapp.http), you can use this variable:
[code]

I think this might help us.

[2019-11-20 04:38] xdmushui opened #447 "[Feature] Import variables from another file"
Maybe put variables to file.
For example:

[code]
After executing getTokenApi in variables.http,
The @access_token variable will have a value. In another file (test-myapp.http), you can use this variable:
[code]

I think this might help us.

[2019-11-20 06:44] Huachao commented on #435
@wujunchuan you can try the latest version 0.23.0 to verify it

[2019-11-20 06:45] Huachao commented on #436
@razzfox you can try the latest version 0.23.0 to verify it

[2019-11-20 06:46] Huachao commented on #418
@mattwaler @Ruegen @yfwz100 @devalnor  you can try the latest version 0.23.0 to verify it.

[2019-11-20 06:46] Huachao commented on #433
@schallm you can try the latest version 0.23.0 to verify it.

[2019-11-20 06:48] Huachao commented on #431
@sinapis you can try the latest version 0.23.0 to verify

[2019-11-20 06:48] Huachao commented on #424
@RobertWu-TIBCO you can try the latest version 0.23.0 to verify

[2019-11-20 10:44] sinapis commented on #431
verified!

[2019-11-20 10:48] 4nu81 commented on #255
I also get "ECONNRESET" at TLS handshake on https requests without proxy setup.

[2019-11-20 11:43] Huachao commented on #255
@4nu81 can you provide your request if convenient?

[2019-11-20 12:07] 4nu81 commented on #255
GET https://{{myhost}}/ HTTP/1.1

leads to:

write EPROTO 797870719880:error:100000f0:SSL routines:OPENSSL_internal:UNSUPPORTED_PROTOCOL:../../third_party/boringssl/src/ssl/handshake_client.cc:568:

The server we reach out for serves https with TLS handshake.

[2019-11-20 14:41] wujunchuan commented on #435
@Huachao  works well, it will not puzzle me again now

[2019-11-21 02:07] Huachao commented on #255
@4nu81 It may be a bug related to the switch from `OpenSSL` to `BoringSSL` in **electron** which is the foundation of **vscode**.

[2019-11-21 02:36] yfwz100 commented on #418
It works, Thanks!

[2019-11-21 05:08] snyang commented on #303
@Huachao ` {{login.response.body.$}}` not working for me. In that case, if I use `{{jwtoken}}`, I got an error. Is there a way to print out a field value?
[code]

[2019-11-21 07:00] Huachao commented on #303
@snyang can you show me your response of the **`login` request**, including the response headers and body? It will help me to figure out the root cause.

[2019-11-21 17:18] schallm commented on #433
Works great!  Thanks!

[2019-11-22 15:39] snyang commented on #303
@Huachao, here it is
[code]

[2019-11-22 16:39] mfulton26 opened #448 "Copy Request"
Sometimes I would like to copy the request that will sent over the wire to show someone what I am sending in my request so that they can understand it even if they are not familiar with this extension which supports variables, etc.

I'm thinking this could be solved in several ways:

1. A feature to copy a request with the variables inlined
2. A feature to do a dry-run where instead of showing the

[2019-11-25 02:20] Huachao commented on #303
@snyang since your mime type of your response is `text/plain`, you can try to use `{{login.response.body.*}}`

[2019-11-25 04:54] Huachao commented on #447
Duplicate of #182

[2019-11-25 04:54] #447 closed

[2019-11-25 04:56] Huachao commented on #401
Duplicate of #360

[2019-11-25 04:56] #401 closed

[2019-11-25 04:58] Huachao commented on #446
@c4tom this is by design, we currently don't want to support the system variables referencing the file variables since it would cause the resolving logic too much complex. I'd like to put it in the backlog and wait for the community feedback

[2019-11-25 05:03] Huachao commented on #398
@tonilxm Did you still meet this issue, if not I'd like to close it since no one else is reporting this bug?

[2019-11-25 05:19] Huachao commented on #354
@asmith3006 after upgrade to the latest version 0.23.0, this issue should be fixed. If you still meet this issue, pls feel free to reopen it.

[2019-11-25 05:19] #354 closed

[2019-11-25 09:57] katagaStyle opened #450 "Cannot read property "toFixed" of null"
- VSCode Version: 1.40.1
- OS Version: Linux
- REST Client Version: 0.23.0

Steps to Reproduce:
1. @host = https://xxx.xxx.xx
2. @serviceXXX = {{host}}/services/<service>
3. GET {{serviceXXX}}/actuator/health
4. issue: Cannot read property "foFixed" of null

Works fine with 0.22.x.

[2019-11-25 16:37] Huachao commented on #450
Could you please provide the actual response and the screenshot of the duration breakdown when you hover on the timer icon?

[2019-11-26 09:31] YorigamiShion opened #451 "Auto completion is partly broken"
- VSCode Version: 1.40.2
- OS Version: win10 18362.476
- REST Client Version: 0.23.0

Auto completion of headers (Content-Type) and variable does not work, while http methods and such as 'soap', 'fv', 'rv' still works.

[2019-11-26 09:56] sruthicps commented on #279
Is this really working ? i didn't get the expected result using $processEnv. I am using environment variable for host url, but i am getting the following error
**Connection is being rejected. The service isn’t running on the server, or incorrect proxy settings in vscode, or a firewall is blocking requests. Details: RequestError: connect ECONNREFUSED 127.0.0.1:443.**

but when i directly add the ho

[2019-11-26 10:53] borekb commented on #279
@sruthicps Did you fully restart VSCode (not just "reload window" but fully restart the app)? Environment variables are applied once, when VSCode starts, so that might be the reason.

Overall, yes, it works, we use this approach.

[2019-11-26 11:53] sruthicps commented on #279
@borekb Unfortunately it is not working even after restart. Is it necessary to use _zsh-osx-keychain_ for this to work? I am using normal variable value assignment in .bashrc. like `export VALUE="value"`

[2019-11-26 12:08] sruthicps commented on #279
@borekb Sorry it was an issue with the shell i am using with vscode. When i changed the default shell, it works :)
Thank you

[2019-11-27 07:16] Huachao commented on #451
@YorigamiShion could you please provide the minimum sample http file to help me to identify the root cause?

[2019-11-27 12:44] borekb commented on #448
This would also be useful to me. Some more ideas around the UX (I don't have a clear favorite):

- There could be **a "Copy Request" lens** – next to the current "Send Request" button.
    - BTW, "Copy Request As cURL" could be added there as well for better discoverability.
- There could be a toggle button in the **Response** tab, leading to something like this:

[code]

- The **Request History**

[2019-11-27 15:11] katagaStyle commented on #450
Within status bar i can see waiting message and when it disappears the error will be shown.

No other message. No Result.

![toFixed_of_null](https://user-images.githubusercontent.com/2486640/69735129-79ee8a80-1130-11ea-9bcf-d6f551c35c97.png)

[2019-11-27 23:47] Huachao commented on #450
@katagaStyle thanks for your quick reply,    could you please also check the output named `REST` in the output channel of VSCode

[2019-11-28 07:51] katagaStyle commented on #450
`[Error  - 08:50:29] Failed to send request:
TypeError: Cannot read property 'toFixed' of null
	at T.formatDurationStatusBar (/home/ad/.vscode/extensions/humao.rest-client-0.23.0/dist/extension.js:642:8115)
	at T.runCore (/home/ad/.vscode/extensions/humao.rest-client-0.23.0/dist/extension.js:642:6098)
	at processTicksAndRejections (internal/process/task_queues.js:89:5)
	at async T.run (/home/ad/.v

[2019-11-28 09:11] Huachao commented on #450
@katagaStyle I think I have fixed the issue, and could you please provide your actual request to help me verify the fix if convenient?

[2019-11-28 09:11] #450 closed

[2019-11-29 07:15] katagaStyle commented on #450
It is a pretty easy request to a health endpoint of an sprint boot webservice within our company network.

`@host = https://xxx.xxx.de
@service = {{host}}/services/servicename/version

### status
GET {{service}}/actuator/health`

[2019-11-29 07:51] YorigamiShion commented on #451
I had found the reason, the extension `kite` is conflicted with rest client. When I disable it, all works well.

[2019-11-29 07:52] #451 closed

[2019-11-30 02:39] snyang commented on #303
@Huachao thanks, it works. BTW, the RestClient is an amazing tool.

The solution is:
- run login rest api
- you should know your token name, e.g. my-app-token
- and run next rest request like below.
- Example:
[code]

[2019-12-01 03:56] idmacrae opened #452 "Post not passing body"
- VSCode Version: 1.40.2
- OS Version: Windows 10
- REST Client Version:

Steps to Reproduce:

1. I am able to successfully use to GET requests:
[code]

However POST fails to send the body details
[code]
I get "Missing description" and the req.body is empty. When I post the _exact_ same from Postman it works correctly

[2019-12-02 02:13] Huachao commented on #452
@idmacrae could you please replace the url with `http://httpbin.org/post`, and check the response? BTW, I think the correct `Authorization` header should be `Authorization: {{authToken}}`

[2019-12-02 02:27] idmacrae commented on #452
Hi @Huachao
Thanks for the response.
Replacing the url works fine. I know what you are attempting with the change in the `Authorization` header, but the endpoint requires the format `Bearer {{authToken}}`. Strictly speaking the colon is not necessary.
I am wondering if there is some sort of express config/middleware that needs to be added

[2019-12-02 02:29] Huachao commented on #452
@idmacrae Can you show me the response when after the URL replacement?

[2019-12-02 02:33] idmacrae commented on #452
Figured the problem. It was a missing middleware in the express configuration. It works now

[2019-12-02 02:34] Huachao commented on #452
@idmacrae nice, I will close it

[2019-12-02 02:35] #452 closed

[2019-12-02 07:54] Huachao commented on #398
@tonilxm since you are no longer reporting this issue since I'd like to close it now. Please feel free to reopen it.

[2019-12-02 07:54] #398 closed

[2019-12-02 18:00] ali80 commented on #122
Sending request for
`192.168.1.7/debug` and getting the same error,
Added `http://` and the error is fixed for me
`192.168.1.7/debug`

[2019-12-03 05:44] djansyle commented on #182
Hi, is there update on this?

[2019-12-03 05:47] djansyle commented on #182
Hi, any update on this? Really looking forward for this feature

[2019-12-04 08:14] chuongtrh opened #453 "Support turn on/off retry request"
I found a document from [got](https://github.com/sindresorhus/got#retry) with the **retry** option
Can you support this feature in the future?

[2019-12-06 14:25] Kurt-Shiwz opened #454 "will websocket client support?"
will websocket client support?

[2019-12-07 05:19] Huachao commented on #454
Duplicate of #173

[2019-12-07 05:19] #454 closed

[2019-12-07 19:40] Clint65 opened #455 "Run request from a task"
Hello !
First of all, great job !

It would be great if we could run a request from a task.
Use case: upload files to a server after a build, CI

I've managed to run the request from a command like this :
[code]
unfortunately, the file containing the request must be the active one in vs code:
[code]
One simple change would be to add a file argument to the rest-client.request command along with the

[2019-12-08 03:23] thilong opened #456 "Linebreak in multipart/form-data"
When we use multipart/form-data as Content-Type, if there's no file to post in the request, RESTClient always use system EOL to combine lines. This makes requesting always failed on Macos with asp.net core.

[2019-12-08 07:19] KonnosPB commented on #248
hello everybody,
I could use this feature, too.
My scenario is an upload of a so-called configset into a solr search engine environment.

The tutorial here looks like this
`$ (cd solr/server/solr/configsets/sample_techproducts_configs/conf && zip -r - *) > myconfigset.zip`

`$ curl -X POST --header "Content-Type:application/octet-stream" --data-binary @myconfigset.zip "http://localhost:8983/solr/a

[2019-12-09 06:01] Huachao commented on #456
@thilong nice catch, I have fixed this issue and will publish it in the next release.

[2019-12-09 06:01] #456 closed

[2019-12-11 05:32] thecfguy commented on #315
I think HTML preview is best addition to this extension. I have almost stop using Postman since started using this extension but sometime I force to use postman just because of this capabilities not available.

[2019-12-11 06:42] Huachao commented on #315
@skamansam sorry for the late reply, a PR is warmly welcomed

[2019-12-11 12:40] borekb commented on #322
We have an API that looks like this:

[code]

When `some-filter` is empty, all products (unfiltered) are returned.

The proposed feature would allow for a `.http` file like this:

[code]

This is currently invalid (and setting `@filter = ''` is a different thing).

[2019-12-11 15:42] Huachao commented on #322
@borekb I am in favor of the proposed syntax without trailing space like Shell variables

[2019-12-11 22:09] SimonDever commented on #450
@Huachao at what times do you push fixes to the vscode marketplace? I am experiencing this issue as well.

[2019-12-12 04:41] chevtek commented on #428
I would definitely love an axios code snippet. Also, I agree that this extension is top notch!

[2019-12-12 13:04] rlundy commented on #255
I'm getting the same thing when trying an https request:

write EPROTO 1610660856:error:100000f0:SSL routines:OPENSSL_internal:UNSUPPORTED_PROTOCOL:../../third_party/boringssl/src/ssl/handshake_client.cc:568:

[2019-12-12 14:32] Huachao commented on #450
@SimonDever I am still working on some features, a newer release will be published after that. Before completion, you can still use the old version like **0.22.3** to test your APIs.

[2019-12-13 16:36] spidertong opened #457 "Internet access failure"
I can curl for the url in vscode terminal.
When I try the url by restclient, all of them are getting an error page saying that Internet Access Failure.
lm behind a corperate proxy, but those url are also behind the proxy, and they worked well arround one month ago.
Im not sure whether any setting changes, or the network blocking the request.

[2019-12-14 14:32] Huachao commented on #457
@spidertong what are the values of the following settings in VSCode:

- `http.proxy`
- `http.proxyStrictSSL`
- `rest-client.excludeHostsForProxy`

As well as the following environment variable values:
- `HTTP_PROXY`
- `HTTPS_PROXY`
- `NO_PROXY`

[2019-12-14 16:41] spidertong commented on #457
oh thx for remind.
I double checked these setting, found that I should not enable these settings, as they're all behind the proxy. l enabled proxy setting for other plugins, after I remove them, it works now.
Thank you so much and thanks for the time for the reply.

[2019-12-14 16:41] #457 closed

[2019-12-14 16:42] spidertong commented on #457
A very nice plugin, and you're so nice.

[2019-12-15 21:56] SimonDever commented on #450
Thanks for the tip :)

[2019-12-15 22:40] ichtestemalwieder commented on #99
For all those coming in via Google and are new to rest-client. It took me too much time to figure this out:
You need to set this **"rest-client.previewOption": "exchange"** parameter in your **VSC Config File** (settings.json) => **CTRL+SHIFT+P => Open Settings JSON.**

@Huachao Thanks very much for the absolutely great Extension!

[2019-12-16 03:03] chuongtrh commented on #453
hi @Huachao
I have created a pull request [458](https://github.com/Huachao/vscode-restclient/pull/458)
Can you check it?
Thanks!

[2019-12-16 03:24] 215952619 commented on #410
But if I have multiple folders, can I save it to a global variable to use this variable in other folders?

[2019-12-16 04:41] Huachao commented on #322
@lihuanshuai @borekb @pranayrauthu I have implemented this feature, and you can define empty file variables as following:
[code]
The trailing whitespaces are allowed, that means you can add some whitespaces after the equal sign, and the spaces will be removed in the evaluated result

[2019-12-16 04:41] #322 closed

[2019-12-16 07:24] borekb commented on #322
Sounds great! Will test it out when a new version is out. Thank you.

[2019-12-16 08:48] Deathhush opened #459 "Don't change the focus to the response window"
Today, after submitting a request and get back the response, the focus of the editor will go to the window that contains the response. This can be annoying if you submitted a request, looked at the response and try to click another file for editing. The new file will be opened in the second window group where the response is displayed instead of the primary window group.

Can the focus remain in t

[2019-12-16 09:56] Huachao commented on #459
@Deathhush set the `rest-client.previewResponsePanelTakeFocus` to `false`

[2019-12-16 09:56] #459 closed

[2019-12-16 13:10] zydxhs commented on #173
It would be really cool for the extension to also support websockets.
Hopefully it will be supported in a later release.

[2019-12-16 15:59] offero opened #460 "GraphQL Fragment Support"
I like being able to send graphql queries with rest client, but it doesn't seem to support queries with fragments.

Example here: https://www.apollographql.com/docs/react/data/fragments/

Relates to: https://github.com/Huachao/vscode-restclient/issues/127

[2019-12-16 16:58] Stadly opened #461 "Show request name in symbol list"
For named requests, it would be great if the request name was shown in the symbol list (`Ctrl`+`Shift`+`O`).

This would be especially useful for files containing soap requests. In soap, the same endpoint is often used for multiple different actions, with the action specified in the request body. Therefore you can often end up with a symbol list like this:

![image](https://user-images.githubuserc

[2019-12-17 04:56] Huachao commented on #327
@asmith3006 I'd like to close this issue since I think the Facebook Graph API returned response is of `application/json`

[2019-12-17 04:56] #327 closed

[2019-12-17 07:45] Stadly commented on #461
My best guess would be to use something similar to this inside the function `getRequestSymbolInfo` in `src/providers/httpDocumentSymbolProvider.ts`.

[code]

[2019-12-17 08:19] sunilvp opened #462 "Base64 encode of Authorization field from value from another request with XREST as AUTHORIZATION_STRING"
In our application instead of Basic in the AUTHORIZATION_STRING we use the XREST as the string.

First request to fetch the api key token is using:
[code]

Server responds to above request with the keyToken , but this key has to be passed in Authorization header with XREST as AUTHORIZATION_STRING and base64Encode(username:keyToken)

[code]

The ReadMe says that it automatically encodes 'Basic user

[2019-12-17 08:26] sunilvp commented on #462
I do see that:

[code]

Does this mean that only Basic can be used ? Can we make changes to fetch the field from external variable or give option to transform the response ?

[2019-12-17 09:57] Huachao commented on #461
@Stadly nice suggestion, now the named request will just display the request name instead. I have implemented this and will publish this in the next release.

[2019-12-17 09:57] #461 closed

[2019-12-17 10:13] Stadly commented on #461
Nice! Thanks :)

[2019-12-17 10:34] jsuryahyd commented on #390
This wasted more than an hour of my time. It is a very common occurrence and hard to locate the problem.

[2019-12-18 13:35] aptMattKoe commented on #15
+1

[2019-12-20 09:59] serverlesspolska commented on #281
That would be awesome to have this!

[2019-12-20 18:34] gritcsenko opened #463 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `rest-client`
- Extension Version: `0.23.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\sgrytsenko\humao.rest-client-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-

[2019-12-20 18:35] gritcsenko commented on #463
[humao.rest-client-unresponsive.cpuprofile.txt](https://github.com/Huachao/vscode-restclient/files/3989696/humao.rest-client-unresponsive.cpuprofile.txt)

[2019-12-21 19:08] hydrz opened #464 "怎么发送一个标准的RFC1123格式的时间?"
- VSCode Version: 1.3.92

- OS Version: Linux  4.15.0-30deepin-generic

- REST Client Version: 0.23.0 (2019/11/20)

Steps to Reproduce:

我使用Readme中的方式添加时间头部:

`Date: {{$datetime rfc1123}}`

但是通过抓包发现传出去的时间是长这样的:

`Sat Dec 21 2019 18:50:37 GMT+0000`

通过[网上资料](http://www.csgnetwork.com/timerfc1123calc.html)的查询, 正确格式应该是这样的:

`Sat, 21 Dec 2019 18:51:54 GMT`

有一些接口验证会涉及到这个, 导致不能通过验证, 如[阿里云的API接口 ](https

[2019-12-23 02:56] Huachao commented on #464
@hydrz nice catch, currently there's a bug in the code and I have fixed it. I will notify you when a new release is available. The workaround now is to provide your own datetime format like `{{$datetime 'ddd, DD MMM YYYY HH:mm:ss [GMT]'}}`

[2019-12-23 02:56] #464 closed

[2019-12-23 14:18] bendem commented on #450
Can you please release the bugfix? Or provide a workaround so we can keep using the extension in the meantime? ❤️

[2019-12-23 14:34] Huachao commented on #450
@bendem Install the old version may work

[2019-12-23 19:22] swiffer opened #465 "Headers missing in Request"
- VSCode Version: 1.41.1
- OS Version: Windows Version 1909
- REST Client Version: 0.23.0

Steps to Reproduce:

1. Add Cookie to `rest-client.defaultHeaders`
2. Execute Request / Copy request as CURL

The request is getting executed without Headers added. Copy request as CURL is not adding the Headers from config. Headers defined in .http Request are applied to Copy request as CURL but not when se

[2019-12-24 04:17] Huachao commented on #465
@swiffer I have partially fixed the issue that user-provided `Cookie` headers (no matter in default headers config or `.http` file) will be respected when sending the request. And `Copy Request As cURL` behavior is unchanged and only `Cookie` headers provided in the `.http` file are respected, and this is the same behavior like other HTTP client tools like **Postman**. I think it's OK for now, so

[2019-12-24 04:17] #465 closed

[2019-12-26 18:26] sandeep-khanna opened #466 "Cookie not in this host's domain"
We have a public facing domain (sub.domain.io) and a private back-end API service (sub.domain.com).

Using VSCode, going directly to the back-end service successfully works and returns a response with two cookies (one of which has Domain=.sub.domain.com).

Unfortunately, sending a request via Apigee API gateway (sub.domain.io) to a back-end API end-point causes the following error:

Cookie not in

[2019-12-27 01:51] Huachao commented on #466
@sandeep-khanna Do you mean that you received a Cookie with host `sub.domain.com` and the outgoing request with the domain `sub.domain.io` can carry this cookie?

[2019-12-27 05:42] Huachao commented on #321
@readless Do you still meet this issue, I'd like to close it for now, please feel free to reopen it.

[2019-12-27 05:42] #321 closed

[2019-12-30 05:37] Huachao commented on #463
@gritcsenko I have added document level cache to improve startup performance

[2020-01-02 11:40] siddharth2586 commented on #15
+1

[2020-01-02 14:50] sandeep-khanna commented on #466
That's correct. The back-end API end-point generates the cookie not knowing which (sub)domain is fronting/proxying its APIs.

How come this works without any issues when using Postman, but has a problem only with VSCode Rest Client extension. This makes it a weaker case for us to switch from Postman to VSCode.

[2020-01-02 18:31] betancour opened #467 "Manual for Soap API"
Exist a manual to know how to config a Soap API ?

[2020-01-03 02:09] Huachao commented on #467
@betancour the REST Client extension provides a built-in code snippet named `soap`, and you just fill in the placeholders.

[2020-01-03 02:09] #467 closed

[2020-01-03 02:14] Huachao commented on #466
@sandeep-khanna actually it seems unreasonable for me, since Cookies target domain `sub.domain.com` should not match the request domain `sub.domian.io` according to the RFC spec. And could you please more details about your actual request URL and cookie headers, as well as the saved managed cookies in Postman? A screenshot is also appreciated. Thanks in advance.

[2020-01-03 22:23] lastlink opened #468 "Post call not working for google apps scripts doPost"
- VSCode Version: 1.41.1
- OS Version: Windows 10
- REST Client Version: 0.23.0

Steps to Reproduce:

Create a new project in [google apps script](https://script.google.com/home)
Add this code to a script, publish with anonymous permission.

[code]

A curl works

`curl -d "" -L https://script.google.com/macros/s/AKfycbyW_I75HOxOrLhsm4x4ZJTF71VRP2-1Ey3gsijORAOywKGLG18/exec`

remove the "" and it gi

[2020-01-03 22:43] lastlink commented on #468
After doing a copy curl from rest client
I discovered that the --url doesn't work on windows while -L does work.

`curl --request POST --url https://script.google.com/macros/s/xxx/exec --header 'content-type: application/json' --data '{}'`

vs

`curl --request POST -L https://script.google.com/macros/s/xxx/exec --header 'content-type: application/json' --data '{}'`

[2020-01-05 08:49] Huachao commented on #468
@lastlink could you please provide the actual request that not working for you?

[2020-01-06 04:31] lastlink commented on #468
[code]

[2020-01-06 04:42] Huachao commented on #468
Did you mean that when the request body is empty string in curl request that works for you? While in the above plain HTTP request, the request body is a JSON with `machineId`. Can you  curl still succeed with the same request body?

[2020-01-06 08:32] CwjXFH opened #469 "Content negotiation"
hope this plug-in can support the content-negotiation feature, thanks!

[2020-01-06 09:59] Huachao commented on #469
@CwjXFH No. According to the [Wiki](https://en.wikipedia.org/wiki/Content_negotiation), the agent-driven content negotiation is not well documented. So currently my extension doesn't expect to support this. Does any existing tools like `cURL`, `Postman` supports this?

[2020-01-06 09:59] #469 closed

[2020-01-09 15:52] sandeep-khanna commented on #466
I have fixed this issue by using a Javascript policy within the context of the Apigee API proxy's TargetEndpoint PostFlow.

Here is a setHeaders.js Javascript policy

[code]

And here is the API proxy TargetEndpoint using it

[code]

[2020-01-09 15:52] #466 closed

[2020-01-09 18:38] Krytical13 opened #470 "Cookie not in this host's domain"
- VSCode Version: 1.41.1 (user setup)
- OS Version: Windows 10 1809 17763.914
- REST Client Version: 0.23.0

Steps to Reproduce:

0. Note that I am a seasoned sysadmin, but pretty new to REST/JSON and API's.

1.  Attempt to use Cloudflare API within REST Client like the following sanitized example:
[code]

2. See resulting error

Question:
Do I understand correctly,
Set-Cookie could be a requireme

[2020-01-10 01:09] Huachao commented on #470
@Krytical13 the root cause is that the received `Set-Cookie` header contains a cookie whose domain is `dash.cloudflare.com` which mismatches the request's target domain `api.cloudflare.com`. I will update my code to eliminate such error.

[2020-01-10 01:33] #470 closed

[2020-01-11 20:33] betancour opened #471 "VSCode RESTclient XML set a Request Variables"
I would like to set a value to be catched from a XML body and save it as a Request Variables, but I can't understand the syntax to do this.

Incorrect request variable reference syntax, it should be "variableName.(response|request).(headers|body).(headerName|JSONPath|XPath|*)"

Someone can explain how this work with XML.
Example:
// @path
POST: xxx

@variable = {{path.body()}}

[code]

[2020-01-12 03:48] Huachao commented on #471
@betancour which part of the XML response do you want to save in the request variable?

[2020-01-12 04:17] betancour commented on #471
Parameter desired

[2020-01-12 04:31] strings-code opened #473 "How to send custom headers for Http Request"
I am using Rest Client for the first time and when I send custom header like below in Https, the service response comes back saying that the request is missing MY-CUSTOM-HEADER. It makes me think that the custom header is not being sent, any special requirement to specify custom header? Thank you.

`POST https://example.com/abc/1.0/ HTTP/1.1
Content-Type: application/json
Authorization: Bearer OGa

[2020-01-12 05:38] Huachao commented on #473
@strings-code I think the format is right, I am just curious that your header value is a bit strange

[2020-01-12 05:38] #473 closed

[2020-01-12 05:42] Huachao commented on #471
@betancour your request variable should look like this `@varaible = {{path.response.body.//Header/Body/Parameter}}`

[2020-01-12 05:42] #471 closed

[2020-01-12 11:20] mostafiz93 opened #474 "How to view all responses to all the requests in a .http file"
In a `.http` file I've multiple requests. When I run `Ctrl+Alt+R(Cmd+Alt+R for macOS)` the response pane shows the response to only the last request on that `.http` file.

How can I view responses to the other requests?

[2020-01-12 12:52] Huachao commented on #474
@mostafiz93 you can set the setting `rest-client.showResponseInDifferentTab` to `true`.

[2020-01-12 12:52] #474 closed

[2020-01-12 13:24] TheNilesh opened #475 "Swagger example as sample request"
Swagger supports adding examples along with spec: https://swagger.io/docs/specification/2-0/adding-examples/

We can add support to use swagger file as an input to vscode-restclient. This will save developers from maintaining 2 separate files for documenting REST APIs, swagger.yaml and restclient.http

[2020-01-12 14:32] raleti123 opened #476 "variable with response.body.$.value not working"
- VSCode Version:
- OS Version: 1.17.2
- REST Client Version: 0.18.4

Steps to Reproduce:

1.  when ever i am using a variable to capture the response.bday.value of previous request, the variable not holding any value but when i am using same code directly where ever i required it is working fine.
 for example consider below code .

@baseUrl = https://example.com/api

# @name login
POST {{baseUrl}

[2020-01-12 15:05] Huachao commented on #476
@raleti123 did you have a typo in the request variable `response.boday.$.value`, it seems that the body is not spelled correctly.

[2020-01-12 16:33] strings-code commented on #473
@Huachao  Having json data in header value is perfectly acceptable. I tried sending simple value like 123 and it is the same result. Are we sure that it accepts JSON in header value? I am not convinced that it the issue should be closed.

[2020-01-12 16:41] Huachao commented on #473
@strings-code replace the request url with https://httpbin.org/get to inspect the outgoing  request headers

[2020-01-12 16:49] strings-code commented on #473
Ok thanks. I am not able to see where the outgoing headers are. Do I need to use Fiddler for that?

[2020-01-12 17:26] Huachao commented on #473
@strings-code You can check the response,  and the outgoing headers are in the response.  And if you have Fiddler,  you can send the request unchanged, you can inspect the request header there

[2020-01-12 17:28] strings-code commented on #473
Here is the response and I don't see any headers that I sent

`HTTP/1.1 405 METHOD NOT ALLOWED
Access-Control-Allow-Credentials: true
Access-Control-Allow-Origin: *
Allow: GET, HEAD, OPTIONS
Content-Type: text/html
Date: Sun, 12 Jan 2020 17:27:48 GMT
Referrer-Policy: no-referrer-when-downgrade
Server: nginx
X-Content-Type-Options: nosniff
X-Frame-Options: DENY
X-XSS-Protection: 1; mode=block
Conte

[2020-01-12 17:34] strings-code commented on #473
Ok nevermind, I got the headers back and they are in Pascal Case as opposed to UPPERCASE which is what I sent, I thought the headers are case-insensitive. I sent CUSTOM-HEADER and I got Custom-Header back in response.

[2020-01-13 00:57] Huachao commented on #473
@strings-code Does you server side case-insensitive in headers?

[2020-01-13 04:10] strings-code commented on #473
Looks like the producer server api requires the Headers to be UPPERCASE and they are case sensitive. Does Rest Client always converts them to Pascal case? That's what it looks like. If yes, it should be a bug right?

[2020-01-13 04:32] Huachao commented on #473
@stegano I think the Node.js (my extension relies on) internal behavior is consistent with the spec that HTTP request headers are case-insensitive. And the actual outgoing headers are all lowercased, instead of the `Pascal` case. The Pascal case displayed in `httpbin.org/get` is handled by that site internally. You can verify this by using Fiddler.

And this is an upstream limit from Node.js that

[2020-01-13 04:35] strings-code commented on #473
thanks @Huachao  for your help.

[2020-01-13 08:15] raleti123 commented on #476
Hi i have typed wrongly  here ,  it is not working  with correct syntax (name.response.body.param1) .
the above code i have mentioned for reference. but my actual code is using correct syntax.

please find below for my actual code.

# @name token
## Auth token for API gateway calls.
POST  {{baseUrl}}/oauth/token
Content-Type: application/x-www-form-urlencoded

grant_type=client_credentials
&client

[2020-01-13 09:00] Huachao commented on #476
@raleti123 could you please show me your response of `token` request in the above comment, since `{{token.response.body.access_token}}` can work requires Content-Type of your response is `application/json` and there is key named `access_token` at the top level of your JSON response.

[2020-01-13 09:09] ribizli commented on #182
Hi, this feature would be really helpful to write DRY request files.

Currently I'm repeating the `auth.http` content in every `.http` file...

[2020-01-13 09:27] raleti123 commented on #476
Hi  whenever i have passed {{token.response.body.access_token}} in another request directly it is working like below .
 Authorization: Bearer {{token.response.body.access_token}}
bit it is not working when i have passed like below
 Authorization: Bearer {{authtoken}}
response body for  token test case :
{
  "access_token": "XXXXXXXXXXX",
  "expires_in": XXXXX,
  "refresh_expires_in": XXXX,  "refre

[2020-01-13 09:32] Huachao commented on #476
@raleti123 what's the message displayed when you hover over the `{{token.response.body.access_token}}`, and are there any warning/error messages? Could you please also take a screenshot of you http file

[2020-01-13 09:49] raleti123 commented on #476
when ever i hover i can see the token value  ,
![image](https://user-images.githubusercontent.com/13975205/72245915-975fb100-3617-11ea-866c-55f59f212f18.png)

this is not working
![image](https://user-images.githubusercontent.com/13975205/72246148-1fde5180-3618-11ea-8e56-77c548b66e4f.png)

[2020-01-13 09:58] Huachao commented on #476
@raleti123 can you show me the file variable auth_token definition screenshot

[2020-01-13 10:24] raleti123 commented on #476
find below
![image](https://user-images.githubusercontent.com/13975205/72248340-ef4ce680-361c-11ea-9035-2d74d5ab01f8.png)

[2020-01-13 10:45] Huachao commented on #476
@raleti123 it seems that your extension version 0.18.3 is too old, the file variables can reference the request varaiables are supported in 0.20.0, so you can try to upgrade the extension.

[2020-01-13 11:12] raleti123 commented on #476
thank you , after upgrading  working fine . i am closing this issue.

[2020-01-13 11:12] #476 closed

[2020-01-13 14:28] Gabsii opened #477 "Use environment variables from different locations"
Hello,

first of all great extension! Only thing I find a bit annoying is that you have to put the `.env` file in the same folder as the `.http` files. This does not allow to structure the files within folders and can also lead to annoying redundancy if you have to edit two `.env` files (one in the root directory and another one in the folder with the HTTP requests).

[2020-01-13 16:17] kmokrzycki commented on #345
I have same issue  with the plugin where I cannot extract parts of the response into variables.
Is it at least possible to do the same in two steps ? e.g.
[code]

Thanks

[2020-01-13 19:08] mfulton26 opened #478 "DELETE confirmation"
Some people may accidentally run a `DELETE` request in a file which can be detrimental.

I suggest adding a confirmation pop-up for, at a minimum, DELETE requests. Probably something that can be turned off/on in settings maybe per method type or something that is done via an annotation on the request itself.

e.g.

[code]

[2020-01-13 19:42] mfulton26 opened #479 "Prompt for undefined variables"
I find for some HTTP requests I use I almost always use a unique value for a variable (e.g. `logId`, `sessionId`, etc.). I usually just change the variable in the file but I think it would be even nicer if I could get prompted in a pop-up/modal/dialog window for any undefined variables, they can default to the last used value but the first time it is used it could just be blank and allow me to ent

[2020-01-14 01:52] timkinnane opened #480 "Compute variables in JS"
For my use case, I need a `viewer` header to be encoded from `userId` that I have in environment variables. I can encode manually and add the encoded ID to the environment too, but that's doubling up.

I'd really like to generate the encoded variable with a JS or bash script when the request is sent. Is that possible?

[2020-01-14 09:46] Huachao commented on #479
@mfulton26 what do you mean undefined variables in our scope?

[2020-01-14 09:48] Huachao commented on #175
@bestswifter I think removing the duplicated requests doesn't make sense for **history**, we should record every request in history honestly.

[2020-01-14 09:48] #175 closed

[2020-01-14 09:53] Huachao commented on #407
@502647092 I can't repro this in vscode, and since I am using the official octicon, and the spin style is suggested by VSCode itself. So I'd like to close it.

[2020-01-14 09:53] #407 closed

[2020-01-14 09:57] Huachao commented on #223
@lastlink @tfnaylor I'd like to close it since I think single-line comments are enough for use. Since `#` and `//` should fix your case, and only `###` is request delimiter.

[2020-01-14 09:57] #223 closed

[2020-01-14 12:29] notpushkin opened #481 "Support port-only notation for localhost"
I. e. `:4000/foo` for `http://localhost:4000/foo` and `:/bar` for `http://localhost/bar` – [HTTPie does this](https://httpie.org/doc#url-shortcuts-for-localhost) and some (me :) find it very convenient.

Thank you for this awesome project BTW!

[2020-01-14 13:25] ricjhill commented on #448
Id also like this feature. When a request sent with generated data , its difficult to see exactly what was sent.

[2020-01-14 19:34] rohitkrishna094 opened #482 "How to pass Cookie header?"
Below is the postman image. I am passing Cookie as the header.

![image](https://user-images.githubusercontent.com/18495886/72375802-becb8200-36da-11ea-9f3a-e54ba0fabac5.png)

I tried doing this in rest client

[code]

The postman request works, but rest-client fails. In rest-client I am getting an error saying that cookie was not passed at all?

Note: someUrl is a validUrl.

[2020-01-14 20:17] timohayes commented on #389
@Huachao Is there any work-around for this issue when using client certs for rest calls?

[2020-01-14 23:36] AZ2Tonez opened #483 "Authorization with base64 string that has a space in it"
I'm trying to call an OAuth token endpoint with a Basic hash that has a space in it. This is what the request looks like:

[code]

Where SEC_HASH is an environment variable of the form "Basic xxxxxxxxx xxxxxxx" where the xxx parts are all a single base64 string (which happens to have a space in it). Is it possible it's getting interpreted as separate username/password strings instead of a single b

[2020-01-15 00:20] Huachao commented on #482
@rohitkrishna094 it's an known issue, and is already fixed. You can expect this can work in next release

[2020-01-15 00:20] #482 closed

[2020-01-15 00:58] pzelnip commented on #442
To add to this, not being able to use variables in request bodies is a dealbreaker.  We have saved requests where the request body contents differ by environment, so without the ability to define those values in environments, there's no way to use VSCode REST Client for those requests (whereas in say Postman, it's perfectly valid to use variables in request bodies).

[2020-01-15 01:10] Huachao commented on #483
@AZ2Tonez actually we support two forms of Basic auth syntax: one is the Base64 encoded `username:password` form like `Basic dXNlcm5hbWU6cGFzc3dvcmQ=`, the second form is put the username and password separately like `Basic username password`, and in this case, our extension will automaticlly do the base64 encode job. Your provided forms should match one one them

[2020-01-15 01:10] #483 closed

[2020-01-15 01:14] AZ2Tonez commented on #483
@Huachao I understand that. I am using the pre-encoded form, but am receiving the 400 mentioned (which works in curl outside the rest-client environment with the same string).

[2020-01-15 01:19] AZ2Tonez commented on #483
Didn't think of this before, but instead of pre-encoding, I tried using my app client id and client secret as username and password in the non-pre-encoded form and that worked. Apologies for overlooking this solution. Thanks for your assistance. 👍

[2020-01-15 03:19] Huachao commented on #442
@pzelnip my extension supports variables in request body, you can try it.  What the issue tracks is that my extension doesn't support variables in imported body file

[2020-01-15 07:54] Gabsii commented on #477
Symlinks can fix that issue

[2020-01-15 07:54] #477 closed

[2020-01-15 10:20] tuur29 opened #484 "Collapse all children in JSON response with modifier key"
Most REST clients like Postman, Insomnia and many other programs that contain tree structures (Like VSCode) allow you to collapse all the children of a node at the same time as the node itself when pressing a modifier key (VSCode uses shift). This would greatly improve the experience while inspecting large responses.

Example of code editor in VSCode:
![2020-01-15_11-18-55](https://user-images.git

[2020-01-15 14:43] rohitkrishna094 commented on #482
@Huachao Thanks for your prompt reply again. One last question, do you know when the next release is going to be?

[2020-01-15 17:47] gjoforte opened #485 "How do I use env variables?"
I'm sorry for the question but I haven't really figured out how to use the environment variables.

I have an "api.http" file with the requests, and a "env.http" file with the variables, but I can't make it work.

Can you please explain me how to do this?

Thanks

[2020-01-15 18:54] AZ2Tonez commented on #444
Gave a thumbs up, but also want to comment that I would love this feature as well. Would also like to be able to use it as part of CI script as mentioned in https://github.com/Huachao/vscode-restclient/pull/472.

[2020-01-15 19:10] pzelnip commented on #442
Ahh, my mistake, I was doing it wrong.  I had tried:

[code]
And was seeing `id_from_settings` in the body.  Shouldn't have that `$` in front, and then works.  Thanks for the clarification.

[2020-01-15 19:34] betancour commented on #471
Not working,

No value is resolved for given header name
[Response-1579116528753.txt](https://github.com/Huachao/vscode-restclient/files/4067105/Response-1579116528753.txt)

[2020-01-15 21:45] lincolnaleixo opened #486 "incorrect response downloading report from amazon advertising api"
- VSCode Version: Version: 1.41.1
- OS Version: mac OS 10.15.2
- REST Client Version: 0.23.0

Steps to Reproduce:

1. Tried to execute a curl or request to download a file from amazon advertising API

[code]

2. Got

[code]

3. I tried the exact same request on imsomnia , postman and terminal (using output to choose location). All previous works perfectly (imsomnia and postman I need to save the b

[2020-01-16 13:36] emgood commented on #485
hey Gjoforte,

You can add "rest-client.environmentVariables" to **Vscode user setting**  or to **Vscode workspace file** (".code-workspace")

1. For user setting: press ctr + shift + p      =>   open setting (JSON).
2. For workspace : File-> 'save workspace as'  or edit existing one.

In the Json file , under setting add the _restCleint.code-workspace_  env config.
after saving the file, please p

[2020-01-16 14:05] ashokayengar opened #487 "Similar to POSTMAN I should be able to Parse the API Response and Set into a Variable for my subsequent API Calls"

[2020-01-16 15:53] mirekphd opened #488 "consistent naming of vsix files"
Can you please name your vsix files consistently with the repo name (e.g. `restlicent` or `vscode-restclient`)? A good example would be here:
https://github.com/Azure/vscode-kubernetes-tools/releases

[2020-01-16 17:20] lukehmu commented on #477
Usually, we have a .env file in the root of our projects. We don't necessarily want to:
- Maintain multiple env files
- Keep our rest client (.http) files in the root of the project

Often we'd use this for API keys / usernames / passwords anyway, that our software is using, so it seems redundant to define them twice, they should be shared.

Would it be possible for a .http file to define where to

[2020-01-16 17:55] tomdavidson commented on #418
Is the use case of  {{$dotenv variableName}} in an environment variable value supported?

[2020-01-16 18:06] mattwaler commented on #418
@tomdavidson Yes, when the .env file and .http file are in the same directory this works as intended.

[2020-01-16 18:16] StoicPerlman commented on #487
@ashokayengar do you mean like this?

    # @name test
    POST https://httpbin.org/post
    Accept: application/json
    Content-Type: application/json

    {
        "foo": "foo",
        "bar": [1,2,3]
    }

    ###

    @origin = {{test.response.body.$.origin}}

    # @name whatever
    POST https://httpbin.org/post
    Accept: application/json
    Content-Type: application/json

    {

[2020-01-16 18:26] tomdavidson commented on #418
@mattwaler thanks, ill open up an issue then.

[2020-01-16 18:39] tomdavidson opened #489 "dotenv variables as environment variable value"
dotenv variables do not resolve when used as environment variable value.

- VSCode Version: 1.41.1
- OS Version:  kubuntu 19.10, 5.3.0-26
- REST Client Version:  0.23.0

Steps to Reproduce:
1. create a .env file and add variables such as `PASSWORD_PRODUCTION=TkVuZtnoeEPYr`
2. create an environment variable in the workspace settings.json that references the dotenv file such as `"password": "{{$dote

[2020-01-17 02:16] Huachao commented on #488
@mirekphd nice suggestion, however, the package name `rest-client` and author name `humao` are the identifier of an extension `humao.rest-client`, so if we update the package name, after updating will cause other upgrade issues.

[2020-01-17 02:16] #488 closed

[2020-01-17 02:24] Huachao commented on #487
@ashokayengar I think [Request Variables](https://github.com/Huachao/vscode-restclient#request-variables) fits your case.

[2020-01-17 02:24] #487 closed

[2020-01-17 03:28] Huachao commented on #485
@emgood thanks for your reply, @gjoforte you can follow the instructions from @emgood

[2020-01-17 03:28] #485 closed

[2020-01-17 03:34] Huachao commented on #345
@kmokrzycki actually I still prefer achieving this in only one step, that means JSONPath can support regex

[2020-01-17 03:43] ashokayengar commented on #487
Yes this is the scenario.. request variable cannot fit in this case..

If there is a mechanism to parse the response body as you suggested if it
will good to add to the documentation

On Thu, 16 Jan, 2020, 11:46 PM Sam Kleiner, <notifications@github.com>
wrote:

[2020-01-17 03:53] Huachao commented on #487
@ashokayengar we currently support creating variables based on parsing the JSON response with JSONPath and XML response with XPath. Could you please add more details about what it can't fit in your case.

[2020-01-17 03:59] ashokayengar commented on #487
If that's the case it works for me however did not find documentation
around it and hence wondering whether it is possible of not. Could you
point to the documentation please.

On Fri, 17 Jan, 2020, 9:23 AM Huachao Mao, <notifications@github.com> wrote:

[2020-01-17 04:01] Huachao commented on #487
@ashokayengar https://github.com/Huachao/vscode-restclient#request-variables

[2020-01-17 04:10] nitinmahajan10 opened #490 "One SendRequest makes multiple API calls"
Version: 1.41.1 (system setup)
Date: 2019-12-18T14:58:56.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0 V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

- REST Client Version:  0.23.0

**Steps to Reproduce:**
1. Define the Rest API request in "Request.rest" file
@authToken = ----AAD user Id Token Value----
@hostUrl = http://localhost:7071
get {{hostUrl}}/api/GetUserResources
co

[2020-01-17 04:57] Huachao commented on #486
@lincolnaleixo could you please provide the output with `curl -v` for the above successful request?

[2020-01-17 04:59] Huachao commented on #489
@tomdavidson do you mean support dotenv variables in extension environment variables?

[2020-01-17 05:20] tomdavidson commented on #489
Yes, that is what I meant in step #2. If that is not the intended design, then this would be a feature request and not a bug. I attempted to clarify in #418.

[2020-01-17 05:26] Huachao commented on #490
@nitinmahajan10 it seems doesn't possible for me. Did you Azure function app will return 3XX or 401 response? You can set the `rest-client.followredirect` to `false` to verify if redirection happens

[2020-01-17 05:27] Huachao commented on #489
@tomdavidson I think this is a feature request and I've already added the `feature request` label on the issue.

[2020-01-17 10:02] Huachao commented on #484
@tuur29 I have fixed the issue and will be published in next release.

[2020-01-17 10:02] #484 closed

[2020-01-17 20:26] saurus commented on #444
Thanks @AZ2Tonez,

BTW, I want to clarify that my pull request was mostly a proof of concept, and not intended to be merged as is.

But I hoped that my pull request can be a starting point to talk about this feature. If maybe @Huachao  can tell us what he thinks about this topic, I can help coding things in an acceptable way.

[2020-01-17 21:22] jrussellsmyth commented on #345
@Huachao   Would be extremely useful to be able to use regex to extract parts of any response value, not just json - @kmokrzycki example is a plain header. I need exactly this for testing oauth flows, where we must extract the code value from a location header to submit a following request:

Location:http://host/path?code=NEED_THIS_VALUE_FOR_NEX_REQUEST

@value = {{response.header.location.match(/

[2020-01-19 06:45] nitinmahajan10 commented on #490
@Huachao thanks for quick response. I checked the behavior is when response is "500 Internal Server Error" or returning this:
return new ExceptionResult(ex, true);

This happens even after setting :
"rest-client.followredirect": false

[2020-01-19 14:01] wwek commented on #475
Badly need this

[2020-01-20 02:22] Huachao commented on #490
@nitinmahajan10 do you mean no matter enable redirection or not, click `Send Request` once will always hit your Azure Function App three times? And if so, what's the response of each call at the server side？

[2020-01-20 11:22] maiorfi opened #491 "Any way to dump variables?"
It would be great to be able to print variable content for debugging purposes. Maybe it is possible right now...but I do not know how.

Thanks!

[2020-01-20 11:28] maiorfi opened #492 "Execute all requests in a file"
Is there a way to run all requests contained in same file in sequence? This would be super-useful for scenarios where one has to consume APIs following a "cascade" pattern.

Thanks.

[2020-01-20 17:52] murrayju opened #493 "Add support for text/event-stream"
It would be great to have support for [Server Sent Events (SSE)](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events). Such APIs respond with a content type of `text/event-stream`, which is a simple text format for the server to emit data to the client.

The biggest difference between this and other types of requests is that the response stays open indefini

[2020-01-20 17:56] swiffer commented on #465
@Huachao Thanks! It would be really nice to have a fixed version released, downgraded to 0.22.2 temporary. (see #482 for same problem)

[2020-01-21 01:04] Huachao commented on #492
Duplicate of #444

[2020-01-21 01:04] #492 closed

[2020-01-21 01:46] brentahughes commented on #490
I'm getting the same behavior. If my rest service returns a 500 it will attempt 3 times before returning the response. If the response is a 200 it only makes a single call.

It seems as if there is some error handling to automatically retry the request up to 3 times. If this is the case then a setting to disable or set the number of retries would be nice.

[2020-01-21 01:49] brentahughes commented on #490
Looks like this is coming from https://github.com/Huachao/vscode-restclient/blob/d47bc090d69fdc3b751b0faa7c2eedfd81f47a3f/src/views/httpResponseTextDocumentView.ts#L60

It's hardcoded to retry twice on EOL

[2020-01-21 02:27] Huachao commented on #490
@brentahughes @nitinmahajan10  the root cause is that the underlying httpclient package `got` will automatically retry on specific response status codes. I have fixed this issue and will be published in the next release.

[2020-01-21 02:27] #490 closed

[2020-01-21 03:55] Huachao commented on #493
@murrayju nice suggestion, I will add this to the backlog

[2020-01-21 05:31] Huachao commented on #450
@SimonDever @bendem @katagaStyle @gustavoveronese I have published the latest version 0.23.1 and you can verify it.

[2020-01-21 05:33] Huachao commented on #456
@thilong I have published the latest version 0.23.1 and you can verify the fix.

[2020-01-21 05:40] Huachao commented on #322
@lihuanshuai @borekb @pranayrauthu I have published this in the latest release 0.23.1 and you can verify it with the following syntax.

[2020-01-21 05:41] Huachao commented on #461
@Stadly you can try this in the latest version 0.23.1

[2020-01-21 05:42] Huachao commented on #464
@hydrz this issue has been fixed in the latest version 0.23.1 and you can verify it

[2020-01-21 05:43] Huachao commented on #465
@swiffer I have fixed this issue in the latest version 0.23.1 and you can verify it.

[2020-01-21 05:43] Huachao commented on #463
@gritcsenko I have published a new version 0.23.1, and does this issue still exists?

[2020-01-21 05:44] Huachao commented on #470
@Krytical13 I have published the latest version 0.23.1 and you can verify it.

[2020-01-21 05:44] Huachao commented on #484
@tuur29 I have published the latest version 0.23.1 and you can verify it with the `Shift` modifier key

[2020-01-21 05:45] Huachao commented on #490
@brentahughes @nitinmahajan10 you can verify this in the latest version 0.23.1

[2020-01-21 05:45] gritcsenko commented on #463
@Huachao No issues so far. Thanks for the update.

[2020-01-21 08:11] tuur29 commented on #484
Yes, it works! Thanks for implementing this 😄

[2020-01-21 08:42] Stadly commented on #461
It's working :)

[2020-01-22 04:58] swhillance-mphn commented on #444
Would love this feature as well. I only discovered this extension today and I've already got a need for such a feature. Using request variables too

[2020-01-22 16:48] sssimha opened #494 "Chaining Variable Definition"
Not sure if this is reported in another form, but could not find something pre-existing in the issues easily. Could we potentially get support for chaining variable definitions?

Eg:
If I define a couple of variables in my environment as:
[code]

and I use the `oauth_endpoint` in my request, what I'm hoping gets used is `https://my.site/web_svcs/oauth/token`, however, what get's used is `{{rest_ro

[2020-01-24 10:00] dc-avasilev opened #495 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `rest-client`
- Extension Version: `0.23.1`
- OS Version: `Darwin x64 19.2.0`
- VSCode version: `1.41.1`
[humao.rest-client-unresponsive.cpuprofile.txt](https://pastebin.com/04FezN1L)

[2020-01-24 10:48] NearlyUnique commented on #479
I think I have a similar user case.

I use our own apis for a lot of diagnostics against our system. So I might en up with a customer or product id and need to make queries for that but the customer or product id will change almost every time I make the query

so given

[code]

How would we elegantly allow the system to (probably prompt) for the unknown value `customer_id` per request (or at least

[2020-01-24 18:42] betancour opened #498 "Help with Xpath"
Last time, you explain how to get the internal variable, but didn't work.
I am going to put the original response and where the token lays.

[code]
Reference
Incorrect request variable reference syntax, it should be "variableName.(response|request).(headers|body).(headerName|JSONPath|XPath|*)"

Using a Xpath tool to get the variable
//soap-env:Envelope/soap-env:Header/wsse:Security/wsse:BinarySecu

[2020-01-27 20:57] Ashthos commented on #332
@Huachao I think this issue may have regressed.

v0.23.1 of REST Client
c1.41.1 VS Code.
Windows 10x64

Fails:

[code]

my-file.png is in the same directory as the script file. Content-Length submitted to the server correctly reflects this (hence the file has been located and can be read), however the file is never transmitted/it hangs forever (with the "Waiting" in the bar.

Removing the file com

[2020-01-28 02:11] Huachao commented on #332
@Ashthos I can't repro this. Could you please check your server side?

[2020-01-28 03:19] sonoftheweb opened #499 "Request 'claim' has not been sent"
- VSCode Version: 1.41.1
- OS Version: Ubuntu 19.10
- REST Client Version: 0.23.1

Steps to Reproduce:

1. Create a GET request

[code]
This would return some data like so:
[code]

2. Create a new request using the response from the previous request

[code]
Hover on the variable `@uudi = {{claim.response.body.$.data.uuid}}` and we find this pops up:

`Request 'claim' has not been sent`.

Also the

[2020-01-28 15:09] Huachao commented on #499
@sonoftheweb the `###` is used as the request block separator, no used for defining request variable. The correct syntax should be following,
[code]

[2020-01-28 15:09] #499 closed

[2020-01-28 16:50] Ashthos commented on #332
Hi @Huachao,

My humble apologies, it was an error in my request composition that was causing the problem.  I'll document it here so that others hopefully do not fall into the same trap.

The RFC on multipart/form (https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html) states the BNF form of the boundary to be:

boundary := 0*69<bchars> bcharsnospace
delimiter := CRLF "--" boundary
close-delimit

[2020-01-29 02:22] sonoftheweb commented on #499
Seems like I keep having issues with implementation. I just got home and decided to try something:

[code]

{{login.response.body.token.access_token}} says "Only JSON and XML response/request body is supported to query the result"

[2020-01-29 07:56] katagaStyle opened #500 "excludeHostsForProxy issue"
Seems that excludeHostsForProxy isn't working wit 0.23.1.
Rolled back to 0.22.2 and everything works fine.

[2020-01-29 15:52] betancour commented on #498
Thanks so much @Huachao , I really adore this plugin and using it in rest services is marvelous.

[2020-01-30 08:16] soulchainer opened #501 "Can't get GraphQl queries working"
I tried several times, with several options and I can't get GraphQl queries working.
REST works just fine.

I created a `gql.http` file similar to this:

[code]

I always get something like this:

[code]

Am I doing something obvious wrongly and I'm not seeing it or what?
I tried passing directly the values in the query also, same result.
I'm using an alias in `/etc/hosts` for `127.0.0.1` (I creat

[2020-01-30 08:40] pke opened #502 "Redirect 303 wants to use port of original request"
- VSCode Version: 1.41.1
- OS Version: Windows 8.1
- REST Client Version: 0.23.1

Steps to Reproduce:

1. GET http://localhost:3000
2. This request returns 303 with a location header set to: `Location: https://www.google.com/search?q=whats%2042`
3. REST client seems to resolve the google IP and tries to connect to it using the port `3000` from the initial request
```Please check your networking co

[2020-01-30 12:46] e14mattc commented on #500
Thanks for posting this.. I've been working with this extension over the past day and noticed it can't call out through the proxy I've got set up in VSC (which contains authentication in the form of http://user:pass@proxy:8080). Yet if I roll back to 0.22.2 everything works fine!

I'd not have realised you could do that if you hadn't have posted!

Looks like the issues are related.

[2020-01-30 16:31] Huachao commented on #502
@pke nice catch, I will publish this fix in the next release.

[2020-01-30 16:31] #502 closed

[2020-01-30 16:41] Huachao commented on #501
@soulchainer how about setting the `Content-Type` header in request to `application/json`

[2020-01-31 02:51] Huachao commented on #499
@sonoftheweb sure

[2020-01-31 08:24] XobSod opened #503 "Any chances of adding some kind of post-processing?"
Hi,
On the beginning I just want to say that this is one great tool you have here ;)
I have question, have you thought about adding some kind of post-processing mechanism? I am using this tool for debugging rest service, and to do this I have to send request and read response, but I am not interested in whole response, but particular part of it, sometimes even one line of it. And each time I have

[2020-01-31 10:45] KwalityKoder opened #504 "Http Header Accept */* causes rest of file to be formatted as a comment"
- VSCode Version: 1.41.1
- OS Version: Win 10 x64
- REST Client Version: v0.23.1

Steps to Reproduce:

1. Create a request which has an `Accept: */*` header.
2. All text following the `/*` bit appears in green like a comment

[2020-01-31 10:54] KwalityKoder opened #505 "Cannot split URLs over multiple lines when they are embedded in an Odata batch request."
- VSCode Version: 1.41.1
- OS Version: Win 10 x64
- REST Client Version: v0.23.1

Steps to Reproduce:

1. Create an Odata batch request with Odata URLs in the body.
2. Split the URLs on the query parameter delimiters & and ? to improve readability
3. The request fails
4. Reformat the URL back to a single (unreadable line)
5. The request succeeds.

**SUCCEEDS**

`--batch_6b1f539a-b4d4-4225-9ea4-dfb

[2020-01-31 11:04] Huachao commented on #504
I can't repro your case, could you please take a screenshot?

[2020-01-31 11:05] Huachao commented on #504
I can't repro your case, could you please take a screenshot?

[2020-01-31 11:15] Huachao commented on #505
@KwalityKoder can you succeed by removing the trailing HTTP/1.1 in the last query string line?

[2020-01-31 11:31] KwalityKoder opened #506 "Can we extend multiple line formatting for other characters as well as ? and $"
Trying to make sense of complex Odata queries when they are a single line URL is virtually impossible.

The superb VS Code rest client alleviates this to some extent, by letting the user split the request over multiple lines, where there are query parameters i.e. ? and &.

It would be great if this feature could be extended to break on other characters used in Odata queries, e.g. =, $, / and (), s

[2020-01-31 14:01] SirMossi commented on #338
Version 0.23.1

Same problem when calling "send request"

[2020-01-31 15:17] KwalityKoder commented on #505
No - makes no difference.

[2020-01-31 15:24] KwalityKoder commented on #504
Hmmm. As a workaround I switched from */* to accept: application/xml.
Now I've switched back to */* and it's working fine.
Can only assume the editor has to be in a certain state for this to happen.
Feel free to close this bug.
If I can find out the additional steps to get a repro, I'll raise a new bug.

[2020-01-31 16:30] #504 closed

[2020-01-31 16:31] Huachao commented on #338
@SirMossi Can you paste your request

[2020-01-31 16:51] Huachao commented on #505
@KwalityKoder the embedded multiline query string is not supported

[2020-01-31 16:53] #505 closed

[2020-01-31 21:01] tupini07 commented on #503
I also agree it would be great to be able to apply arbitrary modifications on a response. For instance, I sometimes find myself in the need of getting some data from an endpoint, encode it with base64, and then forward it to another endpoint.

[2020-02-02 16:37] Huachao commented on #500
@katagaStyle @e14mattc did you set the setting `http.proxySupport`

[2020-02-03 09:55] soulchainer commented on #501
First of all, thanks for your time, @Huachao :).

Well, now I can't even get to that point (with the previous `Content-Type` or the `application/json`), because I hit this error:

[code]

![Captura de pantalla de 2020-02-03 10-54-38](https://user-images.githubusercontent.com/169524/73643403-b9c37800-4673-11ea-8243-50a3ee5f8857.png)

[2020-02-03 10:04] Huachao commented on #501
@soulchainer did you mean if you revert back to `Content-Type: application/x-www-form-urlencoded` the error is still the same as following.

  "errors": [
    {
      "message": "GraphQL Request must include at least one of those two parameters: \"query\" or \"queryId\"",
      "category": "request"
    }
  ]
}

[2020-02-03 11:42] soulchainer commented on #501
No, @Huachao. I mean that it doesn't matter which of these `Content-Type` I chose, because I get now that `write EPROTO` error always. So it doesn't do anything more, it doesn't even get to the part where a response an `errors` response is returned.

[2020-02-03 12:34] e14mattc commented on #500
I've turned that off via VSC settings, and updated to 0.23.1 & it's unable to proxy out to the API I'm using. Rolled back to 0.22.2, but kept http.proxySupport = off & it works.

[2020-02-03 15:28] Huachao commented on #500
@e14mattc can you confirm that after rollback to 0.22.2 and the `http.proxySupport` is `off`, the auth mechanism passed and the 0.23.1 failed at the **auth** step?

[2020-02-03 16:02] Huachao commented on #501
@soulchainer your request protocol is http not https, so the ssl error confused with me

[2020-02-03 16:02] Huachao commented on #501
@soulchainer your request protocol is http not https, so the ssl error confused with me

[2020-02-03 19:09] sstoychev opened #507 "Cookie header not respected"
- VSCode Version:
Version: 1.42.0-insider (user setup)
Commit: 705f01577dd37d6f17eaa683ab89b0c392fa1a7c
Date: 2020-02-03T14:02:55.075Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

Version: 1.41.1 (system setup)
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:58:56.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.

[2020-02-04 07:13] soulchainer commented on #501
@Huachao is the protocol where our local GraphQl is running on.
Anyways... I did nothing (well, I just updated today, like each morning, my system, `sudo apt-get update && sudo apt-get upgrade`) and it started to work out of the blue.

Thanks for your time again, @Huachao. And for this awesome extension :). I'm closing this now, as the problem is solved at the moment.

Special note, just in case:

[2020-02-04 07:13] #501 closed

[2020-02-04 18:13] Huachao commented on #507
@sstoychev this will be fixed in the next release.

[2020-02-04 18:13] #507 closed

[2020-02-05 00:25] TheDanishDynamo opened #508 "Send/Cancel/Rerun HTTP request in editor and view response in a separate pane with syntax highlight"
Issue Type: <b>Bug</b>

1) create new file dog.http
2) Paste this GET https://dog.ceo/api/breeds/image/random
3) Click api/breeds/image/random in OUTLINE pane

Note: Nothing happens

Extension version: 0.23.1
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|

[2020-02-05 01:19] Huachao commented on #508
Don't click the url itself, click the `Send Request` link above the URL

[2020-02-05 01:26] TheDanishDynamo commented on #508
No send anymore

Sent from ProtonMail mobile

-------- Original Message --------
On Feb 4, 2020, 8:19 PM, Huachao Mao wrote:

[2020-02-05 01:59] Huachao commented on #508
@TheDanishDynamo Do you mean the extension works previously?

[2020-02-05 02:12] TheDanishDynamo commented on #508
Only crtl alt r works there is no send link, also in your documentation there are no send above the get url

Sent from ProtonMail mobile

-------- Original Message --------
On Feb 4, 2020, 8:59 PM, Huachao Mao wrote:

[2020-02-05 02:51] Huachao commented on #508
@TheDanishDynamo what's your setting for `rest-client.enableSendRequestCodeLens`, it should be `true`.

[2020-02-05 06:03] hashinclude72 commented on #460
is anyone working on it??

[2020-02-05 06:08] hashinclude72 commented on #127
hi @ferronrsmith, could you please add graphql fragment support also

[2020-02-05 07:12] heavenkiller2018 commented on #360
the feature of history response record is very useful!
and  it would be fantastic either response or request could be viewed together! at present , only  response could be seen.

[2020-02-05 12:26] suchy opened #509 "Can't set any headers"
- VSCode Version:  1.41.1
- OS Version: Mac os Mojave 10.14.6
- REST Client Version: 0.23.1

Example http file:

[code]
Hi, when I'm trying to send this request I'm getting error: `Method must be a valid HTTP token ["CONTENT-TYPE:"]`. I'm not sure what I'm doing wrong. It also happens when trying to set any other header. Thanks ;-)

[2020-02-05 14:04] gajomon opened #510 "Can't send a boolean parameter in the body of a requisition"
- VSCode Version: 1.41.1
- OS Version: Windows 7
- REST Client Version: 0.23.1

Steps to Reproduce:

1. I have an attribute in a model of my database that has a boolean value, and I have routes to update this field in my database, but when I try to send this change through the body of the requisition it gives me an error in JSON. I have used Insomnia to test this API too, and there it works fine,

[2020-02-05 14:26] TheDanishDynamo commented on #508
"rest-client.enableSendRequestCodeLens": true

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, February 4, 2020 9:51 PM, Huachao Mao <notifications@github.com> wrote:

[2020-02-05 14:36] Huachao commented on #509
@suchy headers must be written after the request url according to RFC

[2020-02-05 14:36] #509 closed

[2020-02-05 14:39] Huachao commented on #510
@gajomon your request body is not a valid JSON, you should remove the trailing comma after `true`

[2020-02-05 14:40] TheDanishDynamo commented on #508
Turning on Code Lens makes it work, however I don't want code lens

[2020-02-05 14:40] #510 closed

[2020-02-05 14:43] Huachao commented on #508
@TheDanishDynamo So I am confused about what actually you want, could you please describe the issue more clearly including the issue title

[2020-02-05 14:46] TheDanishDynamo commented on #508
Issue: Turning off code lens makes the Send Request disappear in rest-client extension.
Expected behavior: Turning off code lens SHALL NOT make the Send Request disappear in rest-client extension.

[2020-02-05 15:00] gajomon commented on #510
Ok, I'll try this

[2020-02-05 15:54] Huachao commented on #508
@TheDanishDynamo this is an expected behavior not a bug since `Send Request` link is implemented with VSCode CodeLens feature. So they are the same thing.

[2020-02-05 15:54] #508 closed

[2020-02-06 13:29] gajomon commented on #510
It worked, thanks!! I was using Insomnia to make this request, but honestly I prefer your REST Client because it is right in VS Code. :+1: :100:

[2020-02-06 20:38] mchelen opened #511 "Evaluate {{$processEnv}} in settings.json"
It would be great if it were possible to use `{{$processEnv}}` in `settings.json` and have their output evaluated. For example:

`settings.json`
[code]

`elasticsearch.http`
[code]

There is the `{{$processEnv [%]envVarName}}` but that does not allow a hardcoded value to exist for some environments, while reading an environment variable for others.

[2020-02-06 20:46] mchelen opened #512 "Add [%]envVarName option to {{$dotenv}}"
It would be great if it were possible to use an `[%]envVarName` option with `{{dotenv}}` in the same way that `{{$processEnv}} [%]envVarName` works. This would allow `.env` files to include values for multiple REST Client environments.

For example:

`settings.json`
[code]

`.env`
[code]

`elasticsearch.http`
[code]

[2020-02-07 15:47] dakaraphi commented on #490
@Huachao This update has broken my usage of the REST Client.  I'm not exactly sure which change broke, but I suspect this one.  There are a lot of redirects that happen on login attempt and now I can't successfully login after this update.

If there is some logging I can enable on the Rest Client or something, maybe I could be more specific.

[2020-02-07 15:50] Huachao commented on #490
@dakaraphi you mean a lot of redirects happened in the login API? Are there any redirected URLs contains port number in it?

[2020-02-07 15:57] dakaraphi commented on #490
I honestly don't know exactly what is happening.  I'm just aware that redirects are sometimes used.  It is not an area of code I work on, so I'm going to have to figure out a way to debug the problem.  It will not be easy from the server side as it is very complex, so I was hoping there was some way of logging in more detail what is happening with the client.

[2020-02-07 16:06] Huachao commented on #490
@dakaraphi can you try if this version of extension works, you need to install it in the `Extensions` sidebar, and Click the `...` and the `Install from VSIX` option. Note, you need to first remove the trailing `.txt` text in the file name.

[rest-client-0.23.1.vsix.txt](https://github.com/Huachao/vscode-restclient/files/4171764/rest-client-0.23.1.vsix.txt)

[2020-02-07 16:16] dakaraphi commented on #490
It does not work.  So must be some other change.  I will create a new issue.

[2020-02-07 16:19] dakaraphi opened #513 "Unable to login to server with 0.23.1 update"
- VSCode Version: 1.42.0
- OS Version: osx 10.14.6
- REST Client Version: 0.23.1

Steps to Reproduce:

I attempt to login to my server, but it continues to request authorization.

I reinstalled 0.23.0 and login is successful.
I'm not sure what change is causing an issue yet.

[2020-02-07 16:23] dakaraphi commented on #513
So another hint, it might be session or cookie related.
The difference in behavior occurs after the login attempt.
So, I hit the login URL, and the response seems to be the same as 0.23.0
Now, when I hit a second URL on the server, 0.23.1 results in getting a response back that I'm not logged in.

[2020-02-07 16:32] Huachao commented on #513
@dakaraphi I really did some change in the cookieJar, and what do you mean the second URL? And do you have `Cookie` header in your URL?

[2020-02-07 16:50] Huachao commented on #513
@dakaraphi Maybe the bug occurs that on the redirection the outgoing request headers don't contain the previously received cookies.

[2020-02-07 16:57] dakaraphi commented on #513
So, I was incorrect about the login URL.  I am getting a different response back from the server.
I have a login URL like

`{{host}}{{context}}/j_security_check?j_username={{username}}&j_password={{password}}`

This is the response shown in the result with `0.23.0`
[code]

This is the response shown in the result with `0.23.1`

[code]

[2020-02-07 17:00] Huachao commented on #513
@dakaraphi since multiple redirections happen in the full login flow, is this response you pasted the first response with 3XX and how did you get this response

[2020-02-07 17:05] Huachao commented on #513
@dakaraphi I guess the root cause is that when I call the redirected URL, the request doesn't carry the cookies stored in cookieJar

[2020-02-07 17:28] bzvestey opened #514 "JSON strings from settings can't be inserted as a string into the request."
- VSCode Version: 1.41.1
- OS Version: MacOS 10.14.5
- REST Client Version:0.23.1

Steps to Reproduce:

1. Add a json string to the settings file
[code]
2. Use it as a variable in a graphql request
[code]
3. Get an error about "Unexpected token d in JSON".

This seems to be an issue with preparing the request to send, and the host does not need to be valid for it to error out.  If I remove the quo

[2020-02-07 17:29] dakaraphi commented on #513
That response came from the response shown in VSCode window using the REST Client

[2020-02-08 13:07] mfulton26 commented on #479
yes, as @NearlyUnique describes it, I haven't placed `@foo=bar` anywhere but I'm using `{{foo}}` and it gets serialized over HTTP as `undefined` (or maybe the empty string, I don't recall at the moment)

instead of silently sending the request using an undefined variable I'd rather get prompted for what value to use in the request

[2020-02-10 00:53] w3cfed opened #515 "restclient 有 webstrom 版本的插件么？"
restclient 有 webstrom 版本的插件么？正在寻求 webstrom 相应插件。

[2020-02-10 06:51] TOBACCOCN opened #516 "Improper lowercase handling"
Issue Type: <b>Bug</b>

The REST Client extension makes word in header to lowercase when I send http request, I thought it is not necessary. And that make program in server run out error.

Extension version: 0.23.1
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|

[2020-02-10 08:31] Huachao commented on #515
@w3cfed you can check out this documentation https://www.jetbrains.com/help/webstorm/http-client-in-product-code-editor.html

[2020-02-10 08:31] #515 closed

[2020-02-10 08:36] Huachao commented on #516
@TOBACCOCN since this is done by Node.js internally (which VSCode extensions depend on) and it follows the RFC spec `http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html`.

[2020-02-10 08:36] #516 closed

[2020-02-10 08:56] Chris2011 opened #517 "Textmate lexer file is invalid"
- VSCode Version: -
- OS Version: Windows [Version 10.0.18363.592]
- REST Client Version: -

Steps to Reproduce:

1. Go to this site: https://www.liquid-technologies.com/online-xml-validator
2. Paste the code from your textmate file https://github.com/Huachao/vscode-restclient/blob/master/syntaxes/http.tmLanguage and hit validate.
3. Problem is this line: **\<string\>^\s\*(?=\\\<\S)\</string\>**

[2020-02-10 11:06] juergenzimmermann opened #518 "Request body with json5"
_JSON5_ https://json5.org supports files with extension `.json5` and contents pretty close to  _ECMAScript 5.1_, e.g. for keys you can use an _identifier name_ instead of strings or your can use _single quotes_ or ...
It would be nice if restclient would consider the file extension .json5 for request body and then allow the respective syntax features.

[2020-02-10 12:02] slotakonrad commented on #179
Is this proposed option is planned to implement in the future?
What are the barriers to overcome?

[2020-02-10 16:21] TimCoates commented on #480
I'd like something similar. During an Authentication process I get a redirect to https://url?code=[a value I need to use later]&redirect_uri=https://something&state=123  I can get the Location: header really but need to be able to do some manipulation on the value to strip out the value of the 'code' query parameter of it.

[2020-02-11 03:23] Huachao commented on #517
@Chris2011 nice catch, I guess VSCode internally transforms textmate files to its JSON format.

[2020-02-11 03:23] #517 closed

[2020-02-11 23:11] sduff opened #519 "Allow Variables in < input"
When including an external file via the < input, once can not include a variable.

[code]

My use-case is that I define a filename once at the top of the file, and then this file can be used and uploaded in multiple requests. Right now, I need to manually update the filename in each request.

[2020-02-11 23:53] MacThanos commented on #485
hi all,
how does it know which environment you are running in? e.g "local" or "production".
Where do you set this?

Thanks

[2020-02-12 00:01] MacThanos commented on #485
oh I found the it in the documentation. thank you for this great extension Huacho.

"Currently, active environment's name is displayed at the right bottom of Visual Studio Code, when you click it, you can switch environment in the pop-up list. "

[2020-02-12 01:52] Huachao commented on #519
@sduff I can't repro your issue since in my code, resolving variables happen before parsing http request text

[2020-02-12 03:07] murrayju opened #520 "Setting rememberCookiesForSubsequentRequests to false continues to use prior cookies"
- VSCode Version: 1.42.0
- OS Version: Darwin x64 19.3.0
- REST Client Version: 0.23.1

Steps to Reproduce:

1. Start with `rememberCookiesForSubsequentRequests` set to `true`
2. Make some request to a server that responds with Set-Cookie
3. Change `rememberCookiesForSubsequentRequests` to `false`
4. Make a request to the same server

Expected: cookies are not sent in request headers

Actual: cook

[2020-02-12 03:08] sduff commented on #519
Yes, this is a feature request.

[2020-02-12 03:27] Huachao commented on #519
@sduff I think we already provided this feature, didn't it work at your side?

[2020-02-12 03:29] Huachao commented on #520
@murrayju this is the same reason as in #507, I already fix it and will publish it in the upcoming release.

[2020-02-12 03:29] #520 closed

[2020-02-12 03:42] sduff commented on #519
No, it didn't work for me. Code I was using was as per the example.

[2020-02-12 03:43] Huachao commented on #519
@sduff remove the __"__ around the file name, and make sure the file exists in the workspace. And how do you verify that it's not working as expected.

[2020-02-12 05:06] sduff commented on #519
Works awesome, sorry for raising as issue about this. Thanks for the awesome app!

[2020-02-12 05:06] #519 closed

[2020-02-12 07:54] Huachao commented on #482
@rohitkrishna094 you can already experience this in version 0.23.1

[2020-02-12 08:19] Huachao commented on #513
@dakaraphi I think I have fixed this issue, can you please try this version as before,
[rest-client-0.23.1.vsix.txt](https://github.com/Huachao/vscode-restclient/files/4190615/rest-client-0.23.1.vsix.txt)

[2020-02-12 08:28] Maximus1285 opened #521 "JavaScript code evaluation"
It'd be nice to have the option of including JS code snippets to be resolved when sending the request

[2020-02-12 12:15] katagaStyle opened #522 "Client network socket disconnected before secure TLS connection was established"
I'm trying to establish an https connection. The connection fails with following error message:

Any ideas?

[2020-02-12 12:43] DumpySquare commented on #265
Adding another vote for this one.  Could use a lot more visibility when stringing requests/variables together, including connection details.

[2020-02-12 12:52] heneds opened #523 "Connection is being rejected for localhost"
Expectation: If I specify "localhost" in the host address the request should not change to "127.0.0.1".

Some web servers (in this case II Express) do not recognize 127.0.0.1. The server gets the request but is not be able to map against the correct web application.

Symptom:

See also #122

Steps to Reproduce:

1. Run a web app from Visual Studio using IIS Express and http
2. Any REST Client requ

[2020-02-12 15:41] Huachao commented on #522
@katagaStyle did you have proxy and can you succeed in previous versions?

[2020-02-12 15:46] Melliano opened #524 "Repeat a request X amount of times every X seconds"
Unsure if this is possible currently, but I am happy to be shown how if otherwise.

But if we could repeat a certain Request with a variable of X times and even every X seconds. That would be fantastic for checking performance of certain endpoint.

On top of that would it even be possible to perform concurrent HTTP requests to the same endpoint?

[2020-02-12 18:04] dakaraphi commented on #513
@Huachao unfortunately it still does not work

[2020-02-13 01:32] Huachao commented on #513
@dakaraphi could you please provide more details about your request, like if `Cookie` headers exists and your setting for `rest-client.rememberCookiesForSubsequentRequests`

[2020-02-13 02:29] Huachao commented on #513
@dakaraphi could you please provide more details about your request, like if `Cookie` headers exist and your setting for `rest-client.rememberCookiesForSubsequentRequests? And how many redirections happen, and what's the request flow direction, like from site A to site B and finally site C? Also can you also paste the response as previously?

[2020-02-13 06:46] Huachao commented on #513
@dakaraphi Please help to verify this version too which removes all the cookies related work in since version 0.23.0
[rest-client-0.23.1.vsix.txt](https://github.com/Huachao/vscode-restclient/files/4196850/rest-client-0.23.1.vsix.txt)

[2020-02-13 18:20] dakaraphi commented on #513
The version you posted still does not work.
`rest-client.rememberCookiesForSubsequentRequests` is set `true`

Could you point me to the REST client code I should try to debug?  I will try to see if I can see the problem.

[2020-02-13 20:23] ZefQ commented on #498
Maybe you can try something like this.

@token = {{SessionCreateRQ.response.body./*[local-name()='Envelope']/*[local-name()='Header']/*[local-name()='Security']//*[local-name()='BinarySecurityToken']}}

Found this one that helped me at least https://stackoverflow.com/a/5239991

[2020-02-14 01:37] Huachao commented on #513
@dakaraphi if still not working, I think it's maybe not related to cookie jar. Previously I think the most possible code piece exsits in `httpClient.ts`. Especially the `preprareOptions` method https://github.com/Huachao/vscode-restclient/blob/32899a0e9f4cce0117b55973950027a632dda7d6/src/utils/httpClient.ts#L110

Thanks for you to help me to investigate the root cause 😄

[2020-02-14 02:07] Huachao commented on #498
@ZefQ @betancour nice workaround.

[2020-02-14 11:38] Stadly commented on #498
Namespace support would be great!

[2020-02-14 12:06] betancour commented on #498
It works, thanks so much...

[2020-02-14 14:14] Huachao commented on #498
@Stadly sure, I will leave this issue open

[2020-02-14 14:22] betancour commented on #498
Thanks so much,

@ZefQ  and @Huachao

Excellent support. appreciate so much the help...

[2020-02-16 06:15] cooliean opened #525 "希望可以像WebStorm中的Rest Client那样可以设置全局变量"
https://www.jetbrains.com/help/idea/http-client-in-product-code-editor.html#using-response-handler-scripts

这样设置有，就可以分文件了 ：），谢谢了，而且任何地方都能用，他是java实现的