[2017-11-23 04:49] kuncevic commented on #122
Having this simple request:
[code]
Getting error
`Connection is being rejected. The service isn’t running on the server, or a firewall is blocking requests. Details: Error: connect ECONNREFUSED 8.20.189.133:8080.`

[2017-11-23 04:52] Huachao commented on #122
@kuncevic is your web service properly enabled to listen at port 3000?

[2017-11-23 04:54] kuncevic commented on #122
Whatewer url I trying got this error.

[2017-11-23 04:58] Huachao commented on #122
@kuncevic can you show me you rest client related settings in vscode setting file?

[2017-11-23 05:00] kuncevic commented on #122
Thanks for pointing that out. I had just wrong http settings. All good now.

[2017-11-23 05:01] Huachao commented on #122
@kuncevic NP, glad to hear that.

[2017-11-23 09:10] lee-fu commented on #74
This would be an awesome addition. I would like to assert against the response as a sort of basic contract test like so:
[code]

[2017-12-03 15:18] cbrevik commented on #74
Hi @Huachao!

Love this extension, use it daily, and I would love this feature as well.

I tried to do a really naive proof-of-concept implementation of this here: https://github.com/cbrevik/vscode-restclient/commit/e716a00b78e62eeb68a1a81fadcb622fc87646da

It's inspired by @fmartingr's suggestion of "piping" the response to a variable name like `POST url/auth -> authResponse`.

That implementatio

[2017-12-03 15:53] fmartingr commented on #74
Wow @cbrevik ! I did fiddle around a bit with the extension but didn't get this far because of how variables are parsed on request, didn't occur to me assigning the name on the response store, very nice!

As for the problem of the response content, maybe we can leave that to the user, just providing some helper attributes `rawBody/jsonBody/xmlBody/...`, handling when conversion fails because the c

[2017-12-03 16:55] cbrevik commented on #74
That's a good idea @fmartingr! Probably shouldn't be too much magic, but simple helpers would make things easier.

I wrote this implementation in a hurry, so I'm not satisfied with the solution yet. But I guess I could open a PR if only to discuss approach there.

[2017-12-03 20:16] akalcik commented on #74
@cbrevik I love this idea!

[2017-12-04 09:48] TechWatching opened #141 "Better soap support would be great"
Amazing project with great features.

However it would be nice to have a better soap support :
- documentation examples
- intellisense more accurate
- syntax colorization

[2017-12-04 09:53] Huachao commented on #141
@TechWatching nice suggestion

[2017-12-04 19:11] mrchief commented on #125
This will be a great addition. Furthermore, following tradition, if it can detect `env.json` in the current folder, if not package root, if not package.json and if not VSCode settings, it'd be super awesome!

[2017-12-04 19:23] mrchief commented on #86
Token extraction would be a great addition. AFAIK, only Runscope currently has this ability. Its not trivial, but if we can get this, then this extension will become a must have!

[2017-12-05 16:41] dakaraphi commented on #139
@Huachao This does allow folding, but it is not as useful as before.
I can't see the comments as they get folded.
@Huachao
The URL's are somewhat cryptic and I can't easily locate them when using this new folding.

Can we have an option to use the original default folding? or can you make it work by folding on the comment line?

[2017-12-06 01:20] Huachao commented on #139
@dakaraphi, thanks for your advice. It seems difficult to support both, and current folding logic is from request line to request delimiter(_line starts with `###`_).

So for your case, it seems that comments better be place in a standalone comment line, like my previous code snippet. And the folding result looks like below, does it satisfy your case.

![image](https://user-images.githubuserconten

[2017-12-06 01:31] dakaraphi commented on #139
@Huachao thanks for the suggestion, but for my use it is still a regression compared to the original behavior.

When you have hundreds of services, this gets very noisy.  Still better to be like:
[code]

Can you use`###` as both the start and stop delimiters?

[2017-12-06 01:42] Huachao commented on #139
@dakaraphi I found a way to solve your problem, that is use the line only with delimiters to be end of folding boundary. Since you have comments in delimiter line, it won't be folded. And you can still use your previous indent way to fold like following:
[code]
![image](https://user-images.githubusercontent.com/2796177/33640126-a82e5894-da69-11e7-9485-f530de371125.png)

Is it OK?

[2017-12-06 05:00] dakaraphi commented on #139
@Huachao I think that gets me back to where I was previously.  So that is ok.

Although, delimiter type of folding with comments would be better.  The only reason it would be better is because I can't use level folding when the request uses headers.  The headers can not be indented or they are not recognized as headers.  I don't know if it would be difficult to still recognize the headers when the

[2017-12-06 05:23] Huachao commented on #139
@dakaraphi I have updated the code to recognize indented headers, will be published in next release

[2017-12-06 14:24] giuleon commented on #15
This would be a killer feature.
+1

[2017-12-08 18:21] lucsky commented on #86
This is probably the single reason why I am currently using Paw (https://paw.cloud) on mac, it allows to define variables which values are automatically extracted from other requests response bodies. It's very powerful and extremely convenient.

![image](https://user-images.githubusercontent.com/15117/33779394-0af70e8c-dc4d-11e7-929a-06174597f995.png)

[2017-12-11 06:47] susan51531 opened #143 "In single line mode, continuous whitespaces were collapsed into one"
- VSCode Version: 1.18.1
- OS Version: macOS High Sierra 10.13.1
- REST Client Version: 0.16.1

Steps to Reproduce:

1. make a single line GET request with query string value contain multiple continuous whitespaces
2. log the request URL at server side

You'll find the continuous whitespaces were collapsed into %20
Like so:
![image](https://user-images.githubusercontent.com/2595468/33818767-bdc970

[2017-12-11 06:56] susan51531 opened #144 "In multiple lines mode, query parameter without '=' and value is ignored"
- VSCode Version: 1.18.1
- OS Version: macOS High Sierra 10.13.1
- REST Client Version: 0.16.1

Steps to Reproduce:

1. spread query parameters into multiple lines
2. make the last query parameter only include key, without specifying '=' and value
3. log the request query at server side

Result: query parameter without '=' and value is ignored
![image](https://user-images.githubusercontent.com/259

[2017-12-11 09:32] Huachao commented on #144
@susan51531 nice catch, 👍 . I will publish this fix in next release.

[2017-12-11 09:32] #144 closed

[2017-12-12 01:38] #143 closed

[2017-12-12 02:00] Huachao commented on #143
@susan51531 this fix will also be fixed in next release

[2017-12-14 06:03] dragonly opened #145 "希望能够直接在editable的buffer中打开response"
- VSCode Version: Any
- OS Version: Any
- REST Client Version: Any

Steps to Reproduce: None

希望能够直接在editable的buffer中打开response, 否则JSON格式的response不能利用编辑器的折叠功能.

[2017-12-14 06:49] Huachao commented on #145
@dragonly you can turn on the setting `rest-client.previewResponseInUntitledDocument`, and sets it to true which will open an untitled document to render the response.

[2017-12-14 06:49] #145 closed

[2017-12-19 06:38] shahidmau opened #146 "Visual Preview in response output"
Hi, is it possible for you to show the html (visual) preview of the output result? Sometime apis return html content instead of proper json response if there is the error in input or for 404 requests. Right now its very difficult to read the html content in response output and to figure out about the actual issue.

Insomnia and postman have already this useful feature.

![screen shot 2017-12-19 at

[2017-12-19 09:40] Huachao commented on #146
@shahidmau what does _Visual Preview_ mean for 'HTML' response, do you mean it renders the HTML page instead of displaying the HTML source code?

[2017-12-20 19:32] loverde commented on #74
Why not build on the read from a file syntax and support something like this:

[code]

And then for referencing variables inside the payload, maybe use [JSONPath syntax](http://goessner.net/articles/JsonPath/), e.g.:

[code]

While on the topic, you could also support outputting directly to a file the same way

[code]

And to use a variable as the output filename:

[code]

No matter how it is impl

[2017-12-21 01:14] Huachao commented on #74
@loverde thanks for your proposal,  we already have an implementation in #140 done by @cbrevik and we also have some discussions there and made some agreements there. You can move there, and show your opinion about that.

[2017-12-22 02:04] Huachao commented on #144
@susan51531 you can try the latest version 0.16.2 to verify

[2017-12-22 02:05] Huachao commented on #139
@dakaraphi you can try the latest version 0.16.2

[2017-12-22 02:05] Huachao commented on #143
@susan51531 you can try the laster version 0.16.2 to verify 😄

[2017-12-22 03:21] dakaraphi commented on #139
@Huachao seems to be working. Thanks!

[2017-12-22 09:51] svenax opened #147 "[Feature request] Disable response formatting"
Formatting large responses, at least for JSON, is very slow. It would be nice if either it was possible to disable formatting manually, or if it was automatically disabled for responses above a certain size.

[2017-12-22 09:59] Huachao commented on #147
@svenax in fact the slow performance is related to highlight and find url in response. Tt's really a nice suggestion to disable such kind of thing automatically when response is larger than some predefined threshold.

[2017-12-22 10:49] svenax opened #148 "[Feature request] Defaults added to all requests"
It would be really convenient if there were some way to specify headers and parameters added to all requests. Maybe something like this:

    @name=name
    @pass=pass

    DEFAULT token=123123&limit=100
    Content-Type: application/json
    Authorization: Basic {{name}} {{pass}}

It would then be possible to simplify further requests as:

    GET http://some.path?param=p

Which would expand to:

[2017-12-25 03:04] Huachao commented on #148
@svenax I think this feature is not a general requirement, and also can be achieved by creating variable to store your default request part as follows(for Windows, the separator is \r\n, otherwise is \n), use MacOS for instance:
[code]

[2017-12-25 04:56] #147 closed

[2017-12-25 04:57] Huachao commented on #147
@svenax this feature will be published in next release, thanks again for your great suggestion.

[2017-12-25 06:01] wenslim opened #149 "About Request Body for POST method~"
- VSCode Version: 1.19.1
- REST Client Version: 0.16.2

Um, My computer system is windows 10, GET method is good, I refer to your example about POST,but
 I can not accept param in POST method.

[code]

[code]
Somehow I do it in Postman is work well~

[2017-12-25 06:17] Huachao commented on #149
@wenslim it seems that since you are using $_POST in your `php` controller, which in fact needs the content type to be `application/x-www-form-urlencoded` or `multipart/form-data` as described [here](http://php.net/manual/en/reserved.variables.post.php). So I think it should work if your update the request body to a x-www-form-urlencoded format as following:
[code]

[2017-12-25 06:17] #149 closed

[2017-12-25 06:28] wenslim commented on #149
@Huachao 3Q ~ 😸

[2017-12-31 14:42] flanakin commented on #85
@con-ssc Can you share a working, authenticated request for your scenario? I'm curious if you only need an `Authorization` header with a valid AAD token.

[2017-12-31 14:52] flanakin commented on #86
Fwiw, I just submitted a PR to add support for Azure AD explicitly. I opted for explicit support due to no experience with other auth providers and support for critical AAD-specific scenarios.

[2018-01-08 09:23] chengkiang opened #152 "Not working through corporate NTLM proxy"
- VSCode Version: 1.19.1
- OS Version: Windows 10 Version 1709 Build 16299.125
- REST Client Version: 0.16.2

Not working with NTLM proxy nor with CNTLM.

Steps to Reproduce:

1.  Open a new VSCode session, set language to HTTP.
2.  Enter a URL, e.g. https://httpbin.org/ip
3.  Press Ctrl-Alt-R.

Error message: tunneling socket could not be established, cause=socket hang up

Setting the corporate N

[2018-01-08 09:30] Huachao commented on #152
Duplicate of #15

[2018-01-08 09:32] Huachao commented on #152
@chengkiang NTLM is **NOT** supported yet, I'd like to close it to in favor of #15 to keep track of this issue

[2018-01-08 09:40] Huachao commented on #152
@chengkiang do you have an easy way to setup the NTLM environment in my local dev env?

[2018-01-08 15:00] chengkiang commented on #152
@Huachao How can I get more detailed error messages for you? The CNTLM is supposed to let non-NTLM-aware apps access a NTLM-based proxy, somehow it doesn't work here. It also doesn't work with Postman. So for debugging REST I am left with curl now. :(

[2018-01-09 01:51] Huachao commented on #152
@chengkiang as you said previously, the server returned 407 to my extension, I guess the error origins from https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Proxy-Authorization, so I think the error still comes from my dependent request library doesn't support non-Basic proxy authentication.

[2018-01-09 08:24] ozh555 commented on #110
I had the same problem.

[2018-01-09 08:26] Huachao commented on #110
@ozh555 could you please provide me some details about your OS and sample request, thanks in advance.

[2018-01-09 08:32] ozh555 commented on #110
@Huachao
os: windows7 64
vsvode: 1.19.1
REST Client Version: 0.16.2
--------------------------------------------------------------------------------

@ip = http://127.0.0.1:8080

###
POST {{ip}}/server/app
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW

------WebKitFormBoundary7MA4YWxkTrZu0gW
Content-Disposition: form-data; name="json"

{
    "username":"123456"

[2018-01-09 08:38] Huachao commented on #110
@ozh555 thanks, could you also temporarily set the request url to `https://requestb.in/1lx73751`, and trigger a request, so that I can confirm your sent out request. Sorry for the inconvenience.

[2018-01-09 08:43] Huachao commented on #110
@ozh555 as you can see [here](https://requestb.in/1lx73751?inspect), sent out request already contains the XML content

[2018-01-09 08:53] ozh555 commented on #110
@Huachao
Wow! It's true.
Maybe my server went wrong! But I use Postman can work，I do not know where is wrong。

[2018-01-09 08:59] Huachao commented on #110
@ozh555 it still can be a bug of my code, could you please show me the error response before yo u dig into your server side code?

[2018-01-09 09:23] Huachao commented on #110
@ozh555 except different boundaries, once difference I found is the `Content-Type` is different, mine is `application/json` and another is `text/xml`. So will you server work, if you change your request to `text/xml` of the file

[code]

[2018-01-09 09:28] ozh555 commented on #110
@Huachao
Still can't work.
and vscode had problem:
![image](https://user-images.githubusercontent.com/5276924/34713819-5b940a56-f562-11e7-80f9-835d0d7a113e.png)

[2018-01-09 09:30] Huachao commented on #110
@ozh555 so the server didn't respond? Can postman still work now? Sorry for bothering you again and again

[2018-01-09 09:32] ozh555 commented on #110
yes, server didn't respond.
postman work all the time.

[2018-01-09 09:34] Huachao commented on #110
@ozh555 it's really strange, I will inspect this later when I have a Windows environment. One last thing, if you change back to `application/xml`, will the server respond in time? Thanks.

[2018-01-09 09:44] ozh555 commented on #110
It's still the same.

[2018-01-09 09:46] Huachao commented on #110
@ozh555 what do you mean __same__ here? Does that mean if we revert to `application/xml`, the server can respond but not the expected response? Or since you use my extension, the server always don't return(just hang there)?

[2018-01-09 09:51] ozh555 commented on #110
server always don't return。
and vscode always waiting。

[2018-01-09 15:50] svenax commented on #148
I think it would be very convenient for anyone using `vscode-restclient` to check/test many endpoints in an API. If you reopen the feature request others will have a greater chance to see it and have their say.

[2018-01-10 00:00] Huachao commented on #148
@svenax sure

[2018-01-10 00:06] svenax commented on #148
Another reason for this is that variables are not expanded in other variables, so it is not possible to do e.g.:

    @token = 123
    @limit = 10
    @default = token={{token}}&limit={{limit}}

Maybe that would also be useful.

[2018-01-10 12:01] shahidmau commented on #146
---- what does Visual Preview mean for 'HTML' response, do you mean it renders the HTML page instead of displaying the HTML source code?

yes

[2018-01-11 09:50] Huachao commented on #110
@ozh555 what's your server side stack(**language** + **framework**)?

[2018-01-11 09:52] Huachao commented on #124
@bitbonk any updates on this? I think I have supported this extension in very early versions, and can satisfy your requirements, could you please have a try? I'd like to close it for now, if you still have any concern, please feel free to reopen it.

[2018-01-11 09:52] #124 closed

[2018-01-11 09:55] ozh555 commented on #110
Java-springmvc

[2018-01-18 13:57] lostfields opened #155 "Collapse of requests (body)"
Not a big issue, but that about to support some kind of collapsing? scrolling a http-file will make your eye hurt if you have to scroll over huge post-bodies just to find the correct request.

[2018-01-19 02:45] Huachao commented on #155
@lostfields good suggestion, I think this issue has some relationship with #135 , if we can format the request body, and it seems we can benefit the folding feature(based on indention) of vscode. BTW, we already support folding request in `.http` files. The only difference is that it folds the whole request.

[2018-01-22 07:36] lostfields opened #156 "Impossible to override cookie"
- VSCode Version: 1.19.2
- OS Version: W10Pro
- REST Client Version: 0.16.2

I have a problem where I'm unable to clear the stored cookies for subsequent requests. The API I'm communicating with doesn't allow the authenticated cookie be sent over another time when authenticating. So, I'm trying to not sending it over by defining Cookie header, but no luck.

Empty cookie key is not allowed by the a

[2018-01-22 08:59] Huachao commented on #156
@lostfields currently the only possible way is to clear the stored cookie.json file under `~/.rest-client/cookie.json`

[2018-01-22 11:58] Huachao commented on #156
Do you mean only use saved cookies
only when cookie header is not present in user's request

[2018-01-22 12:59] lostfields commented on #156
yes or the possibility to turn off cookie for a certain request by using local variables/settings just for that request-block.

[2018-01-22 13:06] lostfields commented on #155
It didn't work for me because I named each request block after the tripple hashes (like  "### <request description>"). After removing the comments it works as described.

Thanks. Closing this one.

[2018-01-22 13:06] #155 closed

[2018-01-22 15:35] hardija opened #157 "[Feature Request] Add collapsible functionality for json and xml response"
- VSCode Version: Version 1.19.2 (1.19.2)
- OS Version: macOS Sierra 10.12.6
- REST Client Version: 0.16.2

I saw feature request for folding requests, but it would also be nice to fold the json response.

[2018-01-23 01:21] Huachao commented on #12
Close this to in favor of the only missing feature request #157

[2018-01-23 01:21] #12 closed

[2018-01-23 08:43] Huachao commented on #135
@Meir017 @flanakin @dpfg do you think if the input json request body will be formatted when you type can meet your requirements, or do you need anything else?

[2018-01-23 09:43] dpfg commented on #135
Syntax highlighting would also be nice to have. When you edit markdown in vscode and put code snippet with specified syntax you get highlighting + indentation on typing. Would be wonderful to have the same.

[2018-01-23 14:18] oji commented on #146
+1 I'd love this feature! Also it would be useful when the content type is an image, to see the image instead of the binary content.

[2018-01-23 14:20] oji commented on #74
+1 on this, I'd love to see this live!

[2018-01-23 14:25] oji opened #158 "Uploading binary file as body not working"
- VSCode Version: 1.19.2
- OS Version: OSX Sierra
- REST Client Version: 0.16.2

Steps to Reproduce:

I'm trying to upload a .png file through a PUT request, but the server is rejecting the image. I tried with:

[code]

I also tried with this on the .rest file:

[code]

However, if I run the above curl command on a terminal, it works. I don't know what is different, as I can't see what is the actu

[2018-01-23 14:42] Huachao commented on #158
What's the rejection details?

[2018-01-23 14:49] Huachao commented on #146
@oji for some common image types, the response will be rendered as image directly. Can you show me your response Content-Type when not working

[2018-01-23 16:49] aphilpotts commented on #86
For our purposes, we could handle our Bearer tokens if #140 became real feature, as they are returned in plain text in the JSON returned from a login request.

If we used something more complex, like OpenID, then I doubt that #140 would be enough

[2018-01-24 10:01] Huachao commented on #135
@dpfg @Meir017 @flanakin I have supported the request body(`JSON` and `XML` only) automatically highlight like following:
![image](https://user-images.githubusercontent.com/2796177/35326071-7ed801f0-0130-11e8-9bbe-ea63335cf60b.png)

[2018-01-24 19:38] Meir017 commented on #135
This looks amazing!

Is it possible to actually use a json editor just for the request body section?
this will provide better autocomplete, something like this:
![image](https://user-images.githubusercontent.com/9786571/35353107-d2bf6db2-014e-11e8-9e4f-87bb7a4a6323.png)

[2018-01-25 02:09] Huachao commented on #135
@Meir017 use json editor as request body section is a limitation of Microsoft/vscode#1751. So currently not possible, and I will try to use own ways to support auto format

[2018-01-25 05:19] guycnicholas commented on #86
We currently use Postman and we use the "tests" functionality to run some JS code.  For example ours looks like this `var jsonData = JSON.parse(responseBody);

postman.setGlobalVariable("accessToken", jsonData.access_token);
postman.setGlobalVariable("userId", jsonData.userId);` perhaps something generic like that could be done?

[2018-01-25 05:57] guycnicholas opened #159 "Can't put environment variable as first item"
- VSCode Version: 1.19.2
- OS Version: Mac 10.12.6
- REST Client Version: 0.16.2

Steps to Reproduce:

1. enter url like GET {{protocol}}://{{host}}/{{app}}ping
2. with env vars like this
[code]

![image](https://user-images.githubusercontent.com/5494702/35372744-5e834ca0-0150-11e8-8eab-6500925e799f.png)

[2018-01-25 05:57] Huachao commented on #86
@guycnicholas this is not supported currently, but is in my roadmap.

[2018-01-25 06:10] Huachao commented on #159
@guycnicholas what's your selected environment?

[2018-01-25 09:09] Huachao commented on #158
@oji Can you try to add setting `"rest-client.useTrunkedTransferEncodingForSendingFileContent": false` in setting file, and then try again

[2018-01-25 16:46] guycnicholas commented on #159
@Huachao I apologize for the noise. I tried to setup a simple test app on another machine and couldn't repro the issue. When I came back to my main machine to try again, I couldn't get it to fail.  I am closing this.

[2018-01-25 16:46] #159 closed

[2018-01-26 13:34] oji commented on #146
Hi @Huachao, I'm getting this with both `image/gif` and `image/png`. Here are a couple of screenshots:

![screen shot 2018-01-26 at 10 33 02](https://user-images.githubusercontent.com/1176268/35442025-78b42d76-0284-11e8-8de9-4409e0617faa.png)
![screen shot 2018-01-26 at 10 33 19](https://user-images.githubusercontent.com/1176268/35442026-78ecf688-0284-11e8-9f7b-8ebda11e0038.png)

Maybe I'm missing

[2018-01-26 13:39] oji commented on #158
Hi @Huachao changing the setting you mention to false did the trick. It was complaining about the transfer encoding header!

[code]

Thanks a lot!

[2018-01-26 15:09] Huachao commented on #146
@oji, you need to set the settling 'rest-client.previewResponseInUntitledDocument' to __true__

[2018-01-26 15:12] Huachao commented on #158
And I also refactor my code, and in next release, you don't need to change this setting any more

[2018-01-26 15:12] #158 closed

[2018-01-27 15:58] lzp4ever commented on #86
How about that, variable without being initialized could be set under the request body.
And I think it would be magnificent to run all request in a file with one click.
Like get token at the first request, and then use the token to finish other request below.
An elegant editor-based automated testing tools!

[code]

[2018-01-27 23:52] Huachao commented on #86
@lzp4ever, this is similar to what we are doing in #140

[2018-01-29 18:04] oji commented on #146
@Huachao thanks a lot for your quick responses! Your extension rocks!

[2018-01-30 06:52] Huachao commented on #158
@oji you could try the latest version 0.17.0 which don't require you to set the setting any more

[2018-01-30 06:56] Huachao commented on #147
@svenax you can try the latest version 0.17.0 to verify, by default, the response size larger than 5MB will disable the formatting, and you can refer to the following three settings for more control:
* `rest-client.disableHighlightResonseBodyForLargeResponse` (Default: __True__)
* `rest-client.disableAddingHrefLinkForLargeResponse` (Default is __True__)
*  `rest-client.largeResponseBodySizeLimitIn

[2018-01-30 07:29] Huachao commented on #135
@Meir017 @dpfg @flanakin @vivekchauhan you can try the json/xml request body highlight feature in latest version 0.17.0

[2018-01-30 14:03] Meir017 commented on #135
Looks great

[2018-01-30 18:51] dpfg commented on #135
Thanks, looks really good!

[2018-01-30 20:23] oji commented on #158
Hi @Huachao, it worked fine with 0.17.0 without the setting. Thanks for the quick fix!

[2018-02-02 08:56] ffes commented on #157
Folding multiple requests separated with three hashes  in the `.http` source file would be great as well.

[2018-02-02 14:05] Huachao commented on #157
@ffes I thought it was already supported in the extension, can you have a try?

[2018-02-05 08:22] ffes commented on #157
It works a bit, but there is some room for improvement...

Look at the screenshot below and notice that the last block only can be collapsed at the JSON block and not at the `POST`.

![vscode-rest-extension-folding](https://user-images.githubusercontent.com/3225656/35793864-9e687f8c-0a53-11e8-9e3b-f83ebde584e2.png)

And notice that in the screenshot below only at the JSON block a `[-]` is shown an

[2018-02-05 08:27] Huachao commented on #157
@ffes this currently is a known issue in my extension, that append a new line of `###` at the end of the file.

[2018-02-05 11:12] 3amSoftware commented on #157
This thread is about the response. Please start another thread to discuss the request. Thank you

[2018-02-05 11:59] Huachao opened #163 "Add collapsible functionality for json and xml request"
- VSCode Version:
- OS Version:
- REST Client Version:

Steps to Reproduce:

1.
2.

[2018-02-05 12:00] Huachao commented on #157
@3amSoftware nice suggestion, I have created #163 to follow request body folding

[2018-02-05 14:29] Huachao commented on #110
@ozh555 could you please to try again with latest version 0.17.0?

[2018-02-08 07:50] Huachao commented on #110
@wboyle-erwin does this problem still exists in 0.17.0?

[2018-02-11 14:34] v1rusw0rm opened #165 "WARN: command 'rest-client.request' not found"
- VSCode Version: 1.20.0
- OS Version: Windows 10 Pro 1709
- REST Client Version: 0.17.0

Steps to Reproduce:
Run (Ctrl+Alt+R) the following (or any other for that matter)

`GET https://example.com/ HTTP/1.1`

Also there is no `Send request` above the request. I downgraded REST Client to version 0.16.0 and it works.

[2018-02-12 02:04] Huachao commented on #165
@v1rusw0rm can you open the developer console in `Help` tab, and check if any error occurs.

[2018-02-12 05:29] v1rusw0rm commented on #165
After the update from 0.16.0 to 0.17.0 the problem doesn't appear 😕 When the problem was here I tried to uninstall the extensions, restart VSCode, install extension again, restart VSCode, and it doesn't help. But after upgrading from 0.16.0 to 0.17.0 I can't reproduce the bug. I think, the issue can be closed for now. If the problem appear again, I'll provide details from developer console.

[2018-02-12 05:29] #165 closed

[2018-02-16 22:19] mjbvz opened #166 "Feedback on VS Code's proposed webview API"
I'm on the VS Code team and am investigating adding a new API for managing webviews. As your extension already is using webviews through the html preview, I'd like your feedback on our proposal.

You can find the first cut of new api [here](
https://github.com/Microsoft/vscode/blob/70b41f0b2dffe69f848abc0434bea9d2d11350a7/src/vs/vscode.proposed.d.ts#L528). It supersedes `TextDocumentContentProvide

[2018-02-17 16:44] lostfields opened #167 "Preserve focus of the http editor"
Pretty please preserve focus of the http/rest editor. Whenever I open a new file it opens at the right side, that is annoying.

https://code.visualstudio.com/docs/extensionAPI/vscode-api#showTextDocument

showTextDocument(document: TextDocument, column?: ViewColumn, preserveFocus?: boolean): Thenable<TextEditor>

Set preserveFocus to true.

[2018-02-19 09:15] Huachao commented on #167
@lostfields do you want to keep the request editor focus after the response view is shown. The reason for switching to the response view is that normally users want to inspect the response directly, scroll the response page up and down. Maybe I can provide a setting to control this, do you think it's OK for you?

[2018-02-20 14:21] lostfields commented on #167
yes, that would be nice - and then it's probably possible to override in workspace-settings as well?

[2018-02-20 14:34] Huachao commented on #167
yes, either user setting or workspace setting is ok

[2018-02-23 02:44] #157 closed

[2018-02-23 06:49] Huachao commented on #157
@hardija @ffes @Naramsim @StephD @3amSoftware @suramma I have implemented the indent based response folding (also work for JSON and XML since my extension will pretty the JSON and xml response body). And I will publish this feature in next release.

![image](https://user-images.githubusercontent.com/2796177/36581468-16493e26-18a8-11e8-9a51-8d439ef08cd6.png)

[2018-02-26 10:53] Naramsim commented on #157
Can't wait to try it! Thanks for the efforts!

[2018-02-28 05:32] Huachao commented on #74
With the great help of @cbrevik in #140, this feature will be published in next release. So close for now, more details will be updated in this thread and `README`. Thank you all for your help in this feature.

[2018-02-28 05:32] #74 closed

[2018-02-28 09:41] timurmelnikov opened #168 "WARN: command 'rest-client.request' not found"
- VSCode Version: 1.20.1
- OS Version: Windows 10
- REST Client Version: 0.17.0

Steps to Reproduce:

1. Run (Ctrl+Alt+R)

GET https://test.com/ HTTP/1.1

[2018-02-28 09:53] fabianschlier opened #169 "Support multiline request body for x-www-form-urlencoded"
- VSCode Version: 1.11.2
- OS Version: Win7
- REST Client Version: 0.14.2

Hi,

thanks for this cool extension, it eases our quick testing so much! But one thing is a bit sticky.

One of our applications makes heavy use of post reqeusts with application/x-www-form-urlencoded bodies. This works pretty well, but all parameters need to be given in one line

    arg0=val0&arg1=val1&arg2=val2

If there

[2018-02-28 09:56] akalcik commented on #74
Thank you guys!

[2018-02-28 09:59] Huachao commented on #168
@timurmelnikov can you open the `Extension` panel to check if the extension is correctly installed?

[2018-02-28 10:16] timurmelnikov commented on #168
Yes, it is installed correctly. I reinstalled it several times.

[2018-02-28 10:28] Huachao commented on #168
@timurmelnikov can you open the developer console in Help tab, and check if any error occurs.

[2018-02-28 10:45] timurmelnikov commented on #168
@Huachao http://prntscr.com/iku2hv

[2018-02-28 13:05] Huachao commented on #168
Can you try to uninstall the extension, and restart vscode, after that download the package to local from [here](https://github.com/Huachao/vscode-restclient/releases/download/v0.17.0/rest-client-0.17.0.vsix ). And install it from local in the Extension panel, it has an option to install vsix package from local.

[2018-02-28 13:11] timurmelnikov commented on #168
Installed from file rest-client-0.17.0.vsix. Working!
http://prntscr.com/ikw72r

[2018-02-28 13:13] timurmelnikov commented on #168
After installation from the repository - it stops working.

[2018-02-28 13:26] timurmelnikov commented on #168
Yes, it works! I can not understand what's the matter ...
But it only works after the installation from the file.
Before reinstalling several times - it did not help.
Now, the plugin works fine. Thanks for the help!

[2018-02-28 13:29] Huachao commented on #168
NP, thanks for reporting this.

[2018-02-28 13:29] #168 closed

[2018-03-04 02:25] apahne commented on #101
Sharing the environment in SCM with my colleagues is pretty important. Please take it into consideration.

Great plugin, I like it very much. Thanks.

[2018-03-04 06:12] surbhijain18 commented on #29
I get this warning, command 'rest-client.request' not found

[2018-03-05 18:13] gjmoyer commented on #152
The request library you are using describes how it uses HTTP_PROXY environment variable.  So I think it will work via proxy, however it gives me the statusCode=407 also when I try to send a GET externally behind the proxy.  I have both the vscode preferences configured, and these environment variables.

[2018-03-08 14:07] colutti opened #170 "Extract data from response content into variables"
It would be nice if the extension could support extracting information from response content into variables that could be used in subsequents requests.

[2018-03-08 14:22] Huachao commented on #170
@colutti this is duplicated with #74 and already resolved, will publish this feature in next release.

[2018-03-08 14:22] #170 closed

[2018-03-09 08:44] elkhan commented on #168
Hi, I am facing the same issue. Here is the error.
<img width="787" alt="screenshot 2018-03-09 11 41 57" src="https://user-images.githubusercontent.com/3384773/37198371-25bfbdd4-238f-11e8-9dad-1e7d30656b67.png">

[2018-03-09 08:53] elkhan commented on #168
I can confirm that installing from VSIX works.

[2018-03-09 08:55] Huachao commented on #168
@elkhan OK, nice catch. I will keep eyes on this when publishing a new release, and check if this module exists in node_modules folder.

[2018-03-09 11:15] marcel-benthin opened #171 "Zero Fractions are removed in Response Preview"
- VSCode Version: 1.21.0
- OS Version: Windows 10 Pro 16299.248
- REST Client Version: 0.17.0

Steps to Reproduce:

1. Request a API that returns a JSON where numbers are returned including a ` .0` fraction
2. The Preview doesn’t show the `.0`. If I save/open the response the raw response is saved and the zero fraction is presevered

I know it’s not a big issue just a bit annoying for me while tes

[2018-03-09 14:44] elkhan commented on #168
@Huachao Thank you for this awesome extension.
I used it for the first time but it was there for a while I just didn't use it. I mean it could had been upgrading itself in the background.

[2018-03-12 01:46] Huachao commented on #171
@marcel-benthin nice suggestion, I will consider this carefully. The root cause is that in when prettify the response body,  there's no way to distinguish integer and floating number.

[2018-03-12 10:23] marcel-benthin commented on #171
Thanks, yeah, I figured.
The problem is that JSON doesn’t distinguish between those two types (or doesn’t have them at all) and therefore the `.0` is not needed.

[2018-03-12 11:30] Huachao commented on #171
I think we can solve this by using a JSON tokenizer and parser

[2018-03-13 07:45] #171 closed

[2018-03-13 08:36] zdila opened #172 "Add option preventing reponse to be shown in split view"
- VSCode Version: 1.20.1
- OS Version: Win 8
- REST Client Version: 0.17.0

Please add option preventing reponse to be shown in split view. It would help for narrow displays (in my case vertically oriented monitor).

[2018-03-13 08:42] Huachao commented on #172
@zdila Do you mean open the preview panel in current active view column, so in most cases just open a new tab next to the request file tab?

[2018-03-13 08:49] zdila commented on #172
@Huachao exactly. I am able to drag the tab to the desired place manually but I would like to be placed like that automatically.

[2018-03-13 09:48] zdila opened #173 "Add support for websocket client"
It would be really cool for the extension to also support websockets. If it is out of scope then it may serve as an idea for new extension ;-).

[2018-03-13 10:02] #172 closed

[2018-03-13 10:02] Huachao commented on #172
@zdila done, and will publish this in next release

[2018-03-14 02:15] Huachao commented on #173
@zdila It's a bit of out of scope, I'd like to put it in backlog. Thanks for your suggestion.

[2018-03-14 14:42] Huachao commented on #110
@Platzer could you please to try again with latest version 0.17.0?

[2018-03-15 02:22] Huachao commented on #167
@lostfields since response preview is in fact a webview page, and vscode doesn't allow the `preserveFocus` option currently.

[2018-03-15 10:18] bestswifter opened #175 "Auto remove the same history"
- VSCode Version: 1.21.1
- OS Version: 10.13.1
- REST Client Version: 0.17.0

Steps to Reproduce:

1. Send request from history
2. Another new history is recorded

I think it will be better to record the number of the same history, and show them by used number or frequency.

All these entries are the same and can be filterd

![wx20180315-181651](https://user-images.githubusercontent.com/8394612/37

[2018-03-15 12:45] bestswifter commented on #175
By the way, Can I resend the request directly by pressing ENTER, instead of open the file?

[2018-03-23 09:50] drkn opened #177 "Feature request: Add an ability to parse response body and store as variable"
It would be great to have an ability to parse response body and use its data as variable for another requests.

Example:
Request 1:

[code]
Response:
[code]

Parse response using JS:
[code]

Request2:

[code]

[2018-03-23 10:00] Huachao commented on #177
Duplicate with #74

[2018-03-23 10:00] #177 closed

[2018-03-25 14:57] tabishsoh commented on #38
Hi I am facing the same issue. Installed the extention from VS and restarted many times still facing the same issue.

[2018-03-25 15:08] tabishsoh opened #178 "Rest client error - command 'rest-client.request' not found"
- VSCode Version: 1.21.1 (1.21.1)
- OS Version:10.13.2 (17C205)
- REST Client Version: 0.17.0

Steps to Reproduce:

1. install from VS marketplace of VSIX on MAC. open your project and create a new file with extention html. try executing the request with (alt+cmd+r)
2. see the error below "command 'rest-client.request' not found"

[2018-03-25 15:27] Huachao commented on #178
@tabishsoh can you open the developer console in Help tab, and check if any error occurs？ And the work around for now is that you try to uninstall the extension, and restart vscode, after that download the package to local from [here](https://github.com/Huachao/vscode-restclient/releases/download/v0.17.0/rest-client-0.17.0.vsix) And install it from local in the Extension panel, it has an option to

[2018-03-25 17:40] tabishsoh commented on #178
i am getting this error in console log.

extensionService.ts:782 Activating extension 'humao.rest-client' failed: EACCES: permission denied, mkdir '/Users/TabishSohail/.rest-client'.

[2018-03-26 01:26] Huachao commented on #178
@tabishsoh Can you check whether your current user has permission to create directory in your home directory? If not please grant the permission. Thanks

[2018-03-26 08:54] tabishsoh commented on #178
I have tried with command line sudo command "sudo code --install-extension humao.rest-client
" and still no success. attached is the error for your reference.
<img width="1241" alt="screen shot 2018-03-26 at 11 52 54 am" src="https://user-images.githubusercontent.com/32664963/37896397-5d41deda-30ec-11e8-992d-192396da719f.png">

[2018-03-26 08:56] Huachao commented on #178
@tabishsoh can you grant permission to allow current OS user to create directory in _/Users/TabishSohail_ directory

[2018-03-26 09:27] tabishsoh commented on #178
Granted the permission to HomeDirectory. Now working fine thanks. (y)

[2018-03-26 09:27] #178 closed

[2018-03-26 09:28] Huachao commented on #178
@tabishsoh glad to hear that.

[2018-03-27 07:32] billxc commented on #137
+1

[2018-03-29 09:06] Huachao commented on #177
@drkn you can upgrade to latest version 0.18.0 to use this, and usage can be found in [README](https://github.com/Huachao/vscode-restclient#request-variables)

[2018-03-29 09:07] Huachao commented on #172
@zdila you can upgrade to the latest version 0.18.0 to try this

[2018-03-29 09:07] Huachao commented on #171
@marcel-benthin you can try the latest version 0.18.0 to verify this

[2018-03-29 09:08] Huachao commented on #170
@colutti  you can upgrade to latest version 0.18.0 to use this, and usage can be found in [README](https://github.com/Huachao/vscode-restclient#request-variables)

[2018-03-29 09:14] Huachao commented on #74
@akalcik @cbrevik @pcornier @joonathan @gianmarcotoso @ndinev @tytodorov @hapylestat @lucsky @narayanan @AnderScore @flanakin @jgroom33 @aewing @kwellman you can upgrade to latest version 0.18.0 to use the _request variable_ feature finally, and usage can be found in [README](https://github.com/Huachao/vscode-restclient#request-variables). Special thanks for @cbrevik who implemented this feature.

[2018-03-29 09:14] Huachao commented on #157
@hardija @ffes @Naramsim @StephD @3amSoftware @suramma you can upgrade to 0.18.0 to try this. Thanks!

[2018-03-29 09:16] marcel-benthin commented on #171
way ahead of you… already tried it when it updated this morning. It’s awesome.
I also like the folding.

Thank you very much.

[2018-03-29 09:30] zdila commented on #172
It works. Thanks!

[2018-03-29 09:45] OzgurDogan opened #179 "Overwrite environment variable with value of request variable"
- VSCode Version: 1.21.1
- OS Version: Win10
- REST Client Version: 0.18

After publishing the feature related to #140 I was expecting that the request in #86 was also going to be picked up. My request is much more generic than described in #86.

I would like to have the possibility to overwrite an environment variable from a value of an request variable.

So the following code would end up with u

[2018-03-29 09:50] Huachao commented on #179
@OzgurDogan I'd like to consider this carefully, and think about the design carefully. And I will update in this thread later. Thanks for your suggstion

[2018-03-29 12:03] snadn commented on #69
@Huachao 307 is ok but 308 not

[2018-03-30 02:08] Huachao commented on #69
@snadn I can succeed with 308 response, can you confirm that your 308 response has a `Location` header?

[2018-03-30 02:28] Huachao commented on #86
@agjs @ahmelsayed @ndinev @jPrest @thehighlander @chanan @agjs @andyzaharia @neilsmind @lzp4ever @guycnicholas @stojce @borekb @mrchief @lucsky @flanakin @msageryd @jamisliao
 @jacob-beltran @eppyjerk @liuxuc In our new version 0.18.0, we introduced the new feature `request variable`, with this you can achieve something you want in this thread, that you can reference part of the response in anothe

[2018-03-30 03:54] mrchief commented on #86
This is great news @Huachao ! Thanks for all the good work!

Will this work across files? Guess I’m being a lil greedy here. 🙃

[2018-03-30 05:19] Huachao commented on #86
@mrchief it's not supported yet, I will consider this

[2018-03-30 06:38] snadn commented on #69
@Huachao my mistake！vscode-restclient is ok。 my nginx is 1.12 😂
when 308

![image](https://user-images.githubusercontent.com/1269858/38126680-ae7056de-3424-11e8-9df1-99cbc029239b.png)

when 307
![image](https://user-images.githubusercontent.com/1269858/38126406-039d503c-3423-11e8-8066-be5717dc6635.png)
![image](https://user-images.githubusercontent.com/1269858/38126461-64976c2e-3423-11e8-8459-9413

[2018-03-30 06:40] Huachao commented on #69
@snadn glad to here this. Thanks for your feedback.

[2018-03-31 10:38] dacz commented on #127
@Huachao @codepunkt I'm up to help, too. This plugin is amazing and support for graphQl will be real time saver (not only for me, I suppose). I can help with function to serialize the payload - in another words it prepare object that should be sent then (like extract operation name and prepare query value).

Would that help?

[2018-03-31 13:25] Huachao commented on #127
@dacz if you can help, that will be fantastic!

[2018-04-01 22:58] peterquirk opened #180 "Feature request: A system variable to generate date in ISO8601 or RFC1123 data format"
- VSCode Version:
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- OS Version:
Windows 10 Pro version 1803
- REST Client Version:
0.18.1
The minio S3-compatible API requires a Date header in ISO 8601 of RFC 1123 format. The {{$timestamp}} system variable doesn't provide for format control.

[2018-04-02 14:54] jgroom33 commented on #74
very nice implementation @Huachao @cbrevik

[2018-04-03 05:07] #180 closed

[2018-04-03 05:11] Huachao commented on #180
@peterquirk I add new new system variable named `datetime`, so that you can reference this variable with `{{$datetime iso8601}}` or `{{$datetime rfc1123}}`

[2018-04-03 17:30] lldata opened #181 "Feature request: File variables based on request variables"
The new feature where you can use information from the response in the following request is very nice. But it could be improved. This is the current version:
[code]

I'd like if you could define a variable, with data captured from the response.
Like this:
[code]

Currently @commentId will have the value "{{createComment.response.body.$.id}}"
I'd expect the second example to do the same as the firs

[2018-04-03 17:40] lldata commented on #181
Just realized that my request looks a bit like #179
The difference is in the syntax on how you override a variable.

I'd say that the least surprising syntax is with the @ prefix ...

[2018-04-03 17:56] mtxr opened #182 "[Feature] Import/require .(http|rest) file"
- VSCode Version: 1.21.1
- OS Version: Ubuntu 18.04
- REST Client Version: 0.18.1
It would be nice to be able to import/require file. Eg.

[code]
Then you could import/require files like:

[code]

[2018-04-04 12:02] boris-ilijic opened #183 "Setting: 'previewOption' does not work in combination with 'previewResponseInUntitledDocument'"
- VSCode Version: 1.21.1
- OS Version: Windows 10
- REST Client Version: 0.18.1

Steps to Reproduce:

1.  In VS Code settings, set following:
[code]
2. Execute request and result will be shown in new document, but in 'full' mode and not in 'exchange' mode
3. Set: "rest-client.previewResponseInUntitledDocument": false
4. Result will be shown correctly in 'exchange' mode

[2018-04-04 12:25] Huachao commented on #183
nice catch, this is a known issue, I will support this in future releases

[2018-04-05 13:39] colutti opened #184 "Requests variables and errors in file"
With the latest commit we can now use requests variables, and that is great. One thing that I would change is the warning message you get when the request has not yet been sent. When using requests variables, requests that have not been sent marks the file as an "error" which causes the project to appear having issues, which is not a fact.

![1](https://user-images.githubusercontent.com/9368892/38

[2018-04-05 17:02] Huachao commented on #184
@colutti nice catch, I original purpose is that using referencing a not sent request should be realized by user. However what you advised makes sense, I will update the diagnostic severity to `Information` form `Error`. And in this case you can still get notified that this potential issue.

[2018-04-05 17:07] #184 closed

[2018-04-06 19:57] peterquirk commented on #180
Thank you - this is perfect!
Peter

[2018-04-09 21:49] TimThrelkeld commented on #168
I'm getting the same error as well for version 0.18.1:
[Extension Host] Activating extension `humao.rest-client` failed:  Cannot find module 'yargs'

Using your VSIX package works.

My version info:
Version 1.22.1
Commit 950b8b0d37a9b7061b6f0d291837ccc4015f5ecd
Date 2018-04-06T02:26:57.615Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

[rest client fail callstack.txt](https://gi

[2018-04-10 01:11] Huachao commented on #168
@TimThrelkeld thanks, could you please help to check if yargs in the `node_modules` folder `~/.vscode/extensions/humao.rest-client-0.18.1` with command `npm ls`.

[2018-04-10 01:31] Huachao commented on #168
@TimThrelkeld this also maybe a common issue in vscode for now, see Microsoft/vscode#43813, maybe besides using my vsix package in GitHub, you could use the command `Developer: Reinstall Extension`

[2018-04-10 12:08] akefirad opened #185 "Unexpected end-of-input: expected close marker for ARRAY"
- VSCode Version: 1.22.1
- OS Version: Ubuntu 18.04 Beta 2
- REST Client Version: 0.18.1

I've got a request like this:
[code]
When I send the request I get a 400 response from our restful service (spring+jetty+jackson) due to
[code]
But when I remove the white space in the `locations` field, it returns 200 response.
Any help?

[2018-04-10 13:46] Huachao commented on #185
@akefirad in fact, I have no idea, can you please create an issue in Jackson project to get a better view?

[2018-04-10 17:02] dralley opened #186 "Make the default location and name of saved responses configurable in the settings"
I would prefer to be able to set my default save location to, say, ```~/Downloads``` instead of ```~/``` and also that the files weren't hidden

[2018-04-10 19:36] abenedykt opened #188 "response variable does not get resolved"
- VSCode
Version: 1.22.1
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- OS Version: Windows 10 Home, Build Ver 1709

- REST Client Version: 0.18.1

Steps to Reproduce:

[code]

Sending session_token returns body:

[code]

Send request login actually sends (as caught by fiddler):
[code]

I get a warning  for a line "test: {{session_token.response.body}}"

[code]

For now I have t

[2018-04-11 01:30] Huachao commented on #188
@abenedykt under the premise that content type of response body should be `json` or `xml`, we could successfully extract the body value. And if your response body actually matches the case, you should provide the `JSONPath` or `XPath` to extract the expected part as described in warning message. In your case, if your response body is filled with `9m5UzOssDiuKpqlYb0HPIlPy7i7Q4ulBDCdeaaaaaaaaaa`, it

[2018-04-11 06:40] abenedykt commented on #188
@Huachao ok thats the thing I've didn't noticed. This string is not a valid json :( lame of me.

`{{session_token.response.body.$}}`

doesn't get resolved. Oh well, I guess I'll have to copy tokents manually.
The response is only withhed with `9m5UzOssDiuKpqlYb0HPIlPy7i7Q4ulBDCdeaaaaaaaaaa` (but it's not a valid json. Maybe it could be a feature request to actually copy the whole response.

[2018-04-11 06:55] Huachao commented on #188
@abenedykt yes, and what's your `Content-Type` of your response?

[2018-04-11 07:12] abenedykt commented on #188
`Content-Type: text/plain;charset=UTF-8` :(

[2018-04-11 07:14] Huachao commented on #188
@abenedykt got, as you said previously, I should implement a selector to fetch the whole response body, instead of extracting specific attribute of `json` and `xml` responses.

[2018-04-11 07:16] abenedykt commented on #188
that would be awesome :)

[2018-04-11 12:12] lushibi commented on #86
cool, however, it the expression can be assigned to be a temp variable name, it would be more convenient.
e.g.

[code]

can be changed to

[code]

or

[code]

[2018-04-11 18:58] akefirad commented on #185
@Huachao I'm not sure whether it's completely a Jackson question/issue, since sending exactly the same request (with the same body) via `curl` will gets you 200 response. Is it possible to debug what exactly the client sends as the request body? How? Thanks.

[2018-04-11 22:24] Huachao commented on #185
@akefirad you are right, it's really an issue from my extension, blank line is not allowed in request body currently.

[2018-04-12 06:43] lldata commented on #188
I was just about to open an issue on selecting the whole body in an XML request.

[code]

I am a bit rusty in XPath, but I would expect //* to select the top level children - which it does.
I was trying to select the root element, where / would be a valid xpath for that, but that is not accepted in the plugin.

If {{getxml.response.body}} just returned the whole body, that would solve my problem.

[2018-04-12 07:14] lldata opened #189 "Only one response variable gets resolved"
- VSCode Version: 1.12.1
- OS Version: win7
- REST Client Version: 0.18.1

Capture response variables only works for one variable.
You can mouseover in the editor and see that the variables are resolved correctly, but when the request is sent, the variables does not get resolved. Maybe the parser is greedy?

Steps to Reproduce:
[code]

[2018-04-12 07:33] Huachao commented on #189
@lldata really nice catch, I will publish this fix in next release.

[2018-04-12 07:33] #189 closed

[2018-04-12 07:37] Huachao commented on #181
@lldata nice suggestion, script support is in my consideration, I'd like to provide some hooks(before request and after response) for user to write customize script. Add user just need to specify the script location in the request metadata like existing name metadata. For examle:

[code]

[2018-04-12 10:19] lldata commented on #181
I can see how  you can support scripts in the comment section above the request.

Would that work for my two other examples as well?
- capture response to variable
- save response to file

You are getting into the developing a DSL for testing HTTP. It is very useful and if you get it right, I could imagine that other tools could pick the format up and use it as well!

[2018-04-13 19:07] redcoreit opened #190 "Relative certificate path resolving not working"
- VSCode Version: 1.22.1
- OS Version: Win10 1709 OS Build 16299.371
- REST Client Version: 0.18.1 (2018/3/30)

Steps to Reproduce:

1. Setup a workspace folder
2. Put a .rest file with some valid data (irrelevant)
3. Put the following config to the workspace file:

[code]

4. Send the request

Reslut:

Possible bug in `httpClient.ts` file (debugged values added to the code):
[code]

showWarningMe

[2018-04-14 10:22] herkulano opened #191 "Request with several values from an array of a previous response"
- VSCode Version: 1.22.2
- OS Version: MacOS 10.13
- REST Client Version: 0.18.1

Steps to Reproduce:

Create a request that has several variables from an array of a previous response.
[code]

It works if there's only one value taken from the array. Any of the values work separately but not together in the same request.
[code]

[2018-04-14 14:29] Huachao commented on #191
@herkulano Duplicated with #189.  Already fixed, and will publish this fix in next release.

[2018-04-14 14:29] #191 closed

[2018-04-15 11:35] UsulPro opened #192 "How to specify path for saving response?"
Thank you for this great extension!

One thing that curious for me: It saves responses to a path like `~/.rest-client/responses/raw/Response-1523791868651.http` while I'd like to specify my project folder or at least to the same folder where .http file is located. Do I miss something in settings? (didn't find any for that)

- VSCode Version: 1.22.2
- OS Version: LinuxMint
- REST Client Version: 0.

[2018-04-16 01:29] Huachao commented on #192
@UsulPro you didn't miss anything, and it's in my plan, duplicated with #186, and close this to in favor of that. Thanks for your suggestion.

[2018-04-16 01:29] #192 closed

[2018-04-17 04:53] Huachao commented on #189
@lldata @herkulano you can try the latest version 0.18.2 to verify

[2018-04-17 04:53] Huachao commented on #180
@peterquirk you can try the latest version 0.18.2 to verify

[2018-04-17 04:54] Huachao commented on #184
@colutti I have fixed this in 0.18.2, and you can upgrade the extension and verify it.

[2018-04-17 04:55] Huachao commented on #190
@redcoreit you can verify this fix in latest version 0.18.2, thanks in advance.

[2018-04-17 06:28] lldata commented on #189
Works for me too.

[2018-04-17 06:44] redcoreit commented on #190
Perfect, thank you! Keep up the good work, awesome extension!

[2018-04-18 13:41] Huachao commented on #185
@akefirad since it's by design, I'd like to close the issue. You should not have blank line in plain request body. If you really wish, one way is to put the request body in a file.

[2018-04-18 13:41] #185 closed

[2018-04-19 06:04] qbq opened #193 "How to output the real request which send to service"
variables are really help for a request definition, but how can I get the real request without the variables which send to service?

And can I add code to process the response, like assertion?

[2018-04-19 06:27] Huachao commented on #193
@qbq for the first question, you can view the actual sent request and response with setting `rest-client.previewOption` to `full`. For the second question, script support is still under my consideration.

[2018-04-19 07:37] Huachao commented on #193
@qbq sorry for the typo...

[2018-04-19 12:27] mfonsen opened #194 "Socks5 support (feature request)"
- VSCode Version: 1.22.2
- OS Version: macOS 10.12.6
- REST Client Version: 0.18.2

Steps to Reproduce:

1. start vscode with socks5 proxy settings: `code --proxy-server="socks5://localhost:12345"`
2. make a http request

The request will not go through the socks5 proxy. Instead the resource is accessed directly.

If this would be seen as a valuable feature, this could be implemented using two hel

[2018-04-19 18:48] lalberto8085 opened #195 "Configurable keyboard shortcuts"
- VSCode Version: 1.22.2
- OS Version: W10
- REST Client Version: 0.18.2

I like using the keyboard shortcuts but I have global, machine wide, shortcuts for `crtl-alt-r` for instance, I'd like to be able to change this so I can use my own keyboard shortcuts.

Thanks

[2018-04-20 01:58] Huachao commented on #195
@lalberto8085 change keyboard shortcuts is a feature from vscode, and you can open the command `Preferences: Open Keyboard Shortcuts`, and then find your expected command and update it.

[2018-04-20 01:58] #195 closed

[2018-04-20 10:01] #169 closed

[2018-04-20 23:43] Huachao commented on #169
@fabianschlier I have implemented this feature, and will publish this in next release.

[2018-04-23 02:46] eamodio opened #197 "Support resolving arrays in query string and body"
- VSCode Version: 1.23
- OS Version: Windows 10
- REST Client Version: 0.18.2

I would really like the ability to use a jsonpath query that resolves to an array in both the query string and request body.

Here is an example:
[code]

Awesome extension BTW!

[2018-04-23 02:52] eamodio commented on #181
I would also love the ability to set a variable from the response: e.g. `@foo = {{login.response.body.$}}`

That way I can have File level variables that can be overwritten by a request, and to allow a simple naming structure to more complex jsonpath queries

[2018-04-23 03:26] Huachao commented on #197
@eamodio nice suggestion

[2018-04-23 03:30] Huachao commented on #181
@eamodio this feature is in my todo list. And I am still considering the design.

[2018-04-23 03:55] eamodio commented on #197
Thanks -- fyi, it seems somewhat like a bug right now that a jsonpath query like `{{data.response.body.$.json.teams[*].id}}` is currently equivalent to `{{data.response.body.$.json.teams[0].id}}`

[2018-04-23 05:09] Huachao commented on #197
@eamodio actually it's by design https://github.com/Huachao/vscode-restclient/blob/52c99ab27da93ee03d6262d20016cd7611565cd5/src/requestVariableCacheValueProcessor.ts#L85-L86

[2018-04-23 07:25] Huachao commented on #169
@fabianschlier @ashee @juunas11 @ljyf5593 @noark9 @jenan-stripe you can try the latest version 0.18.3 to verify this feature. The syntax follows what @fabianschlier described:
[code]

[2018-04-25 11:18] defectus opened #198 "Extension hosts randomly fails when rest client extension enabled"
- VSCode Version: 1.22.2 (1.22.2)
- OS Version: MacOS 10.13.4 (17E199)
- REST Client Version: 0.18.3

Steps to Reproduce:

1. enable the rest client extension
2. try to work for some time
3. extension host crashes and js console shows a weird rest client error.

[code]

[2018-04-25 12:28] Huachao commented on #198
@defectus it seems the application insights rethrow an exception, did you meet this in previous versions? And I have disabled the exception collection of application insights, will publish a new version tomorrow. Do you have other interesting things to share for this crash?

[2018-04-25 12:58] Huachao commented on #198
@defectus The error seems related to the uncaught exception in the process, in other words, there should be other root cause for the crash. From the error type EPIPE, it seems piping to a closed stream. Anyway I would like to disable this behavior that rethrow uncaught exception.

[2018-04-25 13:33] Huachao commented on #175
If you just want to resend the last request, just press Cmd+Alt+L

[2018-04-26 05:28] defectus commented on #198
I agree that this issue may be very hard to debug - it happens intermittently and is probably not coming from your code (guessing by the `applicationinsights` module).
I'll try to get more information although that may be difficult as the problem occurs once or twice a day.

[2018-04-30 10:20] liorafar opened #199 "Run all requests one after another does not work"
- VSCode Version: 1.22.2
- OS Version: Win10
- REST Client Version: 0.18.3

Steps to Reproduce:

1. Create http file
2. Create several GET requests one after another using delimiter ###
3. Click on Cntrl+Alt+R
Expected: All requests ran one after another and see results of all requests in a different panes
Actual: only the last request is running

[2018-04-30 11:28] Huachao commented on #199
@liorafar we haven't supported this feature so far...

[2018-04-30 11:51] liorafar commented on #199
It will be good to have such feature in order to improve integration tests

[2018-05-01 16:25] infinisuite opened #200 "CodeHelper Pegs CPU When REST Client is Enabled."
- VSCode Version: Version 1.22.2 (1.22.2)
- OS Version: 10.13.4 (17E199)
- REST Client Version: -.18.3

Enabling REST Client seems to peg my processor with 'codeHelper'  running at 100%+. This started yesterday without warning. However, I can consistently reproduce the issue by enabling this and disabling it (and killing codeHelper) resolves the problem. Sorry for the sketchy details, but that's a

[2018-05-01 23:07] Huachao commented on #200
@infinisuite do you mean as soon as you enable the extension, it would peg cpu, or after sending a request, or something else? Thanks for reporting this.

[2018-05-02 01:25] infinisuite commented on #200
It appears to begin when the extension is enabled. Also, the ‘Send’ links
do not appear after this starts. I was using it quite a bit the last few
days and then suddenly this behavior started. Certainly could be something
with my machine, but I wanted to pass it along.

On Tue, May 1, 2018 at 7:07 PM, Huachao Mao <notifications@github.com>
wrote:

--
*Lee Mellinger*
President & CEO
InfiniSuite, LL

[2018-05-02 02:12] Huachao commented on #200
@infinisuite can you open the `developer console` in `Help` tab to see if any error exists? And could you share with me the `.http` file if available?

[2018-05-02 13:11] infinisuite commented on #200
I think I may have found the issue. I have two instances of VSCODE running,
Client and Server, and on Monday I started running REST Client on both.
Currently the extension works fine when I run it from the Client project
(VSCODE instance #1). However, whenever I open the Server project (VSCODE
instance #2, NodeJS, Loopback REST framework) and then open a page with
links for REST Client then Code H

[2018-05-02 13:25] infinisuite commented on #200
Here’s the REST page (common.rest):

// ***********************************************
// GETTOKEN
// ***********************************************

POST /api/login/gettoken HTTP/1.1
Host: localhost:3000
Content-Type: application/json
Cache-Control: no-cache

{
"data": {
"companyid": "xxx",
"userid": "yyy",
"password": "zzz"
}
}

###

// ***********************************************
// GENSCH

[2018-05-02 13:34] infinisuite commented on #200
Also, IMHO, using REST Client in two concurrent instances of VSCODE is not
a requirement. It’s convenient, but if it were to be restricted to a single
instance that would be an acceptable solution.

On Wed, May 2, 2018 at 9:24 AM, Lee Mellinger <lee.mellinger@infinisuite.com

--
*Lee Mellinger*
President & CEO
InfiniSuite, LLC
www.infinisuite.com
Mobile: 1.734.531.8702
Skype: leemellinger
LinkedIn

[2018-05-02 21:42] schallm opened #201 "Show save response body link for large response bodies"
- VSCode Version: 1.22.2
- OS Version: Windows 10
- REST Client Version: 0.18.3

Steps to Reproduce:

1. Request url that returns large (binary in my case) response (i.e. https://www.cca.edu/sites/default/files/pdf/08/word-to-pdf.pdf)
2. Wait for response to show

Could we have a max-display-response size?  If the response size is larger than the setting, show a "Save Response Body" link that open

[2018-05-02 23:03] Huachao commented on #200
@infinisuite I can't repro your issue on my local machine with your `common.rest` when opening in two  vscode instances. And you need to remove the `.txt` suffix in the file name to test on your machine.
[common.rest.txt](https://github.com/Huachao/vscode-restclient/files/1969179/common.rest.txt)

[2018-05-03 01:31] Huachao commented on #201
@schallm, in fact, this is already supported by in my extension. You can click the `Save Response Body` icon in the upper right corner.
![image](https://user-images.githubusercontent.com/2796177/39556685-acce0448-4eb4-11e8-9420-8fe1aaa79d69.png)

[2018-05-03 01:31] #201 closed

[2018-05-03 01:43] schallm commented on #201
That does work and I'm fine just clicking that... It would be nice however if you didn't load large response bodies into the Response document.  It can take a long time to display, especially for large documents.  I was testing a endpoint that downloads mp3 files.  The response came back almost immediately, but "rendering" the bytes of a multi-megabyte file took a very long time.

I knew about the

[2018-05-03 01:46] Huachao commented on #201
@schallm actually before rending the page completely, you are already able to save the response body.

[2018-05-03 02:29] Huachao commented on #122
@ben-foster-cko if you no longer met this issue, I'd like to close this issue. You could reopen it as you wish.

[2018-05-03 02:29] #122 closed

[2018-05-03 03:26] schallm commented on #201
I did try that and it works. The “previous” request’s request/response was still showing in the response editor, but the “current” binary response is what was saved. So it did work. Just seems strange to “render” a huge binary file when most likely the developer just wants to save the file anyway.

To be clear, I love this extension and the new ability to save responses and use JSONPath just rocks

[2018-05-03 03:29] Huachao commented on #201
@schallm thanks for your suggestion about directly download the response body, I will consider it carefully 😄

[2018-05-03 05:00] Huachao commented on #186
@dralley @UsulPro I have implemented this feature by opening a saving dialogue when clicking `Save Response` and `Save Response Body`. So that you can decide where to store the file as you wish, and the default location in the dialogue will keep unchanged.

[2018-05-03 12:39] mtxr opened #202 "Do not empty rulesets"
When we don't have any changes in settings for response preview, we receive this warning in 'View Problems':

![image](https://user-images.githubusercontent.com/707561/39576765-a0736980-4eb5-11e8-87ac-7d78601afcd4.png)

I tracked the code to this line:
https://github.com/Huachao/vscode-restclient/blob/e54c9644baf16e0c99949eb483d75c280069be53/src/views/httpResponseTextDocumentContentProvider.ts#L11

[2018-05-03 13:34] kenkit opened #204 ""send request" option in http links selected filetypes"
- VSCode Version: Latest
- OS Version: Windows 10
- REST Client Version: Latest

Add sendrequest option to specific user defined filetypes

[2018-05-03 16:46] Kronuz opened #205 "Add support for default headers"
- VSCode Version: 1.22.2
- OS Version: macOS High Sierra 10.13.4
- REST Client Version: 0.18.3

Please add `rest-client.defaultHost`, `rest-client.defaultContentType`, `rest-client.defaultAccept`, etc.; so that, if configured, we don't have to specify `http://localhost:8080/` or `Host: localhost:8080`.

The idea is that for things like:

[code]

One could simply configure the (workspace) settings:

[2018-05-03 20:55] infinisuite commented on #200
The April release of VSCODE was just released and the problem seems to be
resolved after upgrading my environment.

On Wed, May 2, 2018 at 7:03 PM, Huachao Mao <notifications@github.com>
wrote:

--
*Lee Mellinger*
President & CEO
InfiniSuite, LLC
www.infinisuite.com
Mobile: 1.734.531.8702
Skype: leemellinger
LinkedIn: linkedin.com/in/leemellinger
<https://www.linkedin.com/in/leemellinger>

*Busine

[2018-05-03 22:50] Huachao commented on #200
@infinisuite ok, so I would like to close this issue, please feel free to reopen it.

[2018-05-03 22:50] #200 closed

[2018-05-04 01:11] #166 closed

[2018-05-04 01:28] #202 closed

[2018-05-04 01:56] Huachao commented on #205
@Kronuz I have added some comment in #206, and what about
[code]

[2018-05-04 02:54] Huachao commented on #204
@kenkit what's the user scenario for having this functionality? Do you just want to send an HTTP request inside a normal file, or you already have a file with the same schema as our `.http` schema, but not the same file extension? For the former, you can use the mouse to select the expected text and then use keyboard shortcuts(_Ctrl+Alt+R_) or pressing `F1` to type `Send Request`. For the latter c

[2018-05-04 08:52] Huachao commented on #186
@dralley @UsulPro you can try the latest version to verify.

[2018-05-04 11:56] kenkit commented on #204
Exactly, I want to send an HTTP request inside a normal file.
I think you should add a setting where you choose the files which should be scanned for http links

[2018-05-05 19:58] fabianschlier commented on #169
@Huachao this works good. Thanks for adding this feature. Especially when working with big requests the files are readable much better now.

[2018-05-06 00:06] Huachao commented on #204
@kenkit my parsing logic won't work for normal requests except your file schema follows `.http` file. And you can try it by setting language mode to `HTTP`.

[2018-05-07 01:59] Huachao commented on #167
@lostfields VSCode will support this option in webview in May Release, so I will complete this as soon as it is released.

[2018-05-08 01:03] Huachao commented on #186
@UsulPro I totally agree, I will reopen this issue.

[2018-05-08 14:14] #205 closed

[2018-05-10 07:33] Huachao commented on #198
@defectus do you still meet this since version 0.18.4?

[2018-05-10 07:44] defectus commented on #198
Yes, on my Mac. Strangly it's OK on my Ubuntu.
Let me reiterate, that disabling the rest client makes the errors go away. The moment I enable the plugin I start getting the errors.
Also, I'm not sure whether that's something specific to my installation or if it affects other people.

[2018-05-10 07:48] Huachao commented on #198
@defectus can you make sure the version on your macOS is 0.18.4? And you can use `Reinstall Extension...` command of vscode to ensure reinstall it.

[2018-05-10 11:08] kenkit commented on #204
I see. That can also do.

[2018-05-10 11:08] #204 closed

[2018-05-11 13:19] MaximA10rus opened #207 "Ctrl-Shift-R do not work for JSON files"
- VSCode Version: 1.23.0
- OS Version: Win10
- REST Client Version: 0.0.6

Steps to Reproduce:

1. Create new file with JSON request, press Ctrl-Shift-R. JSON sending Ok.
2. Save this file as JSON (*.json), press Ctrl-Shift-R. Nothing. JSON not sended.

But, for example, Ctrl-Shift-H works anyway, for all files.

[2018-05-11 14:47] Huachao commented on #207
This is by design, we want the shortcut limited to http and plain text. If you really want to send a request in other file formats, you need to use the mouse to select expected part, and press F1to select the send request command.

[2018-05-11 14:47] #207 closed

[2018-05-13 00:47] SimonDever opened #208 "Use of file variables in file variables only works if declarations are in reverse"
- VSCode Version: 1.24.0-insider (commit: 987c3dcc..)
- OS Version: Windows 10 x64
- REST Client Version: 0.18.4

Steps to Reproduce:

1. Create test file: `lidarr.http`:
[code]
2. Right click on the GET URL and select "copy request as cURL", output is:
[code]
3. Move `@start` and `@end` variables to be above the `@calendar` variable like this:
[code]
4. Again right click on the GET URL and select

[2018-05-14 09:14] kingwrcy opened #209 "could you please add some before/after script ?"
My server API is need RSA sign verify,How can I sign my request body before send request to server?

If I could execute script before send request to server,I can sign it.

[2018-05-14 09:42] Huachao commented on #209
@kingwrcy This is in my plan. Thanks for your suggestion.

[2018-05-14 13:41] alembiq opened #210 "can you please add support for using values from response in the next request?"
it would be really nice to be able to filter the response (? jsonpath ?) for a value, and set that to local variable, which can be used in another request in the file

it would allow us to go through a long query process, just with clicking on the each "send request" and see the responses in the meantime

[2018-05-15 01:59] Huachao commented on #210
@alembiq nice suggestion, Duplicated with #186

[2018-05-15 01:59] #210 closed

[2018-05-16 18:07] lamorales-xumak opened #211 "Execute the same request N time"
To testing is normal to execute the same request N times.

If you can add a variable to set the number to execute could be useful.

Example
[code]

thanks

[2018-05-17 01:57] Huachao commented on #211
@lamorales-xumak an interesting idea, I will consider it carefully. Thanks

[2018-05-18 22:30] SimonDever commented on #208
Modify to remove the ability to use variables in other variables or modify to be able to declare them in the reverse order as well?

[2018-05-19 02:26] Huachao commented on #208
@SimonDever I am planning the feature that the actual value of a file variable can reference other request variables and file variables.

[2018-05-22 02:03] #183 closed

[2018-05-24 16:51] jbelford opened #212 "This is a question not an issue sorry but at least you can close it right after you answer. Please answer thanks"
QUESTION:

I can't seem to find an answer to this but does this extension automatically escape query string parameters (or is there a way to) or must we do this ourselves?

[2018-05-25 01:52] Huachao commented on #212
@jbelford thanks for your question, my extension will automatically escape query string if not escaped by the user, otherwise it won't escape escaped query string.

[2018-05-25 01:52] #212 closed

[2018-05-27 13:38] mtxr commented on #182
Any update on this?

[2018-05-27 14:58] Huachao commented on #182
I am so sorry that I'm busy in my work, and I also put the feature that file variable can reference other variable in first priority

[2018-05-30 11:37] colutti opened #213 "How to declare integer variables?"
I have the follow payload I send to an endpoint:

{
    "subnet_name": "teste",
    "subnet_type": "frontend",
    "addressBlockSize": 27
}

As you can see, the parameter addressBlockSize is integer. When I replace it to a variable as follow:

 "addressBlockSize": {{frontend_subnet_size}}

It does not work. It seems to me that the syntax is wrong. How do I create a integer variable I could use in

[2018-05-30 12:53] Huachao commented on #213
I think the way you do is ok, it should be an integer you want. The syntax looks not right is due to the request body doesn't follow the JSON syntax after introducing the double quote

[2018-05-30 12:56] #213 closed

[2018-06-01 16:28] bergerd1 opened #214 "help w/ custom header variable"
- VSCode Version: 1.23.1
- OS Version: Microsoft Windows 10 Pro, build 17134
- REST Client Version: 0.18.4

I've read through the README, and keep in mind that I am a rather inexperienced individual here.

I am wanting to automatically grab the response of a custom header value for subsequent requests.
In this case, the value for 'x-csrf-token' in the initial GET request to be used in the next req

[2018-06-02 01:36] Huachao commented on #214
@bergerd1 you can follow the doc in the [request variables](https://github.com/Huachao/vscode-restclient#request-variables) section of README, like

[code]
In the previous example, the second request references a header named `X-AuthToken` which is returned from the first request, which is named as `login`. In your case, you also need to create a name in your request, and references it later.

[2018-06-02 01:36] #214 closed

[2018-06-02 05:41] chewlm86 opened #216 "Show Response Preview in Right Editor"
Hi,

Currently i am working with 3 editor at the same time(Left, Center, Right).
Would it be possible, to show the response preview in the Right Editor while having the .http in the Center Editor?
Perhaps a configuration to choose where to show the response preview.

[2018-06-03 04:39] Huachao commented on #216
@chewlm86 nice suggestion, I have implemented it and will publish it in next release.

[2018-06-03 04:39] #216 closed

[2018-06-06 08:46] juchom opened #218 "How to use azure function protected by AAD"
I went through the documentation on using restclient with AAD and the first part below works fine

[code]

My problem now is how to use AAD protected azure function, because this doesn't work.
[code]

Thanks

[2018-06-06 09:37] Huachao commented on #218
@flanakin can we use AAD auth in Azure functions?

[2018-06-06 17:24] flanakin commented on #218
What error do you get?

[2018-06-07 03:19] Huachao commented on #167
@lostfields @jon301 @arturock I have added a setting named `previewResponsePanelTakeFocus`, by default its value is `true`. So you can set it to `false` to preserve http editor focus.

[2018-06-07 03:19] #167 closed

[2018-06-07 08:10] lldata opened #219 "Cannot read property 'toLowerCase' of null"
- VSCode Version:  1.22.2
- OS Version: win7
- REST Client Version: 0.18.4

![image](https://user-images.githubusercontent.com/5525242/41086231-ac2668f0-6a39-11e8-84ca-58c61a426d68.png)

After running VS Code REST client for a while, I get this error when trying to call any REST service.
"Cannot read property 'toLowerCase' of null".

I can't reproduce it. It just happens every couple of hours or d

[2018-06-07 09:33] Huachao commented on #219
@lldata will this only occur when you are sending a specific request?

[2018-06-07 12:04] Huachao commented on #219
@lldata since retarting can work, maybe it is related to something that keep in memory of the extension lifetime. One thing I can think of is request variable cache. I will continue inspecting this tomorrow.

[2018-06-07 13:20] lldata commented on #219
Sounds likely. I use request variables extensively. Something related to caching or other mutable state seems very likely. But it might be hard to fix, if you can't reproduce it ;-)

[2018-06-07 13:46] juchom commented on #218
Here is the error:

[code]

[2018-06-07 16:04] flanakin commented on #218
Ah, that's a different error. That just means your AAD app needs to be registered with the mytenant.com directory. That doesn't have anything to do with RestClient. I can't seem to find a good doc for this, but I believe you need to use the Azure portal to register the app in the directory you want to test it in.

[2018-06-08 03:39] Huachao commented on #218
@flanakin @juchom My first workaround is that we need to explicitly provide a tenant ID of my registered app, like `Authorization: {{$aadToken 88c8cadc-0b09-4e74-a4a2-91a4c45d01ed}}`. When after that I met another issue which seems to related to the VSCode app permission of my Azure AD application with following errors:

From the error message I can see that client app aebc6443-996d-45c2-90f0-388f

[2018-06-08 04:50] Huachao commented on #219
@lldata I checked all the code used the `toLowerCase()` method, I can't find any risk code to call this function. And I want to confirm with you for some possibilities.

- Can you show me all the named requests'(requests that are referenced by other requests) response content type header value.
- What's your setting value for `rest-client.previewOption`?
- Do you use proxy setting `rest-client.exc

[2018-06-08 06:46] lldata commented on #219
- I have never noticed a response without Content-Type header. I am pretty sure we have that always.
- "rest-client.previewOption": "full" (default)
- Yes! We use a proxy server
- The errors only occurs when I click the request links

When I first got the error some time ago, I dived into the VSCode debugger and caught the error there.
To me it looks like vs code is trying to do a toLowerCase on s

[2018-06-08 07:00] Huachao commented on #219
@lldata so do you mean the error actually happens in the code from VSCode, not from my extension directly?

[2018-06-08 11:27] lldata commented on #219
From the debug session my impression was that the toLowerCase call was somewhere in the VSCode code base. But to me it looked like there was a different error below.
Also it only happens when I use the rest-client and only when I click "Send request".
I think it is safe to assume that the error is in your plugin. But it might not be in a toLowerCase call.

[2018-06-08 13:28] Huachao commented on #219
@lldata how did you go into the debug session of vscode

[2018-06-08 13:38] arturock commented on #167
Great news @Huachao! Thank you so much!

[2018-06-10 19:10] mindspanconsultants opened #220 "No Send Request Link on Mac"
- VSCode Version: 1.24.0 (1.24.0)
- OS Version: macOS 10.13.5
- REST Client Version: 0.18.4

Steps to Reproduce:

1. GET http://hearthstonebakery.ca/BakersBlog/wp-json/wp/v2/posts

No link appears above the entry any of my Macs. Have uninstalled and reinstalled. Hitting command-option-r works on one of my Macs running El Capitan 10.11.6, but does nothing on my MacBook Pro running 10.13.5.

[2018-06-10 22:28] Huachao commented on #220
What's the language of your file displayed at the right bottom of vscode?

[2018-06-11 02:59] Huachao commented on #198
@defectus I'd like to close the issue now since no one else reported this issue, and you can reopen it as you wish.

[2018-06-11 02:59] #198 closed

[2018-06-11 06:39] defectus commented on #198
Thanks for that, I no longer have access to a Mac and the issue seems to be excelusiveto Mac.

[2018-06-11 07:49] lldata commented on #219
I managed to reproduce it and get this Call Stack:

`e.onDidNotificationChange (notificationsAlerts.ts:39)
(anonymous) (notificationsAlerts.ts:28)
e.fire (event.ts:140)
e.notify (notifications.ts:127)
e.notify (notificationService.ts:65)
(anonymous) (mainThreadMessageService.ts:86)
e._showMessage (mainThreadMessageService.ts:47)
e.$showMessage (mainThreadMessageService.ts:41)
e._doInvokeHandler (r

[2018-06-11 08:11] lldata commented on #219
I just spent some time browsing around the debugger. It seems that the question is: how calls onread.
I think some kind of event/exception is emitted from some code that does not show up in the Call Stack.
"onread" in net.js is an event handler.

About the only useful thing I could find is that the event is from the restclient plugin:
![image](https://user-images.githubusercontent.com/5525242/4121

[2018-06-11 09:15] Huachao commented on #219
@lldata Uhh... Thanks for your help. And can you have a clear repro step for me? Like sending a request looks like what, and after that, everything no longer works until you restart vscode.

[2018-06-11 10:45] lldata commented on #219
I am sorry. I can't reproduce it at will.
It just happens - then I restart and it works again ..

[2018-06-11 15:14] mindspanconsultants commented on #220
Javascript. Here is the screenshot.
![screen shot 2018-06-11 at 8 13 55 am](https://user-images.githubusercontent.com/8838572/41240494-78a51300-6d4f-11e8-9eb1-0127ce431a33.png)

[2018-06-11 23:16] Huachao commented on #220
It should be HTTP. You can create a file with file extension http or rest, another way is manually set to HTTP with the changing language button

[2018-06-11 23:16] #220 closed

[2018-06-13 13:13] juchom commented on #218
Actually I was expecting restclient to work a little bit like this: https://blog.jongallant.com/2017/03/azure-active-directory-access-tokens-postman/

You specify the appId, secretId, resourceId and tenantId and you use the token then to make the call.

Let me know if you need more information.

[2018-06-14 01:43] Huachao commented on #218
@flanakin can you help to explain to @juchom why our AAD auth behaves like currently like we rely on the VSCode App, not @juchom's suggestion

[2018-06-14 11:21] KristofKlein commented on #15
+1

[2018-06-15 12:41] Chimaine commented on #15
+1

[2018-06-18 21:41] jcdickinson opened #221 "[Suggestion] Redirect Logging"
- VSCode Version: 1.24.0
- OS Version: Windows 1709
- REST Client Version: 0.18.4

When redirects are automatically handled, it would be helpful if they were logged to the result window (according to a setting). For example:

[code]

This is useful for people who enjoy the convenience of automatic redirection (the default setting right now), but are also interested in testing how that redirection

[2018-06-19 01:44] Huachao commented on #221
@jcdickinson I have thought about this for quite a long time, nice feature, I will implement this when available.

[2018-06-25 07:57] csholmq commented on #148
How would this work for POST using e.g JSON?

[2018-06-28 07:35] Huachao commented on #183
@boris-ilijic @jenan-stripe you can try this feature in latest release 0.19.0

[2018-06-28 07:37] Huachao commented on #216
@chewlm86 you can use the new setting `rest-client.previewColumn` to control this behavior, and available values are

- left
- center
- right
- current

[2018-06-28 07:39] Huachao commented on #172
@zdila I am sorry that in latest version 0.19.0, I make a breaking change that, original setting is deprecated and you should use the new setting `rest-client.previewColumn` to control which column to preview the response. And for your case, you should set the value to `current` which will keep the response previewed in the currently active column.

[2018-06-28 07:41] Huachao commented on #167
@lostfields @jon301 @arturock now you can use the new setting `rest-client.previewResponsePanelTakeFocus` to preserve focus of the http editor, by default it will be `true`, you can set it to `false` to achieve it.

[2018-06-28 14:40] arturock commented on #167
Working perfectly! Thanks!

[2018-06-28 20:36] mrtristan commented on #199
adding my vote for this. i've been using Insomnia app because it allows for chaining nicely with variables going between requests. I can see myself using this extension instead of insomnia but it is rather arduous to manually run each sequentially. is this something that may be a feature soon?

[2018-06-29 01:42] Huachao commented on #199
@mrtristan I think your requirement has some subtle difference with the opened issue, do you mean that if one request depends on other request variables, the dependent requests should be sent first automatically. If so, I totally agree with your suggestion, and I really wish to add this to the future release.

[2018-06-29 02:44] Huachao commented on #219
@lldata can you try to repro this issue in latest version 0.19.0, and I add some error log in output channel.

[2018-06-29 11:00] lldata commented on #219
Thank you. I have updated and will investigate next time I can reproduce it.

[2018-06-30 07:03] chewlm86 commented on #216
Thanks for the up date, it works great with setup where the editor is configured as follow
("rest-client.previewColumn": "right").
| 1 | 2 | **3** |

With the latest update from vs code which allowed splitting the editor vertically as well now. Still works when i set it up like this as well as long it is placed within the range of the first 3 editor.
("rest-client.previewColumn": "center").
| 1 |

[2018-07-02 08:19] Huachao commented on #216
@chewlm86 thanks for your information, here I have something to discuss with you, sorry for the late reply. I am thinking about the feature update from VSCode. Do we really need to follow the grid layout of VSCode, that means do we need to expose to our end user for all the column numbers to specify, like `One`, `Two`, `Three`, `Four` and even to `Nine`(Which is defined in VSCode API, and in fact

[2018-07-02 20:42] jboelter opened #222 "Parameter is not encoded correctly"
VSCode Version: 1.24.1
OS Version: Microsoft Windows [Version 10.0.17134.112]
REST Client Version: 0.19.0

Steps to Reproduce:

[code]

Output from "Rest Client: Copy Request As cURL". Note the secret is not encoded correctly (missing trailing '=') and the first '+' is transcoded as a space.
[code]
Expected

[code]

[2018-07-03 03:06] Huachao commented on #222
@jboelter thanks for opening this issue, and it's really a bug for your case, however, I still want to discuss with you about this. In your case, the `+` sign is not correctly encoded, the reason for this is that, for `x-www-formurlencode` mime type, `+` sign can be thought of as an already encoded character(space would be encoded as `+`), so it's hard for me how to identify whether the provided s

[2018-07-03 17:32] jboelter commented on #222
I had expected that the params would be read 'as-is' (assumed un-encoded) and then encoded if appropriate (in a url, in a form body). Something like has the output I expected. This retains the parameter value w/ pre/post whitespace trimmed and w/ leading/trailing newline left intact.  I read through the variable processing code and nothing stood out to me. It might be possible to shorten the escap

[2018-07-04 02:16] Huachao commented on #222
@jboelter thanks for inspecting the code, and the root cause here is that my extension allows users to provide both encoded and un-encoded params as they wish. So currently I use the [encodeurl](https://www.npmjs.com/package/encodeurl) module to achieve this, it can do some smart job like will not encode the "%" character unless it is not part of a valid sequence (%20 will be left as-is, but %foo

[2018-07-04 13:40] lastlink opened #223 "support for multi line comments"
It would be nice if we could have some kind of multi line comment support or non request separator
E.g.
###! no **Send Request**

or

 \```
 \```
= **multi line comment**

Sometimes I need to declare notes like the params to declare for environments to switch to or what the expected return response should be.

[2018-07-05 01:48] Huachao commented on #223
@lastlink nice suggestion, I will consider this carefully.

[2018-07-05 01:54] Huachao commented on #222
@jboelter does this change really fix your issue, in my test the `client_secret` is encoded as `f%20MjAyM2ItYTc5Mjk2LTgxZmQ%20tNjNiZjgwZjBlNGUx` different from the expected one `f%2BMjAyM2ItYTc5Mjk2LTgxZmQ%2BtNjNiZjgwZjBlNGUx%3D`

[2018-07-05 02:12] chewlm86 commented on #216
@Huachao yes i agree that the latest vs code update made positioning the preview column complex with the current implementation.

The new **current** & **beside** implementation you describe make sense.
I think it will work well with my current work flow.

Like you said, if i want it display at 3 i would just place the .http in column _2_ and the preview will appear in **3**.
| 1 | _2_ | **3** |

[2018-07-05 03:47] chewlm86 commented on #216
@Huachao So that why didn't know that.
Then that is fine. just keeping it simple. :-)

[2018-07-05 05:12] jboelter commented on #222
@Huachao I should have updated the complete example, I also found a bug in my proposed fix w/ split. Below works for Send Request and Snippets/Curl.

The extension works as-is per the example below for the 'Send Request' if I encode it to work around the '+' substitution. The transformation into the HARPostData breaks the Curl and Snippet generators however. A (corrected) proposed fix below.

As a

[2018-07-05 05:39] Huachao commented on #222
Does this fix really pass your original request in the issue, in the original secret variable, the value of it is a un-encoded string, which is different from your current encoded one in latest comment, do you really just want to pass the case of encoded one, if so, that's ok

[2018-07-05 08:11] WizBangCrash opened #224 "Automatically base64 encoding elements of requests"
- VSCode Version: 1.24.1
- OS Version: macOS 10.13.5
- REST Client Version: 0.19.0

Steps to Reproduce:

1. Simple request to request an authorization token
[code]

Is there a way to have the extension perform the base64 encoding of the `user:password` in the  issued request?

Also, is there a way to take a previous request's response and base64 encode it into the next request?

Great extension BT

[2018-07-05 16:19] jboelter commented on #222
The Send Request code path works by pre-encoding the '+' as %2B to avoid the %20 substitution. The patch fixes the snippet generation and 'cURL' generation with an embedded '=' in the value so it splits the key/value correctly.

I do think it would be useful to introduce overall or per-variable encoding/decoding options.  e.g. URL, base64.

[2018-07-05 23:12] Huachao commented on #224
Thanks, I will update the doc to make it more readable. And allowing transforming is in a low priority

[2018-07-06 02:08] Huachao commented on #216
@chewlm86 I have updated to code to reflect the latest VSCode update, and new setting value would be `current` and `beside`. I still think `beside` seems more appropriate than `next`.

[2018-07-06 11:38] mnrafg commented on #122
I'm also getting this error in-case of a simple GET request which works well in browser.

`
Connection is being rejected. The service isn’t running on the server, or incorrect proxy settings in vscode, or a firewall is blocking requests. Details: Error: connect ECONNREFUSED
`

[2018-07-06 12:04] Huachao commented on #122
@mnrafg do you have proxy setting

[2018-07-06 17:31] vladvino commented on #208
Referencing environment variables from a file variable used to work for me. Looks like something in 2018/6/28 release broke it. Would be great to see it working again.

[2018-07-07 04:11] mnrafg commented on #122
No I don't have any proxy settings.

[2018-07-07 04:32] Huachao commented on #122
@mnrafg do you meet this case for any request

[2018-07-10 00:45] bsrini opened #225 "AAD auth uses the wrong audience"
- VSCode Version: 1.25.0
- OS Version: Windows 10, 1803 (17134.137)
- REST Client Version: 0.19.0

Steps to Reproduce:

1. Create an Authorization header using a custom audience, like - `Authorization: {{$aadToken microsoft.com aud:https://graph.windows.net}}`
2. Click on Send Request and attempt to login via the device-login prompt.
3. You'll notice an error message indicating that the audience c

[2018-07-10 07:21] Huachao commented on #225
@bsrini can you also show me the request url?

[2018-07-10 10:22] johnrobertporter opened #226 "Prevent auto indenting Json"
I would like to be able to turn off the auto indenting of json to ensure my API is working correctly. I have an option to provide `pretty` json, or compressed as default, and I can't see if it is working with this extension.

[2018-07-10 13:19] Huachao commented on #226
@johnrobertporter I will add this option, and before that, you have to remove the line breaks and whitespaces manually or to use some tools. Thanks for your suggestion, and I will update in this thread later.

[2018-07-10 19:11] johnrobertporter commented on #226
Thanks

[2018-07-10 20:38] bsrini commented on #225
Here's a sample request, @Huachao:

`GET https://service.microsoft.com/api/resources/4e320e74-1c6a-45c5-9b6d-fae0cb23d1c0
Authorization: {{$aadToken microsoft.com aud:https://graph.windows.net}}`

[2018-07-11 06:40] bsrini commented on #225
My apologies for the confusion @huachao. The URL was just an example and doesn't point to an actual service. However, the bug's side-effects are visible regardless of the actual service's presence, since the auth token generation happens before the request is sent to the service endpoint.

What I wanted to demonstrate from the screenshot was that the audience specified in the header was different

[2018-07-11 06:43] Huachao commented on #225
@bsrini if you can provide the repro environment, that would be very helpful, thanks in advance.

[2018-07-12 07:39] Huachao commented on #222
@jboelter I have added the setting `formParamEncodingStrategy` to control the form data encoding behavior.  Provided enum values for this setting are `automatic`(default), `never` and `always`. The default `automatic` strategy will check the provided form parameter encoded or not and does the encoding job automatically. However, it doesn't work for the parameter value `+`, it will treat it as an e

[2018-07-12 07:39] #222 closed

[2018-07-12 10:27] Riduidel opened #227 "On Windows, curl command can't be run"
- VSCode Version: 1.25.0
- OS Version: Windows 10 Professionnel
- REST Client Version: 0.19.0

Steps to Reproduce:

1.  Start VS Code on Windows
2.  Create a .http file
3. Create any kind of HTTP request (ideally with headers and content)
4. Generate the curl command (using the right-click menu item)
5. Paste that command in Windows command emulator

It will fail in various ways

* "Classical" Win

[2018-07-12 22:08] Huachao commented on #226
@johnrobertporter I have added the `addRequestBodyLineIndentationAroundBrackets` setting to control this behavior, you can set it to `false` to achieve this. And this fix will be included in next release.

[2018-07-12 22:08] #226 closed

[2018-07-13 02:21] bsrini commented on #225
Hey @Huachao,

Here's a zip file containing screenshots of the issue happening, along with the sample creds for you to try-out yourself:
[repro-with-screenshots.zip](https://github.com/Huachao/vscode-restclient/files/2190968/repro-with-screenshots.zip)

From what I can see, some requests seem to go go through fine, and while I'd expect the token to be cached for the next request, I get another log

[2018-07-13 03:04] Huachao commented on #227
@Riduidel I have fixed the issue and will publish this fix in next release.

[2018-07-13 03:04] #227 closed

[2018-07-13 08:03] Huachao commented on #225
@bsrini thanks for your information and I have fixed the issue and will publish this fix in next release.

[2018-07-13 08:03] #225 closed

[2018-07-13 08:04] Huachao commented on #208
@vladvino I will fix this ASAP.

[2018-07-13 20:19] bsrini commented on #225
Thanks for fixing the bug so quickly, @Huachao! 🥇

[2018-07-15 11:12] johnrobertporter commented on #226
Thanks

[2018-07-19 17:37] arturock opened #228 "Crash on big json response"
- VSCode Version: 1.25.1
- OS Version: Debian 8.11
- REST Client Version: 0.19.0

Steps to Reproduce:

1. Request
[code]

An out of memory rises and extension host dies. From the log, seems jsonc-parser is the culprit

[code]

[2018-07-20 01:48] Huachao commented on #228
@arturock in my test, does this response body really a JSON file?
[output.json.txt](https://github.com/Huachao/vscode-restclient/files/2212184/output.json.txt)

[2018-07-20 02:21] arturock commented on #228
I checked the headers and it corresponds to a gzipped response:

[code]

I performed the same request using another lib and got a (big) result, so after seeing the error log I thought the problem was not the response content but the size, however when using curl, the `--compressed` flag is needed for the real contents to be displayed. May be that gzip is not supported?

Btw, I love this extension.

[2018-07-20 04:27] Huachao commented on #228
@arturock I can reproduce this issue, and the root cause is that the data is too large (around 170MB), and my suggestion is that if the JSON response body size is larger than a given threshold, no beautify will be done. However, I found VSCode seems can't render the response in webview of VSCode, as well as I can't open such large file in text document of VSCode.

So current plan is to stop format

[2018-07-20 14:44] arturock commented on #228
Well, response is absurdly long in this case. Yes, a threshold to keep the extension from formatting when the response is too big would work great. It may worth to consider a second limit to avoid the extension to collapse on edge cases.

[2018-07-24 17:36] mchelen commented on #208
@Huachao Is there an issue for the feature enhancement of reusing one file variable in another file variable?

[2018-07-24 17:36] mchelen commented on #148
@svenax Related to #208

[2018-07-25 01:47] Huachao commented on #208
@mchelen I am afraid not. And I will implement the feature that file variables can depend on any custom variables(environment, file and request variables) finally.

[2018-07-27 16:16] luislobo opened #229 "[Feature request] Support for rest-client.env.json and rest-client.private.env.json"
Having a team that work on both WebStorm/PhpStorm and VS Code, finding a way to be compatible is always desirable.

We started using http/rest files for some of our stuff, and we would like to be able to have our environments configured also in a way where we can share them.

PhpStorm/WebStorm supports having `rest-client.env.json` and `rest-client.private.env.json` for this very exact reason.

Is

[2018-07-30 02:45] kybom opened #230 "不能解析json中的"=""
Issue Type: <b>Bug</b>

[code]
token最后的\u003d应该是个"="

Extension version: 0.19.0
VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2500 CPU @ 3.30GHz (4 x 3293)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash

[2018-07-30 03:32] kybom commented on #230
这是response body的一部分。这个请求是获取token的，包含一些私密信息，所以不便于贴出来。在postman中是可以正常显示的。

[2018-07-30 03:36] kybom commented on #230
我的的账号是在“口袋48“app中注册的，这个请求是为通过账号获取token.
下载地址：[http://h5.48.cn/pocket48/index_pc.html](url)
请求格式是这样：
[code]

[2018-07-30 04:39] Huachao commented on #230
@kybom nice catch, I can repro it. As you can see in the postman, the actual response is really `\u003d`, while after prettify, the `\u003d` is prettified as the equal sign. And I will consider how to fix it since we don't use the same way as postman did. I will update in this thread if I come up with a solution.

And I have another question that if we use the token with `\u003d` and sent to the s

[2018-07-30 04:45] kybom commented on #230
使用\u003d 服务器返回:
[code]

[2018-07-31 04:13] Huachao commented on #230
@kybom I have fixed the issue by adding a setting `rest-client.decodeEscapedUnicodeCharacters`. You can set it to `true` to fix this.

[2018-07-31 04:14] #230 closed

[2018-08-02 09:01] svenax opened #231 "Show response preview in correct split"
- VSCode Version: 1.25.1
- REST Client Version: 0.19.0

This is related to #216, but the new grid view in VS Code may need even more flexibility.

I often work with a vertical display using two panes split like so:

<table>
  <tr>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
  </tr>
</table>

If I have my REST file open in *2*, then I'd ideally want the response in a split in the same row, i.e.:

[2018-08-02 10:00] svenax commented on #231
Sorry about the noise, this actually works as intended. Don't know why it wasn't at first.

[2018-08-02 10:00] #231 closed

[2018-08-05 23:38] cryxia opened #232 "Body parsing of request breaks odata batch requests"
- VSCode Version: 1.25.1
- OS Version: Windows 10
- REST Client Version: 0.19.0

Sorry, I don't have a good reproduction because I haven't found a public odata server that I can test this out on. However I'll detail the issue below and hopefully I'll find some time to do a fix. I wanted to log this issue so that others can find it.

The problem is that the parsing of the body of some requests is a

[2018-08-06 04:43] cryxia commented on #232
@Huachao That's the thing, the example above _is_ one request. And it does follow the multipart format structure.

Each part is delimited by `--batch_36522ad7-fc75-4b56-8c71-56071383e77b` per the Content-Type.
Everything between `--batch_36522ad7-fc75-4b56-8c71-56071383e77b` should be treated as a part and shouldn't be parsed by the rest client.

I know it's confusing because each part is in of it

[2018-08-06 04:49] Huachao commented on #232
@cryxia The extension doesn't support multipart/mixed content type, I think that's the root cause. I will consider supporting this later. Thanks for your suggestion.

[2018-08-06 04:52] cryxia commented on #232
@Huachao No problem. As I said I was hoping to help out by submitting a change for this when I had time. Thought I'd document it so that others can find this issue and know that someone is looking into it :)

[2018-08-06 04:53] Huachao commented on #232
@cryxia that'll be great.

[2018-08-07 05:38] Huachao commented on #230
@kybom you can try the latest version 0.19.1 to verify.

[2018-08-07 05:39] Huachao commented on #225
@bsrini you can try the latest version 0.19.1 to verify the fix.

[2018-08-07 05:39] Huachao commented on #227
@Riduidel you can try the latest version 0.19.1 to verify.

[2018-08-07 05:40] Huachao commented on #226
@johnrobertporter you can try this fix with the newly added setting `rest-client. addRequestBodyLineIndentationAroundBrackets` and set it to `false` in latest version 0.19.1.

[2018-08-07 05:41] kybom commented on #230
@Huachao 怎么升级到0.19.1

[2018-08-07 05:41] Huachao commented on #222
@jboelter you can try the latest version 0.19.1 to verify the fix with the new setting `rest-client. formParamEncodingStrategy`. And you no longer need to partial encode the characters, just set it to `always`, that should be the case for you.

[2018-08-07 05:43] Huachao commented on #216
@chewlm86 @svenax I have published a new version 0.19.1, and the setting values of `rest-client.previewColumn` are `beside` and `current` to control the previewing column which reflects the latest VSCode grid layout update.

[2018-08-07 05:45] Huachao commented on #230
@kybom by default VSCode will automatically update the extensions which are available for you. However, if you have disabled this behavior, you can do this manually in `Extension View`, and find out my extension, click `Update`. After that, you need to restart the VSCode instance.

[2018-08-07 05:56] kybom commented on #230
可以显示“=”了。刚才我的vscode没有检测到更新，执行一下扩展的搜索功能就看到更新了。

[2018-08-07 17:48] Meir017 commented on #135
@Huachao take a look at this - https://youtu.be/7Eh_l7jEcCo?t=24m6s the aspnet team is working on Razor support in vscode which means multiple languages in the same file

[2018-08-08 05:06] chewlm86 commented on #216
@Huachao Thanks, works great. :-}

[2018-08-08 06:32] Huachao commented on #135
@Meir017 thanks, I will investiate this later.

[2018-08-15 01:42] marija17 commented on #127
Any status on this feature?  Love the plugin - GraphQL would be a huge value add for us.

[2018-08-15 02:09] Huachao commented on #127
@marija17 sorry for no any update on this feature, since I am busy in my daily work

[2018-08-15 14:40] marija17 commented on #127
@Huachao - Thanks for the prompt response!

If I were to explore this myself, are you open to contributions to your plugin?  I'm not sure how far you explored this addition - but did you run into any particular challenges or roadblocks you could note?

Alternatively, would you be open to someone using your plugin as a base (with credits given) to create a new plugin particularly for graphql?

[2018-08-15 21:54] ygraber opened #234 "Speed issues formatting complex JSON"
- VSCode Version: 1.26.0
- OS Version: Windows 10
- REST Client Version: 0.19.1

Steps to Reproduce:
1. GET http://www.vizgr.org/historical-events/search.php?format=json&begin_date=-3000000&end_date=20151231&lang=en
2. Wait, Wait, Wait

The speed of formatting JSON using the current parser seems to be related to number of "edits" not size of JSON. I have switched to 'js-beautify' and have made a P

[2018-08-15 22:32] bsrini commented on #225
0.19.1 works perfectly, thanks for the quick fix @Huachao!

[2018-08-16 00:06] opensas opened #235 "Is it possible to issue a multipart POST with binary files?"
- VSCode Version: 1.22.2
- OS Version: win 7 enterprise
- REST Client Version: 0.18.4

I'm not sure how to issue a mutipart with binary content referencing files from my workstation.

In curl I do it like this:

[code]

[2018-08-16 01:55] Huachao commented on #235
@opensas as you can see in the `README.md`, the example should work for you:
[code]
In this case, the *1.png* in current directory is a binary file, and you can even specify the absolute path as you wish. You just need to put a leading **`< `** before the file path.

[2018-08-16 01:55] #235 closed

[2018-08-16 02:09] kikyous opened #236 "is there a way to disable codelens fadein animation wher switch to .http file"
every time I swtich to my .http file, I must waste about 2 seconds to wait `Send Request` link appear.

It's so annoying.

[2018-08-16 04:12] Huachao commented on #236
@kikyous currently there's no way to disable this. And I think we should improve the startup performance for `.http` files. And can you provide the request file to me to help for investigation? Thanks in advance.

[2018-08-16 06:38] Huachao commented on #127
@marija17 I really welcome that you can contribute to my extension for the graphql feature. The challenges for me(since I am not familiar with graphql), what kind of request body should we support and how to support. Like following two examples:
[code]
and
[code]
In both examples, they are not standard json body, that means how should we identify the request body targets for graphql and we should

[2018-08-16 10:58] opensas commented on #235
Excellent! It works great!

Thanks a lot for the prompt reply and for your hard work.

This is a VERY useful feature, perhaps it could be added to the [Main
Features](https://github.com/Huachao/vscode-restclient#main-features)
section.

On Wed, Aug 15, 2018 at 10:55 PM Huachao Mao <notifications@github.com>
wrote:

[2018-08-17 05:52] #234 closed

[2018-08-17 05:53] Huachao commented on #234
Already merged!

[2018-08-17 15:17] loverde opened #237 "Support environment variables in defaultHeaders"
Please enhance the rest-client.defaultHeaders setting so that it supports environment variables (specifically in the value of the header, but might as well implement it in both the key and value).

Steps to Reproduce:

1. Define a defaultHeader that uses an environment variable, e.g.
[code]
2. Submit a request.

The outgoing request contains the raw value
[code]
But ideally it would contain:
[code

[2018-08-17 15:29] loverde commented on #148
For headers, this can kind of be accomplished with rest-client.defaultHeaders, but I just opened a feature request #237 to support environment variable replacements within those default headers.

But I can see a scenario where having default query parameters might be useful.  E.g. if an API requires a client_id and client_secret to be passed with all requests.  It's true you can define a variable

[2018-08-17 15:31] loverde commented on #148
And I guess a different feature request would be to have different defaultHeaders (and defaultQueryParameters) by HTTP method.  e.g.

[code]

[2018-08-17 15:34] loverde commented on #237
It might also be nice, albeit probably a separate feature request to allow the defaultHeaders to be specified based on the HTTP method.  E.g. to specify application/json for POSTs.  Something like:

[code]

[2018-08-17 16:13] loverde commented on #86
For reference, I just opened a feature request #237 to support variables in the defaultHeaders which is half of what you are requesting here.  It doesn't automate the storing of the value (which would be nice), but it does avoid having to include the header on every HTTP request definition.

Maybe a separate feature request should be opened specifically covering the topic of response parsing into

[2018-08-17 17:32] loverde opened #238 "[Feature Request] Support Response Scripting"
I think this is a consolidation of #86, #181, and #209, but it requests a variant that would be compatible with JetBrain's REST Client http file definitions.

https://www.jetbrains.com/help/idea/http-client-in-product-code-editor.html

E.g.

[code]

and support for the response scripts being external files:
[code]

The JetBrains API also supports client.test and client.assert for running tests/ass

[2018-08-17 18:54] loverde commented on #238
Looks like VSCode does support changing the config via the API:
https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3946

I guess the other option for storing as "transient" is to store it in ExtensionContext.workspaceState:
https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L4510

[2018-08-17 21:42] nahtnam opened #239 "Fails to Get/Parse Valid JSON"
- VSCode Version: 1.26.1
- OS Version: 10.13.5
- REST Client Version: 0.19.1

Steps to Reproduce:

1. Make a `test.http` file.
2. Add the following
[code]
3. Run it

It will get stuck and not show anything and eventually slow down the rest of vscode as well.

[2018-08-18 23:37] Huachao commented on #239
@nahtnam it seems that I can view the response successfully except that it will cost a longer time.

[2018-08-20 21:51] nahtnam commented on #239
Ah I see, it takes about 25 seconds to load, and even then it is un-prettified. Is there any way to increase the performance? The API returns within 300ms so it should really only take a few seconds max right?

[2018-08-21 16:46] nahtnam commented on #239
Awesome, any idea when this feature will be released into the market?

Really appreciate the work done here, this library is very useful!

[2018-08-22 13:35] AresAndy opened #240 "Open result tab either by overwrite or as horizontal split (grid system)"
Hello,

By default once the request is done, a new tab is opened as a vertical split on the right.
Can these two behavior be changed, like:

- Can one decide to overwrite already existing tab? Or...
- Can one decide to split horizontally rather than vertically (now that VSCode supports a full grid system)?

Thanks and keep up the good work, this plugin is gold, a must for a webdev :smiley:

[2018-08-22 19:00] nahtnam commented on #239
Gotcha, awesome, thanks!

[2018-08-22 19:08] nahtnam commented on #239
Actually @Huachao The issue is still there. Please try with this API URL: https://apituner.ecbsn.com/apituner/v1/store/reward/list?channel=4

On my computer, it takes forever and eventually ends up freezing VS Code. Is it because the JSON is big and VS Code cannot handle it or is it because you are processing the JSON?

[2018-08-23 05:26] Huachao commented on #237
@loverde nice suggestion, I will consider this feature request carefully.

[2018-08-23 05:28] Huachao commented on #238
@loverde nice suggestion, I considered the script support for a long time. I will update in this thread later.

[2018-08-23 07:30] Huachao commented on #240
@AresAndy it's a setting of VSCode itself, and it will apply to all sort of editors. I also can't find a way to set this setting to language only. It seems VSCode doesn't support `workbench.editor.openSideBySideDirection` for language-specific setting 😞

[2018-08-24 07:35] jjeejj opened #241 "Invalid protocol: 127.0.0.1"
- VSCode Version: 1.25.1
- OS Version: MacOS High Sierra 10.13.6
- REST Client Version: 0.19.1

Steps to Reproduce:

selected a request api ，and   Send Request   then the error will show
`GET http://ip.taobao.com/service/getIpInfo.php?ip=myip`

![image](https://user-images.githubusercontent.com/15176971/44571275-e69f0a80-a7b2-11e8-9472-66dcaf5bd644.png)

this why?

[2018-08-24 09:11] Huachao commented on #241
@jjeejj I can't repro it in my local machine. What's your proxy setting?

[2018-08-24 09:49] Huachao commented on #241
@jjeejj I guess that your proxy is like `127.0.0.1:{port-number}/xxx`. And in this case, since you have a colon in the proxy, when the nodejs `URL` module parses the url, it thought the string before the first colon is the protocol name. I think the way to fix it is that, you just adjust the proxy to `http://127.0.0.1:{port-number}/xxx`.

[2018-08-24 21:18] werwolfby commented on #238
I love JetBrains REST client! Will be happy to have support here.

Do you need any help with the implementation?

[2018-08-25 04:43] sanpee commented on #188
I just started to use this extension in complement with Postman. Very useful extension.

Instead of `{{session_token.response.body.$}}`, can `{{session_token.response.body.*}}` be used to get all the body content regardless **Content-Type**. I think that only need a minor change in requestVariableCacheValueProcessor.ts.

[2018-08-25 12:30] jjeejj commented on #241
yes , you are right .  set proxy ago.  but why  'when the nodejs URL module parses the url, it treats the text until the first colon is the protocol name'  ?

The protocol schemes considered to be special by the [WHATWG URL](https://url.spec.whatwg.org/) Standard include:** ftp, file, gopher, http, https, ws, and wss **

[2018-08-25 15:30] tfnaylor commented on #237
This feature would be super useful.

Also, thanks for this amazing VS Code extension @Huachao . I might never use Postman again...

[2018-08-29 02:33] yuiopt opened #242 "show request headers and bodies"
As the title describe, is it able to show the request lines above the response lines, it is easier to debug to view both request and response lines

[2018-08-31 05:48] circussocial commented on #168
Its not working for me also.

[2018-08-31 06:05] Huachao commented on #168
@circussocial have you ever tried the command `Developer: Reinstall Extension` and select my extension?

[2018-08-31 06:08] Huachao commented on #132
@defectus since vscode version 1.26.0, the `⌘+A` already worked for the response in webview.

[2018-08-31 14:50] locohost opened #243 "req.body is empty using REST Client, but with Postman, it works fine"
- VSCode Version: 1.26.1
- OS Version: Windows 10
- REST Client Version: 0.19.1

Steps to Reproduce:

1.  Create a POST Json content
2. Post it

When I post with REST Client, in the express route, req.body is always empty. When I post the *exact* same message using Postman, the express route works fine as req.body is populated as expected.

Here is the text in Rest client...
NOTE: The appSecret is

[2018-08-31 15:18] Huachao commented on #243
The blank line should exist between request body and headers, not the request line and headers

[2018-08-31 16:14] locohost commented on #243
That was it. Thank you for super fast reply :-)

[2018-08-31 16:14] #243 closed

[2018-08-31 23:29] Huachao commented on #229
@luislobo interesting idea, I will consider this feature carefully.

[2018-09-02 06:30] opensas opened #244 "Is it possible to save the binary response of a web service as a file"
In curl I can do the following:

[code]

And curl saves the file out.jpg to the current directory

Can I achieve the same with restclient?

[2018-09-02 08:34] Huachao commented on #244
After you received the response of corresponding request, in the response preview panel, you can click the ` Save Response Body` icon in the upper right corner.

[2018-09-02 08:34] #244 closed

[2018-09-02 10:30] mthierba commented on #218
I think the scenario could be supported if RestClient allowed to specify a custom AAD app (client_id) to authenticate against rather than to only use the VSCode app: https://github.com/Huachao/vscode-restclient/blob/0739080718dd61686eb1f685e13853e85dd33ab0/src/utils/httpVariableProviders/systemVariableProvider.ts#L151

Only using the VSCode app, you're limited to the resources and scopes that app

[2018-09-03 02:41] Huachao commented on #188
@sanpee @abenedykt @lldata @mladengit I have adopted @sanpee's suggestion, and use the syntax `{{request_variable_name.response|request.body.*}}` to retrieve the whole response body regardless of the content-type.

[2018-09-03 02:41] #188 closed

[2018-09-03 06:41] Huachao commented on #218
@mthierba thanks for your suggestion, I agree with you. This feature is developed by @flanakin who comes from Microsft Azure.

@flanakin I think current AAD Authentication offering is only used for services in Azure that accept the device authentication, especially the `VSCode` app. So @flanakin can we leverage this to improve the workflow to be used in a much more common case like @mthierba menti

[2018-09-04 07:29] tom-thorne opened #245 "environment cannot be selected after opening workspace via File > Open Recent"
- VSCode Version: 1.26.1
- OS Version: macOd 10.13.6 (17G65)
- REST Client Version: 0.19.1

Steps to Reproduce:

1. Setup a workspace with REST environments `rest-client.environmentVariables` saved in 'Folder Settings'

[code]

2. Select an environment via bottom right status bar environment picker
3. Save and close vs code workspace
4. Reopen workspace via File > Open Recent
5. Click on environme

[2018-09-04 07:54] Huachao commented on #245
@tom-thorne what is *Folder Settings*, can you also provide me a screenshot and the workspace structure if convenient?

[2018-09-07 21:08] brilang opened #246 "Generate Code Snippet - how can we add our own?"
I'm probably missing it somewhere, but I don't see the templates for the Generate Code Snippet command. I'd like to add new options for Axios (JS) and ColdFusion. I'll even contribute code if I know where to do so.

[2018-09-07 23:08] kferrone opened #247 "Recursive Variables"
Would be nice to have recursive variables so one variable can be made up of more than one variable.

Example:

[code]

Unfortunately I get an error like below instead:

[code]

Keep up the awesomeness!
Thanks for hearing me out.

[2018-09-07 23:42] kferrone commented on #247
Good to hear you are working on it. I'll keep an eye out. Cheers!

[2018-09-08 02:15] #246 closed

[2018-09-08 15:16] jum opened #248 "allow generation of posted data with unix pipes"
I did some testing of a new rest service that needs a special compressed data on a post. This all fine as I can read the body using "< ./postdata", but it would be really helpful to be able to generate the data on the fly. A good way would be if I could use something like this:

[code]

[2018-09-08 15:50] Huachao commented on #248
Really an interesting idea, I will consider this carefully.

[2018-09-08 17:40] brilang commented on #246
Thanks. Will see if I can submit a pull request over there when I get some time.

[2018-09-09 04:46] Huachao commented on #219
@lldata did you meet this problem recently?

[2018-09-09 04:50] Huachao commented on #110
If no one can repro this issue, I'd like to close it now, please feel free to reopen it

[2018-09-09 04:50] #110 closed

[2018-09-09 06:14] flanakin commented on #218
Accepting a client id makes sense. I probably won't be able to look at it at least until next month, tho. Too much going on :-(

[2018-09-09 11:47] Huachao commented on #219
@lldata next time you meet the issue, please help to check the REST output channel of VSCode, more error details are logged there

[2018-09-13 15:32] alembiq commented on #127
thank for the great work so far
just FYI
GraphQL have other requests, not just "query", there is also "mutation" - which cannot be send through GET, only by POST
i've tried the @codepunkt solution for query, which works very nicely, but it doesn't work for mutation :(

[code]

[2018-09-14 04:43] QianChenglong opened #249 "socks5 proxy error"
版本: 1.27.2 (user setup)
提交: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
日期: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
架构: x64

![image](https://user-images.githubusercontent.com/1881126/45530150-d6130a80-b81b-11e8-81ec-95ffc81af0d9.png)

[2018-09-14 05:19] Huachao commented on #249
@QianChenglong actually this is a limitation from [VSCode](https://code.visualstudio.com/docs/setup/network#_authenticated-proxies). BTW, even the VSCode supports user to provide the socks proxy, or my extension will read the environment variable in the future, I still need some extra work to make my extension support the SOCKS5 proxy.

[2018-09-14 05:20] #249 closed

[2018-09-17 08:57] QianChenglong opened #250 "Proxy need support working with Proxifier"
Code.exe can proxy by proxifier. But restclient can't follow the rules.

[2018-09-17 12:49] tom-thorne opened #251 "Support reading rest-client.environmentVariables from workspace AND folder settings"
It would be good if environments and $shared local to a user could be defined in 'workspace settings' and in 'folder settings' at the same time and be merged together, environment by environment.

This would allow users to separate their variables into common values (committed into git), and local values for the developer (not committed).

At the moment, this is not possible.  The use of a "$share

[2018-09-17 12:57] tom-thorne opened #252 "Support environment variables when resolving values in settings files"
It would be great to be able to write environment variables so that they can resolve local machine environment variables.  A typical use case would be for secret keys that we don't want to commit to source control.

For example: define shell environment variable

in `.bashrc` or similar on windows...

[code]

Then refer to it in settings block for REST Client

[code]

[2018-09-17 17:31] frankwb24 opened #253 "Request Variable - Plain Text of Body"
Is there any way to get the plain text response of the body from a request variable?

This is a great extension. Thanks!

[2018-09-17 22:14] Huachao commented on #253
@frankwb24 I have implemented this in #188 and you can expect this in next release.

[2018-09-17 22:14] #253 closed

[2018-09-20 06:13] Huachao commented on #181
@lldata @dakaraphi @eamodio @ReeganExE @itgoran I have implemented this feature and will publish in next release. The syntax would be the same as you suggested, like `@foo = {{login.response.body.$}}`, and you may even mix the plain text and multiple request variable references like `@foo = {{login.response.body.id}}JOIN{{login.response.body.token}}`

[2018-09-20 06:13] #181 closed

[2018-09-20 08:28] Huachao commented on #163
If the response body is well formatted, the body can be collapsed.

[2018-09-20 08:28] #163 closed

[2018-09-20 08:29] Huachao commented on #97
@ridicoulous can you repro this, I'd like to close it now, since no one else reporting this issue. Please feel free to reopen it if you still meet this problem.

[2018-09-20 08:29] #97 closed

[2018-09-20 13:24] kucw opened #254 "Does this plugin support changing color of response?"
Hi, I'm using the default light theme of vscode. Unfortunately, the color of response is too bright under this theme. Dose rest client support to change highlighting color of response? Thanks!
![image](https://user-images.githubusercontent.com/10337091/45821328-7b961480-bd1b-11e8-86b1-d93a74e18126.png)

[2018-09-20 13:57] Huachao commented on #254
@kucw, it's not supported, I will consider let user to provide its own style

[2018-09-20 19:59] jianwu opened #255 "got (Protocol "https:" not supported. Expected "http:") when setting https proxy"
- VSCode Version:
Version 1.25.1 (1.25.1)

- OS Version:
MACOS 10.13.6
- REST Client Version:
v0.19.1
Steps to Reproduce:
1. In .settings file config "http.proxy": "https://....."
2. When send a request, I got following error:

Protocol "https:" not supported. Expected "http:"

[2018-09-21 01:11] kucw commented on #254
Thanks. By the way, can you just tell me where is the location that the color setting is? Maybe I can edit the setting by myself without going through vscode now.

[2018-09-21 01:49] Huachao commented on #254
@kucw maybe you can find the *css* file in location like `~/.vscode/extensions/humao.rest-client-0.19.1/styles/rest-client.css`

[2018-09-21 03:13] kucw commented on #254
Thanks. I've modified the default css and the result is under below.
Here is the css file, if you like it, you can take it. (remember to change .txt to .css, Github limits the filename extension of upload file)
[kucw-rest-client.txt](https://github.com/Huachao/vscode-restclient/files/2403767/kucw-rest-client.txt)

![](https://user-images.githubusercontent.com/10337091/45858092-50004200-bd8e-11e8-8

[2018-09-21 03:16] Huachao commented on #254
@kucw nice, I will reference your css and check it if fits for my extension, 👍

[2018-09-21 03:21] #254 closed, assigned to nobody

[2018-09-21 07:33] jianwu commented on #255
Thanks for the quick fix. This extension is excellent!

[2018-09-21 17:05] manchas opened #256 ""Accept-Encoding: gzip, deflate" added even if not configured as default"
- VSCode Version: 1.27.2 x64
- OS Version: Win 10
- REST Client Version: 1.19.1

Steps to Reproduce:

1. Any get, for example: GET http://localhost:5000/unitconversion (nothing else)
2. Activate  exchange view for responses: rest-client.previewOption
3. Send request
On the response view you get:
GET http://localhost:5000/unitconversion HTTP/1.1
User-Agent: vscode-restclient
Accept-Encoding: gzip,

[2018-09-21 17:24] mtxr opened #257 "Activation time is too slow"
Take a look..

![image](https://user-images.githubusercontent.com/707561/45896291-0aea0900-bdaa-11e8-9cf1-2d3d13d647b0.png)

- Extension Name: rest-client
- Extension Version: 0.19.1
- OS Version: Linux x64 4.4.0-134-generic
- VSCode version: 1.28.0-insider

 We have written the needed data into your clipboard. Please paste:

[2018-09-21 23:45] Huachao commented on #257
@mtxr what is the size of your `http` file, and does the extension activated very slow when you open the `http` file each time, like what's the delay from opening the file and seeing the `Send Request` text?

[2018-09-21 23:46] Huachao commented on #256
@manchas nice catch, and it's actually injected and sent by the underlying request library. And does this behavior broke your server side?

[2018-09-22 12:09] manchas commented on #256
@Huachao it doesn't broke my server per se, but it does broke my tests, cause I'm specifically testing how does my server behaves with and without the Accept-Encoding header in the request, and right now that's imposible to do with rest client (because of this issue), so I have to test that behavior of my server with other tools (fiddler, postman, etc) which is not desirable (I love restclient!!).

[2018-09-23 01:57] mtxr commented on #257
I don't remember exactly which file I opened that took 36k ms, but I opened a file like this one below 5 times, activation time was always around 13,5k ms.

[code]

[2018-09-25 20:25] mchelen opened #258 "Donations?"
Is there any way we can make donations to Rest Client? Maybe through something like https://opencollective.com/ ?

Thank you for all the hard work put into this extension!

[2018-09-26 02:09] Huachao commented on #256
@manchas make sense, I have updated the code to unset the `gzip` setting.

[2018-09-26 02:09] #256 closed

[2018-09-26 02:13] Huachao commented on #258
@mchelen thanks for your suggestion, currently I have no plan to let users make donations to my extension, and I will continuously improve the extension anyway. Always waiting for your feedback and suggestions.

[2018-09-26 08:18] Huachao commented on #250
@QianChenglong if we want VSCode to benefit from the proxifier, do we need to set the setting `http.proxy` in VSCode settings?

[2018-09-26 18:16] jenan-stripe opened #259 "Brackets in application/x-www-form-urlencoded encoded incorrectly"
- VSCode Version: 1.27.2
- OS Version: macOS 10.13.6
- REST Client Version: 0.19.1

Steps to Reproduce:

1. Create `example.rest`:
[code]

2. Use "Rest Client: Copy Request as cURL" command.

Expected:

[code]

Found:
[code]

`rest-client.formParamEncodingStrategy` seems to have no effect on this behavior.

[2018-09-27 01:13] Huachao commented on #259
@jenan-stripe I don't agree with the expected result for `--data` parameter, since `data` argument should be supplied with the already well-encoded value. See [URL encoding](https://ec.haxx.se/http-post.html), so I think current behavior is right.

[2018-09-27 03:44] Huachao commented on #245
@tom-thorne solved, and I will publish this fix in the next release.

[2018-09-27 03:44] #245 closed

[2018-09-27 09:09] QianChenglong commented on #250
Not everyone known or want to use proxifier.
In my situation，proxifier works fine.

[2018-09-27 09:12] Huachao commented on #250
@QianChenglong since I am not familiar with proxifier, how did it make VSCode leverage from the proxy, do you need extra settings in VSCode? Or you can control the proxy behavior in the proxifier itself?

[2018-09-28 01:17] jenan-stripe commented on #259
Ah yes! My mistake.

[2018-09-28 01:17] #259 closed

[2018-09-29 09:05] Huachao commented on #257
@mtxr Sorry for the late reply, I'd like to share with you some progress on this issue. I tested your http file, the average activation time was around **5s**. Althought the time seems much smaller than yours, I also think this is a bit unacceptable. I dive into my code, and add some measuring code. I found that the most time-cosing steps are `require` some 3rd party packages on startup, like `req

[2018-10-05 02:54] ramya-rao-a opened #260 "Please use the latest version of applicationinsights"
Hello,

This extension uses `1.0.2` version of applicationInsights which monkey patches the `require` module. This can have unforeseen consequences in the extension host of VS Code.

Please update to using the latest version `1.0.5` of applicationinsights that has the fix to avoid such monkey patches.

For more details, see https://github.com/Microsoft/ApplicationInsights-node.js/issues/425

Thank

[2018-10-05 15:25] pke opened #261 "Change in login step not reflected on subsequent calls"
- VSCode Version: 1.27.2 (system setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

- OS Version: Windows 8.1
- REST Client Version: 0.19.1

Steps to Reproduce:

Create a .http file 2 requests. One for login and the other one to use the login response. When changing the login

[2018-10-05 23:03] Huachao commented on #261
@pke after changing the first http request, you need to sending the request again to refresh the response of `login` request. If not, the second request will still use the last cached response which I think it makes sense.

[2018-10-05 23:03] #261 closed

[2018-10-06 21:11] Mark-Maslar opened #262 "Question: How to POST key/value?"
In Postman, I can successfully post this key/value
key: body
value: {"address": "1H6mbMCSsJ8CaeUcPxsg2g6sprQ9wzfEiS"}

How do I do the equivalent in Rest Client?
I try this,
POST http://localhost:8000/requestValidation/ HTTP/1.1

Content-Type: application/text/plain

{"address": "someaddress"}

but get this response
{
  "statusCode": 400,
  "error": "Bad Request",
  "message": "Invalid request pay

[2018-10-06 23:35] Huachao commented on #262
@Mark-Maslar can you show me a snapshot of your request in body, actually I don't know whether you want to send a JSON request or a `x-www-form-urlencoded` request?

[2018-10-07 00:42] Mark-Maslar commented on #262
![image](https://user-images.githubusercontent.com/41172082/46576996-00ce2a00-c9a8-11e8-9b4a-fd961ae236f3.png)
This is a snapshot of my Postman setup. I send the body as Text

[2018-10-08 01:42] Huachao commented on #262
@Mark-Maslar in your case, the `Content-Type` of your request should be `multipart/form-data`, and your request should follow the `multipart/form-data` request format. One example looks like following:
[code]

[2018-10-08 07:59] QianChenglong commented on #250
As far as I know，proxifier hook socket api of  application which is been linked dynamically.
Generally ，application no need to do any thing.Just config in proxifier.
I suggest you try it.

[2018-10-08 09:05] Huachao commented on #181
@lldata @dakaraphi @eamodio @ReeganExE @itgoran you can try the latest version 0.20.0 to verify this feature.

[2018-10-08 09:05] Huachao commented on #245
@tom-thorne you can try the latest version 0.20.0 to verify this.

[2018-10-08 09:05] Huachao commented on #256
@manchas you can try the latest version 0.20.0 to verify this fix.

[2018-10-08 09:06] Huachao commented on #255
@jianwu you can verify this feature in latest version 0.20.0

[2018-10-08 09:07] Huachao commented on #188
@sanpee @abenedykt @lldata @mladengit @frankwb24 you can try the latest version 0.20.0 to verify this fix.

[2018-10-08 12:36] manchas commented on #256
Verified!!
Great work, thanks.

[2018-10-08 13:35] maxtar opened #263 "Broken works with certificates"
- VSCode Version: 1.27.2 (system setup)
  - Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
  -  Date: 2018-09-12T16:17:45.060Z
  - Electron: 2.0.7
  - Chrome: 61.0.3163.100
  - Node.js: 8.9.3
  - V8: 6.1.534.41
  - Architecture: x64
- REST Client Version: 0.20.0 (2018/10/8)
- OS Version: Windows 10.

Steps to Reproduce:
1. Set settings in "rest-client.certificates" like
[code]
2. Execute the req

[2018-10-08 14:09] Huachao commented on #263
@maxtar nice catch, I will prepare a hot fix tomorrow, sorry for the inconvenience.

[2018-10-08 14:15] maxtar commented on #263
@Huachao thanx, this is critical for us. :)

[2018-10-08 14:18] pke commented on #261
Really? Did that makes sense? ;)
I think it could be helpful, the current flow is confusing to me. Maybe we can ask the community?

[2018-10-08 14:20] pke commented on #257
so disabling telemetry (which should be a good citizen and be OFF by default btw) could already improve the performance now?

[2018-10-08 14:22] Huachao commented on #263
Before that, you may have to download the previous versions on https://github.com/Huachao/vscode-restclient/releases page.

[2018-10-08 14:31] maxtar commented on #263
@Huachao Thank you!

[2018-10-08 14:34] dakaraphi commented on #263
@Huachao FYI, This may be the same problem.  I'm not using any certificates file and I can't make any request as I get an error "certificate expired".

[2018-10-08 14:45] Huachao commented on #263
Should be same root cause

[2018-10-08 15:46] jianwu commented on #255
I tried it. It seems a bit better. But as my proxy is https and the target server is http: so it throws another error:
Hostname/IP doesn't match certificate's altnames: "Host: XXXXXX. is not in the cert's altnames: DNS:XXXXXXX"

I did some research seems you need to add:

proxy.web(req, res, {
  changeOrigin: true,
  target: https://example.com:3000,
});

if you are using http-proxy or you can pro

[2018-10-09 00:15] Huachao commented on #263
@maxtar @dakaraphi you can try the latest version 0.20.1 to verify. Thanks

[2018-10-09 00:15] #263 closed

[2018-10-09 01:37] Huachao commented on #255
@jianwu can you try the latest version 0.20.1 to verify?

[2018-10-09 06:36] lldata commented on #188
It works perfectly. Thank you.

[2018-10-09 06:54] lldata commented on #181
It works, but I could get it a little confused if I by mistake named a variable the same as a request:

`# @name postjson
POST http://httpbin.org/post

{
    "key1" : "a",
    "key2" : "b"
}

###
@key1={{postjson.response.body.json.key1}}
@postjson={{postjson.response.body.json}}

###
# 2nd request that uses captured variables
GET http://httpbin.org/get?key1={{key1}}

###
POST http://httpbin.org/p

[2018-10-09 07:13] Huachao commented on #181
@lldata as I've mentioned in the `README`, the same name request variable has higher precedence over the same name file variables. So when sending request, it treats the `{{postjson}}` as a request variable. And the reason why `{{postjson}}` displays the correct request variable value is that our extension will fetch the variable value concurrently both as a request variable, file variable, and an

[2018-10-09 13:28] dakaraphi commented on #263
@Huachao it is fixed for me. thx!

[2018-10-09 13:50] maxtar commented on #263
@Huachao me too. Thank you.

[2018-10-09 15:37] sabrasosimis opened #264 "File variable value cannot contains space anymore"
- VSCode Version: 1.28.0
- OS Version: ubuntu 18.04
- REST Client Version: 0.20.1

Steps to Reproduce:

1. Define a file variable whose value contains space (eg : @basicAuth = Basic user password)
2. The variable is not usable anymore (it was in previous versions) and a "send request" intellisense appears above the variable declaration

See attached file for example
[bug.http.txt](https://github.c

[2018-10-09 20:28] MisinformedDNA opened #265 "Add more logging"
A lot of times, I run a request, go do something else, and can't remember which one I ran. I can go to the history to see, but it would be nice if all this was captured in the "OUTPUT" window.

Personally, I would love see the "OUTPUT" window record all request and responses, so I can see of stream of everything I've done. This should be configurable.

[2018-10-09 22:42] Huachao commented on #265
@MisinformedDNA nice suggestion, I will consider this carefully.

[2018-10-10 01:44] #264 closed

[2018-10-10 01:58] Huachao commented on #264
@sabrasosimis really nice catch and I've fixed the issue, and you can verify this in the latest version 0.20.0. Thanks 😄

[2018-10-10 08:51] sabrasosimis commented on #264
I confirm this is solved with the 0.20.2 version.
Thanks for the quick fix.

[2018-10-10 14:09] pungggi commented on #181
Nice Feature Huachao very nice!

[2018-10-10 14:23] secmask commented on #264
Cool! this also trouble to me few days.

[2018-10-10 14:44] pungggi opened #266 "Hole Body includes apostrophe, breaks further requests"
- VSCode Version: 1.28
- OS Version: Windows 10
- REST Client Version: latest

![grafik](https://user-images.githubusercontent.com/5635709/46744340-40985880-ccab-11e8-8151-cb5b1b140536.png)

I am using the new great feature "Request Variables".
Look at the image.

I need the body but without trailing apostrophe because this breaks subsequent uses..

[2018-10-10 14:45] pungggi commented on #266
Example Response:
`HTTP/1.1 200 OK
Cache-Control: no-cache
Pragma: no-cache
Content-Type: application/json; charset=utf-8
Expires: -1
Date: Wed, 10 Oct 2018 14:45:08 GMT
Content-Length: 315

"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiaW5mb0BhbWFubmluZm9ybWF0aWsuY2giLCJleHAiOiIxNTM5MTg0NTA4IiwibmJmIjoiMTUzOTE4MjcwOCIsIlV

[2018-10-10 14:59] pungggi commented on #188
I opened a new issue for a specific use https://github.com/Huachao/vscode-restclient/issues/266

[2018-10-10 15:00] pungggi commented on #253
https://github.com/Huachao/vscode-restclient/issues/266

[2018-10-10 15:47] secmask commented on #264
but it still show these variable with Red color

[2018-10-10 22:01] dhmuralikrishna opened #267 "How to write tests on top of the requests?"
How can we write acceptance tests using rest clients. Lets say if i have 50 request how can i test all those 50 calls are success. with some test cases.

[2018-10-10 22:02] dhmuralikrishna commented on #267
How to execute all http calls from cli.

[2018-10-10 22:04] dhmuralikrishna opened #268 "How to execute .http file from powershell"

[2018-10-10 22:34] Huachao commented on #264
Can you give me a screenshot

[2018-10-11 00:14] MisinformedDNA commented on #264
Worked for me!

[2018-10-11 01:10] Huachao commented on #268
@dhmuralikrishna I don't think any built-in PowerShell command or .net library can execute `.http` file directly, and it also contains some syntax to raw `.http` which created by myself.

[2018-10-11 01:10] #268 closed

[2018-10-11 01:11] Huachao commented on #267
@dhmuralikrishna nice suggestion, I think this feature is quite useful, and I will consider it carefully. Thanks

[2018-10-11 01:15] dhmuralikrishna commented on #267
Compared to postman rest client is very flexible.  Don't need to jump in multiple tabs.You did a great job. With postman collection and newman we can run the test through cli. it would be nice if we do the same with rest client.

[2018-10-11 01:17] Huachao commented on #267
@dhmuralikrishna nice suggestion, I'd like to keep this request open and wait to see if others vote this up.

[2018-10-11 01:18] secmask commented on #264
it's in Red make me confuse that it's not a resolve variable,

[Screen_Shot_2018-10-11_at_8.15.13_AM.png](https://postimg.cc/6ycTXCpD)

[2018-10-11 01:36] Huachao commented on #264
@secmask I have fixed the issue and will publish this fix in next release. You can verify it then. Thanks for your feedback.

[2018-10-11 01:49] Huachao commented on #266
@pungggi  nice catch, this JSON response body of `string` value is a special case for JSONPath, some libraries can support syntax like `$` to parse in this case, for request variable syntax it will go like `{{tokenResponse.response.body.$}}`. However, the library I use doesn't handle this weill, I will try to search a better one. And the way you use here `{{tokenResponse.response.body.*}}`, for `*

[2018-10-11 02:33] secmask commented on #264
cool! I will test when the update come.

[2018-10-11 07:05] ozh555 commented on #110
I think this bug has since been fixed.

[2018-10-11 13:09] cilerler opened #269 "Add a setting `rest-client.showRequestOnResponse`"
It would be really beneficial to see the complete request above the response based on a setting.  _(I know we have **History** feature but this feature would make things easy to troubleshoot)_

e.g.
[code]

should appear on top of response.  Complete response should look like

[code]

[2018-10-11 13:16] Huachao commented on #269
@cilerler there's already a setting targets for this purpose, set *rest-client.previewOption* to exchange

[2018-10-11 13:16] #269 closed

[2018-10-11 13:30] #262 closed

[2018-10-11 13:40] cilerler opened #270 "What is the behavior for redefined variables based on responses?"
How can I set 2nd `@token` properly? It always uses the value from 1st assignment.

[code]

[2018-10-11 13:50] Huachao commented on #270
@cilerler it's not supported, the file variable is unique throughout the file and redefined ones will be ignored

[2018-10-11 13:52] #270 closed

[2018-10-11 20:27] danroot opened #271 "HTTP/2 Support"
I have an endpoint I tested with an online tool that says HTTP/2 is working correctly.  However, when I specify that to restclient like this:
GET https://api.somecompany.com/prod/v1/login HTTP/2.0
The server still responds with HTTP 1.1 200 OK.  Am I misunderstanding  HTTP/2, is this not supported yet, or is there some other flag I can set to test HTTP2 from restclient?

[2018-10-12 02:42] Huachao commented on #271
@danroot it's not supported yet, I will put this in To-Do list.

[2018-10-12 03:06] howar31 commented on #168
Got error while pressing Ctrl Alt C (Generate Code Snippet)

![image](https://user-images.githubusercontent.com/880459/46845614-be28a980-ce0e-11e8-9d36-787c75c0cc58.png)

Tried reinstall extension with developer command and manually.

[2018-10-12 03:11] Huachao commented on #168
@howar31 could you please open the developer console in Help tab, and check if any error occurs?

[2018-10-12 03:31] howar31 commented on #168
Sorry for bothering.  I've found the issue that I accidentally put the cursor on the comment line while pressing the shortcut.

![image](https://user-images.githubusercontent.com/880459/46846361-1614df80-ce12-11e8-8ebb-bf09abf04824.png)

It's fine after moving the cursor to the correct request.

Thank you

[2018-10-12 03:32] Huachao commented on #168
@howar31 Glad to hear that.

[2018-10-12 07:30] lldata commented on #219
We managed to reproduce it. My collegues report that they can reproduce it consistently by copying requests from Skype and into a .rest file.

Here is the output from the debug channel:
[code]

[2018-10-12 07:46] Huachao commented on #219
@lldata Thanks so much @lldata. I can reproduce this issue as illustrated in the callstack, which needs to meet **three** preconditions:
1. Set the `http.proxy` setting
2. Set the `rest-client.excludeHostsForProxy` setting
3. The request url is not in a well defined format, like missing protocol, etc.,

And I will fix this issue ASAP

[2018-10-12 08:05] #219 closed

[2018-10-12 08:05] Huachao commented on #219
@lldata I will publish this fix in next release.

[2018-10-12 11:31] pke opened #272 "Line height in response view is off"
- VSCode Version: Version: 1.28.0 (system setup)
Commit: 431ef9da3cf88a7e164f9d33bf62695e07c6c2a9
Date: 2018-10-05T14:58:53.203Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

- OS Version: Windows 8.1 x64
- REST Client Version: 0.20.2

My server responds with a text/plain body that contains UTF-8 QR-Code chars.
It works great with curl in bash, but in the R

[2018-10-12 12:29] lldata commented on #219
Amazing feedback time :100: :+1:

Thank you for your work!

[2018-10-13 13:48] jianwu commented on #255
I tried the latest 0.20.2, it still doesn't work. I used wireshark to inspect the network traffic. Seems even   I put "https://" for the http.proxy setting, it still tries to connect with http protocol. With TLS handshake.So the connect got rejected, I got "read ECONNRESET" error

[2018-10-15 02:31] Huachao commented on #255
@jianwu in your case, you are sending request to an HTTPS site, and your proxy is also in HTTPS protocol right, what's the port number of your proxy?

[2018-10-15 02:34] jianwu commented on #255
My case, the proxy is in HTTPS and port number 8443, the target server is
http, port number is 8080.

On Sun, Oct 14, 2018, 7:31 PM Huachao Mao <notifications@github.com> wrote:

[2018-10-15 07:31] Huachao commented on #228
@arturock Do you still meet the crash problem in latest version 0.20.2?

[2018-10-15 07:37] Huachao commented on #179
@OzgurDogan in latest version 0.20.2, you can set the file variable value with references of request variables, like `@token = {{session.response.body.token}}`. Does this solve your problem?

[2018-10-15 10:00] Fed29 opened #273 "excludeHostsForProxy setting doesn't work in the last version"
Hi and thank you for you great job on this extension!

I found a potential issue in the last version (0.20.2) related to the **excludeHostsForProxy** setting, it seems to be ignored.

I tried to uninstall the new version in favour of an old one (0.19.0) and with the old version the setting works properly.

Has anything changed in the settings' definition in the last release?

Steps to reproduce th

[2018-10-16 01:50] Huachao commented on #273
@Fed29 I can't repro your case, and could you please show me the `http.proxy`, `rest-client. excludeHostsForProxy` and your request url again which you fail on your test.

[2018-10-16 07:14] Fed29 commented on #273
Here is my settings:
[code]

This is the request I trigger:
[code]

With the rest-client 0.19.0 the request works.
With the rest-client 0.20.2 (and also with the 0.20.1) the request doesn't work. It seems it is forwarded to the proxy which reply with HTTP 403 Forbidden because I'm trying to connect to proxy's localhost.

Thank you!
Federico

[2018-10-16 07:33] Huachao commented on #273
@Fed29 I still can't repro your case, and could you please update the `http.proxy` to an not exist site like `http://no-exist.com:8080`, and check if sending request to`http://127.0.0.1:50201` will direct traffic that site, if so, an error will pop like *getaddrinfo ENOTFOUND no-exist.com no-exist.com:8080*

[2018-10-16 15:02] Fed29 commented on #273
This tip helped me a lot to make more tests, I figured out where the problem come from and I found a way to make the latest version of the extension works.

First of all I work on Windows 10 and I have HTTP_PROXY, HTTPS_PROXY and NO_PROXY environment variable because I need them in order to make some other tools works.

**Removing those variables the 0.20.2 extension works as expected.**

I unders

[2018-10-16 22:53] timmyreilly opened #274 "Content-Type vs. content-type autocomplete... equals 'string' or 'object"
- VSCode Version: 1.28.1
- OS Version: Windows 10
- REST Client Version: 0.20.2

Steps to Reproduce:
1. Create a post request and configure your content-type header.
2. If it's Content-Type : application/json it is parsed as a string, but if it's content-type: application/json the body is JSON.

The only thing different is the capitalization of the first letter... and the autocomplete suggests upp

[2018-10-17 07:58] rafaltra commented on #218
Hi. I have created pull request to accept clientid as well as username and password :)

[2018-10-18 07:56] stavnskov opened #277 "Support for default credentials"
I am trying to access my on-prem TFS server. But I get "401 Unauthorized" from

I usually use Powershell command:
Invoke-RestMethod -UseDefaultCredentials -Method Get -ContentType application/json -Uri $uri
It uses my Windows login credentials. I would prefer to not write any secrets/passwords/tokens in my rest definition.

[2018-10-19 06:09] Huachao commented on #273
@Fed29 this behavior is consistent with VSCode, as you can see comments of VSCode as following`// The proxy setting to use. If not set will be taken from the http_proxy and https_proxy environment variables.
  "http.proxy": "",` VSCode will take the environment variables into consideration, so does this extension.

[2018-10-19 07:08] stavnskov commented on #277
Thanks for this suggestion, I will try it out

[2018-10-19 17:05] lcarbonaro opened #278 "Losing POSTed vars when calling a PHP endpoint"
VS Code:
Version: 1.28.2 (system setup)
Commit: 7f3ce96ff4729c91352ae6def877e59c561f4850
Date: 2018-10-17T00:23:51.859Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

OS:
Windows 7 Enterprise SP 1

RESTClient version 0.20.2

-----------------------------

I have this request in RESTClient:

[code]

In saveData.php I have:

[code]

When I send the request via

[2018-10-19 17:10] lcarbonaro commented on #278
VS Code:
Version: 1.28.2 (system setup)
Commit: 7f3ce96ff4729c91352ae6def877e59c561f4850
Date: 2018-10-17T00:23:51.859Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

OS:
Windows 7 Enterprise SP 1

RESTClient version 0.20.2

[2018-10-19 17:11] lcarbonaro commented on #278
VS Code:
Version: 1.28.2 (system setup)
Commit: 7f3ce96ff4729c91352ae6def877e59c561f4850
Date: 2018-10-17T00:23:51.859Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

OS:
Windows 7 Enterprise SP 1

RESTClient version 0.20.2

[2018-10-19 20:38] chrisjlee opened #279 "Secrets"
Is it possible if i could import variables from a different file? I'd like to be able to import variables from another file so that they won't be stored in git.

e.g:

@import {{password}} from './secrets'

this way i can .gitignore this folder

[2018-10-21 15:30] gevorggalstyan opened #280 "Plugin is decoding response urls unexpectedly causing issues"
Issue Type: <b>Bug</b>

Some tools like AWS S3 may generate signed URLs that include encoded URI Components and authorization strings. REST Client decodes all that causing authorization problems.

I have created a RunKit Endpoint `https://rest-client-bug-report-k73tkq2a9l9i.runkit.sh` to test against

If you make a request from a browser you will get

[code]

But if you make the same request from

[2018-10-22 07:22] Huachao commented on #280
@gevorggalstyan nice catch, I have fixed the issue and will publish this fix in next release.

[2018-10-22 07:22] #280 closed

[2018-10-22 09:38] Fed29 commented on #273
@Huachao ok, now it's clear and the mistake is solved.
But the extension's behavior changed since the 0.20.x release, it was different in the previous ones (using the same version of vscode - 1.28.2).

Thanks for your support,
Federico

[2018-10-22 09:52] Fed29 commented on #273
@Huachao ok, now it's clear to me and I found a workaround.
But I understand the VSCode setting description in a different way: if the setting is filled the  environment variables are ignored. The extension always consider the env variables, regardless of the setting (so this behavior is not consistent with VSCode).

In any case the extension's behavior changed since the 0.20.x release, it was dif

[2018-10-22 09:58] Fed29 commented on #273
@Huachao ok, now it's clear to me and I found a workaround.
But I understand the VSCode setting description in a different way: if the setting is filled the  environment variables are ignored. The extension always consider the env variables, regardless of the setting (so this behavior is not consistent with VSCode).

In any case the extension's behavior changed since the 0.20.x release, it was dif

[2018-10-22 14:01] Huachao commented on #273
@Fed29 actually I am a little bit confused about what you said. Do you mean even if you set the setting in VSCode, it will still respect the environment variables? I cannot make this conclusion from your earlier test

[2018-10-22 17:04] arturock commented on #228
I can happily confirm there are no more crashes with same request using v0.20.2

On the other hand, now I'm getting an alert, and after some waiting an apparently compressed data is displayed

[code]

[2018-10-22 20:14] timmyreilly commented on #274
Okay I'll give it another shot.

[2018-10-22 20:36] rafaltra commented on #278
@lcarbonaro are you looking into post parameters are url form data instead of json content? The request below should work with your PHP.
`POST https://example.com/backend/saveData.php  HTTP/1.1
Content-Type: application/x-www-form-urlencoded

id=123&firstname=test&lastname=testing`

[2018-10-22 21:42] Fed29 commented on #273
Yes @Huachao , exactly but only in the case you use the "rest-client.excludeHostsForProxy" setting.

Please, try the test I posted earlier:

VSCode Settings:

[code]

Env Variables (restart VSCode after the edit)

[code]
At this point the VSCode proxy should be "http://not-exists-2:8080", do you agree?

Send the request to `GET http://127.0.0.1:50201` and it shouldn't use proxy, right?

But you wi

[2018-10-23 09:31] Huachao commented on #273
@Fed29 Thanks for your feedback, I have fixed the inconsistent behavior and will publish this fix in next release.

[2018-10-23 09:31] #273 closed

[2018-10-23 11:52] lcarbonaro commented on #278
Thanks @Huachao and @rafaltra for your responses. @rafaltra your suggestion worked - thank you.

[2018-10-23 11:52] #278 closed

[2018-10-23 15:28] arturock commented on #228
Got it. Thanks!

[2018-10-24 15:46] peterquirk opened #281 "Need support for AWS v4 signatures"
It's not possible to generate an AWS v4 signature with the current functionality. See http://docs.aws.amazon.com/general/latest/gr/sigv4_changes.html for more information.

[2018-10-25 09:54] MickaelTH commented on #122
Using Windows 10 I had the same issue.

My local server (Lumen) was running on localhost:8080, I set the request as below:

POST http://localhost:8080
content-type: application/json

{
    "name": "sample",
    "time": "Wed, 21 Oct 2015 18:27:50 GMT"
}

And got the error Connection is being rejected.

I suspect this is not directly related to vscode-restclient but the way how localhost is now hand

[2018-10-26 08:07] OzgurDogan commented on #179
@Huachao unfortunately what I would like to achieve is to store te value in a setting file so it can be shared over files.

[2018-10-26 21:06] karamazov1 opened #282 "Handle compressed responses"
- VSCode Version: 1.28.2
- OS Version: Win 10
- REST Client Version: 0.20.2

Does this extension handle compressed responses? When I tried, I get "The content type of response is application/json, while response body is not a valid json string"

[2018-10-27 04:14] Huachao commented on #282
@karamazov1 Yes, it can handle, could you please provide the URL you're testing?

[2018-10-29 11:58] karamazov1 commented on #282
@Huachao this is an internal api. I know it worked in the past but also know microsoft also enabled compression on their responses recently.

GET https://xxxxxxx.azure-api.net/product/products/213140 HTTP/1.1
Product-Subscription-Key: xxxxxxxxxxxxxxxxxxxxxxxxx
Host: xxxxxxxxxxx.azure-api.net
Accept-Encoding: gzip
Content-Type: application/json; charset=utf-8

[2018-10-29 12:58] Huachao commented on #282
@Can you confirm with other tools that the response is a valid JSON

[2018-10-30 09:58] gigazet opened #283 "Extend cookies handling"
Now it's possible to remember cookies with rest-client.rememberCookiesForSubsequentRequests, it's nice.

It would be good to add a commands to clear all cookies (for specific host, or just all globally) manually and inside REST script.

[2018-10-30 15:14] karamazov1 commented on #282
I tried this same request using postman and the proper json is rendered. Not sure what the difference could be, no differences at the request level that I can see.

Thanks for your responses, this is not critical by any means and I was just curious if compressed responses were handled as this same request was working before and I'm not sure if an extension update could be the culprit or a change o

[2018-10-30 22:52] Huachao commented on #282
What's the content encoding header of the response

[2018-10-31 02:12] Huachao commented on #282
@karamazov1 thanks, I can repro this issue, I will fix it ASAP.

[2018-10-31 02:34] Huachao commented on #282
@karamazov1 I have fixed the bug and will publish this fix in next release.

[2018-10-31 02:34] #282 closed

[2018-10-31 04:01] ozh555 commented on #283
agree,I need clear cookies .

delete cookie.json too trouble.

[2018-10-31 04:13] Huachao commented on #283
@ozh555 @gigazet I will implement a command to clear all/given host to cookies

[2018-10-31 13:06] kenbellows commented on #279
Big +1 to this. It would be really cool if I could store the entire JSON config for a domain in an external file and simply specify the path to that file within `"rest-client.certificates"` instead of a JSON object, which should be pretty easy to detect as well. Something like this:

[code]
The contents of `".../example.com.json"` should just be the object that you would otherwise put in the confi

[2018-10-31 22:11] offero commented on #282
Just ran into this issue myself also. When is the next release?

[2018-11-01 02:58] Huachao commented on #282
@karamazov1 @offero I have published the new release 0.20.3, and you can try the new version to verify

[2018-11-01 03:00] Huachao commented on #273
@Fed29 you can try the latest version 0.20.3 to verify

[2018-11-01 03:01] Huachao commented on #280
@gevorggalstyan you can try the latest version 0.20.3 to verify

[2018-11-01 03:02] Huachao commented on #219
@lldata I have published the new version 0.20.3, and you can verify it. And if you still meet this issue, don't hesitate to contact me.

[2018-11-01 03:02] Huachao commented on #264
@secmask I have published this fix in latest release 0.20.3 and you can verify it.

[2018-11-01 03:10] secmask commented on #264
it works perfectly now!

On Thu, Nov 1, 2018 at 10:03 AM Huachao Mao <notifications@github.com>
wrote:

--
secmask[at]gmail[dot]com

[2018-11-01 13:00] gevorggalstyan commented on #280
@Huachao That was it. Thanks for the fix.

[2018-11-01 13:15] karamazov1 commented on #282
This is working for me now. Thanks!

[2018-11-01 16:59] davisskchan opened #284 "Display cookie for the current session"
Is it possible to display the cookies received from a request for the current session?

[2018-11-02 09:44] defectus opened #285 "Request not redirected even thought is set to true"
- VSCode Version:1.28.2
- OS Version: Ubuntu 18.04
- REST Client Version: 0.20.3

Steps to Reproduce:

1. connect to server that returns `HTTP/307`
2. rest-client should follow it (as per settings), instead it returns the redirect response

[code]

Just to be sure, the `Follow HTTP 3xx responses as redirects` option is ON.

[2018-11-02 10:12] Huachao commented on #285
@defectus What's the request method of your request, and can you show me the request url?

[2018-11-02 10:16] Huachao commented on #285
@defectus If it's a non-GET method, I have fixed the issue

[2018-11-02 10:16] #285 closed

[2018-11-02 10:18] defectus commented on #285
This is a private API so I can't give you the URL to play with, but its something like `POST https://api.stage.proxima.o2.cz:443/xxxxx HTTP/1.1`. That API resturns the `307` response as shown above but I'd expect it to actually follow the redirect and do `POST https://api.stage.gcloud.proxima.o2.cz/xxxx HTTP/1.1`.

[2018-11-02 10:56] jon301 opened #286 "Keyboard navigation in Response panel"
Hi,

Currently there is no possibility (correct me if i'm wrong) to navigate in the Response panel with the arrow keys or with h/j/k/l for vscode-vim users.
This feature would be great to select some parts of the response for copy/pasting, without using the mouse.

Regards

[2018-11-02 11:01] jon301 commented on #286
My bad, this can be done by setting `rest-client.previewResponseInUntitledDocument` to `true`.

Still thankful for this wonderful plugin <3

[2018-11-02 11:01] #286 closed

[2018-11-02 13:31] davisskchan commented on #284
Thanks for the response.

I see the set-cookie header.  But somehow it only shows the last one when I am expecting 2 cookies.
(It shows up 2 when I use Postman for the same request.)

[2018-11-03 14:40] jgroom33 opened #287 "Use yaml"
This project [strest](https://github.com/eykrehbein/strest/blob/master/README.md) is looking for a UI implementation.

It would be great if vscode-restclient allowed execution of individual requests from a .strest.yml file.

[2018-11-05 14:13] jgroom33 commented on #267
Here's a good project to model:
https://github.com/eykrehbein/strest

I'd like to see the benefits of this project and strest joined in a single project or have this project leverage an api of strest.

[2018-11-06 01:16] Huachao commented on #284
@davisskchan can you check if you have really received two cookies when you set `rest-client.rememberCookiesForSubsequentRequests` to `false`. In this case, my extension won't use any already saved cookies. If still not working, please provide me the request if available. Sorry for the late reply.

[2018-11-06 01:38] Huachao commented on #287
@jgroom33 @eykrehbein nice suggestion. This feature request can be divided into 2 tasks. I think we need to solve these two issues to achieve the goal. First, my extension is able to recognize requests defined the yaml or some request schema in a file. Second, my extension is able to run all the requests sequentially or parallelly defined in a file(See issue #21).

[2018-11-06 03:45] jgroom33 commented on #287
I'd like to leverage the strengths of each of these projects individually.
Use strest for multi file and multi request execution (good for CI)
Use vscode-restclient to perform manual executions (good for development).

This format is slightly verbose, but it should handle all requirements:
http://www.softwareishard.com/blog/har-12-spec/#request

[2018-11-06 10:09] dbossard opened #288 "openssl error when using new certificate"
- VSCode Version: 1.28.2
- OS Version: win 10 (1803) x64
- REST Client Version: 0.20.3

Steps to Reproduce:

1. GET https://www.backmarket.fr/
2. => popup error :

write EPROTO 101057795:error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure:d:\buildagent\workspace\318698\vendor\node\deps\openssl\openssl\ssl\s23_clnt.c:802:

note: backmarket changed their certificate this

[2018-11-06 18:03] qrqhuang commented on #124
@Huachao Can also save responses in history?
Very useful when compare previously with current~

[2018-11-06 19:58] verebes commented on #273
@Huachao, it is still strange for me. I have the HTTP_PROXY env variable set, so I leave the http.proxy property empty. According to the note above the proxy setting "If not set will be taken from the http_proxy and https_proxy environment variables."
But in this case the excludeHostsForProxy  property is not considered.
When I set the http.proxy to the same value as the HTTP_PROXY env variable is

[2018-11-07 01:38] Huachao commented on #273
@verebes nice catch, it's really the current expected behavior, `excludeHostsForProxy` only works for the `http.proxy` setting in vscode. And it you leave out it, you need to set the `NO_PROXY` environment variable.

[2018-11-07 01:46] Huachao commented on #124
@it's a nice feature, and compare with previous responses is a cool feature. I'd like to create a new issue to track about this.

[2018-11-07 01:48] Huachao opened #289 "Save response and compare with previous responses of specified request"
Related with the comment in #124 from @qrqhuang

[2018-11-07 07:07] Huachao commented on #287
@jgroom33 Personally I think my extension uses the raw HTTP format to organize requests in `http` file, if I want to support the test functionality(#267), it seems I just need to implement the `validation` section of your `YAML` file. So I originally don't intend to support other formats like `HAR` in a higher priority. Since I already supported the request name feature for each request like follo

[2018-11-07 13:36] jgroom33 commented on #287
ok.  thanks for the consideration

[2018-11-07 13:36] #287 closed

[2018-11-07 14:20] pvoisin commented on #247
Hello! Any update on this? It'd be really, really useful (not to say "necessary"... :))
Need any help on that?

[2018-11-07 15:45] davisskchan commented on #284
Part of the cookie.json file

  "fioridev1.dev.xxx.ca": {
    "/": {
      "sap-usercontext": {
        "key": "sap-usercontext",
        "value": "sap-client=200",
        "domain": "fioridev1.dev.xxx.ca",
        "path": "/",
        "hostOnly": true,
        "creation": "2018-11-01T15:19:26.431Z",
        "lastAccessed": "2018-11-06T15:02:28.392Z"
      },
      "SAP_SESSIONID_DG2_200": {

[2018-11-07 18:19] schallm commented on #208
Would/Could this also support storing "resolved" dynamic variables in variables?  I would like to store a date in a variable so it can be used multiple times in an array of objects being posted
[code]
So it could be used in a post like the following
[code]

[2018-11-07 21:41] druppelt opened #290 "Environment specific file variables"
I would like to be able to include environment specific variables in the file, to make exchange of multienvironment files easier.

The syntax I would suggest is to allow prefixing variable names by environment name followed by a colon:
[code]

I would be willing to learn typescript, try to implement it myself and make a pullrequest, but before starting to work on it, I want to know if you would co

[2018-11-08 01:16] Huachao commented on #290
@druppelt thanks for your interest. Before you dive into the code, I'd like to share my concerns and questions.
1. Can we make these variables as them as environment variables?
2. If you make environment name as prefix of file variables, it seems not easier to modify the environment name, since you also need to update all the belonging variables.

[2018-11-08 01:18] Huachao commented on #208
@schallm Thanks for your suggestion. The file variables definition can already support referencing request variables, and allowing supporting other types of variables like `System Variable`, `Environment Variables` and `File Variables` are in my todo list.

[2018-11-08 02:37] Huachao commented on #284
@davisskchan do you confirm the setting `rest-client.rememberCookiesForSubsequentRequests` to `false`

[2018-11-08 09:00] Huachao commented on #247
@pvoisin For file variable references other file variables are still working in progress

[2018-11-08 15:20] davisskchan commented on #284
When the setting is false, I see 2 cookies.

set-cookie: sap-usercontext=sap-client=200; path=/,SAP_SESSIONID_DG2_200=HEjkWFAw_8FQGo2NrLSwMrWwX5XjaRHoiBEAUFapLew%3d; path=/

[2018-11-08 17:48] druppelt commented on #290
I'm not sure I understand your question. Are you asking why these aren't defined in the environment user settings? The example I chose isn't exactly great.
While I may put the keycloakHost into the environment, the clientId and password are often specific to the service / a consumer app for the service. And this was just an example from the top of my head. I sometimes have teststage specific testd

[2018-11-08 18:28] fleed opened #291 "Automatic runs"
Is there a way to automatically run the saved requests and collect the results?

I'd like to integrate the requests in build/release pipelines for integration tests

PS: I know that it is a little bit out of scope, but it would be the definitive companion for the client. Additionally, the runner could be embedded in VS code as additional tab and be used to quickly run and monitor a set of requests

[2018-11-08 22:02] bojordan commented on #15
yet another +1

[2018-11-08 22:50] Huachao commented on #284
So that means if you already had the sap-usercontext cookie, and carrying this cookie when sending new request, your server won't return this cookie. This seems making sense for me. So this is not a bug, only first time you would receive 2 cookies, after that only one

[2018-11-08 22:50] #284 closed

[2018-11-08 23:07] davisskchan commented on #284
Not sure if I make the scenario clear.

I freshly start the VSCode and send ONE request.  I only see 1 cookie in the set-cookie header.  But I see 2 cookies in the cookie.json.

I haven't sent any 2nd request yet.

[2018-11-09 00:46] Huachao commented on #284
You can manually remove the two cookies from the cookie.json, and send the request again, and you should see two

[2018-11-14 09:16] tom-thorne commented on #245
@Huachao it now works as expected provided an http file has focus

[2018-11-14 17:15] qsLI commented on #199
+1

[2018-11-16 01:19] jimmcslim opened #292 "Ability to force newline at end of request body"
The Elasticsearch Bulk API requires that the request body have a final newline character. However it seems that VS Code REST Client trims leading and trailing whitespace from the request body, which I agree is a reasonable thing to do.

However, without the final newline character in this case, Elasticsearch ignores the last record in the bulk update operation.

It would be good if there was a sim

[2018-11-16 14:33] rmbrunet opened #293 "Preview for HEAD request does not show for Content-Type: image/jpeg"
- VSCode Version: 1.29.1
- OS Version: Windows 10 Pro 10.0.15063
- REST Client Version: 0.20.3

Steps to Reproduce:

1. Make HEAD request to image resource
2. Preview shows nothing. But saving to file works fine.

[2018-11-16 14:55] Huachao commented on #293
nice catch, I will fix this bug ASAP

[2018-11-16 15:01] rmbrunet commented on #293
Glad to make a really good tool a little bit better :-)

[2018-11-19 08:41] danielwagn3r opened #294 "Wildcard support for excludeHostsForProxy vs. new VS Code network connections"
Is it possible to configure wildcards for excludeHostsForProxy? This would be great to exclude entire intranet zones.

Alternatively, are there plans to support the new VS Code network connections mentioned here https://code.visualstudio.com/docs/setup/network ?

[2018-11-19 13:02] ccidral opened #295 "Option to disable codelens/links"
It would be great to have a configuration option for disabling/hiding the codelens/links, eg: variable references, the "Send Request" link, etc. I particularly find them annoying, so I like to disable them wherever possible.

[2018-11-21 12:41] Huachao commented on #247
@kferrone @pvoisin @thehig @RafaelAdao @jianwu @druppelt I have implemented the feature that file variables can reference other variables as you described in the issue, and it will be published in next release. @kferrone one thing to notice in the example you illustrated before, you need to remove the single quote in the variable value, since the variable replacement logic will leave the value as

[2018-11-21 12:41] #247 closed

[2018-11-21 12:46] Huachao commented on #208
@SimonDever @vladvino @mchelen @Mellbourn @schallm I have implemented the feature that file variables can reference other file variables. And the work that references environment variables is still WIP.

[2018-11-21 18:33] kferrone commented on #247
Wicked good! I'll be enjoying this new feature.

[2018-11-21 21:19] zubenubi opened #296 "Newb question - how do I get started in VS Code?"
I installed both VS Code and this extension. I have a rest request I want to make and to see the response but I am new to VS Code. Please Advise on what I need to do as a newb to use this extension productively.

Thanks

[2018-11-22 01:56] zubenubi commented on #296
Found the instruction to use Ctrl-Alt R, after which the 'Send Request'  link appeared.

[2018-11-22 01:56] #296 closed

[2018-11-22 08:16] #208 closed

[2018-11-22 08:17] Huachao commented on #208
@SimonDever @vladvino @mchelen @Mellbourn @schallm I have implemented the feature that file variables can reference file/system/request/environment variables. I will publish this feature in next release

[2018-11-22 11:17] EvgenyKhaliper commented on #238
Yeah i would love to be able to extract values from json and then use as variables in upcoming call. This is the only thing that missing for me in this great extension.

[2018-11-22 12:13] Huachao commented on #238
@EvgenyKhaliper your requirement is already well supported via request variables, or even file variables reference request variables. For more details, you can refer the README for more details

[2018-11-22 14:34] EvgenyKhaliper commented on #238
@Huachao sorry, i've forgot to mention 'json' is an output of other REST call.

[2018-11-23 15:43] asmith3006 opened #297 "Display timings in output pane"
I know we can hover bottom left to see the Socket, DNS, TCP, First Byte, Download times but it would be much easier if there were an option to type this out in the response window

[2018-11-23 19:37] hitalos commented on #180
Is it possible to add RFC3339 to the options?

[2018-11-25 16:31] johnbeynon opened #298 "Variables in variables?"
So reading the docs it seems like this should work...

First up a token request...

[code]

and then set a variable with the resulting access token

[code]

At that point mousing over {{login.response...}} shows the value of the access token received in the response and yet:

[code]

fails - mousing over {{accessToken}} shows `{{login.response...}}` not the value of the token itself, nor  is the t

[2018-11-25 22:45] galicea-gn commented on #298
You need to be retrieving the access token via the body as JSON, so changing the acess_token line to `{{login.response.body.$.access_token}}` should work.

[2018-11-26 01:45] Huachao commented on #298
@johnbeynon have you triggered the `login` request before you verify the file varaible references.

[2018-11-26 06:58] cklutz commented on #15
+1

[2018-11-26 10:09] johnbeynon commented on #298
Hi, I've tried `{{login.response.body.$.access_token}} and `{{login.response.body.access_token}}` - mousing over the line that sets `accessToken` shows me the value I'd expect.

I have a subsequent request that looks like:

[code]

which works just fine. So it's just when I try and use the value set from the response via the variable `{{accessToken}}` that doesn't seem to work.

[2018-11-26 12:30] Huachao commented on #298
@johnbeynon  does you get the right response when you use the file variable accessToken, what's your VSCode version?

[2018-11-26 13:57] Huachao commented on #298
Could you please provide me with the minimum repro http request file, thanks in advance

[2018-11-26 14:11] johnbeynon commented on #298
[code]

[2018-11-26 15:01] Huachao commented on #298
@johnbeynon I am sorry that I still can't repo your issue, I prepared a version of mine based on your code snippet,
[code]

Can you confirm that after you kicking off the second request, the `Authorization` header in the resonse contains the word `MYPASSWORD`?

[2018-11-26 16:09] johnbeynon commented on #298
when I run that exact sample I get:

[code]

notice that the Authorization head uses the string value of the variable.

[2018-11-26 16:13] johnbeynon commented on #298
and I'm definitely using 0.20.3

![screenshot 2018-11-26 at 16 13 18](https://user-images.githubusercontent.com/62826/49026616-34eaed80-f196-11e8-9d55-dcae0e44c56d.png)

[2018-11-26 22:31] Huachao commented on #298
I think you need to reload

[2018-11-27 21:18] johnbeynon commented on #298
Yeah, of course I've tried all that. Interestingly when I install via marketplace I only get version 0.18.4 so to get 0.20.3 I have to download the .vsix file directly

[2018-11-27 22:47] Huachao commented on #298
Hmm, what's your version of VSCode? Normally you can't download the right version in marketplace is that your version of VSCode does not meet the extension's requirement.

[2018-11-28 08:12] johnbeynon commented on #298
well that's interesting.

"Check for updates" was showing fully up to date, "No updates available" and I was seeing the October 2018 release notes so I thought I was up to date. But "About VS Code" showed as 1.22, checking the VSCode website I saw 1.29 as the current release - so I've grabbed 1.29 from the website, all my extensions updated and your extension started working as expected!

Thanks f

[2018-11-28 08:12] #298 closed

[2018-11-28 08:14] Huachao commented on #298
@johnbeynon It's a pleasure to help you :)

[2018-11-30 21:42] kae commented on #232
@Huachao

Just for information.
To get "working" solution for `multipart/mixed` content type in request (it was working at least in one case with my web api) I replaced function directly at extension installation directory in file `mimeUtility.js`

[code]

with

[code]

At first glance it doesn't looks like it needed any deep additional coding to support at least basic functionality.

[2018-12-01 00:01] Huachao commented on #232
@cryxia can the `multipart/form-data` and `multipart/mixed` be treated as same?

[2018-12-01 00:34] Huachao commented on #232
@cryxia @kae thanks for your suggestions, and I have fixed the issue and will publish in next release.

[2018-12-01 00:34] #232 closed

[2018-12-02 02:29] Huachao commented on #208
@SimonDever @vladvino @mchelen @Mellbourn @schallm you can try the latest version 0.20.4 to verify

[2018-12-02 02:30] Huachao commented on #293
@rmbrunet you can try the latest version 0.20.4 to verify

[2018-12-02 02:30] Huachao commented on #285
@defectus you can try the latest version 0.20.4 to verify.

[2018-12-02 02:30] Huachao commented on #232
@cryxia @kae you can try the latest version to verify

[2018-12-02 09:12] kae commented on #232
@Huachao
It works for my requests.
Thanks.

[2018-12-02 20:46] cryxia commented on #232
All working now, thanks!

[2018-12-02 22:34] danielwagn3r opened #299 "Ctrl + click should evaluate variables"
When hovering over an GET Requrest Ctrl + Click (follow link) should évaluate the request variables used.

[2018-12-03 01:14] Huachao commented on #299
@dakaraphi `Ctrl` + `Click` the url is not a function of my extension, it's a built-in behavior of VSCode which will open the url in the browser directly. And currently I have no plan to overwrite this behavior, in my extension, you can click the `Send Request` link above each request or use shortcut `Ctrl+Alt+R`. For more usage information, you can check the `README` [here](https://github.com/Hua

[2018-12-03 01:14] #299 closed

[2018-12-03 06:01] defectus commented on #285
All seem to be OK. Many thanks!

[2018-12-03 17:07] schallm commented on #208
I can confirm my use case is now supported.  One interesting/awesome thing is that the dynamic variables are re-evaluated each time "Send Request" is clicked.  So in my example above, `enteredDate` is updated to "now" with each request.

Thanks for implementing this feature!

[2018-12-05 11:28] asmith3006 opened #300 "Copy result body"
Along with "Save Response Body" in the top bar a "Copy Response Body" would be really helpful.

[2018-12-09 04:14] jahan01 commented on #179
@Huachao currently is there anyway to preview current assigned value from response body? it would nice to have a preview of current value. (in form of codelens or something)

[2018-12-09 04:39] Huachao commented on #179
@jahan01 you can hover over the request variable references like `{{session.response.body.token}}`

[2018-12-10 06:10] OhYee opened #301 "Collapse the body object."
The REST client will format the json like this:

![tim 20181210140707](https://user-images.githubusercontent.com/13498329/49713752-0fc1a900-fc85-11e8-842d-df3dec3be060.png)

which I can not fold the key1 entirly.

And what I want is like
![tim 20181210140716](https://user-images.githubusercontent.com/13498329/49713756-14865d00-fc85-11e8-9071-93f3a873a538.png)

When the first array is too long, it'

[2018-12-10 06:42] Huachao commented on #301
Can you show me the response or its actual request ?

[2018-12-10 07:45] OhYee commented on #301
This the what return in Django
[code]

And this is what restclient get
[code]

Because the first line is ` "key1": [{`, so I can not fold the `key1`.
It will fold `{ "id": 1 },` instead of  `key1: [...]`

Maybe add a `\n` between `[` and `{` will help.

[2018-12-10 07:58] OhYee commented on #301
大概用中文交流能方便点……
意思就是因为这里`"key1": [{`，所以在折叠的时候会优先折叠后面的`{`这就导致如果`key1`是一个很长的数组，我想看到`key2`，只有两种选择：
1. 靠运气拖动滚动条找到`key2`
2. 一个一个折叠`key1`对应的列表里的内容

如果可以直接折叠`key1`，如`'key1;:[...])`，就可以解决这个问题了

@Huachao

[2018-12-10 08:00] Huachao commented on #301
@OhYee this seems related to issue of the json beautify library, see issue here beautify-web/js-beautify#1402

[2018-12-11 07:01] rojopolis opened #302 "Handle OAUTH interactive login..."
It seems like the only way to handle an OAUTH interactive login is with the Azure AAD provider.  It would be neat if there were a generic mechanism for handling this.  It seems like there could be a decorator or request variable to indicate that a request is expected to return an auth token.  Postman has a similar feature: https://learning.getpostman.com/docs/postman/sending_api_requests/authoriza

[2018-12-12 05:07] Myrannas opened #303 "[Feature Request] JWT creation"
Firstly this is an awesome extension!

It'd be great if it was possible to generate JWTs when making requests.

At my work we use asymmetric JWT tokens for service to service authentication. Due to their short expiry durations they are a bit of a pain to work with locally - as you effectively need to generate a new token every time you want to work with rest requests.

Are you accepting pull reque

[2018-12-12 05:08] Huachao commented on #303
@Myrannas PR is warmly welcomed

[2018-12-13 03:45] Hawken94 opened #304 "parse error in VSCode 1.30.0"
- VSCode Version: 1.30.0
- OS Version: macOS 10.13.6
- REST Client Version :0.20.4

This is my test file(filename: .apitest.rest).
[code]
Steps to Reproduce:

1. Click the 'Send Request'
2. VSCode show 'parse error'

By the way, it works on the last version(VSCode 1.29.1)

[2018-12-13 05:56] Huachao commented on #304
@Hawken94 do you have the old VSCode instance and tried the same request with current extension version now? And I found that VSCode doesn't upgrade its NodeJs version in this release. Can you show me the actual sent out request in your Postman from the console, or you just checked the actual sent out request with `curl -v`. Thanks in advance.

[2018-12-13 07:45] Hawken94 commented on #304
@Huachao Sorry to reply too late. I just downloaded the old VSCode to test and I found it didn't work either. Then I remember I set the 'http.proxy', after I delete the setting. It works.

[2018-12-13 07:46] Huachao commented on #304
@Hawken94 Cool, thanks for reporting this.

[2018-12-13 07:46] #304 closed

[2018-12-15 23:17] arambekverdyan commented on #298
Hi @Huachao, Thanks for the graceful extension
Single http request file works fine. But when I try to add the second one it won't work

[code]

[2018-12-16 01:15] Huachao commented on #298
@arambekverdyan what do you mean that after adding the second request it won't work? Can you provide more details?

[2018-12-17 12:22] arambekverdyan commented on #298
@Huachao sorry for belated.
When I declare single variable like this:

[code]

Its work perfecly, I can use the **userId** and **accessToken** variable in my feature requests by puting in the path variable or i  request body.
But when i try to add the second one:

[code]

Its mark the `{{feedBox.response.body.$.body.selectedFeed}}` as warning and when i navigate to this line it says:

 (Even after

[2018-12-17 12:51] arambekverdyan commented on #298
BTW:
I made the changes as an examples in README file:
[code]
But the same error was occured.

[2018-12-17 13:07] arambekverdyan commented on #298
This is the ScreenShot of the .http file

![2018-12-17-170410_816x1054_scrot](https://user-images.githubusercontent.com/17384883/50089038-24221a80-021e-11e9-9bba-ddefd7e64b23.png)

[2018-12-17 22:40] Huachao commented on #298
@arambekverdyan in line 22, you have two extra leading #, one is appropriate

[2018-12-18 08:11] arambekverdyan commented on #298
Perfect!!! Works fine. Thank you very much

[2018-12-20 06:00] huhx opened #305 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `rest-client`
- Extension Version: `0.20.4`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/huxhu/
[humao.rest-client-unresponsive.cpuprofile.txt](https://github.com/Huachao/vscode-restclient/files/2697579/humao.rest-client-unresponsive.cpuprofile.txt)
humao.r

[2018-12-20 13:04] Huachao commented on #305
@huhx could you please also provide the actual cpuprofile file to help me to investigate the root cause? Thanks in advance.

[2018-12-22 14:01] gcloeval commented on #135
Hey thank you for this excellent extension really loving it.

Quick question bc I cannot figure how should i properly use it to get json formatting - maybe I have something misconfigured in my environment.

I like how everything works when I use .http file extension in regards to syntax highlighting. Here i get the "Send Request" action when I hover over a particular request. But this doesnt auto-

[2018-12-23 12:15] Huachao commented on #305
@Huachao can you provide me the attachment, thanks in advance.

[2018-12-24 01:39] Huachao commented on #135
@gcloeval auto formatting request body is not supported yet, sorry for the convenience. I will consider this carefully.

[2018-12-25 06:04] Huachao commented on #301
@OhYee I have implemented this JSON prettify logic on my own instead of 3rd party library. It will be published in next release.

[2018-12-25 06:04] #301 closed

[2018-12-26 08:53] Huachao commented on #239
@nahtnam I have improved the performance of the second phase (`processing received response`), the duration costs less than 2 seconds on my local machine for your request. I'd like to close it. I will publish the fix in next release.

[2018-12-26 08:53] #239 closed

[2018-12-27 07:54] jenishj-crest opened #306 "Extension causes high cpu load"
[humao.rest-client-unresponsive.cpuprofile.txt](https://github.com/Huachao/vscode-restclient/files/2711845/humao.rest-client-unresponsive.cpuprofile.txt)
[humao.rest-client-unresponsive.cpuprofile.txt](https://github.com/Huachao/vscode-restclient/files/2711846/humao.rest-client-unresponsive.cpuprofile.txt)

- Issue Type: `Performance`
- Extension Name: `rest-client`
- Extension Version: `0.20.4`
-

[2018-12-27 08:06] Huachao commented on #306
@jenishj-crest after I checked the cpuprofile you provided, I can only see the time cost at Node.Js which tries to load modules. And I am not sure if all the loaded modules come from my extension. And when did the VSCode get unresponsive, when loading my extension or sending the request?

[2018-12-27 08:10] Huachao commented on #305
@huhx I have found the cpuprofile file, I will investigate the issue.

[2018-12-27 08:11] Huachao commented on #306
@jenishj-crest it seems similar to #305, I will try to investigate if I can improve the module load performance with technique like *Webpack*

[2018-12-28 09:53] Huachao commented on #306
@jenishj-crest I have used the *Webpack*  technique in my extension, and it improved the loading performance dramatically, from **~5s** to **1.2s**

[2018-12-28 09:53] #306 closed

[2018-12-28 09:53] Huachao commented on #305
@huhx I have used the Webpack technique in my extension, and it improved the loading performance dramatically, from **~5s** to **1.2s**.

[2018-12-28 09:53] #305 closed

[2018-12-28 09:55] Huachao commented on #257
@mtxr @pke I have used the Webpack technique in my extension, and it decreases the activation time to less than **1.5s**.

[2018-12-28 09:55] #257 closed

[2018-12-28 15:55] wekempf commented on #238
Just in case it's not been posted, JetBrains has published a [spec](https://github.com/JetBrains/http-request-in-editor-spec/blob/master/spec.md). There's other extensions for other editors that do similar "rest client" stuff, but it sure would be nice if all of them, including this one, would settle on a shared spec and the JetBrains spec is a good place to start. It would be great if there were

[2019-01-03 02:52] Huachao commented on #301
@OhYee you can try the latest version 0.21.0 to verify the fix

[2019-01-03 02:53] Huachao commented on #257
@mtxr @pke you can try the latest version 0.21.0 to verify this performance issue fix.

[2019-01-03 02:55] Huachao commented on #305
@huhx you can try the latest version 0.21.0 to verify the fix

[2019-01-03 02:55] Huachao commented on #306
@jenishj-crest you can try the latest version to 0.21.0 to verify the fix

[2019-01-03 02:56] Huachao commented on #239
@nahtnam you can try the latest version 0.21.0 to verify

[2019-01-03 04:53] OhYee commented on #301
@Huachao
Good job 👍
Thanks for your help.

[2019-01-03 06:46] jenishj-crest commented on #306
Yes it seems to be fixed in latest version. @Huachao

[2019-01-04 17:17] mikecarr commented on #265
In addition, a switch for verbose logging (including SSL option)

[2019-01-07 04:25] crazyLearning opened #307 "Facing issue with Special characters /+="
- VSCode Version:1.30.1
- OS Version:Windows 10
- REST Client Version:0.21.0

Steps to Reproduce:

1. Here is my request -
POST https://login.microsoftonline.com/{{TenantId}}/oauth2/token
Content-Type: application/x-www-form-urlencoded

grant_type=client_credentials&client_id={{ClientId}}&client_secret={{Secret}}

And the secret variable has these special characters /+=

When i send this request f

[2019-01-07 07:03] Dibyasingh commented on #307
Same issue happening with me.

[2019-01-07 09:32] Huachao commented on #307
@crazyLearning @Dibyasingh have you tried the setting `"rest-client.formParamEncodingStrategy": "always"`?

[2019-01-07 10:55] crazyLearning commented on #307
how to set this ?

[2019-01-07 12:18] pke commented on #257
@Huachao how can I get the performance starts for extensions?

[2019-01-07 12:30] Huachao commented on #307
@crazyLearning you can find the setting in VSCode setting panel

[2019-01-07 12:44] Huachao commented on #257
@pke maybe a built-in command named like _Show Running Extensions_ of VSCode

[2019-01-07 14:21] crazyLearning commented on #307
worked like a charm, thanks :)

[2019-01-07 14:21] #307 closed

[2019-01-07 15:06] elonmallin opened #308 "Copy request as cURL not working"
- VSCode Version: 1.30.1
- OS Version: Windows 10 (Windows_NT x64 10.0.17134)
- REST Client Version: 0.21.0

Steps to Reproduce:

1. Highlight `GET www.google.com`.
2. Open command palette and choose "Copy request as cURL".
3. Paste and see that it didn't work.

I got an error and opened the dev tools to see:
[code]
Got another error the second time I tried:
[code]

[2019-01-07 16:04] pke commented on #257
@Huachao 642ms now. Well done!

[2019-01-07 17:17] epnasis opened #309 "AAD Auth stopped to work in new version - 0.0.21"
- VSCode Version: v1.30.1
- OS Version: Windows 10
- REST Client Version: v0.0.21

Steps to Reproduce:
1. Add header to any Azure REST API request: "Authorization: {{$aadToken}}"
2. Run. Pop will show:
Sign in to Azure AD with the following code (will be copied to the clipboard) to add a token to your request. Code: xxxxxxxxxxxx
3. Click [Sign in]. Nothing happens. Browser is not open. Code is not

[2019-01-07 18:37] mtxr commented on #257
@Huachao thank you very much! Great job!

[2019-01-08 04:59] pranayrauthu commented on #308
@Huachao Thanks it's working fine with version 0.21.1

[2019-01-08 07:41] elonmallin commented on #308
Thanks, it's working!

[2019-01-08 14:13] epnasis commented on #309
@Huachao - THANK YOU! Works now! :)

[2019-01-09 17:43] georgepaoli commented on #181
@Huachao , script support has available?

[2019-01-10 16:27] AdamWorley opened #310 "AAD B2C authorization"
Hey this extension seems great, and it would be nice to be able to remove the need to have postman but I'm having an issue with using Multi-tennant B2C domains.

Is there a way to provide a policy when using the `$aadToken` variable?

I've tried using the following url format (the one swagger works with):
https://contoso.b2clogin.com/tfp/contoso.onmicrosoft.com/B2C_1A_SignUpOrSignInWithAAD/oauth2/

[2019-01-11 09:10] AdamWorley commented on #310
@Huachao No worries, still a really helpfull extension!

How easy would it be to implement oauth2 or use the [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/README.md) package? If it's not too difficult I'd love to be able to help.

[2019-01-11 09:16] Huachao commented on #310
@AdamWorley since Azure supports multiples ways to acquire the oauth2 access token, like `password`, `client_credentails` and `authorization_code`. I am not sure if the case fits for you if you use the `client_credentails` way to achieve token.
And maybe you can acquire an access token with following request, you need to provide three critical information to complete the request
[code]

After you

[2019-01-11 15:56] Huachao commented on #310
Does your request works for postman uses the oauth2 flow?

[2019-01-12 12:08] AdamWorley commented on #310
Hey @Huachao, To get the token from postman is does use the oauth2  and the implicit flow and uses the *send client credentials in body* option.

It's also possible to get a token directly for the application, so no user details, but it would seem that token doesn't include a signature .