[2016-05-23 21:31] rebornix opened #1 "Consider putting results in a separate pane"
Currently we are putting result data to console log, which is poorly structured and has no colorization. Consider converting the result to HTML and preview it in another pane, make sense?

[2016-05-24 02:12] Huachao commented on #1
Nice suggestion, I will investigate and implement it.

[2016-05-25 11:34] Huachao commented on #1
@rebornix It has been implemented in latest version 0.3.0, please have a try and give more suggestions.

[2016-05-25 11:36] #1 closed

[2016-06-04 06:47] gpasq opened #3 "Support Curl -> RFC 2616 conversion"
With Postman, I can find a service call in Chrome debuggers network tab, copy the call as curl, import it into Postman, and my method, url, headers and body are all setup for me.  HUGE time saver, especially when my QA people need me to reproduce an issue... they just send me that captured curl script.

Be nice if I could paste the same Curl into Restclient and have it generate the RFC 2616 format

[2016-06-12 16:00] Huachao commented on #3
@gpasq, I have added the capability to directly run curl request in rest client extension. By now, I haven't implemented the converter to transform curl request to RFC 2616 request, I think it's enough now. And if you really want to know the RFC 2616 format, one way is that after running the curl request in my extension, use the history feature to get the request, and it will display the request i

[2016-06-12 16:00] #3 closed

[2016-06-23 18:46] ppearson111 opened #4 "Unable to copy responses to clipboard"
Cool plugin for vscode, will be very handy, thanks!  One issue I've seen is this:

Not sure if this is an issue with the extension or with VSCode itself... but I am unable to copy responses to the clipboard.  This is very useful for copying redirect URL's in 30x http responses from the rest service that is being tested.

Also, would it be possible to have an option to automatically handle 3xx redi

[2016-06-24 01:18] Huachao commented on #4
@ppearson111 Thanks for your questions.
1. Unable to copy the response is the limitation of VSCode, I have created the issue [here](https://github.com/Microsoft/vscode/issues/6924). I think it will be solved soon since they marked the milestone `June 2016`
2. We have already handled 3xx redirect response with an options `rest-client.followredirect`, by default it is true, that means it will automa

[2016-06-29 18:08] NikosEfthias opened #5 "Under linux the results are not real"
here is what i get ![](http://i.imgur.com/oG06T5l.png)
here what i should get ![](http://i.imgur.com/TDy7SC5.png)

[2016-06-29 18:08] NikosEfthias commented on #5
ups i forget the port numbermy bad sorry :)

[2016-06-29 18:08] #5 closed

[2016-06-29 18:08] NikosEfthias commented on #5
you got a star then this is just awesome

[2016-06-29 22:48] Huachao commented on #5
@NikosEfthias, thanks you, really glad that this extension could help you.

[2016-06-30 19:33] NikosEfthias opened #6 "after closing the pane once cannot send request"
i get following error if i click to the cross over the request pane and try to send another requests afterwards .

It just hangs and does nto let me close even
![](http://i.imgur.com/Ktqb4nZ.png)

[2016-06-30 19:34] NikosEfthias commented on #6
i am under arch linux and vscode version is 1.2.1

[2016-06-30 20:22] NikosEfthias opened #7 "Can you add a pane under the results to query elements returned from request with js"
Since you are using a webview i think it should be not that difficult to add a input field to write js to play with response .
it would be really great i already replaced this with postman just there are 2 issues i face so far
first is variable support it could be great if variables could be used inside the url and the second is this playing with response.

[2016-07-01 02:10] Huachao commented on #7
@NikosEfthias, great suggestion, and I will investigate how to implement it and update in this thread later

[2016-07-01 03:18] Huachao commented on #6
@NikosEfthias, thanks, I want to confirm the issue with you, do you mean that after you sent out one request, and close the request pane. Then you reopen a request pane, the response pane doesn't show

[2016-07-01 07:10] ganlhi opened #8 "Use cookies"
As far as I can see, cookies received by previous requests are not automatically sent with subsequent requests to the same host. Woul it be possible?

[2016-07-01 08:33] NikosEfthias commented on #6
yes exactly @Huachao if you wish we can make a fazt zoom meeting to show yu the issue

[2016-07-01 08:36] Huachao commented on #8
@ganlhi, thanks for your suggestion. If implement this, I may need to implement a cookie storage, I think this is low priority now. I will consider this later.

[2016-07-01 13:16] Huachao commented on #6
@NikosEfthias, now I can't reproduce the bug on my machine (Windows 10, vs code 1.2.1). Could you please attach a screen shot of that time? Thanks. And from the image you posted above, I found the error call stack seems not related to my extension, it's about extension `chrmati.regext-0.0.2`. Could you please show me the related screen shot, sorry for the inconvenience. BTW, what's the `fazt zoom

[2016-07-01 15:49] NikosEfthias commented on #6
it was supposed to be fast zoom meeting :)

[2016-07-08 01:24] Huachao commented on #4
@ppearson111 VS Code has solved this bug in latest version 1.3, and now you can copy the response in preview tab

[2016-07-08 01:24] #4 closed

[2016-07-08 01:39] ppearson111 commented on #4
Great to hear, thanks.

[2016-07-08 09:34] tarmo888 opened #10 "Host header"
- VSCode Version: 1.3.0
- OS Version: Windows 10.0.10586

[code]

Steps to Reproduce:
1. Do "Copy request headers" on some call in Chrome Network tab
2. Paste it to VSCode
3. Run REST Client
Result: Invalid URI "/api/v1/chat

Alternative Steps:
1. Copy Generated HTTP code from Chrome Postman extension
2. Paste it to VSCode
3. Run REST Client
Result: Invalid URI "/api/v1/chat

Expected result: Expe

[2016-07-08 13:51] Huachao commented on #10
@tarmo888 nice catching, I will fix it ASAP. Or if you have interest, you could contribute to this extension , and that's warm welcomed :smiley:

[2016-07-12 13:09] StephD opened #11 "Add XML response format"
- VSCode Version: 1.3
- OS Version: Win 7

Enhancement

It could be great to format the answer which have the content-type: application/xml.
\<data>\<test>foobar\</test>\</data>
==>
\<data>
     \<test>foobar\</test>
\</data>

[2016-07-12 13:20] StephD opened #12 "Others enhancements"
- VSCode Version: 1.3
- OS Version: Win 7

I don't know if it's better to create different issue but here is some proposition and sorry for the english :).

Enhancement :
- [x] Create  a new document with the response content to avoid the white background. To be homogeneous with the application.
- [x] The scroll bar isn't display. It appear if I change the file tab and back to the content-preview

[2016-07-12 13:24] Huachao commented on #11
@StephD, nice suggestion, I will implement it ASAP

[2016-07-12 13:28] Huachao commented on #12
@StephD, I think your suggestions are very nice, and I will investigate all of them, and reply in this thread later. And thanks so much @StephD , if you have interest in my project, it would be very appreciate that you can contribute to this code base

[2016-07-12 13:30] StephD opened #13 "Add loading icon"
- VSCode Version: 1.3
- OS Version: Win 7

When A request take some time (10s as exemple), we don't really know if the request has been correctly sended and if it just waiting for the answer.
I type ctrl+alt+r 5-6 time because I thought that the request wasn't send.

May be display a loading information (like an update extensions bar on top of VSC) and hide it when it's done.

I just saw that ther

[2016-07-12 13:32] StephD commented on #12
I'm not sure to have time and knowledge to improve the code and pull request. Sorry :(

[2016-07-12 13:34] Huachao commented on #12
@StephD, don't feel sorry. It's really nice that you have already given so many great suggestions, thanks for your contributions :smiley:

[2016-07-12 13:36] Huachao commented on #13
@StephD, currently, when issuing a new request, as you said, I will display the cloud icon in the status bar at the bottom, I think I will first add it into document, and later I will think if it's easy to implement as you suggested

[2016-07-12 14:25] StephD opened #14 "Cannot display the reponse if it cannot format it"
- VSCode Version: 1.3
- OS Version: Win 7

When the response contain element that cannot be parsed (Php error as exemple), it display the last preview or display an error message : "Unable to open '\response-preview': Unexpected token <."
It would be great to display raw data to be able to read the error.

Cheers

[2016-07-12 15:21] Huachao commented on #14
@StephD, could you please the error sample in more details, is the '<' in response header, or body?

[2016-07-12 16:39] Huachao commented on #11
@StephD, fixed in latest version of REST Client with v0.5.3

[2016-07-12 16:39] #11 closed

[2016-07-13 06:38] lypscan commented on #14
I get this error too, but i'm not sure about the exact circumstances.
VSCode: 1.3.1
OS: Win 7

Here is the error from the console:

shell.ts:416 data.replace is not a function: TypeError: data.replace is not a function
    at Function.HttpResponseTextDocumentContentProvider.escase (C:\Users\user1\.vscode\extensions\humao.rest-client-0.5.3\out\src\views\httpResponseTextDocumentContentProvider.js:48

[2016-07-13 06:42] Huachao commented on #14
@lypscan it's very strange that string.replace is not a function, can you reproduce this?

[2016-07-13 06:57] lypscan commented on #14
I made a gif with the bug:

![rest-bug](https://cloud.githubusercontent.com/assets/4302588/16794376/2cad2e64-48e0-11e6-9bcd-a8e599db4837.gif)

[2016-07-13 06:59] Huachao commented on #14
@lypscan, I can't view your image

[2016-07-13 07:03] lypscan commented on #14
Steps to reproduce:

1. save a file with the rest extension (test.rest)
2. do a GET http://example.com HTTP/1.1
3. close the response-view pane
4. now change the domain to google.com (GET http://google.com HTTP/1.1)
5. this is when i receive the error in the console and the response-view pane pops up with the response data of the previous request (from example.com)

[2016-07-13 07:10] StephD commented on #14
I can view it. But it's from a different source for me.
Now I got another error :
Unable to open '\response-preview': data.replace is not a function.
Here is the answer I get into a browser (as RAW).
\<br />
\<b>Notice\</b>:  Undefined variable: params in \<b>C:\var\www\******.php\</b> on line \<b>58\</b>\<br />
{"error":"Nothing has been found"}

This is this tag '\<br/>' that made the previous e

[2016-07-13 07:11] lypscan commented on #14
@Huachao, this bug was not present before the updates (of VSCode 1.3.1 and REST-Client 0.5.3)

[2016-07-13 07:13] Huachao commented on #14
@StephD @lypscan I think this maybe related to the change in v0.5.3, that I will call escape method for each response header value

[2016-07-13 07:43] Huachao commented on #14
@StephD @lypscan I have created the new version 0.5.4, you can update to it and the bug should have be solved

[2016-07-13 08:00] StephD commented on #14
GET http://google.com HTTP/1.1 is working.
My other link is back to the previous error : "Unable to open '\response-preview': Unexpected token <."
The parse shouldn't work but is it possible to see the RAW data?

[2016-07-13 08:03] lypscan commented on #14
@Huachao Yes, for me, this issue is no longer present. Thanks!

[2016-07-13 08:07] Huachao commented on #14
@StephD , could you please provide me the raw request that you issued so that I can debug? Thanks in advance

[2016-07-13 08:37] StephD commented on #14
Check my previous comment.
Here is the answer I get into a browser (as RAW).
<br />
<b>Notice</b>: Undefined variable: params in <b>C:\var\www******.php</b> on line <b>58</b><br />
{"error":"Nothing has been found"}

This is this tag '<br/>' that made the previous error => Unexpected token <.

[2016-07-13 09:03] Huachao commented on #14
@StephD. sorry for bothering you to repeat again, and is this the response body, if it is, I can't repro this error since in my code return escape the response body?

[2016-07-13 09:19] StephD commented on #14
It's alright :)
Yes, this is the response body.
Firefox developer own a json viewer : https://developer.mozilla.org/en-US/docs/Tools/JSON_viewer
I used it to render the rest response body into my rest api.
When I made a mistake into my php code, it's display an error code :
\<br />
\<b>Notice\</b>: Undefined variable: params in \<b>C:\var\www******.php\</b> on line \<b>58\</b>\<br />
(This is an e

[2016-07-13 09:28] Huachao commented on #14
@StephD, I know your pain now, do you mean that you have a response body with Cotent-Type is application/json, while the result is not real json(due to some bug), so my code failed at json parse. The expected behavior is that if parse failed, just display the original(raw) response body?

[2016-07-13 09:46] StephD commented on #14
True. I used to call the result the response body (after the CRLF, after the header). Not sure about to standard term.

The content-type is application/json and the result isn't real json because there is an error message.

I would be nice to display the raw data when the parse failed and display an error message to say that the json.parse didn't work).

[2016-07-13 09:48] Huachao commented on #14
@StephD, nice suggestion that add a error/warning message as well when displaying raw response. And I will fix it ASAP

[2016-07-15 23:52] symbioticKid opened #15 "Using NTLM authentication"
- VSCode Version: 1.3.1
- OS Version: Windows 10
- REST Client Version: 0.5.4

Steps to Reproduce:
Is there a way to use Windows NTLM authentication via the REST client? I'm able to get the response via the python HTttpNtlmAuth library, but curious to see if the same can be achieved via the REST client.

[2016-07-17 13:39] Huachao commented on #15
@symbioticKid , thanks for your suggestion. And I think this is not a quite general requirement, so I'd like to put this in backlog.

[2016-07-19 15:15] #14 closed

[2016-07-19 16:16] #10 closed

[2016-07-19 16:57] Huachao commented on #14
@StephD you can try latest version 0.5.5 :sweat_smile:

[2016-07-19 17:00] Huachao commented on #10
@tarmo888 @vitaliy-komenda the bug as been fixed, and you can try latest version 0.5.5 :sweat_smile:

[2016-07-21 15:02] Huachao commented on #12
@StephD , the issue that don't show white background has been fixed in latest version 0.6.0, you can have a try :smile:

[2016-07-22 17:48] NikosEfthias opened #16 "Allow query strings spread into multiple lines"
- VSCode Version:1.3.1
- OS Version:ubuntu 16.4
- REST Client Version:0.6.1

Steps to Reproduce:

 some queries to api are really lng and writing them in single line is making everything worse
it could be so nice to split parts into lines but when i do this the request wont work

[2016-07-25 07:32] davidwudv opened #17 "Can't set "Host""
- VSCode `Version: 1.3.1`
- OS Version: `Windows 10`
- REST Client Version: `0.6.1`

Steps to Reproduce:

![qq 20160725153153](https://cloud.githubusercontent.com/assets/4150570/17093631/f3970c3e-527c-11e6-963b-53e89182e112.png)

[2016-07-25 11:42] Huachao commented on #17
@davidwudv in my opinion, if the host is test, the url should be `GET / HTTP/1.1`, the HOST head should be `test:8080`

[2016-07-25 11:43] Huachao commented on #16
@NikosEfthias , I am considering this, and since I am busy these days, I will implement this ASAP, sorry for the inconvenience.

[2016-07-25 12:03] Huachao opened #18 "Support comments in .http or .rest file"
- VSCode Version:
- OS Version:
- REST Client Version:

Steps to Reproduce:

1.
2.

[2016-07-25 12:26] shytikov opened #19 "Fonts in `\reponse-prevew` window not following configuration"
- VSCode Version: 1.3.1
- OS Version: Windows 10
- REST Client Version: 0.6.1

Steps to Reproduce:

1.  Select none-standard font for `VSCode`.  Example of my `settings.json`:
[code]
2. Note that font has changed in request window;
3. Execute request;
4. Note that `\reponse-prevew` window still uses standard font (see attached screenshot);

![illustration](https://cloud.githubusercontent.com/asset

[2016-07-25 12:29] shytikov opened #20 "Correct typo in the responce window"
- VSCode Version: 1.3.1
- OS Version: Windows 10
- REST Client Version: 0.6.1

Steps to Reproduce:

1. Note that output window is called `\reponse-prevew`.
2. Is backslash in the beginning is a typo or this was done intentional?

[2016-07-25 13:19] NikosEfthias commented on #16
awesome thank you :+1:

[2016-07-25 15:02] Huachao commented on #6
@NikosEfthias, is this bug still existed?

[2016-07-25 15:57] NikosEfthias commented on #6
i cannot reproduce this after changing to ubuntu from arch linux either its solved by an update or it was os specific problem

[2016-07-25 15:57] #6 closed

[2016-07-26 02:46] Huachao commented on #20
@shytikov ,for question 1, there's no typo on my machine. I can't repro it on my Win 10 PC.

[2016-07-26 04:01] Huachao commented on #20
@shytikov, I have used leveraged from the vs code latest api change, and will specify title manually for each response, the title format will look like `OK(200) - 1286ms`, or `Forbidden(403) - 896ms`

[2016-07-26 04:04] Huachao commented on #20
So this fix will be released in next publish.

[2016-07-26 04:04] #20 closed

[2016-07-26 07:16] davidwudv commented on #17
But...in some cases, Host needs to be set to a different value...
Does this mean that the API design is unreasonable？

[2016-07-26 07:19] Huachao commented on #17
@davidwudv I think this API design is a little unreasonable, as [HOST 14.23 section](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) said, The Host field value MUST represent the naming authority of the origin server or gateway given by the original URL

[2016-07-26 07:22] davidwudv commented on #17
@Huachao thanks

[2016-07-26 07:22] #17 closed

[2016-07-26 14:28] Huachao commented on #20
@shytikov , I found it seems I can't set the title if the response pane is already opened, I think this is a limitation of VS Code. So I would like to set to a const value, like `Response`

[2016-07-26 19:32] shytikov commented on #20
@Huachao I've just checked, on front page of this repository there is the gif image showing process working with this extension. And there you can see that result window title contains backslash.

It is `\reponse-prevew`, while I believe `\` does not belong there...

[2016-07-26 21:30] Odonno opened #21 "Allow multiple requests per file"
- VSCode Version: 1.3.1
- OS Version: Windows 10.10586
- REST Client Version: 0.6.1

Steps to Reproduce:

1. Create a `.rest` or `.http` file
2. Add multiple HTTP requests
3. Execute and see nothing happens

Potential solution:

Create an array of HTTP requests based on REST keywords (GET, POST, etc...) and execute each one after another.

[2016-07-26 21:41] Odonno opened #22 "Use variables inside http/rest files"
- VSCode Version: 1.3.1
- OS Version: Windows 10.10586
- REST Client Version: 0.6.1

Requirements:

The goal is to be able to make flexible REST client file. Adding variables, it could be simple to do those sort of things :
- Base url
- Reuse previous response
- Use token (https://github.com/Huachao/vscode-restclient/issues/22#issuecomment-235603249)

Tasks:
- [x] environment variable (you can def

[2016-07-26 23:05] Huachao commented on #20
@shytikov , the `\` is added by VS Code itself, now, what I don't quite understand is the typo, sorry for that I didn't explain well. And now the new version 0.6.2 has been published, and you can have a try, in that version, I have set the title to const value 'Response'.

[2016-07-26 23:16] #18 closed

[2016-07-26 23:22] Huachao commented on #19
@shytikov , sorry for the dealy. The settings of editor.font-family is not used by VS code in `vscode.previewhtml` command, if need to achieve this, I need to manually the user configuration and dynamically generate the css file, and render the response. I think, adding a new setting by VS Code to support font-family of preview is a more straightforward way.

[2016-07-26 23:29] Huachao commented on #22
@Odonno , nice suggestion, however I think my goal now is a stand alone http client tool/extension, this feature can be implemented in you js code by referencing a javascript http client library.

[2016-07-27 05:19] Huachao commented on #21
@Odonno , one problem for this suggestion now is that, since I preview the response in the same pane, if we implement this, we need to preserve the preview result for each issued request.

[2016-07-27 14:26] shytikov opened #23 "Multiple requests functionality"
Hi,

It would be also nice to have several output windows. Currently you cannot have two input documents that feed their output to two different output windows. You will always have only one response window, and you'll be loosing results of previous requests all the time.

What do you think about such improvement?

[2016-07-27 14:30] shytikov commented on #22
I think it would be just enough to be able build chains of requests in one input window.

1. You've requested a token;
1. You're using that token to request information about something;
1. Or use output of that request to feed it as input for next request.

If some kind of simple syntax could be developed, like:

1. Automatically assign `id` to request;
1. Expose response for that request JS objec

[2016-07-27 14:36] Huachao commented on #23
@shytikov , thanks so much for your nice suggestion. I'd like to add an option in configuration that allows user to choose whether opens a new response pane for each request or just display all the response in a single response pane. Do you think it's OK?

[2016-07-27 14:38] Huachao commented on #22
@shytikov @Odonno , your suggestions are really great, thanks so much. I will consider how to implement it carefully, and update in this thread later.

[2016-07-27 14:40] shytikov commented on #23
I think it's indeed very wise solution! I should suggest this on the first place!

[2016-07-27 15:01] Odonno commented on #21
@Huachao You mean, one pane for each request ? Or one pane that contains all requests one after another ?

[2016-07-27 15:06] Huachao commented on #21
@Odonno I am so sorry that I didn't express myself clearly. I mean how to display the response(s) in the scenario you've mentioned that all the requests all in the same file, do we need to render each response of the requests in a separate response preview pane, or show all the responses in the same pane, just append the response result?

[2016-07-27 15:07] Odonno commented on #22
@Huachao Yes, we can do that using a js library, now I see that. I just bring that question with potential usages but @shytikov seems to have one major needs, in case the response is highly variable (token example).

Now, I think that introducing a script language is too much. Maybe global variables like `@id` that you can `replace` in the entire page could be just enough, I suppose.

[2016-07-27 15:09] Odonno commented on #23
Why is it different of #21 ?

[2016-07-27 15:11] Odonno commented on #21
I think, for a consistency purpose, as we have all of our requests in the same file, we need all responses in the same file too.

[2016-07-27 15:14] Huachao commented on #23
@Odonno, you are right, I think they are the same for the concern I've mentioned. I'd like to complete #21 with basic feature that these requests are independent, that means one request won't consume previous requests' responses, do you think it's ok for now?

[2016-07-27 15:15] shytikov commented on #23
My bad. It was longer issue with several topics, but later I extracted some thoughts and used them as comments in several different places. Now it looks like duplicate. Probably it should be closed then.

[2016-07-27 15:20] Odonno commented on #23
@Huachao Yes, of course, I firstly intended to make requests independants.

[2016-07-27 15:20] shytikov commented on #19
OK... So that window is HTML preview... That explains situation better... I will create separate issue for one of the cases I'm expecting.

[2016-07-27 15:21] Huachao commented on #22
@Odonno Yes, I totally agree, I'd like to add

- environment  variable(you can define prod/sandbox/...  variables)
- global variables(cross environment)
- system dynamic variables(I will provide function like {{$guid}}, then you can use this in your request when you needs a new guid) support in the future.

[2016-07-27 15:22] Odonno commented on #21
I started list of tasks for this issue, see my first comment.

[2016-07-27 15:24] Huachao commented on #21
@Odonno , thanks so much :+1:

[2016-07-27 15:26] shytikov opened #24 "Wrapping of long strings in output window"
It would be nice to have results in response window be wrapped by default. In case if you're having long result string (token, for example) it's very inconvenient to work with such data.

[2016-07-27 15:29] Odonno commented on #22
Thanks @Huachao and @shytikov , I updated my first comment.

[2016-07-28 13:57] #23 closed

[2016-07-28 14:08] Huachao commented on #8
@ganlhi, I am considering the automatically sending/storing cookie feature, and I have a question that wants to discuss with you. As we all know, cookies can be **persistent cookie**(_for browser, normally stored on disk and available until expire time_), or **session cookie**(_temporary and erase when browser close, no expire time in `Set-Cookie` header_).
So I am not sure how we should handle th

[2016-07-28 14:13] ganlhi commented on #8
Well... I'm not an expert on implementing these things, but maybe you can consider a vscode window to be a browser instance, and so delete session cookies when window is closed?

[2016-07-28 14:19] Huachao commented on #8
@ganlhi , or if I can handle these 2 kind of cookies in the way like browser, for persistent cookie, I will save them to local file system which can be reused next time; for session cookie, I will only save them in memory, and if VS Code is closed, our extension are inactive, and all the session cookie in memory are automatically removed. Next time you open vs code and activate our extension, you

[2016-07-28 14:20] ganlhi commented on #8
That seems a good idea!

[2016-07-28 16:51] #19 closed

[2016-07-28 16:52] Huachao commented on #19
@shytikov , since you will create separate issue, I just close this one

[2016-07-29 06:49] mad-mike opened #25 "Proxy support"
- VSCode Version: 1.3.1
- OS Version: Windows 10
- REST Client Version: 0.6.2

Steps to Reproduce:
1. Enter a network environment where an HTTP proxy is required
2. Make the proxy settings in VSCode's settings.json ("http.proxy": "http://proxy:8080")
3. Try to make an HTTP request, e.g. 'GET http://example.org/'
4. There is an error message that says "Error: Error: connect ETIMEDOUT ..."

Given th

[2016-07-29 07:11] Huachao commented on #25
@mad-mike , currently we really don't support this, and will implement this later. And it's very welcome that you can contribute to this code. :smile:

[2016-07-31 02:59] gpasq opened #26 "Curl command fails if -u is specified"
- VSCode Version: 1.3.1
- OS Version: Windows 10
- REST Client Version: 0.6.2

Steps to Reproduce:

1. Create a curl command that passes the -u flag with required parameters
2. run the curl, it will fail with "Unauthorized"

It appears that running the curl command does not process the -u parameters correctly.  You can reproduce this if you sign up for a twilio account and call:

curl "https://loo

[2016-08-01 04:06] #26 closed

[2016-08-01 05:10] Huachao commented on #26
@gpasq, I have fixed in latest version 0.6.3, please help to verify

[2016-08-01 05:11] Huachao commented on #23
@shytikov, I have add the option to show response in different tab, please help to verify in latest version 0.6.3

[2016-08-01 12:04] shytikov commented on #23
Hi, thanks!

Do we need to configure that behavior somehow?

[2016-08-01 12:14] Huachao commented on #23
@shytikov, yes, by default the option is turned off, and you can set the `rest-client.showResponseInDifferentTab` to true as the [README.md](https://github.com/Huachao/vscode-restclient#settings)

[2016-08-01 15:11] gpasq commented on #26
That has fixed it @Huachao, thank you!

[2016-08-01 17:22] #25 closed

[2016-08-02 11:43] StephD commented on #14
Awsome, thanks :)

[2016-08-02 11:43] StephD commented on #12
Thanks. It's way more friendly like that now

[2016-08-02 14:54] Huachao commented on #16
@NikosEfthias, when I think about this feature recently, I found that allowing request cross over multiple lines will have a problem that syntax highlight not working. And I think one simple way to this is just word wrap in Visual Studio Code by `View->Toggle Word Wrap`.

[2016-08-02 16:28] #8 closed

[2016-08-02 16:53] Huachao commented on #8
@ganlhi , this feature has been implemented in latest version 0.7.0, please help to verify it :rocket:

[2016-08-03 09:38] NikosEfthias commented on #16
wordwrap is great but it does not allow you to break from the place you wish

[2016-08-03 10:07] Huachao commented on #16
@NikosEfthias good point, I know your pain, and I will consider if implementing this feature will affect others, and will update in this thread ASAP

[2016-08-04 17:22] NikosEfthias commented on #16
as i told a really long get query each part after ? could be in a new line terminated by `\` so it could be really easy to edit or change values

[2016-08-04 17:24] Huachao commented on #16
@NikosEfthias agree

[2016-08-04 17:26] NikosEfthias commented on #16
at the moment it is really pain to horizontal scroll for changing something and even more difficult when its half of the screen

[2016-08-05 03:58] Huachao commented on #16
@NikosEfthias I'd like to __ONLY__ spread query string into multiple lines
Following requests will be equivalent:
[code]
or
[code]
or

[code]

[2016-08-05 03:59] Huachao commented on #12
@StephD for task 2, can you still repro?

[2016-08-05 07:16] StephD commented on #12
Yes, but now, the scroll bar disappear after a second request and without changing the tab.
example :
- Open the program
- Open my http file
- Execute the rest request, everything is fine (scroll bar)
- Re-execute the request, scroll bar disappear.
BUT
If I open a file or create a new one in the right column (where "Response" is). It will add a new tab and "hide" 'Response'. If I click on response

[2016-08-05 07:25] NikosEfthias commented on #16
[code]
this is way more clear

[2016-08-05 07:37] Huachao commented on #12
@StephD understand, and I think this is a bug related to VS Code itself for the command 'preview.html'. You can also repro this for markdown preview. I will open a issue for them

[2016-08-05 07:46] StephD commented on #12
Well, let see how it will be improved by Microsoft

[2016-08-08 04:06] Huachao commented on #12
@StephD for task 3, can you see the preview result quickly when you switch back to preview tab?

[2016-08-08 08:00] StephD commented on #12
I don't really know. Hard to compare. I may look like faster...
It's not so annoying.
Because it look like an opened file, I thought that the loading time could be instant, like a file, but if it's another form of file, it's ok like that, for me

[2016-08-08 08:04] Huachao commented on #12
ok, I will mark task 3 completed, I did some change which I think can improve the loading performance, since previously the style file is loaded from the web, now it's stored in local file.

[2016-08-08 15:17] StephD commented on #12
Another enhancement :
Display error message if the request is not send due to a malformed request.
Because you ask a blank line between headers and body, nothing appear if I try to execute this request without this blank line.

The execution look like a normal request but the server will never receive something and nothing will happen.

[2016-08-08 15:20] StephD opened #28 "Comments are still integrated to the request"
- VSCode Version: 1.4
- OS Version: Win 7
- REST Client Version: 0.7

Comments are integrated in the request.
- Because you need a blank line between Content-type and Body (in POST request), if I put a comment instead of this blank line, the request will be not send.
- If I put comment into the JSON body, my server will get that comment as a JSON form and a malformed JSON occur.

![2016-08-08 17_1

[2016-08-08 17:10] Huachao commented on #28
@StephD I'd like to just ignore comment lines and won't treat them as blank lines. And the `#test` is sent to server is due to my bug.

[2016-08-08 17:13] #28 closed

[2016-08-09 01:08] Huachao commented on #28
@StephD you can verify this in latest version 0.7.1. Thanks

[2016-08-09 07:22] StephD commented on #28
Works well for the example I gave you.

[2016-08-09 07:28] StephD commented on #12
The new version display an error is there isn't any blank line. I'm not sure that this error is very explicit:
=> Request structure is not valid. Request body must be preceded by a blank line.

![2016-08-09 09_26_38-fl http - gateway - visual studio code](https://cloud.githubusercontent.com/assets/1171858/17508074/688f2a0c-5e13-11e6-8fd8-672e8c907104.png)

[2016-08-09 07:45] Huachao commented on #12
@StephD I currently pass all the lines to be `request` package, and let it to check whether the headers are valid, I can improve this to check this from my code and show more user friendly error message

[2016-08-09 07:53] StephD commented on #12
Yes, it's just about the friendliness of the message.

[2016-08-09 07:54] Huachao commented on #12
@StephD I will improve it later, and mark the task not finished

[2016-08-09 12:04] StephD commented on #12
Is it possible to add a collapsible functionality for json and xml (like a vscode file)?
And the number of lines?

[2016-08-09 12:05] StephD commented on #12
Is it possible to add a collapsible functionality for json and xml (like a vscode file)?
And the number of lines?
Do you prefere to let me add questions to my post?

[2016-08-09 12:17] Huachao commented on #12
@StephD , it's ok to add questions here, and I will investigate it how to implement collapsible and update in this thread later

[2016-08-09 12:52] Huachao commented on #12
@StephD do you mean add collapsible functionality for request body or response body? I found for request body already has collapsible functionality.

And for number of lines, I found it's a function of VS Code, I can see number line in my VS Code for .http and .rest file

[2016-08-09 13:40] StephD commented on #12
Both are for the response body.

[2016-08-09 13:48] Huachao commented on #12
@StephD for response tab in my extension is html page actually, I will investigate it.

[2016-08-09 17:23] Huachao commented on #13
@StephD I'd like to implement this request like following, that set the status bar with a spinner when waiting for the response
![status](https://cloud.githubusercontent.com/assets/2796177/17526228/f52a608c-5e98-11e6-910d-9e15f9300655.gif)

[2016-08-09 17:25] #13 closed

[2016-08-16 06:01] ganlhi commented on #8
Hey there! Good news!
Just got back from vacation. Will try this ASAP.

[2016-08-16 13:14] jchomarat opened #29 "Receiving "Running the contributed command:'rest-client.request' failed.""
- VSCode Version: 1.4.0
- OS Version: Window 10 anniversary update
- REST Client Version: 0.7.1

Steps to Reproduce:

1. Open any request file
2. Execute it (ctrl - alt R)

Hello,

I really love your extension, however, since the latest windows 10 big update (anniversary), it does not work anymore

I tried reinstalling the extension, without any more success.
Is there a way to get logs for you?

T

[2016-08-16 14:12] Huachao commented on #29
@jchomarat Thankd for your reporting. Do you use proxy in your msahine

[2016-08-16 14:39] jchomarat commented on #29
Thanks for your answer. No proxy configured on my machine!.
 I suspect that windows 10 anniversary update broke something - but i did not find anything on the web ...

[2016-08-16 15:04] jchomarat commented on #29
Hi again, I found out how to get more info on this:

![image](https://cloud.githubusercontent.com/assets/6317287/17703882/81afe43e-63d3-11e6-8dac-dd6dca998676.png)

[2016-08-17 05:36] Huachao commented on #29
@jchomarat I can't repro on my windows 10 anniversary update machine

[2016-08-17 09:26] jchomarat commented on #29
Ok, thanks for your help. I've deinstalled vscode + plugins, reinstalled everything and same thing. I'm gonna dig and open a vscode ticket.

[2016-08-18 19:07] suresh-deevi opened #30 "Expand/collapse JSON/XML response body"
Format result based on the content type so it is easy to identify components of response.
It would be nice to have expand collapse at node level like in most XML, JSON viewers.

[2016-08-18 23:10] Huachao commented on #30
@suresh-deevi thanks for your suggestion, I'd like to update your issue title to expand/collapse JSON/XML response body. Since we already have the pretty print feature for a long time

[2016-08-19 02:19] Huachao commented on #29
@jchomarat ok, I will close the issue now, and you still have questions, you can reopen it freely.

[2016-08-19 11:59] ritcoder opened #31 "Unexpected token U"
- VSCode Version: 1.4.0
- OS Version: Windows 10
- REST Client Version: 0.7.2

Steps to Reproduce:

1. Enter `GET http://wwww.bing.com HTTP/1.1`
2. `Ctrl`-`Alt`-`R`

I get the error above. I was working find just a few minutes ago so not sure what could be the case.

R.

[2016-08-19 23:41] Huachao commented on #31
@ritcoder this error seems normally happened at JSON.parse, which getting a parameter is undefined.

- I want to confirm can you repro this error for other urls
- you mean you can work earlier, and failed since some time, so I'd like you to check files(history.json and cookie.json) exist under this path `%USERPROFILE%\.rest-client` and whether they are real json
- Can you toggle develop tools in v

[2016-08-20 00:54] ritcoder commented on #31
I checked `cookie.json` and indeed, it did not contain correct json.

The ending of the file was

"www.bing.com":{"/":{"SRCHUID":{"key":"SRCHUID","value":"V=2&GUID=85BD4FE597F142D3A3D390D8330436C6","expires":"2018-08-19T11:39:50.000Z","domain":"www.bing.com","path":"/","hostOnly":true,"creation":"2016-08-19T11:39:50.778Z","lastAccessed":"2016-08-19T11:39:50.778Z" } } } }UIDB":{"key":"MUIDB","value

[2016-08-20 02:55] Huachao commented on #31
@ritcoder I think it may be the concurrency bug of the cookie store I used, see [here](https://github.com/mitsuru/tough-cookie-filestore/issues/3). I will try to use other ones.

[2016-08-20 17:14] ritcoder commented on #31
Cool. Now that I think about it, I was using it from two tabs. Anyway, will see if I can reproduce it and check with the next update. Thanks.

[2016-08-22 11:40] #31 closed

[2016-08-23 07:38] shytikov opened #32 "POST request without headers fails"
- VSCode Version: 1.4.0
- OS Version: Windows 10
- REST Client Version: 0.7.2

Steps to Reproduce:

1. Create POST request with body but no headers;
1. Ensure that there is an empty line between request URL and body;
1. Execute request;
1. VSCode will show error message `Header must be in 'header name: header value' format, please also make sure there is a blank line between headers and body`;
1.

[2016-08-23 08:07] Huachao commented on #32
@shytikov nice catch, I will fix it ASAP and publish a new version

[2016-08-23 08:35] #32 closed

[2016-08-23 08:49] Huachao commented on #32
@shytikov it has been fixed and you can try the latest version 0.7.3

[2016-08-23 08:50] Huachao commented on #31
@ritcoder I have published the new version 0.7.3 which fixes the bug, you can have a try. :smiley:

[2016-08-23 09:25] shytikov commented on #32
Wow, that was fast!.. I will finish my API debugging (doing it with the help of your extension), and will update version!

Thank you!

[2016-08-24 08:47] StephD commented on #30
I've added this enhancement into [https://github.com/Huachao/vscode-restclient/issues/12](url) weeks ago. I think this is the same functionality so it's duplicate.

[2016-08-24 08:59] StephD opened #33 "Parsing error"
- VSCode Version: 1.4
- OS Version: 7
- REST Client Version: 0.7.3

Hi,

I'll try to explain a bit. I got a file that I want to download. I use a get request to do that.
When I put the link into a browser, I can download the file.

![2016-08-24 10_54_21-new tab - firefox developer edition](https://cloud.githubusercontent.com/assets/1171858/17924552/6d32fe26-69e9-11e6-955f-99e8fb9d46b8.png)

When I

[2016-08-24 09:23] Huachao commented on #33
Thanks @StephD , I will look into this bug

[2016-08-24 11:14] Huachao commented on #33
@StephD I think this error is thrown from the [http library](https://github.com/request/request) I use. Could you please provide me the error call stack by clicking 'Toggle Developer Tools'?

[2016-08-24 11:15] Huachao commented on #30
Duplicated with #12

[2016-08-24 12:06] StephD commented on #33
debugViewer.ts:933 Parse Error
e.doShow @ debugViewer.ts:933
e.show @ debugViewer.ts:907
(anonymous function) @ main.contribution.ts:36
i.Class.derive._oncancel @ monarchCompile.ts:91
t.$showMessage @ main.contribution.ts:33
e.handle @ window.ts:48
s @ commonCodeEditor.ts:925
f @ commonCodeEditor.ts:977
_combinedTickCallback @ internal/process/next_tick.js:67
_tickCallback @ internal/process/next_

[2016-08-24 12:40] Huachao commented on #33
@StephD however I can't repro your failure by get a invalid xml file with `content-type: text/html;charset=UTF-8`. You can try to get this file `GET https://humao1576.blob.core.windows.net/test/test.txt HTTP/1.1`

[2016-08-24 12:43] StephD commented on #33
You are correct, on your server, even if it's the same error with resteasy, vscode do not give me any parsing error.

I don't know. Thanks for your time

[2016-08-24 12:49] Huachao commented on #33
So I still guess, the so-called `Parse Error` is from the node js http library which parses the response and find the response invalid, the invalid here seems not related to wrong content body, but should related to http response format. Maybe if you don't exit in your php code, the server maybe generate some invalid content in response, which cause nodejs http library error.

[2016-08-24 13:36] StephD commented on #33
1: Response length modification let appear xml part : Test file<?xml version="1.0" encoding="UTF-8"?>
2: Connection:keep-alive do not change anything in vscode

[2016-08-24 13:40] Huachao commented on #33
@StephD according to your first screenshot, the Content-Length returned from the server seems 9, and in your case as your mentioned above, the Content-Length shall be larger than 9 due to xml header? Can you try to make the Content-Length header reflects the real length? If I am wrong, sorry for the inconvenience.

[2016-08-24 13:44] StephD commented on #33
I did it. I put it to 100 to let appear this xml part. This is why there is a parsing error I think because as xml, it's invalid.
Btw. Like I said, there was an error in my code so this error come from me, not your extension.

[2016-08-24 14:00] Huachao commented on #33
@StephD I am just curious the reason. Thanks for your usage of my extension and many great suggestions.

[2016-08-24 14:00] #33 closed

[2016-08-26 09:11] jchomarat commented on #29
Hello @Huachao - just as follow up, with the rest-client version 0.7.3, the error I received was more epxlicit: cookies.json was corrupted (I was conviced I removed all the files for my tests).
Anyway, everything is ok now. Thanks!

[2016-08-26 09:42] Huachao commented on #29
@jchomarat you still met the same error in new version? If so I'd like to reopen the issue, by now, you could just add the setting `"rest-client.rememberCookiesForSubsequentRequests":  false`

[2016-08-30 14:16] Huachao commented on #16
@NikosEfthias I have
Following requests will be equivalent:
[code]
or
[code]

[2016-08-30 14:16] #16 closed

[2016-08-30 21:17] NikosEfthias commented on #16
when is the update gonna be ready ?

[2016-08-30 22:39] Huachao commented on #16
@NikosEfthias it will in one or two days, since I am adding another feature, and will publish the new version together with that feature. Sorry for the inconvenience

[2016-08-31 00:42] Huachao commented on #16
@NikosEfthias I have published a new version 0.7.4, you can try to verify. Thanks

[2016-09-06 09:28] StephD commented on #12
Hello :)

I come back to you about the 5th functionality.
I'd love to push ctrl+alt+r on any line and launch the current line/section/request instead of the first one of the file.

If I have two or more row with different request, I have to highline the full line and do the action if I want to execute the second, third request.
If I just click at the end of a get request and do the action, it's th

[2016-09-06 09:47] Huachao commented on #12
@StephD in my implementation, in fact I will have steps to run a request, first is `getting request text`, second is `parsing request`. In `getting request text` step, the logic is quite easy, if highlighted, text is highlighted text, if not, the whole topic. And I will remove all the comment lines in selected text. And pass these text to `parsing request` step. In `parsing request step`, I will p

[2016-09-06 10:29] StephD commented on #12
The logic is good and quite easy :)
Is it possible to detect the selected line?
If I click somewhere, vscode highlight (as background color) the whole line (not only the text).
Vscode know where my cursor is so maybe you can detect it and pass this variable to the parsing request step?
You introduce the possibility the have a GET request on multiple line, so I suppose that you can detect blank lin

[2016-09-06 11:24] Huachao commented on #12
@StephD one scenario I found maybe confusing is that, if we only have one request in file, originally, use can set the cursor anywhere, and just press ctrl+alt+r to send the request, now, he has to move the cursor to first line of the request, right? Will this be a bad user experience?

[2016-09-06 11:53] StephD commented on #12
I'm confuse about what you are explaining and didn't understand well.
Are you saying that if you make a change, user will have to click on the first line of the file if there is only one request?
If yes, I don't understand the bad user experience or what can be bad about that because with only one request in the file, with the algorithm I propose, it will be always the first request that will be s

[2016-09-06 11:57] Huachao commented on #12
My question is where the cursor should be placed if user wants to send out a request (The file only contains one request). In the first line of request or any line, of the request? (Don't use highlight way)

[2016-09-06 11:59] StephD commented on #12
On any line. To let the user click on the second/third line if he use a multi-line GET syntax

[2016-09-07 00:12] Huachao commented on #12
@StephD a trick to highlight current line in VS Code is to double click on the expected line. This doesn't solve the issue, but before I come up with a better solution, now you can use this trick to easy your operation

[2016-09-07 07:11] StephD commented on #12
It's not a real highlight. It's just a display feature to show user which line is the cursor. Double-click will highlight the last word.

About the other rest client extension, do you think that a comment part can be part of the parsing algorithm to detect which request should be send? Or the comment is just there "like that", without a real function for the parser

[2016-09-16 14:57] GlennPope opened #34 "Allow automatic Decode of HTTP responses."
- VSCode Version: 1.5.2
- OS Version: W7
- REST Client Version: 0.7.5

Reception of a response may include encoded characters. Although there are other extensions that will decode html encoded characters, the response is read only.  To decode requires an extra set of steps to open a new window, manually select the response (CTRL+A does not work) and past into the new window before invoking the oth

[2016-09-16 23:34] zephrxx opened #35 "Does it support client certificate authentication?"
Some rest api requires client cert authentication.

[2016-09-18 02:11] Huachao commented on #35
@zephrxx it's not supported now, thanks for your suggestion and I will put it in my backlog

[2016-09-18 02:12] #29 closed

[2016-09-18 03:00] Huachao commented on #34
@GlennPope thanks for your suggestion, and I will add it to my backlog and implement ASAP

[2016-09-19 03:24] wangyibu opened #36 "【建议】get请求参数输入方式跟post 保持一直，中文的encode处理"
- VSCode Version:1.5.1
- OS Version:win10
- REST Client Version:0.7.4

Steps to Reproduce:
建议1. get请求参数的输入方式跟post 保持一直，在最下面

![image](https://cloud.githubusercontent.com/assets/14134768/18621790/d679e2ca-7e5a-11e6-8aff-b807ae5ed055.png)

建议2. 增加对中文的encode处理

![image](https://cloud.githubusercontent.com/assets/14134768/18621874/ae8b8c0e-7e5b-11e6-91a2-b6483f3bc3f0.png)

[2016-09-19 03:35] Huachao commented on #36
@wangyibu , the advice in suggestion 1 that put query string in the bottom doesn't follow RFC 2616 standard, and also there is a corner case that GET request can contain body. For suggestion 2, it's a nice suggestion. I will implement ASAP

[2016-09-19 07:49] foxundermoon commented on #36
query放在末尾干嘛，它属于url的一部分。智障宝宝😊

[2016-09-19 09:08] eojthejudge opened #37 "Headers are not parsed correctly with LF line endings"
- VSCode Version: 1.5.2
- OS Version: Windows 7
- REST Client Version: 0.7.5

Steps to Reproduce:

1. create a file including rest calls with lf line endings
2. Execute the call, the Header lines are added to the URI

When I change the line endings to CRLF, everything works as expected

[2016-09-19 09:57] #37 closed

[2016-09-19 09:58] Huachao commented on #37
thanks @eojthejudge I will deliver this fix in next release

[2016-09-19 10:20] wangyibu commented on #36
@foxundermoon
当然知道query 是参数的一部分，我描述不准确，我建议是提供多种参数格式例如json

例如url： https://search.jd.com/search?keyword=%E7%94%B5%E8%84%91&enc=utf-8&qrst=1&rt=1&stop=1&vt=2&wq=%E7%94%B5%E8%84%91&cid2=671&cid3=12798&ev=212_1675%40933_40614%40149_17976%40&uc=0#J_crumbsBar

[code]

[code]

[2016-09-19 11:27] Huachao commented on #36
@wangyibu I know your pain, however my concern is still that since GET request can also have request body, how can we distinguish and write such request?

[2016-09-20 01:33] Huachao commented on #37
@eojthejudge you can try the latest version 0.8.0

[2016-09-20 01:34] Huachao commented on #22
@Odonno @shytikov global system dynamic variables `{{$guid}}` and `{{$timestamp}}` have been supported in latest version 0.8.0, you can have a try and environment variables will be supported later.

[2016-09-20 21:04] sfertman opened #38 "WARN: command 'rest-client.request' not found (and nothing happens)"
- VSCode Version: 1.5.2
- OS Version: Ubuntu 15.10
- REST Client Version: 0.8.0 (used to work fine before latest update)

Steps to Reproduce:
Run (Ctrl+Alt+R) the following (or any other for that matter)

GET https://example.com/ HTTP/1.1

[2016-09-21 00:25] Huachao commented on #38
@sfertman , we have found the root cause that require file with upper case name. Thanks so much for the help of @myakimov. I have published a new version 0.8.1, could you please have a try?

[2016-09-21 00:43] Huachao commented on #38
@sfertman the issue is fixed in latest version 0.8.1 with the help of @myakimov, could you please try it 😸

[2016-09-21 00:43] #38 closed

[2016-09-21 03:01] sfertman commented on #38
Awesome! Thanks guys!

[2016-09-21 13:25] Huachao commented on #36
@wangyibu suggestion 2 has been fixed and will be available in next release

[2016-09-21 13:25] #36 closed

[2016-09-22 08:53] eojthejudge commented on #37
Tested with 0.8.1, works both lineendings. Thanks!

[2016-09-22 14:03] Huachao commented on #36
@wangyibu you can try the latest version 0.8.2, and always hope to see you feedback and suggestions 😄

[2016-09-22 17:06] Huachao commented on #34
@GlennPope now we can a small step further, I added the function to save response to local file system, and you can decode it easily use other extensions before I add the decode function

[2016-09-27 14:11] lebretr opened #39 "upper case name headers are sended in lower case"
- VSCode Version: 1.5.3
- OS Version: Linux Mint 18
- REST Client Version: 0.8.3

Steps to Reproduce:

1. create a new rest message with specific headers with upper case
exemple:

[code]

2. send the message (ctrl+alt+R)

Problem, the specifics headers are send in lower case:
Company-Bu-Code => company-bu-code
TEST => test

[2016-09-27 15:48] #39 closed

[2016-09-27 15:49] Huachao commented on #39
@lebretr thanks so much, and this fix will be deployed in next release. 😄

[2016-09-27 21:10] wallverb opened #40 "Cannot read property 'toCustomLabel' of undefined"
- VSCode Version: Code - Insiders 1.6.0-insider (be5e8d5, 2016-09-26T06:05:01.421Z)
- OS Version: Darwin x64 16.0.0
- REST Client Version: 0.8.3

Extension causes this issue:
https://github.com/Microsoft/vscode/issues/12709

[2016-09-28 01:11] Huachao commented on #40
@wallverb are you using windows or macOS, since from the command you use, it seems macOS. Anyway, can you click the tab on VS Code: Help -> Toggle Developer Tools, and then you press the failed command, it will show error details in the Console in the developer tools view.

[2016-09-28 01:59] purlintan opened #41 "XML结果集中的< 和 > 会显示成 &lt; 和 &gt"
- VSCode Version:1.5.3
- OS Version:win10
- REST Client Version:0.8.3

返回的结果集是XML，但会 < 和 > 会显示成 &lt; 和 &gt; ， 能不能让返回结果集显示回 < 和 > 呢？

[2016-09-28 10:05] wallverb commented on #40
@Huachao - macOs, here is the info:

[code]

[2016-09-28 10:31] Huachao commented on #40
@wallverb it seems the keyboard shortcut I defined for request conflicts with the command `toggleSearchRegex`. Does this command also use the `alt+cmd+r` shortcut?

[2016-09-28 10:52] wallverb commented on #40
I see this in Preferences -> `keybindings.json` of `code-insinders`

[code]

but the issue happen even without pressing any shortcut

Here is the start:
![image](https://cloud.githubusercontent.com/assets/1723815/18910874/f0a0aa32-8547-11e6-9390-c819994917ce.png)

and I will click `Search` icon in the left bar:

![image](https://cloud.githubusercontent.com/assets/1723815/18910890/035780ba-8548-11e

[2016-09-28 10:58] Huachao commented on #40
@wallverb can you help to try to add below code in Preferences -> keybindings.json

[code]

[2016-09-28 11:14] #40 closed

[2016-09-28 11:14] wallverb commented on #40
FYI:

this helps: (to cancel first that global command)

[code]

[2016-09-28 11:16] Huachao commented on #40
@wallverb I will publish a release right now and after that you can remove the mock, and sorry for the inconvenience.

[2016-09-28 11:17] wallverb commented on #40
Awesome, no worries, thanks a lot

[2016-09-28 11:51] Huachao commented on #40
@wallverb you can try the latest version 0.8.4 now, thanks 😄

[2016-09-28 11:51] Huachao commented on #39
@lebretr you can try the latest version 0.8.4 now, thanks

[2016-09-28 11:54] lebretr commented on #39
It's OK.

Thanks

[2016-09-28 12:16] wallverb commented on #40
Sure, I just did - works great 👍

[2016-10-05 19:33] internetz opened #42 "Can not search/find (Ctrl+F) inside Response tab"
- VSCode Version: 1.5.3
- OS Version: Ubuntu 16.04 (KDE Neon)
- REST Client Version: 0.8.4

Steps to Reproduce:
1. Request any Resource. e.g. http://github.com
2. The Response is shown but you can not search/find (Ctrl+F)  inside the response tab

[2016-10-06 23:39] Huachao commented on #41
@purlintan sorry for the delay, can you provide me the raw response, and you can get the raw response by click saving button

[2016-10-06 23:42] Huachao commented on #42
@internetz This is related to VS Code limitations, Microsoft/vscode#8794 and Microsoft/vscode#12215. And I will follow up the issue in vscode, and will try to implement it in VS Code when I have time. Thanks

[2016-10-11 03:22] purlintan commented on #41
<img width="890" alt="image" src="https://cloud.githubusercontent.com/assets/16349756/19257750/aac46000-8fa4-11e6-8113-6aa106331e7c.png">

[2016-10-11 12:17] dcbrwn commented on #22
Ability to set variable to result of HTTP request will be **very** helpful.

[2016-10-11 12:18] Huachao commented on #22
@dcbrwn what do you mean the result of HTTP request, can you give me some samples, sorry

[2016-10-11 12:25] dcbrwn commented on #22
For example I want to reuse auth. token in multiple requests. Like this maybe:
[code]

Some links for inspiration:
https://github.com/pashky/restclient.el
https://www.youtube.com/watch?v=fTvQTMOGJaw

[2016-10-11 13:14] #41 closed

[2016-10-11 14:09] Huachao commented on #41
@purlintan thanks so much and you can try the latest version 0.8.5 for verifying 😄

[2016-10-11 14:37] Huachao commented on #22
@dcbrwn to make it work as restclient.el, I think we can achieve the same goal in a simpler way to implement,  after we enabled add user's custom variables 😄

[2016-10-13 16:54] #30 closed

[2016-10-14 01:07] Huachao commented on #34
@GlennPope can you still repro the encode problem now, since I fixed some tags escape problem, thanks

[2016-10-14 03:04] dogoku opened #43 "Handle urls with urlencoded query params"
- VSCode Version: 1.5.3
- OS Version: Win7 64bit
- REST Client Version: 0.8.5

Steps to Reproduce:
1.  Give a url that is already urlencoded `http://example.com.com/api/users/list?params=NC%2CN%2CVL%2CV`

Expected that the result will be the same as cur/browser, but instead, it encodes the url again, resulting in the backend receiving `NC%2CN%2CVL%2CV` instead of `NC,N,VL,V`

Same issue if encoded

[2016-10-14 04:56] #43 closed

[2016-10-14 05:40] Huachao commented on #43
@dogoku thanks so much, and I have fixed the issue, you can try the latest version 0.8.6 to verify

[2016-10-14 05:45] dogoku commented on #43
That was fast, i'll have a go at it when i see the update in my vscode

[2016-10-14 10:57] huodon opened #44 "Hold ⌘ (or Ctrl) show METHOD as link/button to click send request."
- VSCode Version:
- OS Version:
- REST Client Version:

[2016-10-14 15:35] GlennPope commented on #34
It is working as expected. Great job!
 Thanks. 
Glenn 

-------- Original message --------From: Huachao Mao <notifications@github.com> Date: 10/13/16  8:07 PM  (GMT-06:00) To: Huachao/vscode-restclient <vscode-restclient@noreply.github.com> Cc: GlennPope <Glenn.Pope.ret@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [Huachao/vscode-restclient] Allow automatic Decode of HTTP
  respon

[2016-10-15 00:24] #34 closed

[2016-10-15 00:56] Huachao commented on #44
@huodon thanks for your suggestion, do you mean we should provide another way to trigger request, currently we already support keyboard shortcut and `through F1`

[2016-10-18 14:58] Huachao commented on #12
@StephD I've added the feature that displays line number in response view, and you can try it in the latest version 0.8.7

[2016-10-19 07:21] StephD commented on #12
Nice :) Thanks

[2016-11-07 14:56] Huachao commented on #12
@StephD I've already supported multiple requests in the same file which is separated by delimiter `###`, and you can simply kick off the request just placing the cursor anywhere between the delimiters. You can try the latest version 0.10.1, and you can view the usage details in `README.md`

[2016-11-07 14:57] Huachao commented on #21
@Odonno  I've already supported multiple requests in the same file which is separated by delimiter `###`, and you can simply kick off the request just placing the cursor anywhere between the delimiters. You can try the latest version 0.10.1, and you can view the usage details in `README.md`. Other tasks will be done later.

[2016-11-07 15:53] StephD commented on #12
Hi,
It seem to be a nice and easy feature but I cannot make it works even with you exemple :(

2 things :
First, if I try your exemple, the feature doesn't works. I mean, If I click somewhere between 2 delimiters, the line before GET, GET line or the line after and push the shortcut, it return my a 400 bad request or the first request. You can see the highlight line.
BAD
![2016-11-07 16_43_58-resp

[2016-11-07 16:05] Huachao commented on #12
@StephD thanks for your quick response, in my test it works fine. Could you please make sure you've installed the latest version 0.10.1, since vs code sometimes has the cache issue? or simply uninstall and then reinstall it?

[2016-11-07 20:00] Odonno commented on #21
@Huachao Nice ! Thanks for the info. I will try it as soon as I can. Good job.

[2016-11-08 05:51] chrisolsen opened #46 "Cannot read property 'trim' of undefined"
- VSCode Version:
1.7.1
- OS Version:
Windows 10
- REST Client Version:
0.10.1

Steps to Reproduce:

1.  Run GET request to api returning json payload

Error Message:

`Unable to open 'Response(375ms)': Cannot read property 'trim' of undefined.`

[2016-11-08 06:14] #46 closed

[2016-11-08 06:52] Huachao commented on #46
@chrisolsen thanks for your finding, and I have published the latest version 0.10.2, could you please verify the bug? Sorry for the inconvenience. 😃

[2016-11-08 08:11] StephD commented on #12
I thought that your extension was updated to last last version yesterday. But this morning, it was installing the last update (version 0.10.2) and the exemple you gave me works fine.

For the question 2, here is my exemple.
No blank line
![2016-11-08 09_03_15- hello rest - gateway - visual studio code](https://cloud.githubusercontent.com/assets/1171858/20091301/56c612ba-a592-11e6-8938-aed9a2b2aff5

[2016-11-08 08:15] Huachao commented on #12
@StephD for question 2, since you need to add `###` to separate multiple requests, blank line can work is just due to my code works unexpected 😄 . Although you are not active on REST, and thanks so much for your suggestion and help for my extension, without your help, it can't go step further. Thank you!!!

[2016-11-08 11:23] raycon opened #47 "Ignore proxy settings for some hosts"
- VSCode Version: 1.7.1
- OS Version: Win7
- REST Client Version: 0.10.2

Steps to Reproduce:

1. Working behind proxy
2. Set proxy host and port in VS Code
3. Start local server.
4. Send request to localhost (ex. GET http://localhost:8080/update)
5. Receive "HTTP/1.1 400 Bad Request" response

I suggest the `Proxy Excludes` option.
If some host(ex. localhost, 127.0.0.1) is in the option, request

[2016-11-08 12:47] #47 closed

[2016-11-08 12:51] Huachao commented on #47
@raycon thanks for your suggestion, I've added the config named `rest-client.excludeHostsForProxy` as you suggested. And I will deliver this feature in next release. 😄

[2016-11-08 17:22] chrisolsen commented on #46
All good now! Thanks for the quick fix.

This plugin is awesome 👍

[2016-11-09 05:50] raycon commented on #47
@Huachao thanks for your work!

[2016-11-09 09:43] ikesler opened #48 "Is it possible to cancel the request?"
Not an issue, it's more a question.
Steps to reproduce:
1. Create a request and run it
2. Request takes a while to execute
3. No way to cancel the running request.

[2016-11-09 09:56] Huachao commented on #48
@ikesler thanks for your suggestion, I will consider it carefully 😸

[2016-11-15 00:48] Huachao commented on #47
@raycon I've published the latest version 0.10.3, you could have a try and verify it 😄

[2016-11-15 08:19] tangkhaiphuong opened #49 "Support send file with relative path"
Please support send file with relative path instead of absolute path.

https://github.com/Huachao/vscode-restclient/blob/master/src/httpRequestParser.ts  - line 85

POST https://example.com/comments HTTP/1.1
content-type: application/xml
authorization: token xxx

< ./demo.htt

[2016-11-15 10:48] Huachao commented on #49
@tangkhaiphuong nice suggestion, or I should support both cases. And is the relative path relative to current opening workspace?

[2016-11-15 11:14] tangkhaiphuong commented on #49
@Huachao Should support both cases. For relative path, it should same directory with current *.http/*.rest file.

[2016-11-15 11:17] Huachao commented on #49
@tangkhaiphuong make sense, I will fix this in next release, and if you have interest, you could contribute to this code, and that will be warm welcome 😄

[2016-11-17 01:06] Huachao commented on #49
@tangkhaiphuong I've fixed this issue and will be delivered in next version

[2016-11-17 01:56] tangkhaiphuong commented on #49
In release note 0.10.4 support relative path but I install and found in source code extention doesn't have this features. :-)

[2016-11-17 02:18] raycon commented on #47
I've tested this feature using 0.10.4. `rest-client.excludeHostsForProxy` values like `localhost` and `localhost:8080` are works well! Thank you~

[2016-11-17 04:57] Huachao commented on #49
@tangkhaiphuong in 0.10.4, I didn't support this feature, it will be supported in next release like 0.10.5 which hasn't been published

[2016-11-18 09:05] StephD commented on #12
I know you said the is not available right now, but is it possible (may be hard) to add text to the `###` feature? Like the following exemple
`###` test ###
GET http...

[2016-11-18 11:55] Huachao commented on #12
@StephD nice suggestion, I will implement it which begins with `###`, and you can append any text after it

[2016-11-21 13:57] Yvand commented on #15
Hi, this would also be very useful to me, are you considering to implement this in the near future?

[2016-11-21 14:42] Huachao commented on #15
@Yvand I know your pain. Currently we use [Request package](https://www.npmjs.com/package/request) to issue HTTP request, which doesn't have native NTLM support, although it already some related feature discussions like [NTLM Support](https://github.com/request/request/issues/808) and some work around like [Using custom package](https://github.com/FrankyBoy/request-ntlm), no official and suggested

[2016-11-22 00:50] Huachao commented on #49
@tangkhaiphuong you can try the latest version 0.10.5 now, thanks 😊

[2016-11-22 01:18] wprater opened #50 "allow refresh from results view"
It would be nice to allow the `cmd-r` action to trigger the request again when on the results view.  Like a replay action.

[2016-11-22 02:12] Huachao commented on #50
@wprater nice suggestion, I will implement the replay function ASAP

[2016-11-28 11:53] #50 closed

[2016-11-28 14:18] superwangnan opened #51 "messy code in the response view when access the unicode website"
- VSCode Version: 1.7.2
- OS Version: mac 10.11.6
- REST Client Version: 0.10.6

Steps to Reproduce:

when you access the unicode website, for example: www.google.co.jp you will get messy code in the response view. I guess it's caused by charset setting.

[2016-11-28 18:52] bbohling commented on #15
👍  Would love to see this feature as well.

[2016-11-29 00:13] Huachao commented on #51
@superwangnan you're right, it's an encoding problem of response body. I will investigate how to fix. Thanks

[2016-11-29 04:44] wprater opened #52 "remove info in status bar when response views are closed"
If one is to close (all of) the response view, it would be nice to remove the items in the status bar (timing, size, etc.).  Just a bit of cleanup.

[2016-11-29 09:05] Huachao commented on #52
@wprater nice suggestion, I will implement it ASAP

[2016-11-30 07:33] #51 closed

[2016-11-30 07:41] Huachao commented on #52
@wprater I didn't find a way to listen the document close event, so I'd like to postpone this feature

[2016-11-30 11:30] shytikov commented on #24
I know that issue is supposed to be fixed, but result is still not that satisfying, at least for applications I'm using REST client...

I'm still experiencing very long poorly wrapped responses (it's Windows based servers fault, of cause), but it would be nice to fix that on client side somehow.

For example, add setting for strict wrapping margin. Wrap response on 80 chars, for example. It should

[2016-11-30 11:42] Huachao commented on #24
@shytikov thanks for your feedback, I will fix it ASAP

[2016-11-30 11:42] shytikov commented on #24
Thank you so much, @Huachao!

[2016-11-30 12:09] #48 closed

[2016-11-30 12:13] Huachao commented on #24
@shytikov BTW, I want to mention that we have ways to copy response content with just one click, in the preview panel, you could find the save response button in the upper right corner, it will help you to save response in any case.

[2016-11-30 12:20] Huachao commented on #24
@shytikov after I think about your suggestion, my original fix is using the css style `white-space: pre-wrap;` which means the rendering is adapt to the panel size and monitor size. However, if I changed as you suggested, setting a max length in css like `max-width`, will make the rendering not fitting the monitor in some large screens which they could display more characters than max length. Sinc

[2016-11-30 13:17] #24 closed

[2016-11-30 13:18] Huachao commented on #24
@shytikov I add a `word-break` CSS style which will break long words

[2016-11-30 14:22] shytikov commented on #15
[This package](https://www.npmjs.com/package/httpntlm) for me looks more reliable, but most likely because I've used it and it did not caused any problems.

[2016-12-01 03:34] Huachao commented on #51
@superwangnan you could try the latest version 0.11.0 to verify this fix 😄

[2016-12-01 03:34] Huachao commented on #50
@wprater you could try the latest version 0.11.0 to verify this fix 😄

[2016-12-01 03:35] Huachao commented on #24
@shytikov you could try the latest version to verify, thanks

[2016-12-01 03:36] Huachao commented on #48
@ikesler you could use latest version 0.11.0 to verify the fix, just simply use shortcut `Ctrl+Alt+Q` to achieve it.

[2016-12-01 03:57] wprater commented on #50
its working, but would be nice to have a visual indication that the request was taking place.  otherwise if the response is identical, it's harder for one to realize its been completed.

thanks!

[2016-12-01 04:13] Huachao commented on #50
@wprater nice suggestion, I will consider this carefully

[2016-12-01 07:50] shytikov commented on #24
Yes, right now it looks more usable! Thanks!

[2016-12-01 08:38] ikesler commented on #48
Working good, thank you! :)

[2016-12-05 16:53] backpackcoder opened #53 "Unable to make requests from .md file"
- VSCode Version:
Version 1.7.2
Commit 7ba55c5860b152d999dda59393ca3ebeb1b5c85f
Date 2016-11-21T22:14:18.217Z
Shell 1.3.8
Renderer 52.0.2743.82
Node 6.5.0

- OS Version:
Ubuntu 16.04

- REST Client Version:
v0.11.0

I'm unable to put sample requests in my README.md file to document an API.  Here is a small sample of my README.md file:
[code]
Steps to Reproduce:

1.  If I select one of the requests

[2016-12-05 23:17] Huachao commented on #53
@backpackcoder this is by design, we currently only allows triggered for file type of http(.http or .rest) or file type of text(.txt)

[2016-12-06 14:28] backpackcoder commented on #53
Thanks for the response.  I'm sorry if I missed that in the docs as it was late last night when I submitted the ticket.  Feel free to close.

[2016-12-07 00:09] Huachao commented on #53
@backpackcoder thanks for your usage, and it's my fault that didn't express it clearly in docs, I will update it. 😄

[2016-12-07 00:09] #53 closed

[2016-12-08 12:40] aqeelb opened #54 "Is there any way to improve the legibility of the text in Response tab?"
- VSCode Version: 1.7.2
- OS Version: macOS 10.12.1
- REST Client Version: 0.11.0

Steps to Reproduce:

1. My user settings:
{
    "editor.fontSize": 15,
    "editor.fontFamily": "MonacoB2",
    "editor.fontWeight": "bold"
}
2. Observe the response tab
![screen shot 2016-12-08 at 8 30 08 pm](https://cloud.githubusercontent.com/assets/2950322/21010282/2e974e7e-bd86-11e6-918a-5b5321299b14.jpg)

[2016-12-08 14:20] Huachao commented on #54
@aqeelb  currently it's not supported, I am considering to implement this, thanks for your suggestion

[2016-12-09 12:57] #54 closed

[2016-12-10 00:48] Huachao commented on #54
@aqeelb I've fixed the issue and will publish the new version later, thanks for your great suggestion to impove the usability.

[2016-12-10 10:39] aqeelb commented on #54
@Huachao Awesome! 👏 As soon as you release v0.12.0. I will update and test 😊 Thank you

[2016-12-16 06:49] foxundermoon opened #55 "header 的值里面包含冒号时候无法正常解析"
- VSCode Version: 1.8
- OS Version:  mac 10.12.1
- REST Client Version:   0.11.0

Steps to Reproduce:

既然都是中国人那就用中文了

1.  header里面的referer 后面的冒号会导致referer解析不出来，只有冒号前面的    解析header 不会是简单粗暴的以冒号分割吧

[2016-12-16 13:02] #55 closed

[2016-12-16 13:02] Huachao commented on #55
@foxundermoon nice catch, I've fixed this bug, and will publish a new version ASAP. Thanks for your usage. 😄

[2016-12-17 10:01] Huachao commented on #55
@foxundermoon you can try the latest version 0.11.2 to verify 😄

[2016-12-17 10:02] Huachao commented on #54
@aqeelb you can try the latest version 0.11.2 to verify, thanks

[2016-12-23 12:57] lw-schick commented on #15
I really miss this feature!

I found [here](https://www.innovation.ch/personal/ronald/ntlm.html) a really good explanation how it works. I guess that will help you a lot if you want to develop it by your own. It looks not so difficult at all...

[2017-01-03 05:28] jd987 commented on #22
When can we expect to see the user custom variable feature?

[2017-01-03 05:36] Huachao commented on #22
@jd987 I am a little busy recently, will fix this later. If you wish, you could help to contribute to the environment and variable feature, that will be a big welcome. Sorry for the inconvenience.

[2017-01-04 04:00] jd987 commented on #44
I would like to see the ability to right-click on a request and click "Send Request" in addition to the keyboard shortcut.

This would make it behave similar to the MS SQL plugin.

[2017-01-04 04:01] jd987 commented on #22
Sorry but that is outside my area of expertise.  I am eager to see this and context menu support.  Wonderful plugin

[2017-01-04 04:17] Huachao commented on #44
@jd987 I will look into the MS SQL implementation, thanks

[2017-01-04 04:19] Huachao commented on #22
@jd987 I will implement this ASAP

[2017-01-04 06:45] Huachao commented on #44
@jd987 you can try the context menu feature in latest version 0.11.4

[2017-01-04 15:07] jd987 commented on #44
Great...perfect!

On Wed, Jan 4, 2017 at 12:45 AM, Huachao Mao <notifications@github.com>
wrote:

--
JD

[2017-01-05 17:40] albertywu opened #56 "feature request: custom variables"
This is amazing, thanks for creating!

One thing that would be really useful for me is custom variables. I'd like to be able to do something like:

[code]

Basically, allows me to specify in a single place a dynamic custom variable. Curious what your thoughts are on this. Thanks!

[2017-01-06 01:11] Huachao commented on #56
@albertywu thanks for your suggestions and it's already mentioned in #22 , but I still want to keep this issue, and make this as a new place to discuss this feature. And I am still considering the design of the custom variables, and would like to discuss with you about some questions.

1. What's the scope of the custom variables?
    In your design, the custom variables are file level, that means

[2017-01-06 16:55] albertywu commented on #56
hi @Huachao!

Environment concept would be better I think, as the main variable that interests me is an auth token that is more of a global-level variable. Custom variables in the vscode setting file sounds good to me.

---

One other feedback - I noticed that for large json responses (10MB), the plugin becomes unresponsive when making the request. I verified that on the command line, I can get a

[2017-01-07 00:31] Huachao commented on #56
@albertywu nice catch for the poor performance for large response, the reason is that I use highlight.js to highlight the http response, it will take some time to complete render the http response, I will investigate how to improve the performance

[2017-01-08 08:05] foxundermoon commented on #55
@Huachao   thanks

[2017-01-09 16:03] luchsamapparat opened #57 ""Cancel Request" keyboard shortcut overrides @ sign on German Windows machine"
- VSCode Version: 1.8.1
- OS Version: Windows 10, Build 14393.576 (de-de)
- REST Client Version: 0.11.4

Steps to Reproduce:

1. Open Plain Text File
2. Press "Alt gr"+"Q"

Expected: The "@" sign
Actual: Warn: command 'rest-client.cancel-request' not found

On a German Keyboard layout, the "@" sign is entered by pressing "Alt gr"+"Q" which is equivalent to "Ctrl"+"Alt"+"Q" which is mapped to `rest

[2017-01-09 17:36] sfertman opened #58 "Line numbers overlap when response length > 99 lines long"
Great plugin guys! I use it everyday for work.
**TL;DR**:
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.04
- REST Client Version: 0.11.4

Steps to Reproduce:
- Run a request that returns a response that is longer than 99 lines
---
More details
--
When REST-client receives a response with more than 99 lines, some of the numbers are rendered one on top of the other (see screenshot)
![screenshot fr

[2017-01-09 23:33] Huachao commented on #57
@luchsamapparat you can follow the vscode doc [here](http://code.visualstudio.com/docs/customization/keybindings#_removing-a-specific-key-binding-rule) to remove a keybinding rule. In your case, just add following code in you `keybindings.json`:

[code]

[2017-01-09 23:34] #57 closed

[2017-01-09 23:37] Huachao opened #59 "Performance issue when rendering large response"
- VSCode Version: 1.8.1
- OS Version:
- REST Client Version: 0.11.4

Steps to Reproduce:

1. As title, previously mentioned in #58 and #56

[2017-01-09 23:40] Huachao commented on #58
@sfertman thanks for your usage. For the overlap issue, I have fixed in my master branch code, and will publish in next release ASAP. And for the performance issue, I have created a new issue #59 to track, and I will investigate how to improve the render performance, and will update status in that thread, and will notify you too. So I'd like to close this issue now.

[2017-01-09 23:40] #58 closed

[2017-01-10 00:53] sfertman commented on #58
@Huachao, thanks for a great extension!

[2017-01-10 07:47] Huachao commented on #56
@albertywu I've implemented as we discussed, and will publish a new version ASAP, so that you can have a try and give me some suggestions and feedback

[2017-01-10 07:47] #56 closed

[2017-01-10 07:54] Huachao commented on #22
@Odonno @shytikov @jd987 @dcbrwn I have implemented the feature of custom variables and environment, and will publish the new version ASAP, and at that time, you could have a try and give me suggestions and feedback. Thank you all 😄

[2017-01-10 08:06] Odonno commented on #22
@Huachao Thank you for the work done! I'll give a try as soon as I can.

[2017-01-10 09:27] luchsamapparat commented on #57
Thank you! I looked for that doc but couldn't find it.

[2017-01-10 09:32] Huachao commented on #57
@luchsamapparat does it work now as I suggested?

[2017-01-10 09:33] luchsamapparat commented on #57
yep

[2017-01-10 23:28] jd987 commented on #22
Can't wait!

On Tue, Jan 10, 2017 at 2:06 AM, David Bottiau <notifications@github.com>
wrote:

--
JD

[2017-01-14 14:02] tygogo opened #60 "post和get时怎么没带上数据？？"
- VSCode Version:1.81
- OS Version:macOS 10.12.2
- REST Client Version:0.11.4

Steps to Reproduce:

1. 完全是复制的你说明里的代码，改了下网址
2.右键发送

可是我在服务器上看收到的post字典是空的，，get的时候数据也没有加在url后面，这是为什么？我试了很多次都是这样
为了排除我自己的问题，我特意用百度搜索来试了下,结果这两个结果都不一样，第一个真的没有带上数据
[code]

[2017-01-14 14:30] Huachao commented on #60
@tygogo in your case, is the response got from my extension right or as expected? And what did you see in your server, you said no data after url, does it mean no query string? Could you show me the server result?

[2017-01-15 01:05] Huachao commented on #7
@NikosEfthias you can try the custom environment and variable feature in latest version 0.12.0, sorry for the slow progress 😃

[2017-01-15 01:06] Huachao commented on #56
@albertywu you can try the custom environment and variable feature in latest version 0.12.0, thanks for your feedback and suggestion 😄

[2017-01-15 01:07] Huachao commented on #22
@Odonno @shytikov @jd987 @dcbrwn now you can try the custom environment and variable feature in latest version 0.12.0, thanks for your feedback and suggestion 😄

[2017-01-15 08:07] Huachao commented on #58
@sfertman the bug has been fixed in latest version 0.12.0, you can have a try and verify it. 😄

[2017-01-16 04:25] jd987 commented on #56
Very nice!!!

[2017-01-17 03:22] sfertman commented on #58
@Huachao. Verified. Line numbers work now. Thanks!

[2017-01-17 13:13] enko opened #61 "Support Digest Authentication"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.10
- REST Client Version: 0.12.0

Steps to Reproduce:

1. Try a request with this code:

[code]

[The readme](https://www.npmjs.com/package/request#http-authentication) of the request library specifies that Digest authentication should work if you specify the option `sendImmediately`.

[2017-01-17 14:01] seanwcom commented on #22
I love the custom variable idea, but it doesn't seem to work in the URL of a call.

For example, this DOES work:
[code]

But this does NOT work:
[code]

The response returned is:
[code]

You can see that it's left out the {{ $test }} variable completely (should  be after foo/).

Thanks for this awesome tool, I'm already making great use of it.

[2017-01-17 14:23] #22 closed

[2017-01-17 14:25] Huachao commented on #22
@seanwcom this is a really interesting idea to define file scope variable, I will consider it in future release, thanks so much for your usage and suggestion

[2017-01-18 01:10] Huachao commented on #61
@enko Thanks for your usage and feedback. According to the [code](https://github.com/request/request/blob/master/lib/auth.js#L30), for Basic Auth, the `sendImmediately` should be true, since it needs to append the `Authorization` header in request, while for Digest Auth, the value should be false. However, if user provides user and pass only in the url of request, it seems impossible to know wheth

[2017-01-18 09:40] a8775 opened #62 "Windows keybinding with REST extension"
I believe this is more issue with vscode, but as it's related I submit here as well.
The issue in vscode repo: https://github.com/Microsoft/vscode/issues/18712
Thanks a lot for this extension!

Bellow is the inline text of the issue for easy browsing or you find it to be in REST extension.

----
- VSCode Version: 1.9.0-insider (Date 2017-01-18)
- OS Version: Windows 10

Steps to Reproduce:
1. Inst

[2017-01-18 09:50] Huachao commented on #62
@a8775 thanks for reporting this, I will keep eyes on this issue, currently I have no idea

[2017-01-19 18:28] InfiniSuite opened #63 "Parse url incorrectly when contains space"
Executing a rest call that includes json with REST Client mangles any json element with a space in the contents. Running the same call with Postman works.

- VSCode Version: Version 1.8.1 (1.8.1)
- OS Version: OSX 10.12.2 (16C67)
- REST Client Version: v0.12.0

**Steps to Reproduce:**

**Parse and execute (get) this rest call:**
[code]
**The string that REST Client is actually sending to the serve

[2017-01-20 00:45] Huachao commented on #63
@InfiniSuite I have fixed the bug and will publish in next release. The root cause is that the request line contains space in url, here is the space after `rowid`. Currently, you can work around by making query string in another line, like:
[code]

This should be work now.

[2017-01-20 00:46] #63 closed

[2017-01-20 19:29] albertywu commented on #56
👏  thank you!

[2017-01-24 12:44] udoniyor opened #64 "Post and Put data not added to the request"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Pro 1607 Build 14393.693
- REST Client Version: 0.12.0

I was trying to put a document into ElasticSearch via using the extension, but wasn't getting anything back. I checked if the extension is sending out the request details, by looks of it is not grabbing the post data.

I used the example from the readme page

[code]

To see if it is getting gra

[2017-01-24 13:34] Huachao commented on #64
@udoniyor I found this bug in generating code snippet, I will fix it ASAP, while for sending request, the request body is along with the request. So do you met the issue only in generating code snippet case?

[2017-01-24 13:44] Huachao commented on #64
@udoniyor I have fixed the bug in code generation, will publish a new version later, and if you have no body in sending request, please tell me 😄

[2017-01-24 14:26] udoniyor commented on #64
@Huachao it seems to be only in the code generation. I was able to succesfully send post and put data to ElasticSearch through the extension.

[2017-01-24 15:09] #64 closed

[2017-01-25 00:23] Huachao commented on #64
@udoniyor you can try the latest version 0.12.1 to verify it, thanks for your feedback 😃

[2017-01-25 00:23] Huachao commented on #63
@InfiniSuite you can try the latest version 0.12.1 to verify it, thanks for your feedback 😃

[2017-01-25 07:09] dongrizhixue opened #65 "在.http文件没有智能提示了"
- VSCode Version:1.8.1
- OS Version:windows 10
- REST Client Version:0.12.1

Steps to Reproduce:

1. post、get、content-type等关键字不能自动出现了
2.

[2017-01-25 07:31] Huachao commented on #65
@dongrizhixue I can still get auto competition items, could you help to double check it?

[2017-01-25 09:45] dongrizhixue commented on #65
其他的都正常，只有提示不行了。
以前打出POST之后会自动生成 POST http://host/api/userinfo HTTP/1.1。但是现在只能全部手动打出来。

[2017-01-25 09:47] udoniyor commented on #64
@Huachao it is all working, thanks! Great extension

[2017-01-25 10:34] Huachao commented on #65
@dongrizhixue can headers still work? And if you type POST, the auto generated should be a snippet without that url. And when you type `http://`, the url will be hinted, and the url is from request history. So can you check if the url you mentioned is still in the history?

[2017-01-26 03:42] InfiniSuite commented on #63
Thanks!

[2017-01-26 08:28] defectus commented on #35
This one should be fairly easy to implement. I can imagine 3 more items in the request:

* client certificate
* private key
* private key password (_optional_)

All three can be in the plain text form, eligible for env. params substitution (environment aware).

https://www.npmjs.com/package/request#tlsssl-protocol for more.

[2017-01-26 08:44] Huachao commented on #35
@defectus you are right, I am considering that how to let user to specify these items in request, the more direct way seems to put in request(that seems needs to create a new syntax to set these value), others ways are putting in setting files, or even add some dialogs to let user to CRUD these friendly

[2017-01-26 10:05] defectus commented on #35
Just keep in mind that for many people (at least for me :-)) client certificates differ between environments. We use different client certificates in production, staging and integration.

Whatever way you plan to implement this feature please allow us to easily configure certificates based on the selected environment.

[2017-01-29 17:10] arao5 opened #66 "Unable to send multipart/form-data"
- VSCode Version: 1.8.1
- OS Version: Win7
- REST Client Version: 0.12.1

Tried the following code but i get bad response. but when tried with postman i get good response. am i doing anything wrong while sending request?

POST https://www.mysite.com/oauth2/token HTTP/1.1
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW

------WebKitFormBoundary7MA4YWxkTrZu0gW
Conte

[2017-01-29 23:01] Huachao commented on #66
@arao5 I will fix this ASAP, it's a bug of my code to parsing request body.

[2017-01-30 01:06] #66 closed

[2017-01-30 01:06] Huachao commented on #66
@arao5 I have fixed the bug and will publish it in next release, sorry for the inconvenience.

[2017-02-01 06:08] Huachao commented on #12
@StephD the scroll bar issue is fixed in VS Code Microsoft/vscode#8256 of vs code 1.9

[2017-02-01 22:42] borekb opened #67 "Response support in HTTP language"
I'm new to this awesome extension but if I understand the HTTP language format correctly, it is only for _requests_. It would be great if I could also provide examples of _responses_ so that the `.http` file can be a full example for my colleagues, but executable at the same time.

For example, it would look like this:

[code]

Everything below the three dashes is just an example text, not interpr

[2017-02-02 01:31] Huachao commented on #67
@borekb thanks for your suggestion, before defining a new syntax, one way to workaround to **comment** these response examples, so that it won't affect normal request flow, like:
[code]

But in this way you won't leverage any syntax highlight for response headers and so on.

[2017-02-02 08:37] borekb commented on #67
Good points.

Actually, one possibly related, even further looking idea: we currently use [API Blueprint](https://apiblueprint.org/) to describe our APIs and while it's relatively OK, it's not directly executable and the format is more complex than it needs to be, IMO. `.http` ("dothttp"?) is closer to the metal, executable and with a bit of updates, it could also be a simple Markdown-based, API d

[2017-02-02 09:06] Huachao commented on #67
@borekb good points 😄. My original goal for this extension is to let users send requests in vscode easily, so incorporate the API description in the `.http` file is not in my scope. I think creating a new way in my extension is not necessary, since already many tools target for this, like `Swagger`, `RAML` and `API Blueprint`.

So can we work in another way, my extension can import these api descr

[2017-02-02 09:32] borekb commented on #67
Sounds good!

[2017-02-02 17:09] JCloudYu opened #68 "Client doesn't resend Authorization Header after Location redirects"
- VSCode Version: 1.8.3
- OS Version: MacOSX 10.12.3 ( sierra )
- REST Client Version: 0.12.1

Steps to Reproduce:

1. Create two PHP hosts A and B. Both server accepts Authorization Header. When A receives request it will issue a 302 Found Location redirect to B
2. Request A with Authorization Header and the client will not send the header to B.

I've tested the redirection using curl and postman

[2017-02-03 01:22] Huachao commented on #68
@JCloudYu, since my tool depends on the request package, which has this issue request/request#2527 for now, I will keep eyes on this and to see if we can have any work arounds

[2017-02-05 20:15] JCloudYu opened #69 "Support of 307 and 308 HTTP Status Codes"
Rest client doesn't automatically redirect 307 and 308 status

[2017-02-05 22:17] Huachao commented on #69
@JCloudYu does your request a GET request or non-GET(like POST) request, or can you check your 307 response contains Location header?

[2017-02-07 02:59] Huachao commented on #52
It seems onDidTextDocumentClose event can be used to listen the preview html page close event, I will try to use this

[2017-02-07 07:29] dongrizhixue commented on #65
Not automatically "post".

[code]

[code]

[2017-02-07 07:34] Huachao commented on #65
@dongrizhixue you still don't have autocompleted post snippet right? What's your language of the file, it must be `HTTP` or `Plain Text`

[2017-02-07 07:36] dongrizhixue commented on #65
是的，我的是  .HTTP

[2017-02-07 07:39] Huachao commented on #65
@dongrizhixue thanks, and could you check the console of developer tools as I mentioned above, and can you also get other auto completiton items like header name

[2017-02-07 07:40] dongrizhixue commented on #65
@Huachao 是的，右下角的状态栏上显示HTTP。

[2017-02-07 07:42] Huachao commented on #65
@dongrizhixue Can you find any errors in vscode from the tab `Help` > `Developer Tools`, you can find a Chrome like dev tools, and you can click the Console tab, could you see any errors or warnings?

[2017-02-07 07:44] dongrizhixue commented on #65
哦，好的。

[code]

[code]

[code]

[2017-02-07 07:47] dongrizhixue commented on #65
![输入图片说明](http://git.oschina.net/uploads/images/2017/0207/154700_7fd87857_88875.png "在这里输入图片标题")

[2017-02-07 07:48] Huachao commented on #65
@dongrizhixue I think it's a bug of my code, can you provide the content of the `history.json` under file path `%USERPROFILE%\.rest-client`, I think it's not a valid json. If so, one way to work around is delete or fix the file content

[2017-02-07 07:56] dongrizhixue commented on #65
我找不到history.json文件。怎么办？

[2017-02-07 07:56] Huachao commented on #65
@dongrizhixue can you find the folder `C:\Users\guoxuri\.rest-client`?

[2017-02-07 07:57] dongrizhixue commented on #65
![输入图片说明](http://git.oschina.net/uploads/images/2017/0207/155645_1bda6d69_88875.jpeg "在这里输入图片标题")

[2017-02-07 07:57] dongrizhixue commented on #65
[code]

[2017-02-07 08:00] Huachao commented on #65
@dongrizhixue it should be a bug of my code in some cases write the malformed json file, and simple remove the string `482137152042}]` at the end of the file should work

[2017-02-07 08:02] dongrizhixue commented on #65
成功了，又能正常使用了，我很开心。谢谢。

[2017-02-07 08:04] Huachao commented on #65
@dongrizhixue sorry for the inconvenience. Thanks for your feedback

[2017-02-07 08:04] #65 closed

[2017-02-07 13:41] #52 closed

[2017-02-07 13:42] Huachao commented on #52
@wprater I have fixed it that if all the response preview pages are closed, the status bar will be cleaned up. And I will publish this fix in next release

[2017-02-13 23:46] Huachao commented on #52
@wprater you can try the latest version 0.12.2 to verify it, thanks for your feedback

[2017-02-13 23:47] Huachao commented on #66
@arao5 you can try the latest version 0.12.2 to verify this fix, thanks for your feedback 😄

[2017-02-14 15:51] arao5 commented on #66
thanks.. it's working ..

[2017-02-14 21:32] jkristia commented on #44
+1 for this feature, either have the method GET / POST etc. shown as a clickable link or show a button after the url
Thank you for this awesome plugin.

[2017-02-17 13:22] Huachao commented on #44
@huodon @jkristia @jd987 I have add a new way to send request(besides shortcut, F1 and context menu), that's using code lens, like in following picture. You just need to click the `Run Request` link on above each request block. And I will publish this in next release, and wish this solve your concern. I'd like to close the issue for now. And please feel free to reopen it.

![image](https://cloud.g

[2017-02-17 13:22] #44 closed

[2017-02-17 14:03] jkristia commented on #44
Awesome, looking forward to try it. Thank you

[2017-02-17 16:11] borekb opened #70 "Variable substitution doesn't work"
- VSCode Version: 1.9
- OS Version: Win10
- REST Client Version: 0.12.2

Steps to Reproduce:

1. In user settings, have a section like:
[code]
2. Select the "local" environment in the status bar.
3. Have a .http file with something like this:
[code]
4. Run the HTTP request.

Variables are not replaced for me. I didn't yet hook to the server code to log what values come in (is there a way to see va

[2017-02-17 16:13] borekb commented on #70
Sorry, I had a typo in my variable name.

[2017-02-17 16:13] #70 closed

[2017-02-17 19:45] borekb commented on #67
We're using Rest Client more and more in our team and it sort of _is_ becoming the API description language for us, just with lots of things being inside comments. Just saying :)

[2017-02-19 21:43] dakaraphi opened #71 "XML not formatted with response"
XML is not formatted when response is
`Content-Type: application/atom+xml`

[2017-02-19 21:46] dakaraphi opened #72 "Provide option to place response in an edittable response document"
It would be better if the response could be just a normal document with highlighting.
Then we could use the full power of VS Code to search, select or manipulate the result data without having to copy and past into a new document.

[2017-02-20 00:48] #71 closed

[2017-02-20 00:49] Huachao commented on #71
@dakaraphi nice catch, and I will publish this in next release

[2017-02-20 00:59] Huachao commented on #72
@dakaraphi using html to preview response instead of normal text document is by design for following reasons.
* I can easily highlight http response(no matter json, xml) with the use of `highlight.js` package
* I can preview stream response(image) in html easily, but not in text document
* I can have more freedom and functions to add to the response preview view, like in the future I can add an in

[2017-02-20 02:02] dakaraphi commented on #72
@Huachao I'm not asking you to change the current behavior, I'm asking for an option to be provided to choose to dump the data to an editor, ideally with the language set by the response content type.

1.  Within an editor, I have all the full power of VS Code + hundreds of plugins.
1.  I can use the theme coloring and syntax highlighting I have chosen.  Yes, the headers may not look correct, but

[2017-02-20 02:04] Huachao commented on #72
@dakaraphi Got, I will reopen this and consider this carefully. Thanks for your suggestion

[2017-02-20 20:56] dakaraphi commented on #72
So, after spending some more time using this extension, this is my typical workflow
1.  Send Request
1.  Select result and copy
1.  Close result window
1.  Open new editor window and paste in result
1.  Set language to XML or JSON based on response
1.  Format document
1.  Inspect or search content for specific data

So if there was a command that basically automated that workflow, that would be aw

[2017-02-20 23:15] Huachao commented on #72
@dakaraphi I understand your pain now 😄 .

[2017-02-21 03:18] Huachao commented on #60
@tygogo still having the problem?

[2017-02-22 10:36] tangkhaiphuong commented on #49
Version 0.12.2 not doesn't work anymore. Please verify again.

I test with:

// [Document/Upload]: RealisIpadTest (Online)
POST http://localhost:12001/api/1.0.0/document?secret-key=ferenteribledivageoustal&user-id=142&customer-id=680
Content-Type: multipart/form-data; boundary=-------------------------acebdf13572468

< ./upload-document.txt

[2017-02-22 10:55] Huachao commented on #49
@tangkhaiphuong this is a regression bug, I will fix it ASAP

[2017-02-22 12:26] #49 closed

[2017-02-22 12:57] Huachao commented on #49
@tangkhaiphuong you can try the latest version 0.12.3 to verify 😄

[2017-02-22 12:57] Huachao commented on #71
@dakaraphi you can try the latest version 0.12.3 to verify

[2017-02-22 12:58] Huachao commented on #44
@huodon @jd987 @jkristia you can try the latest version to experience this feature.

[2017-02-22 14:34] dakaraphi commented on #71
@Huachao verified, it is working now.  Thanks!

[2017-02-22 18:45] dakaraphi opened #73 "'Run Request' issues when using folding"
It seems that 'Run Request' does not always appear when using folding.  If I scroll down and back up, or switch to another document and back, then it usually will appear.  In the screenshot below, you will see it appeared for the first request, but not the second.

Note: I don't know if this would be possible, but it would be pretty nice if the 'Run Request' could appear inline to the right or lef

[2017-02-22 22:54] Huachao commented on #73
@dakaraphi I will investigate the cause of disappearance

[2017-02-23 02:53] tangkhaiphuong commented on #49
@Huachao  It work as charm!!! Thank you!  (y)

[2017-02-23 09:10] Huachao commented on #73
@dakaraphi I think it should be related to VSCode, I have created a issue[Microsoft/vscode#21258] there to tract this.

[2017-02-26 07:39] Huachao commented on #72
@dakaraphi I have fixed this issue, and will publish in next release. When you click the newly added 'Save Response Body' icon, the extension will save body __ONLY__ according to content type to corresponding file extension. And you can also override the content type and file extension mapping rule, like by default, I will set the content type of `application/atom+xml` to file extension `atom`, an

[2017-02-26 07:47] Huachao commented on #12
@StephD I have implemented the feature that you can download the response body as a file, like if the response is `application/json`, when you click the `Save Response Body` icon, you can save the json file which contains the response body, and if the response is `image/jpeg`, when you save it, you will get a jpeg file.

[2017-02-26 14:36] dakaraphi commented on #72
@Huachao Thanks for taking a look into this so quickly! This sounds a bit better, but not exactly what I was attempting to describe above.  Could you please consider the following?

1.  I want to execute this with a new command that just opens the response in a new editor tab.  I would like to skip the interim step of having the preview and then click another button.
1.  I actually am fine with in

[2017-02-27 00:35] Huachao commented on #72
@dakaraphi I will think about you requirement again. And the save body to specific file extension is required by other user, so I will keep it.

[2017-02-27 15:09] akalcik opened #74 "Provide possibility to extract values from response"
It will be helpful to have a possibility to extract items from response into the variables. For example I want test API which is protected by Authorization Server. Today, to access the API, I need start request to Authorization Server, copy the claim from response into the new request and start new API request. It will be nice if I can extract the claim into the variable.

[2017-02-27 23:13] Huachao commented on #74
@akalcik nice suggestion, I will consider it carefully 😄

[2017-02-28 08:25] shahidmau commented on #42
It is required option. You can see "**ES Query**" plugin, they are providing search option in result window.

[2017-02-28 09:03] Huachao commented on #42
@shahidmau since I am using html to preview the result, while they use text document to display the result. And `vscode` has limitation in searching result in preview page. And in #72 , I am considering to add a new command to display the response in text document, so that you can search. And currently, you have to save the response, and search what you need

[2017-02-28 11:16] shahidmau commented on #42
ok, so what you can do is to provide an option to show output in either plain format or html format.
You can give toggle/switch button some where in output response.
Plain text must support search option. **ES Query** is also showing plain text but it looks good.
It is required because sometime we have output response of thousands of lines and we can not scroll manually to find our desired text an

[2017-02-28 12:51] StephD commented on #12
I would love to see that :)

[2017-03-01 14:12] thiagocharao opened #75 "showResponseInDifferentTab setting does not make any difference"
- VSCode Version: 1.9.1
- OS Version: macOS Sierra
- REST Client Version: 0.12.3

Steps to Reproduce:

1. Change setting `rest-client.showResponseInDifferentTab` to `true`
2. It does not take any action

[2017-03-01 14:26] #75 closed

[2017-03-03 02:10] toplinuxsir opened #76 "Vscode autocomplete not working"
- VSCode Version: 1.10.1
- OS Version: Debian stretch
- REST Client Version:0.12.3

Steps to Reproduce:

The console output is :

Extension Host] Uncaught Exception:  SyntaxError: Unexpected token s in JSON at position 21935d.logExtensionHostMessage @ extensionHost.ts:282(anonymous function) @ extensionHost.ts:137emitTwo @ events.js:106emit @ events.js:191process.nextTick @ internal/child_process.

[2017-03-03 02:14] Huachao commented on #76
@toplinuxsir I think it should be the `history.json` is corrupted, whose content is used for auto completion, and can you check the file under this path `%USERPROFILE%\.rest-client\history.json`, and update it to make it as a valid JSON, or simply clear the file content.

[2017-03-03 02:17] toplinuxsir commented on #76
@Huachao  Yes, it works Thanks

[2017-03-03 02:22] toplinuxsir commented on #76
But is there any way to escape special character such as &
For Example :
GET http://10.192.2.239:5000/help/auth_email
   ?email=ttt@sohu.com
   &passwd=pass123&*(

But the backend only receive the param passwd is "pass123" not the whole string "pass123&*("

[2017-03-03 02:23] Huachao commented on #76
@toplinuxsir got, that's the root cause, I will fix it ASAP

[2017-03-03 02:34] Huachao commented on #76
@toplinuxsir I think `&` is a special character in query string which is used as a separator, so I can not tell the `&` precisely in query string is the separator or just a normal character. I think you'd better manually escape the & to `%26`.

[2017-03-03 09:01] kids-return opened #77 "大兄弟支不支持上传和预览"
类似POSTMAN 里面的
有时接口会报错，返回直接的HTML代码不方便查看报错信息

上传是不是需要自己构建body

[2017-03-03 09:27] kids-return commented on #77
### 上传测试
[code]
我测试 这样上传不行啊， 有没有查看请求头的方法呢

[2017-03-03 11:06] Huachao commented on #76
@toplinuxsir I close the issue now, please feel free to reopen it.

[2017-03-03 11:06] #76 closed

[2017-03-03 11:07] Huachao commented on #77
@kids-return It's not supported now, I will implement this ASAP, thanks for your question.

[2017-03-07 07:57] kwaxi commented on #35
An idea good be to use the underlaying OS certificate store which should work fine for Windows and MacOS. Referencing the Certificate could be done be specifing the store and fingerprint.

[2017-03-07 12:07] Huachao commented on #77
@kids-return I have already supported to upload files in multipart/form-data request body in following raw request format:

However, the `Upload and Preview` is not supported and out of my recent scope, and I will support following format

[2017-03-07 12:07] #77 closed

[2017-03-07 20:54] umutm commented on #15
+1

[2017-03-09 06:00] Huachao commented on #72
@dakaraphi I have implemented this, and after I published the version, you can experience this by set the flag `rest-client.previewResponseInUntitledDocument` to `true`. And after that, you can still use previous send request command, and view response in an untitled document.

[2017-03-09 06:00] #72 closed

[2017-03-09 07:38] Huachao commented on #42
@internetz @shahidmau I have added a new way to display result in an untitled document, and it seems can solve your problem, and I will publish this version ASAP

[2017-03-11 16:24] 477800969 opened #78 "post的时候server无法正常获取body参数"
- VSCode Version:  1.11.0-insider
- OS Version:  x-el 10.11.4
- REST Client Version: 0.12.3

Steps to Reproduce:
1、用扩展运行
`curl -d "ut=test&uid=123456" "http://localhost/index.php?text=request"`
与
`post http://localhost/index.php?text=request

{
    "ut": "test",
    "uid":"123456"
}`
请求php都获取不到post的body参数，get参数获取成功

2、在shell中跑`curl -d "ut=test&uid=123456" "http://localhost/index.php?text=request"`

[2017-03-12 01:33] Huachao commented on #78
@477800969 In my test, the request body should be sent to your server, the root cause that your code didn't get this is that you didn't sent the `Content-Type` header  together with the body. So maybe your PHP code will ignore this body.

And in curl shell you can succeed is that, curl in shell automatically adds the `Content-Type` header, while in my extension, no matter which way I won't have th

[2017-03-12 05:45] 477800969 commented on #78
Content-Type在测试的时候试过，type的类型都测试了一下，没有效果，还是我使用的姿势不对吗！
index.php的code 很简单
`var_dump($_GET);
var_dump($_POST);
print_r(apache_request_headers());`

[2017-03-12 06:12] Huachao commented on #78
@477800969 I really don't know the reason why it behaves like this, and I am not familiar with PHP code. The only difference I can found is that using my extension needs you explicitly set request header. And my following `NodeJS` code can work as expected. Could you please double check to add the `Content-Type` header.

[code]

[2017-03-12 06:18] 477800969 commented on #78
![](http://worldheji.com/question.png)
这是我测试的结果

[2017-03-12 06:21] 477800969 commented on #78
看来是php的问题，用node跑了下能过。

[2017-03-12 12:00] Huachao commented on #78
@477800969 if you don't have more questions, I'd like to close the issue, please feel free to reopen it if you have other concern.

[2017-03-12 12:00] #78 closed

[2017-03-12 15:19] guoliang opened #79 "POST request with form-data"
I'm clueless with how you add form-data into the POST request. Do you mind giving me an example for it?

[2017-03-13 17:56] pii-jdoll opened #80 "Image display issue"
- VSCode Version: 1.10.2
- OS Version: Mac or Windows
- REST Client Version: 1.12.2

Steps to Reproduce:

1.  Controller action that returns image
2. In certain situations the image is not shown.
3. It is working in Postman.  Listed below is input and output from Postman and RESTClient.

# REST Client
Rest Client input:
[code]
![restbody](https://cloud.githubusercontent.com/assets/25999282/2386779

[2017-03-13 21:14] mschoendorf commented on #79
I'm in the same boat!

[2017-03-16 21:55] robgough opened #81 "`showResponseInDifferentTab` creates a new tab for each response, but updates all response tabs with the latest response."
- VSCode Version: 1.10.2
- OS Version: MacOS Sierra 10.12.3 (16D32)
- REST Client Version: 0.12.3

Steps to Reproduce:

Assumption: `"rest-client.showResponseInDifferentTab": true` is set in your user settings file.

1. Make a request in one tab, response appears in split on right hand side.
2. In left split make a second, different, request.
3. A second response opens in new tab on right pane, bu

[2017-03-17 05:07] #80 closed

[2017-03-17 05:07] Huachao commented on #80
@pii-jdoll thanks for reporting this, I think I have fixed it, and will publish it in next release, and at that time you can help to verify. Thanks in advance.

[2017-03-17 05:55] Huachao commented on #81
@robgough I found this seems to be a vscode bug, and this steps can work before vscode 1.8, so I opened an issue in Microsoft/vscode#22775 to see some updates. Sorry for the inconvenience.

[2017-03-17 06:06] pii-jdoll commented on #80
Awesome!  I will let you know how it goes.

I really appreciate this very powerful plugin you have created.  It pained me to have to use Postman again when running into this image issue.

________________________________
From: Huachao Mao [notifications@github.com]
Sent: Friday, March 17, 2017 12:07 AM
To: Huachao/vscode-restclient
Cc: Doll, Jeff (PII); Mention
Subject: Re: [Huachao/vscode-restcli

[2017-03-17 10:40] robgough commented on #81
Thanks for the quick response, your extension has saved me a lot of time already so thanks for that too!

[2017-03-20 09:28] Huachao commented on #79
@guoliang @mschoendorf sorry for the late response, you can try the latest version 0.13.0 to test. And you can send the multipart/form-data request as follow:
[code]

[2017-03-20 09:28] #79 closed

[2017-03-20 09:28] Huachao commented on #80
@pii-jdoll you can try the latest version 0.13.0 to verify, thanks in advance

[2017-03-20 09:30] Huachao commented on #77
@kids-return you can try the latest version 0.13.0 to verify 😄

[2017-03-20 09:31] Huachao commented on #72
@dakaraphi I know you already provide a new PR and I also leave some comments to discuss with you. And I want to tell you that the new version 0.13.0 is already published, and you can use the functionalities except your suggestions.

[2017-03-20 09:32] kids-return commented on #77
@Huachao thanks 大兄弟 有我空试下

[2017-03-20 19:21] pii-jdoll commented on #80
Perefect!

Postman is getting retired again.

From: Huachao Mao <notifications@github.com>
Reply-To: Huachao/vscode-restclient <reply@reply.github.com>
Date: Monday, March 20, 2017 at 4:28 AM
To: Huachao/vscode-restclient <vscode-restclient@noreply.github.com>
Cc: "Doll, Jeff (PII)" <jdoll@whateverittakes.com>, Mention <mention@noreply.github.com>
Subject: Re: [Huachao/vscode-restclient] Image dis

[2017-03-21 03:18] #81 closed

[2017-03-21 03:18] Huachao commented on #81
@robgough I have fixed the bug, will publish this in next release

[2017-03-21 08:20] kids-return commented on #77
[code]

upload.php

[code]

php file
Local test failed    http://127.0.0.1/upload.php?id=1
The server test was successful  http://serverIP/upload.php?id=1

[2017-03-21 08:26] kids-return commented on #77
Can support the preview on the perfect  👍  :)

[2017-03-21 10:06] Huachao commented on #77
@kids-return I will consider the preview feature request and do you mean you still fail in local, while succeed in server?

[2017-03-21 10:12] kids-return commented on #77
@Huachao  yes

[2017-03-21 10:57] Huachao commented on #77
@kids-return what do you mean fail, can you provide more details?

[2017-03-22 07:17] #35 closed

[2017-03-22 07:20] Huachao commented on #35
@zephrxx @defectus @kwaxi @VitorLuizC @mFingers @ytimenkov I have implemented the client certificate feature, and will publish it in next version

[2017-03-22 07:20] Huachao commented on #35
@zephrxx @defectus @kwaxi @VitorLuizC @mFingers @ytimenkov I have implemented the client certificate feature, and will publish it in next version

[2017-03-22 07:49] pberenyi opened #83 "HTTPS with self-signed certificate"
- VSCode Version: 1.9.1
- OS Version: Win 7
- REST Client Version: 0.12.3

Steps to Reproduce:
1. Try to access a site with a self-signed certificate via HTTPS
2. Even if the certificate chain is imported to Windows I'm getting an error "unable to verify the first certificate".

It would be nice to have an option to ignore certificate warnings.

[2017-03-22 08:10] Huachao commented on #83
@pberenyi our extension doesn't hornor the certificate on OS, after next release, you can specify the cert, key, pfx or passphrase in setting for specofic host. By now, our extension doesn't support certificate authentication. Amd I will notify you when newer version is punlished

[2017-03-22 14:34] pberenyi commented on #83
Thanks, I don't need certificate authentication, just the ability to use development certificates on the servers for https connections. I'm happy to test if you add any improvements.

[2017-03-22 18:42] Huachao commented on #83
@pberenyi do you mean that you want to send request with your specified certificate?

[2017-03-23 10:04] pberenyi commented on #83
No. I'm using in my development environment HTTPS with certificates issued by my own CA. The certificate chain is trusted by my PC, but still I'm getting a certificate error and no response when I try to send a request via HTTPS from VS Code. So either I would need an option where I could specify the certificates to trust, or an option to disable certificate validation (like the -k when using curl

[2017-03-23 10:12] Huachao commented on #83
@pberenyi so if I can let you specify the cert and key like curl, can you succeed the request?

[2017-03-23 10:20] pberenyi commented on #83
I would think so. If you can provide some option for this, similar to the ones described in https://curl.haxx.se/docs/sslcerts.html, it should work.

[2017-03-23 12:38] akalcik opened #84 "Define variables inside of HTTP file"
It isn't clear for me if and how can I use variables inside of HTTP file like this:

{
    "host": "https://localhost:44300"
}

POST {{host}}/connect/token HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Cache-Control: no-cache

[2017-03-23 13:05] Huachao commented on #84
@akalcik you should first create custom variables in the vscode settings file, like following:
[code]
This piece of code adds a new environment named `dev` with a custom variables `host`. The environment name and variable name is whatever you like.

After that, in your http file write the request as before:
[code]

Finally, switch to the environment named `dev` as defined in setting file, to switc

[2017-03-23 13:09] akalcik commented on #84
Ok, the question was If I can define variables directly in _http_ file. It will more easy than to share file with others.

[2017-03-23 13:10] Huachao commented on #83
@pberenyi I have implemented the feature to send request with cert, key or pfx recently(not published), I wish that in next release when I published it, you can use this feature to solve your problem, if still not, feel free to tell me. And I will notify you when next version is available

[2017-03-23 13:28] Huachao commented on #84
@akalcik sorry I didn't understand what you mean, and I know what your pain is. When I implement this feature, my main goals are:
- Easy to switch across environments
- Available to use in any `http` file of specified environment

And I think your requirement to __share__ is also useful, I will consider this carefully.

[2017-03-23 14:42] finalclass commented on #84
It would be very nice to have.
For example emacs's restclient does it very well (it's called there in-buffer variables):
https://github.com/pashky/restclient.el

[2017-03-25 23:56] Huachao commented on #60
@tygogo I'd like to close the issue, if you still meet this issue, just reopen it. 😄

[2017-03-25 23:56] #60 closed

[2017-03-27 07:12] con-ssc opened #85 "Copy Auth Cookie"
![image](https://cloud.githubusercontent.com/assets/8189808/24344791/6e186b0e-12cd-11e7-9c1f-cdda39d4d0fe.png)

- REST Client Version: 0.13.0

Steps to Reproduce:

1. Sending a GET request to an ENDPOINT that needs authorization
2. Receiving HTTP/1.1 401 Unauthorized

[2017-03-27 07:18] con-ssc commented on #85
I mean just like with the ARC or Postman extension where you can transfer the cookie to the app.
In my case I need Dynamics 365 Auth infos that are stored in a cookie with data like BearerToken and so on.

[2017-03-28 00:46] Huachao commented on #85
@con-ssc do you mean you can import your existing cookies to this extension?

[2017-03-28 07:12] con-ssc commented on #85
Well, there chrome extensions that can do that for chrome apps. It would be nice if there would be something like that for the rest client too

[2017-03-28 07:13] con-ssc commented on #85
https://chrome.google.com/webstore/detail/postman-interceptor/aicmkgpgakddgnaphhhpliifpcfhicfo?hl=en

[2017-03-28 07:22] Huachao commented on #85
@con-ssc it would be difficult for this extension to read cookie directly from browsers, and maybe let you import cookies(if you already know the cookies) to this extension is more reasonable

[2017-03-28 07:24] con-ssc commented on #85
@Huachao Well the general thing is, some REST endpoints need authentication and maybe also have a separate identity provider and for me it would be useful to have that. The postman extension was just an example/inspiration on where it has been done. I however have no idea how to do that in vscode.

[2017-03-28 08:20] Huachao commented on #85
@con-ssc sorry I didn't quite understand. In my opinion, if you can use Postman + Postman-interceptor to get response cookies and use them automatically later, you should also work in my extension, since my extension will store the response cookies got from REST endpoints. If my extension can receive the cookies from REST API endpoint responses, my extension will save the cookie automatically. Aft

[2017-03-28 08:30] con-ssc commented on #85
That is exacly what is not working, I am authorized and postman works but the rest client in vscode does not and response with 401 unauthorized.

[2017-03-28 08:34] Huachao commented on #85
@con-ssc do you get authorized in postman (with some rest request) or from chrome (thru some web page)?

[2017-03-28 08:35] con-ssc commented on #85
through chrome and postman uses the auth cookie

[2017-03-28 08:40] Huachao commented on #85
@con-ssc fully understand your concern, one way to work around for now is just copy the cookies from Chrome and paste into the request headers in my extension 😄

[2017-03-28 10:00] con-ssc commented on #85
Okay, how would I do that?

[2017-03-28 10:01] Huachao commented on #85
@con-ssc like following set a cookie named foo with value bar:
[code]

[2017-03-28 10:03] con-ssc commented on #85
Okay then this doesn't seem to work that way :)

[2017-03-28 10:09] con-ssc commented on #85
@Huachao So there auth information is stored somewhere else in on premise scenarios.

[2017-03-28 10:10] con-ssc commented on #85
WWW-Authenticate: Negotiate, NTLM I get it, so how can I use that?

[2017-03-28 11:00] Huachao commented on #85
@con-ssc I'm quite sorry that NTLM is not supported yet.

[2017-03-28 12:10] ellogwen commented on #61
So, it is not possible to do digest requests without using curl by now?

[2017-03-28 12:53] Huachao commented on #61
@ellogwen no, I just mean we need a way to represent Digest Auth for request in my extension

[2017-03-28 13:18] ellogwen commented on #61
@Huachao how about the workspace settings for that cases, something like that:
[code]
and then do the request calls to your lib accordingly?

[2017-03-30 05:24] Huachao commented on #61
@ellogwen nice suggestion, I will implement this ASAP and after that I will tell you more details

[2017-03-30 08:44] Huachao commented on #61
@enko @ellogwen I have supported this and you can use this by setting Authorization header like following: `Authorization: Digest username password`

And both `username` and `password` can also be the environment variables.

@ellogwen The difference between your suggestion and my implementation is that, I use `username` and `password` separately while you merge them in one.

[2017-03-30 08:44] #61 closed

[2017-03-30 09:59] ellogwen commented on #61
@Huachao thank you very much. I will test it when the update is ready

[2017-03-31 12:12] Huachao commented on #69
@JCloudYu is the issue still happens, or could please provide me the failed request details? Thanks in advance.

[2017-03-31 12:17] Huachao commented on #42
@internetz @shahidmau since version 0.13.0, you can preview the response in the editor directly(previously only allow in webview, which vscode has some limitation), you can experience this feature by set the setting `rest-client.previewResponseInUntitledDocument` to `true`.

So I'd like to close the issue now, and supporting find in the webview is still depending on vscode.

[2017-03-31 12:17] #42 closed

[2017-04-01 14:47] agjs opened #86 "Ability to store Bearer token in a variable"
This is not an issue but rather a feature suggestion. Since pretty much any serious API has authorization and security, it would be awesome if we could somehow store a bearer token for example into temp memory or some variable and have it in others requests accessible like {{token}} or similar. This process should be automatic (e.g. a token would be extracted automatically).

Currently, we need to

[2017-04-01 15:08] Huachao commented on #86
@agjs it seems the custom variables feature already meets your requirement, that means you can define a variable in the setting file for specific environment, and use it in your `http` file. The detailed step is like below, you can also view `README.md`.

First, you should create custom variables in the vscode settings file, like following:
[code]
This piece of code adds a new environment named `d

[2017-04-01 15:10] agjs commented on #86
This is partially true. Yes, I know we can create custom variables but I don't want to paste token manually every time there, I want that token to be automatically stored, that's the difference.

[2017-04-01 15:14] Huachao commented on #86
@agjs do you mean let us to extract the token from the login response? Can you show me a sample response?

[2017-04-01 15:17] agjs commented on #86
Yes, pretty much.

Imagine I post to /auth/login and I get a token back in a JSON object or as simple string. That token would then be automatically extracted from that response and stored either in a global variable e.g. {{ token }}, or anywhere. else Doing this, our {{ token }} variable would automatically be populated each time we login (each time new token is generated) and we wouldn't need to

[2017-04-01 15:25] agjs commented on #86
If this could be possible, in a configuration, we could have something like this:

"rest-client.environmentVariables": {
        [someEnv]: {
            "extracted_token": "token extracted from the login request"
        }
    }

GET https://example.com/api/protected HTTP/1.1
Authorization: {{extracted_token}}

[2017-04-02 00:13] Huachao commented on #86
@agjs the problem is that how can I know which response I need to extract, and which part of the response(e.g., which header) to extract?

[2017-04-02 10:11] agjs commented on #86
@Huachao Since most of the API's today are using JWT's, JWT libraries mostly expect signature like this: Authorization : Bearer + token. That being said, we could either allow in the configuration a user to specify from which header key/value pair his token comes or if that's extra work, simply specify by default Application: Bearer {{token}}.

Most libraries I'm using or the ones I previously use

[2017-04-03 02:52] Huachao commented on #83
@pberenyi you can try the latest version 0.14.0 to check if it can works for you, you need to set the cert, key paths in the settings. You can follow the `READEME` for more details. If you still find any questions, pls feel free to reopen the issue.

[2017-04-03 02:52] #83 closed

[2017-04-03 02:52] Huachao commented on #81
@robgough you can try the latest version 0.14.0 to verify. 😄

[2017-04-03 09:41] robgough commented on #81
@Huachao Just tried, and it's all working fine now. 👍 Thank you!

[2017-04-03 11:21] Huachao commented on #61
@ellogwen @enko  you can try the latest version 0.14.0 to test, you can set the Authorization header in following format:
[code]
You just need to replace user name and password to your own, you can even use custom variable in user name and password

[2017-04-03 11:22] Huachao commented on #35
@zephrxx @defectus @kwaxi @VitorLuizC @mFingers @ytimenkov You can use the latest version 0.14.0, you can also follow the `README` for how to use it.

[2017-04-03 12:08] defectus commented on #35
Just tested it, works nicely! Good job, many thanks!

[2017-04-05 23:23] Huachao commented on #73
@dakaraphi latest vscode 1.11.0 already solved this issue, you can try it 😄

[2017-04-05 23:23] #73 closed

[2017-04-05 23:47] dakaraphi commented on #73
@Huachao I was already checking it out :-)
Confirmed this issue is fixed. thx.

[2017-04-05 23:50] dakaraphi opened #88 ".rest files do not set language when opened in new vscode 1.11"
- VSCode Version: 1.11
- OS Version:  OSX
- REST Client Version:

Steps to Reproduce:

1. Open a .rest file
2. It is not recognized as a .rest file.  You must manually set language to http

[2017-04-06 01:13] Huachao commented on #88
@dakaraphi do you installed some extensions related to reStructedText, it also associates `.rest` file extension. And I think it's better to name file extension with `.http` which won't conflicts with other languages, and if you still want to use `.rest` extension, you can add setting in vscode like
[code]
Do you think we'd better remove support for `.rest`?

[2017-04-06 15:41] sfertman opened #90 "Error: Unable to open 'Response(516ms)': Could not resolve any model with provided uri.."
- VSCode Version:
- OS Version: 1.10.2
- REST Client Version: 0.14.0

Steps to Reproduce:
1. Send a request and wait for the response window to pop up
2. Once up, switch focus to it (click on it)
3. Switch to a different editor window in vscode
4. Try to switch back to Response window
5. Below error message will pop up at the top of the window; response window will not open
![image](https://cloud.

[2017-04-06 16:03] dakaraphi commented on #88
Ok, I have a lot of extensions, so one of them must have updated at the same time I upgraded vscode.
Seems reasonable to me if support is removed for `.rest`

[2017-04-06 17:42] pfemiani commented on #74
It would be really helpful to get values from responses. One idea could be to allow naming of Requests, and a named request would result in its own Response tab/doc (rather than trying to manage response variables/scopes/etc), and you could perhaps pull values via {{RequestName:ResponseValueLocation}} where response value location might be in "dot" notation for Json or XPath for Xml responses?

[c

[2017-04-06 23:52] #90 closed

[2017-04-06 23:53] Huachao commented on #90
@sfertman I have fixed the issue, will publish the new version ASAP

[2017-04-07 00:23] sfertman commented on #90
@Huachao, thank you very much. You're building a great and useful tool!

[2017-04-07 00:27] Huachao commented on #90
@sfertman you can try the latest version 0.14.1, but you need to upgrade to latest vscode

[2017-04-07 13:01] Huachao commented on #62
@a8775 it seems the issue is marked as closed in vscode, so I decide to close it.

[2017-04-07 13:01] #62 closed

[2017-04-10 07:36] TechWatching opened #91 "Does not Seem to work with proxies"
- VSCode Version: 1.12
- OS Version: Windows 8
- REST Client Version: 0.14.1

Steps to Reproduce:

1. Send a request from a vs code window on a network with proxy

[2017-04-10 08:19] Mashi commented on #12
I was wondering if it is possible to incorporate and execute the calls from inside a Markdown file.  I guess what I am looking for is a way to document the calls for the next poor person that has to take over my work.

[2017-04-10 08:24] Huachao commented on #91
@TechWatching have you set the setting `http.proxy` in vscode?

[2017-04-10 08:26] Huachao commented on #12
@Mashi do you mean add API document or description for each REST call?

[2017-04-10 08:30] Mashi commented on #12
I would like to add human readable descriptions above each of the calls if possible.

[2017-04-10 08:34] Huachao commented on #12
@Mashi nice suggestion, there's already a similar issue in #67

[2017-04-10 08:39] Mashi commented on #12
Sorry for duplicating.  Yes, that's exactly what I was looking for.  :-)

[2017-04-10 11:24] TechWatching commented on #91
I restarted Vs code and it seems to work now. I don't know why. My http.proxy setting was already set in vs code settings file. I am closing the issue.

[2017-04-10 11:38] TechWatching commented on #91
In fact the issue is happening from time to time with the following error : "tunneling socket could not be established, statusCode=407", might be an issue not linked with the extension, what do you thing ?

[2017-04-11 21:24] ahmelsayed commented on #86
@Huachao I was about to open a similar issue but with a different proposal. I'm also happy to help if you're open to contributions :)

You can just support running an executable or a script that would return back a jwt token for OAuth authenticated APIs. Kinda like git credential helper if you've ever used that before.

It can be more general than jwt tokens, but the basic idea is the same. To aut

[2017-04-11 23:44] Huachao commented on #86
@ahmelsayed Thanks for your suggestion, and any PRs and issues are warmly welcomed. And I still have some questions that like to discuss with you:
1. It seems that the task for retrieving the auth token by a script is a separating job for our extension, we can let user manually do this job, and add the result into my extension as an environment variable. Since if it's a one time like job, this see

[2017-04-12 17:58] ahmelsayed commented on #86
Answers:

1. True, this is what I do now. However if the token is short lived (in my case the JWT token is only valid for 1 hour and refresh token for much longer, but you need to keep refreshing the JWT token itself once an hour) that means users have to keep running their script for a new token. Even if it's not really short lived (say 1 day or so) you'll effectively need to keep doing that ever

[2017-04-13 00:53] Huachao commented on #86
@ahmelsayed great suggestion. And I think for refresh access token, can this be done with single http request within my extension, I mean what extra work did for the script?

[2017-04-13 12:37] pcornier commented on #74
It would be a great improvement 🤘, I really want to get rid of Postman in my workflows.

[2017-04-18 11:20] devalnor commented on #84
+1 this will be a great feature 👍

[2017-04-20 23:07] Huachao commented on #91
@TechWatching  any updates?

[2017-04-21 08:30] TechWatching commented on #91
Sorry I forgot this thread. I have no issue doing other proxy related tasks, or using other extensions which use the proxy setting. I don't need to authenticate. I didn't check to see if it always works when I restart and I am not at the office these days. But the behavior is strange, it works perfectly and 5s later doesn't. I have no clue about that. I guess it might be a problem with our proxy.

[2017-04-21 08:30] #91 closed

[2017-04-25 16:18] IllusionMH commented on #84
One more use case will benefit from variables defined locally in `.http` file:

If app has pretty complex auth process with several redirects, origins checks and user actions it will be hard to recreate full process in REST Client, but it is pretty easy to use session cookie that I can obtain from browser dev tools. Since most of requests require session cookie it will be nice to have single locat

[2017-04-26 10:28] GaryGao829 opened #92 "Switch on/off VS Code proxy"
- VSCode Version:1.11.2
- OS Version:Windows10 10586
- REST Client Version:0.14.1

Steps to Reproduce:

1. In VS settings, I configed proxy because in office I could not install plug-in directly.
2. But it couldn't access to company's server using proxy
3. So I hope your client could support an switch to choose whether using proxy in VS-code

Thanks

[2017-04-27 01:26] Huachao commented on #92
@GaryGao829 this can be easily achieved by another extension named [toggle](https://marketplace.visualstudio.com/items?itemName=rebornix.toggle). After you installed this extension, just put following sample code in the keybindings.json, after that, just use the shortcut like `F3` below to achieve what you want. The first time you press `F3`, the proxy will become empty string, and press again, it

[2017-04-27 01:26] #92 closed

[2017-05-08 01:27] elky84 opened #94 "cannot show raw big-data. [ 613361 bytes]"
- VSCode Version: 1.121.1
- OS Version: Windows 10
- REST Client Version: 0.14.2

Steps to Reproduce:

1. request big-data REST call.
2. can't show data. that's never server problem. another client has no problem. [e.g postman, firefox httprequester]

solve please! and thanks make this extensions.

[2017-05-08 01:31] Huachao commented on #94
@elky84 what do you mean big-data, does it mean the response body size is very large?

[2017-05-08 01:33] Huachao commented on #94
@elky84 this is a known issue #59 , and can you see results if you set the flag `rest-client.previewResponseInUntitledDocument` to `true`

[2017-05-08 02:48] elky84 commented on #94
@Huachao set `rest-client.previewResponseInUntitledDocument` to `true `.
resolve this issue.

but i think this solution is temponary. [no highlight result]

is that right?

if right, you will fix this issue?

fast reply thank you.

[2017-05-08 02:49] Huachao commented on #94
@elky84 this is a temporary fix. And I am considering a way to fix this and notify you as soon as the issue is totally fixed. Sorry for the inconvenience.

[2017-05-08 02:54] elky84 commented on #94
I like this extension. And often used.

thanks!

[2017-05-08 07:57] #59 closed

[2017-05-08 08:01] Huachao commented on #94
@elky84 I have improved the performance of rendering large response like hundreds of KB, decrease the latency of highlight the response body from 30s to less than 3s. And the time you experience of rendering the page may still be less than 10s(still much better than previously), the gap(5-6s) is mainly from vscode to render large html page(here is my response).

I will publish this fix in next rel

[2017-05-08 08:01] #94 closed

[2017-05-08 09:46] Huachao commented on #59
@albertywu @sfertman I have improved the performance of rendering large response, and I will publish this fix in next release.

[2017-05-12 12:53] Huachao commented on #94
@elky84 you can try the latest version to verify

[2017-05-12 12:58] elky84 commented on #94
wow! fix it!

very fast, very nice fix.

thanks!

[2017-05-12 22:12] Huachao commented on #59
@albertywu @sfertman now you can try the latest version to verify it.

[2017-05-14 16:47] greatbody opened #95 "响应为图片的时候无法看到header信息"
- VSCode Version:1.12.1
- OS Version:Windows 10
- REST Client Version:0.14.3

Steps to Reproduce:

1. Request：构造一个请求，请求一个验证码
2. Response：Body值是图片，Header里面有set-cookie
3. REST Client 只显示了图片，没有显示header。

建议支持显示raw数据。类似于Fiddle的功能。

谢谢！

[2017-05-14 16:52] greatbody commented on #95
看了一下，原来 #94 中已经回答了。谢谢创造这么好的一个工具！

我自己关闭issue了。

[2017-05-14 16:52] #95 closed

[2017-05-15 16:39] beomagi opened #96 "getting error "Unable to open'Response(xxxms)': Cannot read property 'toLowerCase' of null""
- VSCode Version: 1.12.1
- OS Version: Windows 7 Enterprise
- REST Client Version: 0.14.3

Steps to Reproduce:

1. highlighted a url and pressed ctrl+alt+r
url is "http://10.249.145.83:8084/key/test"

expected:
{ ~ }  » curl http://10.249.145.83:8084/key/test
123

2. The url was the only thing in the editor window.

[2017-05-16 00:59] Huachao commented on #96
@beomagi I guess the cause is that the response doesn't have a `Content-Type` header, if so, I know how I can fix the issue. Can you set `rest-client.previewResponseInUntitledDocument` to `true` in setting file, and then check if the response has this header. Sorry for the inconvenience.

[2017-05-16 12:08] #96 closed

[2017-05-16 12:17] Huachao commented on #96
@beomagi you can try the latest version 0.14.4 to verify

[2017-05-16 13:37] ridicoulous opened #97 "request with client certificate"
- VSCode Version: 1.12.2
- OS Version: Windows 10
- REST Client Version: 0.14.4

Steps to Reproduce:

If I use curl on Linux, this request  returns OK: curl --cert-type P12 --cert myfuel.p12:certpassword -u "username:userpassword" -v -X GET -H "Content-Type: application/json" "https://api.sandbox.gateway.com/ping" But in VS Code I have an exception. Any ideas?

[2017-05-16 14:44] Huachao commented on #97
@ridicoulous could you also please provide your request and exception details to help to investigate the issue?

[2017-05-16 17:03] sfertman commented on #59
@Huachao thanks for the updates. Rendering does feel to be faster; however, scrolling still sluggish... The workaround I've been using so far for very large responses (~400KB or more) is to save the response and open it in VSCode editor.

[2017-05-19 03:38] beomagi commented on #96
Thanks, seems to work fine after the change. Update works too!

On Tue, May 16, 2017 at 8:17 AM, Huachao Mao <notifications@github.com>
wrote:

[2017-05-22 09:32] codeborn opened #98 ""Generate code snippet" does not encode basic authorization"
- VSCode Version: 1.12.2
- OS Version: Mac OS X 10.11.6
- REST Client Version: 0.14.4

Steps to Reproduce:

1. Create a file auth.http:
GET https://example.com/api/some/endpoint
Authorization: Basic my-user my-password

2. Right-click and select "Generate code snippet". Select "Shell" and then "cUrl".

Result:
curl --request GET \
  --url https://example.com/api/some/endpoint \
  --header 'authori

[2017-05-22 18:11] wprater opened #99 "Show request headers as well as response"
Would be very nice to show the actual request headers and well as the response headers/body.  nice for debugging or when you need to share the complete req/response.

[2017-05-22 18:12] wprater opened #100 "Save cURL into clipboard"
would be great to have an option to save the last request into your clipboard as a curl request.  this way you can easily share that request with others.

[2017-05-23 00:33] #98 closed

[2017-05-23 00:34] Huachao commented on #98
@codeborn I have fixed this issue, and will publish it in next release ASAP

[2017-05-23 00:36] Huachao commented on #100
@wprater nice suggestion, I will implement it ASAP

[2017-05-23 00:37] Huachao commented on #99
@wprater I will think about this carefully, and maybe add a new option to show what you need 😄

[2017-05-23 19:48] wprater commented on #99
could be "save (or copy) response with headers" from the icons in toolbar?

[2017-05-23 23:19] Huachao commented on #99
@wprater do you mean I just need to provide a way to save response with request headers(or even more request info like request url and body) and still keep rendering response as before(no request info)?

[2017-05-24 06:02] wprater commented on #99
actually, I never save a response.  I would just copy and paste.

I think what we need here is like a verbose option, that would show the headers?

[2017-05-24 06:07] Huachao commented on #99
@wprater Got, that means you needs an option to display the response with request information, and by default this option is disabled

[2017-05-25 21:28] pfemiani commented on #15
+1 Could really use this functionality as well!

[2017-05-30 06:23] pyros2097 commented on #67
I know this is not in the scope of the project. But allowing us to do this will make restclient our documentation and api tester (Thereby replacing postman/curl/swagger which I don't prefer).
If this data is in comments it will kinda be hidden.
[code]

[2017-06-01 08:31] pyros2097 opened #101 "Load Environment files from given path"
Allow environment files to be loaded from a file and not from vscode settings because of which I can't version control it for now.

[2017-06-01 08:49] Huachao commented on #101
@pyros2097 nice suggestion, and I will consider this carefully.

[2017-06-07 07:17] erhanalankus opened #102 "Keyboard shortcut not working (Ctrl+Alt+R)"
- VSCode Version: 1.12.2
- OS Version: Windows 10, version 1607, os build 14393.1198
- REST Client Version: 0.14.4

Steps to Reproduce:

1. Type url (https://api.github.com/users/erhanalankus/repos)
2. Press Ctrl+Alt+R

I can send the request if I select it from the F1 menu.

[2017-06-07 22:44] wprater commented on #100
we should not save this into clipboard automatically.  probably assign a hotkey? or at least a config if it will go into clipboard after request is made

[2017-06-08 04:28] Huachao commented on #102
@erhanalankus thanks for reporting, could you please check the actual pressed keys when pressing `Ctrl+Alt+R` with following steps.

To find out what a keybinding does:

1. Open Preferences > Keyboard Shortcuts
2. Click the `keybindings.json` in the sentence `For advanced customizations open adn edit keybindings.json`
3. Click on Define Keybinding
4. Press your desired key combination (Ctrl+Alt+R)

[2017-06-08 11:54] erhanalankus commented on #102
I followed the steps you wrote, tried again, and now it works. I think it was something about my pc.

[2017-06-08 11:54] #102 closed

[2017-06-14 17:11] pcastellazzi opened #103 "Variable autocompletion adds escaped brackets instead of brackets"
- VSCode Version: 1.13.0
- OS Version: macOS 10.12.5
- REST Client Version: 0.14.4

Steps to Reproduce:

1. Create a file named `test.http`

2. Add some variables with this snippet to your settings

[code]

3. Select the environment we just created with `Cmd+Option+E => default`

4. Write `GET app`. The autocompletion popup appears, select `app_server`, then press `ENTER`.

I expected to get `GET

[2017-06-14 17:16] pcastellazzi opened #104 "Variable substitution fails when there is spaces after/before the brackets"
- VSCode Version: 1.13.0
- OS Version: macOS 10.12.5
- REST Client Version: 0.14.4

Steps to Reproduce:

1. Create a file named `test.http`

2. Add some variables with this snippet to your settings

[code]

3. Select the environment we just created with `Cmd+Option+E => default`

4. Write `GET {{ app_server }}/#q=hello+world`.

5. Run the query with `Send request`

I expected to get the result pan

[2017-06-14 22:41] #103 closed

[2017-06-14 22:49] #104 closed

[2017-06-14 23:26] Huachao commented on #98
@codeborn you can try the latest version 0.14.5 to verify, sorry for the late

[2017-06-14 23:28] Huachao commented on #100
@wprater you can try the latest version 0.14.5 to test, and in my current implementation, you can right click the request in the editor, and select `Copy Request As cURL`. Or simply from command palette.

[2017-06-14 23:29] Huachao commented on #103
@pcastellazzi I have fixed the issue, and you can try the latest version 0.14.5 to verify: 😄

[2017-06-14 23:30] pcastellazzi commented on #103
Thank you very much. Awesome work!

[2017-06-14 23:30] Huachao commented on #104
@pcastellazzi nice catch, I have implemented this in version 0.14.5, and you can try it now 😄

[2017-06-15 01:13] wprater commented on #100
can you copy from the response side too, that would be helpful.

[2017-06-15 01:19] Huachao commented on #100
Do you mean also add this option in the response panel? Since I think the curl command doesn't related to whether you sent the request, so I just put this function in request.

[2017-06-15 02:22] wprater commented on #100
well, Im not always certain which request I made :) . I have a lots in my `.http` files usually ;)

[2017-06-15 02:25] Huachao commented on #100
so your pain point is also related to #99 , since you want to know what's the actual request, right?

[2017-06-15 02:40] wprater commented on #100
exactly.

[2017-06-15 02:42] Huachao commented on #100
However, why you will get a response which you don't know which request it's issued? So what's the value of a response that you are not sure what the request is in fact

[2017-06-15 02:52] wprater commented on #100
mostly if I came back to it another day and I like the verbosity of seeing/knowing in the one interface.  not a huge complain/concern at all.

[2017-06-15 02:53] wprater commented on #99
ideally we could show the request above the response, similar to how httpie does it

[code]

[2017-06-15 02:54] Huachao commented on #100
OK, I see. I will add the request info in response later if you turn on some flag in config. And one quick to find last request is from request history 😄  Thanks for your feedback

[2017-06-15 05:58] Huachao commented on #101
@pyros2097 one problem I found is that, in order to know the content of your environment file change, I need to watch this file change in my extension. And in vscode setting file, which I can get the update notification directly. So I'd like to put it in backlog.

[2017-06-15 09:19] pyros2097 commented on #101
I thought you would load the environment file on every request and then inject it into the request params.
Anyways .. Thats great. no prob. I was trying to use this tool and format for some sort of api versioning for REST based api's using git which I don't think any current tool does well.

[2017-06-15 09:28] Huachao commented on #101
Thanks for your suggestion, and always waiting for your feedback 😏

[2017-06-16 13:08] codeborn commented on #98
Works great now! Thanks!

However, I just noticed that when using POST the body data is not included. I will file a separate issue regarding that.

[2017-06-16 13:25] codeborn opened #105 ""Generate code snippet" does not include the POST body when Content-Type: application/x-www-form-urlencoded"
- VSCode Version: 1.13.0
- OS Version: 10.11.6 (El Capitain)
- REST Client Version: 0.14.5

Steps to Reproduce:

1. Write this request in a .http file:
###
POST https://example.com/some/endpoint
Content-Type: application/x-www-form-urlencoded
Authorization: Basic user password

some+data

###
2. Right-click and select "Generate code snippet"

Actual result:
curl --request POST \
  --url https://ex

[2017-06-16 14:21] Huachao commented on #105
@codeborn nice catch, I will publish this in next release

[2017-06-20 05:00] srikanth-vm opened #106 "How can I search/find in the response ?"
- VSCode Version: 1.13.1
- OS Version: OSX 10.12.4
- REST Client Version: 0.14.5

As of now I cannot find anything in the response opened in the tab. I need to save the json and then open it up.

Sounds really stupid, but am I missing some thing here 😄

[2017-06-20 06:05] Huachao commented on #106
@srikanth-vm Since vscode has limitation in search functionality in webview(By default, previewed response result is web view). If you want to search, one way is to set the vscode setting `rest-client.previewResponseInUntitledDocument` to `true`.

[2017-06-20 06:07] #106 closed

[2017-06-20 06:30] srikanth-vm commented on #106
@Huachao Awesome ! Just needed that.

[2017-06-21 02:56] wprater commented on #100
found an issues and I commented directly on your commit.

[2017-06-21 04:37] #100 closed

[2017-06-21 04:38] Huachao commented on #100
@wprater I have fixed this issue and will publish this fix in a new version

[2017-06-22 10:35] maxtar opened #107 "Add "Content-Length" header"
When I do POST request, I want to have automatically added "Content-Length" header. Like in browsers.

[2017-06-22 23:28] Huachao commented on #107
@maxtar Do you mean that you didn't get the `Content-Length` header at server side? Do you use file syntax to provide request body like `< ./example.json`?

[2017-06-23 15:25] maxtar commented on #107
Yeap. I use "<" for create body from file. And in this case server do not receive Content-Length

[2017-06-23 23:45] Huachao commented on #107
@maxtar when we use "<" syntax to send request body, by default we will use [`Transfer-Encoding: trunked` header](https://en.wikipedia.org/wiki/Chunked_transfer_encoding) in request, which doesn't use `Content-Length` to indicate request body length. To overwrite the behavior, you can set the setting `rest-client.useTrunkedTransferEncodingForSendingFileContent` to `False`.

[2017-06-23 23:46] #107 closed

[2017-06-26 09:55] maxtar commented on #107
Thanx! Looks like it works for me. :)

[2017-06-28 08:04] Huachao commented on #105
@codeborn you can try the latest version 0.14.6 to verify

[2017-06-28 08:04] Huachao commented on #100
@wprater you can try the latest version 0.14.6 to verify.

[2017-06-28 08:48] codeborn commented on #105
OK, the body data is there now. Nice work!

It works with unencoded data, like:

Results in (correct!):

Also correct would be:

But not with data that is already encoded, like:

Results in (arguably ... wrong! The plus sign gets encoded into %2D):

Also data that is already percent encoded, like:

Results in (arguably ... wrong! The percent sign gets encoded into %25):

These both examples where

[2017-06-28 08:52] Huachao commented on #105
@codeborn you can file a new issue, my question is does the cases really work with `Send Request`?

[2017-06-28 08:59] codeborn commented on #105
Yes, they work. Maybe this is more surprising actually. :)

If it did not work I would actually not consider this a problem. The thing is, I am migrating away from Postman, (https://www.getpostman.com/) as it is a bit unreliable and very "clicky" interface. In postman I have to do that encoding myself so I kind of expected having to do it in your plugin too.

[2017-06-28 09:02] Huachao commented on #105
@codeborn I can't work in my test, can you provide me your request?

[2017-06-28 10:22] codeborn commented on #105
I put together examples in a .http file and attached it here. Github does not allow the .http file suffix so I renamed to .http.txt :)

[body-encoding.http.txt](https://github.com/Huachao/vscode-restclient/files/1108328/body-encoding.http.txt)

[2017-06-28 12:43] Huachao commented on #105
@codeborn I will fix the bug in both sending request and generating code snippet. One interesting thing I found is that although all the response body sent back from httpbin.org look the same, however, the `Content-Length` header are different in fact. So I think this maybe a bug from httpbin.org. Anyway, I think my code should be responsible for encoding(or not) the _x-www-fromurlencoded_ body in

[2017-06-28 20:56] wprater commented on #100
works great, thanks for the fix!

[2017-06-30 00:34] Huachao commented on #105
@codeborn I'd like to close it, the implementation is described as above, if you still have any concern, pls feel free to reopen it.

[2017-06-30 00:34] #105 closed

[2017-06-30 09:01] codeborn commented on #105
The examples you provided seem reasonable. Thanks!

[2017-07-10 12:50] defectus opened #108 "Support self-signed server certificates"
- VSCode Version: 1.13.1 (1.13.1)
- OS Version: macOS 10.12.5
- REST Client Version: 0.14.6

Steps to Reproduce:

1. create a HTTP file pointing to a server using a self-signed server certificate.
2. an error is thrown: `write EPROTO 140737217418176:error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:../../vendor/node/deps/openssl/openssl/ssl/s3_pkt.c:1487:SSL alert number 40

[2017-07-11 01:48] Huachao commented on #108
@defectus what's your value of `http.proxyStrictSSL` and `http.proxy` settings?

[2017-07-11 05:50] Huachao commented on #69
@JCloudYu I'd to close the issue if you don't have any further update, please feel free to reopen it.

[2017-07-11 05:50] #69 closed

[2017-07-11 06:09] defectus commented on #108
I don't use proxy so it's empty.

[2017-07-11 06:21] Huachao commented on #108
@defectus in my code, if the proxy setting is not specified, and the `rejectUnauthorized` had already be set to `false`. So it may be other reasons. Could you provide me more details with the tool like __openssl__ or __curl__. Thanks in advance.

[2017-07-11 07:31] defectus commented on #108
I don't see it to be set to `false` anywhere in the code and according to the documentation (https://nodejs.org/api/tls.html#tls_tls_connect_options_callback) it's set to `true` by default.

[code]

This what I call. The service uses client certificates but should be good enough for you to test it.

[2017-07-11 07:41] Huachao commented on #108
@defectus my code is in [httpClient.ts](https://github.com/Huachao/vscode-restclient/blob/master/src/httpClient.ts#L69), and this option is sent to the underlying request [library](https://github.com/request/request/blob/master/request.js#L255-L257) which I use, and it will convert `strictSSL === false` value to `rejectUnauthorized false`.

And I can't connect to the ip you've mentioned above (Eve

[2017-07-11 08:10] defectus commented on #108
This server is actually accessible from a narrow range of IPs only. Anyway, I just tried some sites with invalid certificates and they worked so it's probably something beyond the library you use.

If you don't want to spend more time investigating fell free to close this issues as I'm unable to provide you with a site where you could reproduce this issue. Sorry about that.

[2017-07-11 08:12] Huachao commented on #108
@defectus don't feel sorry, I will close the issue for now and please feel free to reopen it if you have some new finding. 😄

[2017-07-11 08:12] #108 closed

[2017-07-12 08:57] kwaxi commented on #15
+1

[2017-07-12 09:02] Huachao commented on #68
@JCloudYu I can't repro your issue as you described in both curl and postman. I'd like to close it and mark it as not reproducible. Please feel free yo reopen it if you have any concern

[2017-07-12 09:02] #68 closed

[2017-07-14 22:33] borekb opened #109 "Local variables definition in .http files"
It would be nice if I could define variables in some comment in the `.http` file. My user settings are synchronized via VSCode Settings Sync and I don't want everything there, neither it fits very well into the workspace settings which are committed to Git and shared in a team.

For example would look like this:

[code]

This is basically an embedded JSON but could be anything, really.

[2017-07-17 01:29] Huachao commented on #109
@borekb thanks for your great suggestion, this is duplicated with issue #84, I'd like to close it to update in that thread.

[2017-07-17 01:29] #109 closed

[2017-07-19 05:22] Huachao commented on #109
Duplicate of #84

[2017-07-21 09:48] borekb commented on #99
Would be very useful for me as well. I sometimes copy/paste cURL into `.http` and would then like to see what was actually sent to the server in the HTTP format.

[2017-07-26 08:42] stojce commented on #86
I would suggest to have section under body that can run some basic scripting, e.g. regex matching and store results in temporary session variables - until vscode is closed. Also ability to view and delete those variables would be nice.

[2017-07-28 01:34] Huachao commented on #84
@akalcik @finalclass @richarddavenport @dakaraphi @ricardocosta89 @IllusionMH @devalnor @dymo @neilsmind @viraf I have implemented the feature that define in file http variables in latest version 0.15.0, you can try it and any suggestions and feedback are welcome. The details can be found [here](https://github.com/Huachao/vscode-restclient#variables)

[2017-07-28 01:34] #84 closed

[2017-07-28 08:29] stojce commented on #86
Now with 0.15.0 values from script can be stored in local variables. Example of use would be like this:

[code]

[2017-07-28 08:49] Huachao commented on #86
@stojce my extension doesn't support run script, and it won't save value to variable. How can you achieve that?

[2017-07-28 11:36] mgpatel75 commented on #84
I have just installed the latest package. The local variable feature is really useful. I have been waiting for this for long time. I have tested and its working as expected. :)

It will save a lot for me.

[2017-07-28 12:15] Huachao commented on #84
@mgpatel75 really happy that you enjoy it

[2017-07-28 13:30] IllusionMH commented on #84
@Huachao checked several use cases and it works as expected. Thank you!

One little question: is there a way to add line break into variable (not a multiline variable declaration, but receive unescaped `\n` on the server) and sent in in the `POST` message body?

[2017-07-28 16:57] richarddavenport commented on #101
@pyros2097 I love this idea! We use postman right now, but have been waiting for custom variables. Now that they are finally here, we would love to be able to put variables in a separate file.

@Huachao Our use case may be a little more complex, and I think a simple solution is to do what @pyros2097 is suggesting, just load the config file on every request and do not watch a certain file for chang

[2017-07-28 16:59] richarddavenport commented on #99
I would love to see the request about the response as well and then the body below both the request/response.

[2017-07-28 17:15] richarddavenport commented on #67
@pyros2097 @Huachao I think ultimately what should be added is the ability to do block level comments. Current `#` is for line comments. I think what would solve a lot of problems is a simple block level comment delimiter.

Examples:

JavaScript
[code]

PowerShell
[code]

Shell
[code]
[code]

Just one other side note regarding this becoming peoples documentation. If you supported markdown within t

[2017-07-29 00:51] Huachao commented on #105
@codeborn you can try the latest version 0.15.0 to verify

[2017-07-31 01:34] Huachao commented on #84
@IllusionMH I'd like to introduce the escape character `\` to support this feature, do you think it's ok?

[2017-07-31 01:35] Huachao commented on #67
@richarddavenport great suggestion, I will consider this carefully.

[2017-07-31 01:38] Huachao commented on #101
@richarddavenport nice, thanks for your interesting idea, I will consider it with existing design carefully.

[2017-07-31 06:21] stojce commented on #86
My suggestion is to introduce scripting. Script part can be parsed by `@{ ... }` pattern, and contents can be evaluated. Need to add context to script eval, so the script can have access to global and local variables.

[2017-07-31 06:26] Huachao commented on #86
@stojce nice suggestion, and I will try to implement this when I consider this carefully

[2017-07-31 09:26] IllusionMH commented on #84
@Huachao thank you! Yes, this will work.

[2017-08-04 00:59] Huachao commented on #84
@IllusionMH you can try the latest version 0.15.1 to verify the escape feature

[2017-08-04 10:55] IllusionMH commented on #84
@Huachao yes, looks good!
Also with this escape it is possible now to defined common headers for your requests (may be useful if API has required set for headers for different endpoints)
[code]

[2017-08-07 16:17] wboyle-erwin opened #110 "Post Request Body: Form data does not seem to pipe the contents of XML file"
- VSCode Version:  1.14.2
- OS Version: Windows 10 1703 15063.502
- REST Client Version: 0.15.1

Steps to Reproduce:

Using the steps provided by the example
POST http://api.example.com/userupload HTTP/1.1
Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW

------WebKitFormBoundary7MA4YWxkTrZu0gW
Content-Disposition: form-data; name="file[0]"; filename="sample.xml"
C

[2017-08-08 00:53] Huachao commented on #110
@wboyle-erwin I can't reproduce this in my env, and does this file `C:\sample.xml` really exists in your system? You can verify this by `Ctrl+Click` the file name in editor, if exists, it will open the file in a new tab

[2017-08-08 12:59] wboyle-erwin commented on #110
sample.xml is just a sample statement. the actual file is different that i am trying to use. however, ctrl + click actually does nothing in my environment. the keybinding do not look to be defined.

[2017-08-08 14:11] wboyle-erwin commented on #110
was able to get ctrl + click enabled by enabling http mode with ctrl k, then m. Currently trying to figure out why it states "Unable to open 'xml file name': resource is not available" even though the location has the file.

[2017-08-08 14:19] wboyle-erwin commented on #110
making a path similar to file:///C:/sample.xml makes the ctrl+click resolve but still doesn't work

[2017-08-08 22:53] Huachao commented on #110
are there any special characters in the xml file path

[2017-08-09 14:43] drmistral opened #111 "Missing body parameters with CPOST"
- VSCode Version: 1.14.2
- OS Version: MacOS Sierra 10.12.3
- REST Client Version: 0.15.1

Steps to Reproduce:

1.
2.

[2017-08-09 14:43] drmistral opened #112 "Missing parameters in CURL/POST body"
- VSCode Version: 1.14.2
- OS Version: MacOS Sierra 10.12.3
- REST Client Version: 0.15.1

Steps to Reproduce:

1. From terminal just send following call:
`curl -i -X POST -d par1=one -d par2=two "https://httpbin.org/post"`

in the returned response we find:

`
...
  "data": "",
  "form": {
    "par1": "one",
    "par2": "two"
  }, ...
`

2. Do the same call from vs rest client. In response we fin

[2017-08-09 14:54] drmistral commented on #111
Wrong sent

[2017-08-09 14:54] #111 closed

[2017-08-10 01:24] Huachao commented on #112
@drmistral nice catch, I will fix this ASAP.

[2017-08-10 08:57] drmistral opened #113 "CURL -c option not working properly"
- VSCode Version: 1.14.2
- OS Version: MacOS Sierra 10.12.3
- REST Client Version: 0.15.1

Steps to Reproduce:

1. From a terminal run following curl command (you can change path of -c property):

`curl -i -c "/tmp/cookies.txt" "http://httpbin.org/cookies/set?k2=val2&k1=val1"`

2. File  /tmp/cookies.txt file is created, check it.
3. Delete /tmp/cookies.txt
4. Repeat step 1 from vs rest client, ->

[2017-08-10 08:58] drmistral opened #114 "CURL -b option not working properly"
- VSCode Version: 1.14.2
- OS Version: MacOS Sierra 10.12.3
- REST Client Version: 0.15.1

Curl option -b sends a local cookie file to the server while executing subsequent (curl) rest calls. It seems that from vs rest client file is not sent:

Steps to Reproduce :

1. Save following content in a file /tmp/cookies.txt
[code]

2. From terminal, check sending of local cookie info:
`curl -i -b "/tmp/

[2017-08-10 10:56] drmistral commented on #113
Hi Huachao, first of all thanks for developing this extension I found it very usefull. Just an observation hope its help. Options -c and -b works in pair. Typically -c is used while login to a service and -b is used in subsequent calls as session token from previous login.
I have tens of test rest calls working in this way. I separated the problem in two Issues to be clear but -c and -b need to wo

[2017-08-10 13:11] enkol opened #115 "Ctrl-Alt keybinds conflicts"
On some international keyboard layouts, the AltGr key is used to type some characters.
Due to not all keyboards having an AltGr key, the combination Ctrl-Alt is a substitute for AltGr.

With german layout this is the case for the @ symbol, which is typed with AltGr-Q.
Therefore, trying to type an @ symbol, conflicts with Rest-Clients Ctrl-Alt-Q shortcut. The same is the case for Ctrl-Alt-E, which

[2017-08-10 21:59] Huachao commented on #110
@wboyle-erwin could you please help to test the work around mentioned above?

[2017-08-11 01:07] Huachao commented on #113
@drmistral -c option is currently not supported since as you know, my extension already saves received cookies in a file, and you can find the cookie file in `~/.rest-client/cookie.json`. So I think if you don't specify the -c option is OK. Current problem is that I didn't support the -b option. So if I support -b option, will it work in your case.

And after that, I'd like to implement the -c opt

[2017-08-11 01:23] Huachao commented on #115
@enkol thanks for your suggestion, and I'd like to modify the keyboard shortcut `Ctrl+Alt+Q` to `Ctrl+Alt+D`. Do you think it's ok, and it seems it works for German keyboard

[2017-08-11 01:42] #115 closed

[2017-08-11 01:47] Huachao commented on #106
@srikanth-vm in latest vscode 1.15.0, you can already search in preview page with keyboard shortcut `Cmd+F`. With this feature, you can set `rest-client.previewResponseInUntitledDocument` to `false` again.

[2017-08-11 01:48] Huachao commented on #42
@internetz @shahidmau in latest vscode 1.15.0, you can already search in preview page with keyboard shortcut `Cmd+F`. With this feature, you can set rest-client.previewResponseInUntitledDocument to false again.

[2017-08-11 06:59] Huachao commented on #114
@drmistral our extension doesn't support customize cookie jar file path, we already support built-in cookie jar as described in #113

[2017-08-11 08:39] enkol commented on #115
`Ctrl-Alt-K` is fine with German keyboard layout.

According to https://en.wikipedia.org/wiki/AltGr_key, `Ctrl-Alt-K` is used for South Slavic Latin, Latvian, Macedonian and Belgian layout. But it's not for a critical character, like it was with German layout (@).

[2017-08-11 09:13] Huachao commented on #115
@enkol thanks so much, as you said for other keyboard layouts `Ctrl+Alt+K` is not critical, so I'd like to keep it.

[2017-08-11 09:30] drmistral commented on #113
@Huachao now I see, I supposed the extension was using libcurl....

Ok, In my case i could leave -c -b options and the extension cookie file, but the problem is that, for some unknown reason, this mechanism is not working with my java server.

- When I do the login api call (POST) i check server side it is successfull and cookie.json is updated, but...
- On next call (GET) is not authorized.

At t

[2017-08-11 09:37] Huachao commented on #113
@drmistral I will document this, and can you check the cookie.json and whether the jsessionid stored in it?

[2017-08-11 09:52] drmistral commented on #113
@Huachao Yes, the jsessionid is stored in cookie.json when i do the login POST.

[2017-08-11 09:58] Huachao commented on #113
@drmistral Can you show me the piece of related cookie and sample _GET_ request

[2017-08-11 10:11] drmistral commented on #113
Login call:

[code]

(Login OK)

~/.rest-client/cookie.json:
[code]

Query call

[code]

Last call behaves like unauthorized.

[2017-08-11 10:47] drmistral commented on #113
@Huachao how the JSESSIONID is passed in subsequent request calls using the extension?

[2017-08-11 12:11] Huachao commented on #113
@drmistral It seems that your cookie has an extra `/` at the end of the path field, normally the path should be like `/foo/bar` not `/foo/bar/`. You can see from [Set-Cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie). In my test, if you remove it in cookie.json, it will work.

[code]

[2017-08-11 12:26] drmistral commented on #113
Correct! I tested removing the extra / from directly your cookie.json and it works!
I don't know where the extra / comes from because I'm the Java Spring stuff, I'll check...
Thanx!

[2017-08-11 12:44] Huachao commented on #113
@drmistral I will also look into the request module I use why it behave like this, since cURL can handle as you wish

[2017-08-11 12:50] drmistral commented on #113
@Huachao yes would be great, I checked that even using command line curl, in the saved cookie file there is the extra slash. Probably have to be removed in the subsequent calls.

[code]

[2017-08-11 13:34] drmistral commented on #113
@Huachao I've found the problem about final cookie path "/".
It is related to Tomcat `sessionCookiePathUsesTrailingSlash` configuration parameter. As described [here](https://tomcat.apache.org/tomcat-7.0-doc/config/context.html) setting it to false prevents the final "/" in cookie path and the stuff works.

[2017-08-11 15:55] wboyle-erwin commented on #110
Here is a post of the REST client snippet I have tried. Clicking the link below seems to find the file in question. However, I get "failed to open stream: No such file or directory". Which to me seems like this is not sending any of the contents of the file with the request body.

POST https://dev.myerwin.io/dm/api/erwin-import HTTP/1.1
Authorization: Basic wboyle Testing123
Content-Type: multipar

[2017-08-14 04:26] Huachao commented on #113
@drmistral I also fixed the bug in my side, and in next release of this extension, you can still set the cookie path with trailing slash.

[2017-08-14 09:46] Huachao commented on #110
@wboyle-erwin When you click the link (file:///), can you really open/find the file, in my test (finally on a windows machine), I can't repro your issue(even with no escape), but my code has bug in Ctrl+Click of file links(in non file:/// scheme).

[2017-08-15 18:59] alabaki opened #116 "Unable to preview large response"
- VSCode Version: 1.15.0 x64
- OS Version: Windows 10 x64
- REST Client Version: 0.15.1

Steps to Reproduce:

1. In the settings, set: "rest-client.previewResponseInUntitledDocument": true
2. Call a GET http method that returns a 7MB response.
3. No untitled document opens and the error below is displayed in the Dev Tools Console:

![image](https://user-images.githubusercontent.com/13958061/293313

[2017-08-16 04:46] Huachao commented on #116
@alabaki I have created a bug in Microsoft/vscode#32608. And I will follow it.

[2017-08-16 06:57] #112 closed

[2017-08-18 08:27] codeborn commented on #105
Sorry, I forgot about your message. I will have a look later today.

[2017-08-22 03:01] Huachao commented on #115
@enkol you could use the latest version 0.15.2 to verify 😄

[2017-08-22 03:02] Huachao commented on #112
@drmistral you could use the latest version 0.15.2 to verify 😄

[2017-08-22 08:58] enkol commented on #115
I can verify that `Ctrl-Alt-Q` isn't used anymore, so there is no more conflict with typging the `@` Symbol.
I did not test `Ctrl-Alt-K` canceling a request (i've no quickly available text case).

[2017-08-22 14:21] drmistral commented on #113
I've checked this issue removing the Tomcat parameter in order to check your change and it works! Thanks!

[2017-08-22 14:21] #113 closed

[2017-08-22 14:23] drmistral commented on #112
Just checked, it's fine! Thanks!

[2017-08-24 13:29] codeborn commented on #105
I just tested with 0.15.2. This now works perfectly! Thanks!

[2017-08-25 19:47] anandanand84 opened #117 "New cookie is not set and provide ability to clear cookies"
- VSCode Version:
- OS Version: macOS Sierra version 10.12.5
- REST Client Version: 0.15.2

If a new cookie is returned from set-cookie header, it is not used, still old cookie is used for subsequent request. Also provide a way to clear cookies.

[2017-08-27 22:37] Huachao commented on #117
@anandanand84 do you mean if the cookie with new value is returned from server, the subsequent requests don't use this new cookie value. It seems that I can't repro this, can you show me your response, and the cookie.json file (which is the file cookie jar) in `~/.rest-client/cookie.json`.

[2017-08-28 20:46] anandanand84 commented on #117
@Huachao my bad it does sets cookie if there is a new cookie sent.

sorry!

[2017-08-28 20:46] #117 closed

[2017-09-05 16:41] karthikeyangss opened #118 "Support for Query String Split view for large url request"
- VSCode Version:1.15.1
- OS Version: Windows 10
- REST Client Version: 0.15.2

Enhancement :
We often encounter large request url , if we can provide a view to see query params as proper name value pair. (or even if we provide enhancement in existing feature to support multi-line get param to format big url to new line view)
It would add additional utility to REST client.

eg:
For input:
     htt

[2017-09-06 01:46] Huachao commented on #118
@karthikeyangss this is already supported in our extension, as described in `README`, the syntax looks like as follows:

GET https://example.com/comments
    ?page=2
    &pageSize=10

[2017-09-06 01:46] #118 closed

[2017-09-08 02:24] Huachao commented on #116
@alabaki this should have already been fixed in vscode 1.16, it has increase the limit to 50M

[2017-09-08 02:24] #116 closed

[2017-09-11 12:59] wboyle-erwin commented on #110
with 0.15.2

Clicking the following provides an error now:
< file:///C:/Users/WilliamBoyle/Documents/sample_descriptions.xml

Clicking the following works now:

< C:/Users/WilliamBoyle/Documents/sample_descriptions.xml

The end result of Ctrl + Alt + R is the same unfortunately and doesn't pipe the contents of the file into the request body.

[2017-09-11 20:04] kmurali676 opened #119 "Info/Warning notifications blocking all tabs"
- VSCode Version: 1.16.0
- OS Version: Mac
- REST Client Version:0.15.2

Steps to Reproduce:
1. Call API that returns response header "application/json", but no body
2. It displays warning: "The content type of response is application/json, while response body is not a valid json string"

Every time when I send a request, it displays info ribbon that block all other tabs. I need to close notificat

[2017-09-12 01:44] Huachao commented on #119
@kmurali676 I have add a setting `rest-client.suppressResponseBodyContentTypeValidationWarning` to suppress such validation warnings. And I will publish this fix in next release

[2017-09-12 01:44] #119 closed

[2017-09-12 01:49] Huachao commented on #110
@wboyle-erwin could you please sent the request to this url `https://requestb.in/190tr451`, and I will check the actual request you sent to server. Sorry for the incovenience

[2017-09-12 12:34] wboyle-erwin commented on #110
Sure. I sent the request.

[2017-09-12 15:39] kmurali676 commented on #119
Thanks much @Huachao. I really appreciate it.

[2017-09-12 15:41] kmurali676 commented on #119
I am looking forward to the next release.

[2017-09-12 22:43] Huachao commented on #110
@wboyle-erwin as you can see [here](https://requestb.in/190tr451?inspect), your sent request seems already contains the xml file content in request body

[2017-09-13 17:48] wboyle-erwin commented on #110
Inspecting the request body, i am not seeing the ending WebKitFormBoundary. Is there a limit to how much is sent?

[2017-09-13 22:44] Huachao commented on #110
This site has some limit to display content. And can you check your server side to see if it receives request body?

[2017-09-22 07:05] #99 closed

[2017-09-25 06:45] pavelevap opened #120 "cURL -d option not working properly with @"
- VSCode Version: 1.16.1
- OS Version: Windows
- REST Client Version: 0.15.2

Steps to Reproduce:

cURL: `curl -X POST https://SOMEURL -d @filename.json --header "Content-Type: application/json"`

Result: `Unexpected token @ in JSON at position 0
`

[2017-09-25 09:44] Huachao commented on #120
@pavelevap sorry for the inconvenience, I will publish this fix in next release.

[2017-09-25 12:15] #120 closed

[2017-09-25 12:51] pavelevap commented on #120
Thank you! :+1:

[2017-09-26 08:40] Huachao commented on #120
@pavelevap you can try the latest version 0.15.3 to have a try 😄

[2017-09-26 09:14] Huachao commented on #119
@kmurali676 you can try the latest version 0.15.3, and you can set the setting `rest-client.suppressResponseBodyContentTypeValidationWarning` to `true` to disable the warning

[2017-09-26 09:20] Huachao commented on #99
@wprater @richarddavenport @borekb @ReeganExe you can try the latest version 0.15.3 to preview expected part of response with the option `rest-client.previewOption`:

Option | Description
------ | -----------
full | Default. Full response is previewed
headers | Only the response headers(including _status line_) are previewed
body | Only the response body is previewed
exchange | Preview the whole H

[2017-09-26 11:04] borekb commented on #99
Nice! I'm plying with it and the settings works nicely. One possible UI suggestion is to consider the settings as the default value but have some button next to 'Save Response' and 'Save Response Body' to toggle the output. For example, I'd probably keep just the response (`full`) as a default but peek occasionally at the full exchange but using this button. Just an idea.

[2017-09-26 23:02] Huachao commented on #99
@borekb nice suggestion, I will consider it carefully.

[2017-10-18 23:06] hellonavneet opened #121 "Support Windows Integrated Authentication"
- VSCode Version: 1.17.2
- OS Version: Windows 10
- REST Client Version: 0.15.3

The tool is awesome, now I can easily execute and save my REST Requests in Git for later use.
Are there any plan to support Windows Integrated Authentication? This is the only blocker I have.

Thanks,
Navneet

[2017-10-18 23:07] #121 closed

[2017-10-18 23:07] hellonavneet commented on #121
Duplicate of #15

[2017-10-18 23:08] hellonavneet commented on #15
+1

[2017-10-19 08:49] ben-foster-cko opened #122 "Connection is being rejected"
- VSCode Version: Version 1.17.2 (1.17.2)
- OS Version: MacOS Sierra 10.12.4 (16E195)
- REST Client Version: Latest

Steps to Reproduce:

Try and send request

[code]

[2017-10-19 09:05] Huachao commented on #122
@ben-foster-cko can you succeed without using the Host header, I mean set the full url like `http://testapp.com/api`. If not, can you succeed with `cURL`?

[2017-10-19 10:18] warpdesign opened #123 "Install instructions do not work"
- VSCode Version: 1.17.2
- OS: Windows 10

This doesn't work with latest stable VSCode:

![vscodeinstall](https://user-images.githubusercontent.com/199648/31766338-91b1a160-b4c7-11e7-9282-3091936369f3.png)

[2017-10-19 13:46] bitbonk opened #124 "history view"
First of all: Great extension! Thank you for this!

There is one thing missing that other tools like postman or fiddler have and the only reason that prevents me to fully switch to this extension:

A history view! Please let me see all the reqeust and responses that I have sent snd recieved previously.

Extra bonus: Make it persistent, so wehn I close and reopen VS code, the history is still there

[2017-10-19 23:02] Huachao commented on #123
@warpdesign nice catch, I've updated the doc to

[2017-10-19 23:02] #123 closed

[2017-10-20 01:29] Huachao commented on #124
@bitbonk my extension already supports the history function, https://github.com/Huachao/vscode-restclient#request-history. And the only difference is that I don't keep the response result of each request.

[2017-10-20 07:22] msageryd commented on #86
I've played with the plugin for 15 minutes and I'm already in love. I'll probably migrate from Postman soon. At least when token extraction is in place :)

The token extraction idea is great. I would love it. I'm developing an API which I often test with a couple of different user accounts (to test different access roles). Postman has a way to get hold of the token and put it in a global variable

[2017-10-20 13:39] chanan opened #125 "Feature Request: Store environments in a file instead of settings"
VSCode: 1.17.2
Rest: 0.15.3

We love using Rest Client in our team and we have our .http files checked in to our project. It would be great to have the environment variables stored in a file instead of the settings of vscode so our environments can be shared easily among team members

[2017-10-20 16:21] dprice opened #126 "Goto Symbols Support for Multiple Requests in a File"
I wrote a PowerShell script that converted my Postman backup file to separate .http files for each collection. When I load that folder into VSCode, now I can easily find my collections via ctrl+p as I made the collection the filename. I would love to be able to quick navigate to a request in a file with multiple requests by pressing ctrl+shift+o (Go to Symbol in file) to see a list of all requests

[2017-10-20 19:06] eppyjerk commented on #126
That PowerShell script might be a nifty thing to share as a PR into this repo or a gist

[2017-10-23 01:08] Huachao commented on #126
@dprice nice suggestion, and I will implement it ASAP

[2017-10-23 01:09] Huachao commented on #125
@chanan nice suggestion, I will consider it carefully.

[2017-10-24 09:20] codepunkt opened #127 "Feature request: formatted GraphQL queries for POST requests"
Amazing extension, thanks a lot!

What's missing for my usecase is a way of adding a formatted [GraphQL](http://graphql.org/) query as a POST body.

I can do this to send GET with GraphQL queries, but this gets unreadable a lot really quick once the queries get more complicated:

[code]

What i would love to do instead is something like this:
[code]

I know that `Type` is not a header you'd want t

[2017-10-24 09:37] Huachao commented on #127
@codepunkt nice suggestion, I will investigate it first and will update this thread later

[2017-10-24 09:56] codepunkt commented on #127
@Huachao I'm investigating myself. I can do this:

[code]

But when i send it to a simple JSON parser, e.g. `body-parser` in a nodejs express webserver, it cannot be parsed and i'm unsure why. What happens to linebreaks in JSON strings?

Another idea that i had was having each graphQL query in it's own `.gql` file, which has syntax highlighting when using the appropriate VSCode extension. This cou

[2017-10-24 10:00] Huachao commented on #127
@codepunkt I think the reason that the body can't be parse is that
[code]
is no a valid json

[2017-10-24 10:06] codepunkt commented on #127
Okay. So it seems it would be easier to pass in GraphQL from a file.

[code]

[code]

If this would work, it would be great!
The actual JSON payload that would be sent in the body is this:

[code]

[2017-10-24 12:23] dprice commented on #126
I'll clean up that PowerShell script and pass it along. It's not perfect right now as it doesn't quite align with the current setup of the VSCode REST Client. For example, I make extensive use of Postman's global variable system. I define all my routes as a two-part global variable. This ends up reducing duplication across requests and makes it easy to adjust a route if it changes as there is basi

[2017-10-24 12:38] Huachao commented on #127
@codepunkt if use the post request for querying, does the content type should be 'application/graphql'. And I think for a graphql server side normally will support both get and post cases. But the request body is not in JSON.

[2017-10-24 13:55] codepunkt commented on #127
The [POST Request](http://graphql.org/learn/serving-over-http/#post-request) section of the GraphQL docs states this explicitly. Content-Type is application/json.

[2017-10-24 22:46] Huachao commented on #127
@codepunkt you are right, however I also found following sentences in the page you provided

So the content-type is "application/graphql" works the same as query string, and no need to transform to JSON

[2017-10-24 22:50] Huachao commented on #126
@dprice really nice suggestion, I'd like to implement the shared environment feature that environments defined in it can be shared across all the environments. Thank you @dprice

[2017-10-24 22:51] Huachao opened #128 "Support shared variables can be used across all the environemnts"
- VSCode Version:
- OS Version:
- REST Client Version:

Steps to Reproduce:

1.  Thanks the suggestion from @dprice mentioned in #126

[2017-10-25 07:04] #126 closed

[2017-10-25 08:48] codepunkt commented on #127
Yes, that is correct. However, this is a way to query a server that almost no one uses and that i've not seen in production ever. Main reason is that it does not support variables, which is an important part of GraphQL.

A lot of GraphQL serverlibraries don't even implement it and imho there was a discussion somewhere do even remove it from the docs which i couldn't find offhand.

[2017-10-25 17:30] HKochniss opened #129 ""click the Send Request link above the request" doesn't work (anymore)"
- VSCode Version: 1.17.2
- OS Version: Win10
- REST Client Version: 0.15.3

Steps to Reproduce:

1. Install the extension
2. paste from docs into new document (or save as .rest/.http and activate HTTP mode, doesn't matter)

POST https://example.com/comments HTTP/1.1
content-type: application/json

{
    "name": "sample",
    "time": "Wed, 21 Oct 2015 18:27:50 GMT"
}

3. a link to click above the H

[2017-10-25 17:31] HKochniss commented on #129
also, I'm not sure if it first worked at home or at work, in one of those I had a deinstall extension hickup with a VS code update running in between, so I supposed it was corrupted install. But after reinstalling VS code and extension it still remains, and the installer race was onbly on one of these systems

[2017-10-25 17:32] HKochniss commented on #129
btw, the workspace is completely empty, i try to just a have a folder with a .rest file (and later on a .vscode folder with workspace settings file) as aa Postman collection replacement.

[2017-10-25 17:40] HKochniss commented on #129
nevermind: I had the  "editor.codeLens" feature set to false in my work environment. I still dunno what it is at home, I'll check therte, but it would be good to add a hint that for the clickable links this (default-on, I know) feature has to be enabled.

[2017-10-25 23:27] Huachao commented on #129
@HKochniss in my test, even I set this setting to false, the request can still be sent. Can you try the keyboard shortcut (ctrl+alt+r) to send the request to test if it works? Thanks in advance

[2017-10-26 01:08] Huachao commented on #127
@codepunkt thanks, previously I am not quite familiar with GraphQL. I will consider your suggestions carefully.

[2017-10-26 08:11] codepunkt commented on #127
@Huachao that you are even considering this, not being familiar with the technology, is amazing. Even if nothing comes from this, thank you!

[2017-10-26 08:17] Huachao commented on #127
@codepunkt I think I will work in two aspects:
* Fix the json error bug(root cause is it's a multi-line string in json field)
* Support auto convert for graphql body to json (that means user only need to provide graphql format body)

[2017-10-26 09:02] HKochniss commented on #129
Sure, shortcut always worked.

If you set the "editor.codeLens" in the respective workspace settings to false and restart VS Code, it wouldn't work.
But maybe there's another issue.

I don't know if that's intended, but you see the clikable button only on the _first_ request in a group that started with a ###

Meaning, subsequent request in that segment don't have the button, don't know if that's

[2017-10-26 09:04] HKochniss commented on #129
To be clear:
this issue is about the clickable button only, the shortcut always worked. It's probably more the "CodeLense has to be activated" that was surprising to me, as I turned it off beforehand.

[2017-10-26 09:05] Huachao commented on #129
Use three consecutive `#` as a delimiter, we use `###` to start a new request block

[2017-10-26 09:20] codepunkt commented on #127
Let me know if i can help. I don't have any experience with vscode exensions, but if you have questions on GraphQL or need a second opinion on anything, let me know!

[2017-10-26 09:21] Huachao commented on #127
@codepunkt thanks, I will sure turn to you when I have questions about GraphQL

[2017-10-26 12:17] necraidan opened #130 "Need an example for rest-client.excludeHostsForProxy"
Hello guys,
I would like an example of a configuration for **rest-client.excludeHostsForProxy**

Thanks.

[2017-10-26 12:55] dprice commented on #128
Awesome! I haven't had a chance to try this out, yet. How long does it take for this to show up in the VSCode Marketplace (and within VSCode Extensions)?

[2017-10-26 13:18] Huachao commented on #128
@dprice Since it is still under development, it won't be included in next release in late October, however, it should be included in a release of Novber. Sorry for the inconvenience

[2017-10-26 14:16] dprice commented on #128
No worries! If I find the time, I'll clone the repo locally and see if I can getting running with the nightly stuff.

[2017-10-26 14:36] HKochniss commented on #129
I know. It's just that if you don't, then only the first request gets the button. But this button doesn't then execute alle the requests below, but just the first one. Either way would be finde, but the current behavior seems inconsistent (there should be a button above every request, or if not, for good reason).

[2017-10-26 20:56] alexgoldstone opened #131 "'Send Request' link only appears when file is saves"
- VSCode Version: 1.17.2
- OS Version: OS X 10.12.6
- REST Client Version: 0.15.3

The `Send Request` links only appear when the file has .http or .rest extension.

Perhaps this is intended behaviour but it was not clear from the instructions which mention support for these extensions but do not state that functionality will be reduced when files are not saved with one of these extensions.

Sugges

[2017-10-27 01:22] Huachao commented on #130
@necraidan you can specify the host (w/o port) like following:
[code]

[2017-10-27 01:22] #130 closed

[2017-10-27 01:26] Huachao commented on #129
@HKochniss you didn't miss anything 😢  It's my current design that `###` is a request block separator that lines inside it will be identified and parsed as a single request.

[2017-10-27 01:45] Huachao commented on #131
@alexgoldstone in fact the `Send Request` link will be visible when your file is in `HTTP` language mode. And you can make your file with `HTTP` mode in following three ways:

1. File with extension `.http` or `.rest`
2. First line of file follows standard request line in [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html), with `Method SP Request-URI SP HTTP-Version` format, like `G

[2017-10-27 01:45] #131 closed

[2017-10-30 04:48] Huachao commented on #126
@dprice you can try the latest version 0.16.0 to verify. Thanks for your great suggestion

[2017-10-30 09:43] dprice commented on #126
Awesome! I'll check it out when I'm in the office.

[2017-10-30 13:22] defectus opened #132 "Apple ⌘+A doesn't work on MacOS"
- VSCode Version: 1.17.2
- OS Version: MacOS 10.13 (17A405)
- REST Client Version: 0.16.0 (2017/10/30)

Steps to Reproduce:

1. Open an HTTP file and press ⌘+⎇+R to fire it.
2. Focus response window and press ⌘+A or from the menu `Selection>Select All`
3. Nothing is selected.

Expected behaviour:
The complete response is selected and can be copied.

[2017-10-30 23:58] seanmcbreen opened #133 "VS Code Multi-root Workspaces and REST Client"
Hi,

I'm from the VS Code team I also dropped you an email, I'm reaching out with some additional resources for adopting multi-root workspaces.

But first let me say thank you for working on and maintaining [REST Client](https://marketplace.visualstudio.com/items?itemName=humao.rest-client), we really appreciate the work you have done to make VS Code better.  We recently twetted about this extensi

[2017-10-31 01:38] Huachao commented on #133
@seanmcbreen done already, and the new version with _Multi-root Workspace Support_ is already published

[2017-10-31 01:38] #133 closed

[2017-10-31 01:56] Huachao commented on #132
@defectus this is a known Microsoft/vscode#8794 in __vscode__. Since our previewed response panel is actually a HTML page, it's not a normal text doc in __vscode__.

[2017-10-31 06:44] defectus commented on #132
Can we open the output in a regular editor then? As a workaround. Or at least give the option to open results in an editor rather than a preview pane.

[2017-10-31 06:46] Huachao commented on #132
@defectus certainly, we already have a setting `rest-client.previewResponseInUntitledDocument`, just set this value to `true` will be ok. Wish this helps

[2017-10-31 07:09] defectus commented on #132
Great! Thanks for that and sorry for wasting your time.

[2017-10-31 07:09] #132 closed

[2017-10-31 14:25] dprice commented on #126
I just tried the update and I now see the multiple requests - nice work!

[2017-10-31 14:28] dprice commented on #128
How will the shared variables be configured? Are these also in the user settings file under the environmentVariables setting or somewhere else?

[2017-10-31 17:32] seanmcbreen commented on #133
Amazing thank you - one additional ask could we get you to add a new keyword.. with your next publish?

Specifically - add multi-root ready to your package.json i.e. "keywords": ["multi-root ready"]. If you upgrade to VSCE 1.32.0 this can be added to any existing keywords and will not be counted against the maximum of 5 allowed keywords.

[2017-10-31 23:00] Huachao commented on #128
@dprice also in the setting, but with a special env name to represent it

[2017-11-01 02:11] Huachao commented on #133
@seanmcbreen ok, done.

[2017-11-01 02:12] #128 closed

[2017-11-03 14:29] CoderJason123 opened #134 "feature-request--follow request from returned link"
Hello.  I'm a relatively new user and am enjoying this vs code extension for rest.  One thing that would help me migrate away from Postman is the follow functionality.  If a hyperlink is returned on a restapi request, that feature allows you to keep the same headers of the previous response and make a subsequent request to that hyperlink.

I am not sure if the below issue relates to my request but

[2017-11-04 00:15] Huachao commented on #134
@CoderJason123 nice suggstion, I will consider this carefully and update in this thread later.

[2017-11-06 01:01] Huachao commented on #88
@dakaraphi decide to close it since many users already use heavily in `.rest` extension.

[2017-11-06 01:01] #88 closed

[2017-11-09 15:19] Meir017 opened #135 "Formatting json in requests"
Would it be possible to embed the json editor for the content of the request when specifing `Content-Type: application/json` ?

something like this:
![image](https://user-images.githubusercontent.com/9786571/32612859-ffe7bef2-c571-11e7-8c53-e02e3fe8524d.png)

[2017-11-09 16:11] cilerler opened #136 "ability to grab the token from response header and set it as a variable to use in next call"
- VSCode Version: 1.18
- OS Version:
- REST Client Version: 0.16

# Steps to Reproduce:

HTTP file

[code]

When I send request for _Login_ it will return result below

[code]

I would like to be able to grab the `Token` from that response and replace it as local environment `@token` with it.

So when I send request for _UserDetails_ it should send the request with the token I received and not wit

[2017-11-10 02:00] Huachao commented on #135
@Meir017 nice suggestion, I will consider a nice way to implement it and other cases like `xml`

[2017-11-10 02:06] Huachao commented on #136
@cilerler really nice suggestion, and some issues like #86 is already related to this, so I'd like to close this to in favor of that one. And any updates will be recorded in that thread.

Duplicate of #86

[2017-11-10 02:06] #136 closed

[2017-11-13 07:45] #129 closed

[2017-11-13 14:01] shahidmau opened #137 "Feature Request : Manage input params visually."
Is there any way to show inputs visually as shown in the image?

![screen shot 2017-11-13 at 5 44 32 pm](https://user-images.githubusercontent.com/195240/32726245-4991750a-c89e-11e7-9d9c-9b57659d67a2.png)

Or at least there should be a way to temporarily toggle input fields.

[2017-11-13 16:55] mrchief opened #138 "Support PATCH method"
- VSCode Version: 1.18.0
- OS Version: Windows 7x64
- REST Client Version: 0.16.0

HTTP PATCH is new method [rfc5789](https://tools.ietf.org/html/rfc5789) very similar to PUT (as far as implementation goes from this extension's standpoint). Furthermore, the underlying `request` library already supports it.

It'd be nice if the extension supported this. We understand the standard is not baked yet a

[2017-11-14 04:23] Huachao commented on #138
@mrchief can you show me the actual request, or your complete file content, since I can't repro it

[2017-11-14 04:27] Huachao commented on #137
@shahidmau the most similar way is to make each query parameter in each line like:
[code]
And then manually comment(`#` or `//`) or uncomment the line you want to achieve this like following:
[code]

[2017-11-14 16:04] mrchief commented on #138
@Huachao here it is:

![image](https://user-images.githubusercontent.com/781818/32790044-498a8668-c92b-11e7-8a28-d92924788c49.png)

You can see GET has the code lens but PATCH doesn't.

[2017-11-14 22:44] Huachao commented on #138
@mrchief, you need to add the request delimiter(###) between requests

[2017-11-14 23:02] mrchief commented on #138
:man_facepalming:

That fixes it, thanks!

[2017-11-14 23:02] #138 closed

[2017-11-16 02:59] hyperpc opened #139 "code block folder/unfolder feature in .http/.rest file"
A very helpful extension on vs code, thanks~

Here suggest to add a new feature:
be able to folder/unfolder code block.

For example, many API requests existing in one .http/.rest file, if each request can unfolder into one line, it will be very helpful. Or give a tag, like #region/#endregion in csharp.

Thanks again.

[2017-11-16 05:58] #139 closed

[2017-11-16 06:00] Huachao commented on #139
@hyperpc nice suggestion, and I will publish this feature in next release, thanks 😄

[2017-11-17 05:23] Huachao commented on #139
@hyperpc you can try the latest version **0.16.1** to verify.

[2017-11-17 05:26] Huachao commented on #128
@dprice you can try the latest version 0.16.1 to verify this feature. You just need to add variables in an environment named _$shared_, you can see more details from README. One example is like below:
[code]

[2017-11-17 19:11] dakaraphi commented on #139
@Huachao This does not work for me.  Previously I was able to fold on comments sections, now I can't fold at all.

Here is an example of a section of the file:
<img width="1005" alt="image" src="https://user-images.githubusercontent.com/10656375/32964395-1eb01390-cba1-11e7-822a-758febf0d61b.png">

[2017-11-17 20:51] dprice commented on #128
Awesome! I'll try that today.

On Fri, Nov 17, 2017 at 12:26 AM Huachao Mao <notifications@github.com>
wrote:

--

Sent from my phone.

[2017-11-19 19:26] shahidmau commented on #137
Good idea but manually doing it for big query is a painful job, kindly provide a shortcut key to arrange the inputs in the suggested way. Thanks :)

[2017-11-20 02:38] Huachao commented on #139
@dakaraphi add request method(like _GET_, _POST_) at the beginning of each request line should be OK, like:
[code]

[2017-11-20 02:39] Huachao commented on #137
@shahidmau what kind of shortcut key do you need, since move query line ,comment/uncomment line is natively supported in vscode

[2017-11-20 07:56] shahidmau commented on #137
Suppose we have a query like this

GET https://example.com?location=xxx&platform=yyy&language=zzz

On pressing shortcut key it should become like this.

GET https://example.com
?location=xxx
&platform=yyy
&language=zzz

It will become easy to comment/uncomment a single param value. It will be very useful command if query is too big (more than 20 params). Manually formatting will take time while it

[2017-11-20 07:57] shahidmau commented on #137
I just checked and found that new line is not working for post method :(

curl 'http://my-api.com/search' -H 'Pragma: no-cache' -H 'Origin: http://http://my-api.com' -H 'Accept-Encoding: gzip, deflate' -H 'Accept-Language: en-GB,en-US;q=0.9,en;q=0.8' -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/23.213.2.21 Safari/537.36' -H 'Content-Type: applicatio

[2017-11-20 07:59] Huachao commented on #137
@shahidmau newline is only supported when you use raw http format, not for curl format, can you succeed in raw http format?

[2017-11-20 09:23] fmartingr commented on #74
I'm also looking forward to this. While I agree with @pfemiani proposal, a simpler approach could be to allow saving response to a variable and then using it:

[code]

I'm not sure how other rest client for other editors resolve this (if they do at all) but it will be an awesome addition.