[2020-02-16 13:48] Bilosista commented on #523
I have a similar behavior using REST Client with PHP (Slim Framework). It "worked" before (version _0.22.2_), but doesn't anymore (versions _0.23.0_ and _0.23.1_).

After I start the server using `php -S localhost:8080 -t src/`, I also get:

But this "worked" like this before. The difference is that now, once I start the server using `php -S 127.0.01:8080 -t src/`, I always get a 401 when trying t

[2020-02-16 15:52] Huachao commented on #523
@Bilosista What's your auth

[2020-02-16 18:27] Bilosista commented on #523
@Huachao It’s Basic auth. No idea why, I can try to check tomorrow (I’m using `tuupola/slim-basic-auth`), but it works fine when started using 127.0.0.1 with _0.22.2_, but doesn’t with _0.23.0_ nor _0.23.1_. Did something change in _0.23.0_?

[2020-02-17 07:36] Huachao commented on #523
@Bilosista I switched my underlying http client package from `request` to `got`, as well as some other changes. Can you show me your actual request, especially the line of `Authorization`

[2020-02-17 08:33] Bilosista commented on #523
@Huachao Sure, here you go...

The request (I also tried with `Authorization: Basic QWRtaW46aGVzbG8=`):

The 401 response (using version _0.23.1_):

The correct response (using _0.22.2_):

[2020-02-17 11:07] Huachao commented on #523
@Bilosista It seems that I didn't handle the auth challenge case, I will update my code

[2020-02-17 16:53] Huachao commented on #523
@Bilosista can you try this version, and you need to manually remove the `.txt` in the file name, and install it in the Extensions tab of VSCode by clicking `...`, and select `Install From VSIX`
[rest-client-0.23.1.vsix.txt](https://github.com/Huachao/vscode-restclient/files/4215053/rest-client-0.23.1.vsix.txt)

[2020-02-17 18:58] Bilosista commented on #523
@Huachao Yeah, it works ;)

[2020-02-18 14:35] dakaraphi commented on #513
Just posting a status update:
Still looking into this issue; however, the problem does not occur for me when I run the code in the vscode debugger.  I will try to add logging into the code as next step since I can't seem to use the debugger.

[2020-02-18 15:49] Huachao commented on #513
@dakaraphi thanks for the update, it's a little strange that the package I sent to you not working. If it really works, you can try the vsce package command, and try the version.

[2020-02-18 18:39] dakaraphi commented on #513
So it seems that when I build the package, it works for me.  However, the packages you sent me or the one on the marketplace does not work for me.
I can only assume a difference in the node_modules from doing a fresh npm install.

[2020-02-19 02:22] Huachao commented on #513
@dakaraphi the marketplace version is not working as expected since I haven't published a new release. Can you try the package built from my machine today?
[rest-client-0.23.1.vsix.txt](https://github.com/Huachao/vscode-restclient/files/4222809/rest-client-0.23.1.vsix.txt)

[2020-02-19 12:50] Tino-T commented on #15
+1

[2020-02-19 14:54] dakaraphi commented on #513
@Huachao yes, that build does work! :-)

[2020-02-19 14:54] dakaraphi commented on #513
@Huachao yes, that build does work! :-)

[2020-02-19 14:55] dakaraphi commented on #513
@Huachao yes, that build does work!

[2020-02-19 17:14] #513 closed

[2020-02-19 17:15] Huachao commented on #513
@dakaraphi OK, I'd like to close the issue

[2020-02-21 16:24] davobutt commented on #521
Yeah this would be really good. Postman's ability to run scripts pre-request is handy for doing simple things like setting dates in the future. I guess there is a slightly elaborate workaround for this in REST client. You could run a local server which executes your script and responds in json which the REST client file can extract the variables from?

[2020-02-21 19:36] gritcsenko commented on #463
[humao.rest-client-unresponsive.cpuprofile.txt](https://github.com/Huachao/vscode-restclient/files/4237736/humao.rest-client-unresponsive.cpuprofile.txt)
Hi @Huachao, I've just got another one error report for you

[2020-02-22 17:32] tomdavidson opened #526 "more explicit docs on environment variables"
### Feature / help request

_More explicit docs on environment variables._

I am a decent case for this and have not been able to use environment variables for API credentials ever and am sure it is user error.

#### example

I have tried file variable such as `@password = {{$processEnv PASSWORD_PRODUCTION}}` and indirect such as `@password = {{$processEnv %servicePassword}}` with the correct envi

[2020-02-23 17:54] nour-s opened #527 "Store received cookies in variables to be used in subsequent request"
I have a scenario where I receive an XSRF token in a cookie, but it should be used as a header in the next request, so I was thinking to make it possible to do something like:

`@token = {{requestName.response.cookies['XSRF-Token']}}`

[2020-02-24 04:05] Huachao commented on #526
@tomdavidson before diving into the details, I'd like to show you there are two categories of variables in VSCode REST Client extension.

1. System Variables (Built-in Variables)
    1. `$guid`
    2. `$timestamp`
    3. `$processEnv` (Process Environment Variables)
   4. `$dotenv`
   5. ...
2. Custom Variables
   1. Environment Variables
    2. File Variables
   3. Request Variables

So what do y

[2020-02-24 04:05] #526 closed

[2020-02-24 04:10] Huachao commented on #527
Duplicate of #316

[2020-02-24 04:10] #527 closed

[2020-02-24 05:57] Huachao commented on #512
@mchelen I have supported this and will publish this in the next release

[2020-02-24 05:57] #512 closed

[2020-02-24 07:53] Huachao commented on #463
@gritcsenko what's your machine specification, e.g, CPU cores, memory?

[2020-02-24 14:25] gritcsenko commented on #463
![image](https://user-images.githubusercontent.com/211388/75160218-a4c48c80-56e7-11ea-9769-46608de04d02.png)
@Huachao

[2020-02-24 15:17] wmedali opened #529 "Import requests using swagger JSON"
Hello,
It would be cool to be able to import HTTP requests from Swagger JSON file.
This would reduce the requests implementation time and the errors that could be generated due to typos and will make requests build too fast.
I hope you implement this soon if you find it valuable.

[2020-02-25 17:23] MisLink commented on #422
Hi, I have the same issue.

It's very strange. In my some new projects, auto complete is broken:
<img width="430" alt="图片" src="https://user-images.githubusercontent.com/8280169/75270648-de0b1280-5835-11ea-82ea-10e65624712c.png">
But in a my old project it works.

I tried to rollback to 0.23.0 and 0.22.2, it still doesn't work. Then I found this issue, I tried to rollback to 0.22.0, it works.

[2020-02-26 06:48] Huachao commented on #422
@MisLink what's the language of your file?

[2020-02-26 06:57] MisLink commented on #422
Well.. which kind of language? My vscode language is zh-cn, http file's language is associated to http, all my projects are pure python..

[2020-02-26 07:06] Huachao commented on #422
@MisLink could you please check the output window of VSCode of the `REST` channel to see if any error message exists
![屏幕快照 2020-02-26 下午3 05 27](https://user-images.githubusercontent.com/2796177/75320394-860df380-58a9-11ea-8e80-4da94e962995.png)

[2020-02-26 07:15] MisLink commented on #422
@Huachao I changed the `"rest-client.logLevel"` to `verbose`, but there are not any messages while I trigger the suggest.

[2020-02-26 08:01] Huachao commented on #422
@MisLink Is your `.http` file a blank file, and did you try to type some characters to see the completion item list?

[2020-02-26 15:05] MisLink commented on #422
Nope, it's not blank, there are some requests created by snippets.

I think I found the difference: my old project has these workspace config about rest-client but new one hasn't:
[code]
Commenting these lines causes auto-complete to fail.
In my new project, add these line to workspace config:
[code]
auto-complete back to normal.

[2020-02-26 15:37] kjjgibson opened #530 "Does any request/response data get sent to any servers anywhere?"
When I perform requests using this add-on does any data about the request or response get sent to any Microsoft or third party servers?

(for example Postman syncs data about the requests and responses to their servers if you're logged in)

[2020-02-26 16:22] rithinskaria opened #531 "Unable to send request, getting read ECONNRESET"
Version: 1.42.1 (system setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

Rest Client : 0.23.1
Steps to Reproduce:

1. Calling an API gives read ECONNRESET

![image](https://user-images.githubusercontent.com/38252976/75364782-46afc900-58e2-11ea-8133-fc

[2020-02-26 23:05] JtMotoX commented on #265
Voting this up.  I have added `"rest-client.logLevel": "verbose"` but there is still nothing in the Output > REST pane.  If I make a POST with variables in the URL and json body, I want to see the actual request url, request headers, and request body that is made.  This is especially needed when you string multiple requests together.

[2020-02-27 02:09] Huachao commented on #530
@kjjgibson thanks for your question.  **No** request/response data will be sent to the Microsoft or 3rd party services. My extension will collect some usage data by default such as invoking commands(`Send Request` or `Save Response`), however, you can easily turn off this feature by setting `rest-client.enableTelemetry` to `false`.

[2020-02-27 02:09] #530 closed

[2020-02-27 04:40] timkinnane commented on #442
Hello and thanks for the great work, really appreciate this extension.

I have a very similar request. I need to include stringified JSON as a request variable from a file. I am using the extension to test a common GraphQL request, with a range of large string inputs. I'd like to keep the content in files so I can easily switch between them.

This could use the same syntax as importing request bod

[2020-02-27 07:12] Huachao commented on #531
@rithinskaria does retry work, or this error happens on other requests? Does rolllback to versions like 0.22.2 work?

[2020-02-27 10:33] kjjgibson commented on #530
Thanks for the answer!

[2020-02-27 10:58] markymark292 commented on #179
I too am wanting to move from Postman to this extension, but the "environment" and "globals" variable issue, is something that would be decisive for me.

I have flows and within each request, I extract a different reference and then use this to call the next request.

Not being able to do this using REST API would prevent me from making the plunge and going all in, leaving Postman behind.

[2020-02-28 09:41] hydrz commented on #464
@Huachao Great! I have verified it. It's really convenient now.Thanks.

[2020-02-28 15:14] jnorkus commented on #521
I am about to migrate from Postman. This is the only feature missing. I don't think running a local server would convince my team.

[2020-02-28 15:17] jnorkus commented on #209
This is currently the only thing preventing my migration from Postman.

[2020-02-28 18:50] RegalMedia opened #533 "Basic authentication encoding doesn't support empty password"
The two forms of basic authentication supported are:

[code]

In the first form, the result is automatically base64 encoded, in the second, it's assumed the value already is and no further encoding is performed.

There are certain API (namely, SonarQube) that support both user/pass or token to be passed via a basic auth header; however in Sonar's case, the token is passed in as the {{user}} and th

[2020-03-02 03:11] Huachao commented on #463
@gritcsenko How many requests written in your `.http` file?

[2020-03-02 13:24] gritcsenko commented on #463
@Huachao file contains ~40 requests

[2020-03-03 08:35] Huachao commented on #463
@gritcsenko so how do you workaround in this case normally?

[2020-03-03 11:40] gritcsenko commented on #463
So, top requests are logins
Next: mostly used
Last: just in case I need to check how service behaves rarely changing parameters

[2020-03-03 11:42] gritcsenko commented on #463
If VScode reports error I restart it. Usually it's helps

[2020-03-03 12:53] Huachao commented on #463
@gritcsenko How often do you meet this?

[2020-03-03 13:06] gritcsenko commented on #463
@Huachao very rare, actually

[2020-03-03 15:19] Huachao commented on #495
@dc-avasilev how many requests stored in your `.http` file and how often do you meet this problem,

[2020-03-03 15:20] mchelen commented on #512
Any chance of a new release being published soon? Really excited to have this feature available for our team!

[2020-03-03 15:24] Huachao commented on #512
@mchelen maybe some time this week

[2020-03-03 15:34] Huachao commented on #479
@mfulton26 @NearlyUnique sorry for the late reply, I am not sure if I totally understand your pain point, here I'd like to show you the two current offerings to help users to find out the **undefined** variables as following:
![屏幕快照 2020-03-03 下午11 27 25](https://user-images.githubusercontent.com/2796177/75791061-fd122300-5da6-11ea-9db9-89138ec11cd8.png)
One is the red break line under the **undef

[2020-03-03 16:07] jackbravo commented on #331
Oh nice! I didn't know you could paste and execute curl requests in the same file. I was going to create a new issue asking for the feature to allow pasting a curl request and reformatting with the rest client format.

As a first step, I think we should document this feature in the README.

[2020-03-03 20:54] pt-br-ca opened #534 "Hover peeking doesn't work for variables with hyphen"
- VSCode Version: 1.42.1
- OS Version: Windows 10
- REST Client Version: 0.23.1

Steps to Reproduce:

1. Create environment variable named "test-variable"
2. Create a .rest file and use the variable
3. Hover mouse over the variable
4. Tooltip/value does not show up

[2020-03-04 06:36] Huachao commented on #534
@pt-br-ca I have fixed this and will be published in the next release.

[2020-03-04 06:36] #534 closed

[2020-03-04 11:11] olivier-voutat opened #535 "Cookies Issue?"
- VSCode Version: 1.42.1
- OS Version: Windows 10 build 17763
- REST Client Version: 0.23.1

First of all, great job. Works like a charm (almost in all cases...)

I'm trying to send a Bearer Token to a Big-IP product from F5 Networks.

I'm receiving the following error message

"BIG-IP can not find session information in the request. This can happen because your browser restarted after an add-on w

[2020-03-04 13:10] Huachao commented on #535
@olivier-voutat does the service needs client-side provides some cookies, and how to acquire these cookies(like calling a login API)? Could you please also show me your outgoing HTTP request in your `.http` file? And can you work if you downgrade the extension to version 0.22.2?

[2020-03-04 15:15] olivier-voutat commented on #535
Tried with the version 0.22.2 - same result.

@response_type = code
@redirect_uri = https%3A%2F%2Fwww.assura.ch%2Ffr
@token = eyJhbGciOiJSUzI1NiIsImtpZCI6IjZCNDMzRDAzNzM3RTY0MjIzMkFGQ0Q3MDRDMzA0OTVFQkI0MzRGN0UiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJhME05QTNOLVpDSXlyODF3VERCSlhydERUMzQifQ.eyJuYmYiOjE1ODMzMzQ1MzYsImV4cCI6MTU4MzkzOTMzNiwiaXNzIjoiaHR0cHM6Ly9zdjE0MDYxLmNpZC5kb206NTQzNDEiLCJhdWQiOiJodHRwczovL3N2MTQ

[2020-03-04 16:36] Huachao commented on #535
@olivier-voutat could you please set the setting `rest-client.previewOption` to false to inspect the actual request

[2020-03-05 00:38] RegalMedia commented on #533
In SonarQube's case, the value that needs to be encoded is "{{token}}:"...your generated token plus the standard colon that separates a user and password.

Is the only way to trigger automatic encoding to provide {{user}} {{password}} separated by a space?

Might be nice to support this as well:

`Authorization: Basic {{user}}:{{password}}`

On one hand, it matches the format normally used--the co

[2020-03-05 08:15] Huachao commented on #533
@RegalMedia I have implemented this feature and will publish this in the next release.

[2020-03-05 08:17] #533 closed

[2020-03-05 09:36] dc-avasilev commented on #495
1. ~10
2. 1 time, in last two weeks, not often
3. idk, im QA not a programmer :)

[2020-03-05 13:55] olivier-voutat commented on #535
GET https://dev-cl-a.xxxxx.com/?response_type=code&client_id=6da6da68af847cae623aed7defc3000d3a450f0a41391f5d&redirect_uri=https%3A%2F%2Fwww.xxxxx.com%2Ffr HTTP/1.1
User-Agent: vscode-restclient
Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjZCNDMzRDAzNzM3RTY0MjIzMkFGQ0Q3MDRDMzA0OTVFQkI0MzRGN0UiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJhME05QTNOLVpDSXlyODF3VERCSlhydERUMzQifQ.eyJuYmYiOjE1ODM0MTY0MDAsImV4cCI6

[2020-03-05 14:28] olivier-voutat commented on #535
With Insomnia
Set-Cookie: LastMRH_Session=af7c08a3;path=/;secure;HttpOnly

[2020-03-05 18:35] venki-onmail opened #536 "Recommendation - Tabs"
Hello,

I really like the rest-client, it's very very handy for developers, I really appreciate the contributors for making such a wonderful plugin.
However, I would like to mention adding a feature for easiness. When the .http/.rest file is open in a tab I look forward to seeing the response in the same tab window instead of splitting the middle pane into 2 sections, it's very disturbing.

![imag

[2020-03-06 02:18] Huachao commented on #536
@venki-onmail this is already supported, you can achieve this by setting `rest-client.previewColumn` to `current`.

[2020-03-06 02:18] #536 closed

[2020-03-06 06:39] Huachao commented on #535
@olivier-voutat how does Insomnia acquire the `LastMRH_Session` cookie, from which API? Can you also show the request details in Insomnia from its **Timeline** panel

[2020-03-06 08:20] ChayimFriedman2 opened #537 "Be Able to Quickly Send Simple Request"
Sometimes you don't want to create a request file, etc. etc.. I'm suggesting that there'll be a simple command something like "Send a Simple GET Request" which will pop-up an input dialog for URL then send the request and display the response. Why only GET? because other request methods usually involve sending additional data, and are less common.

[2020-03-06 08:31] ChayimFriedman2 commented on #503
Duplicate of #521 but the other is more general.

[2020-03-06 08:42] Huachao commented on #537
@ChayimFriedman2 thanks for your suggestion, however, I think this is less common for us since in this case, we can only call anonymous **GET** APIs.

[2020-03-06 08:48] ChayimFriedman2 commented on #537
That's true, so?

[2020-03-06 08:50] Huachao commented on #537
@ChayimFriedman2 so I think currently we can move it into the *backlog* and wait for the community feedback.

[2020-03-06 08:52] Piean commented on #209
I need this feature badly, too. Is it in the plan?

[2020-03-06 08:54] Huachao commented on #209
@Piean still under investigation

[2020-03-06 08:59] jnorkus commented on #209
This PR solves it for me. Would it work in your case @Piean ?
https://github.com/Huachao/vscode-restclient/pull/532

[2020-03-06 09:06] Huachao commented on #209
@jnorkus I think it's still a bit different, PR #532 provides the ability that executes the `Shell` command, this issue mainly focuses on the ability that we can do some kind of custom works before request and/or after response. And this feature can even expose some JavaScript APIs for extension users to do what they want as other REST tools like `Postman`.

[2020-03-06 09:10] olivier-voutat commented on #535
The Insomnia TimeLine panel:

* Preparing request to https://dev-cl-a.xxxxxx.com/?response_type=code&client_id=6da6da68af847cae623aed7defc3000d3a450f0a41391f5d&redirect_uri=https%3A%2F%2Fwww.xxxxx.com%2Ffr
* Using libcurl/7.57.0-DEV OpenSSL/1.0.2o zlib/1.2.11 libssh2/1.7.0_DEV
* Current time is 2020-03-06T09:05:30.055Z
* Disable timeout
* Enable automatic URL encoding
* Disable SSL validation
* En

[2020-03-06 09:11] jnorkus commented on #209
I understand that @Huachao but the OP and possibly @Piean might solve their issue with my solution.
In my case I needed to generate an auth token and I thought a before script was the way to go. But $eval actually works fine and is much more simple.

[2020-03-06 09:20] Piean commented on #209
One of the parameters of my request is that it needs to be calculated by MD5 with other parameters.

[2020-03-06 09:28] jnorkus commented on #209
@Piean I don't have details on your use case and what exactly you need to do but this is what I currently use on my fork:

`"Authorization": "Bearer {{$eval node generate_token.js %token}}"`

`generate_token.js` is a custom node script that accepts an input (%token - read from vscode settings) and returns a generated auth token. Could something similar work for you?

[2020-03-06 09:40] ChayimFriedman2 commented on #478
I'm taking this issue.

[2020-03-06 11:53] ckihm commented on #339
@TechWatching I was able to call the Graph API. I created an Service Principal (App Registration) in my AAD Tenant and granted the needed Graph permissions to it with an admin consent. Now I am able to request an AT for my Service Principal and can use the Token to perform calls on the Graph API.

Depending on the API you want to request, you may be able to use the client credentials flow instead

[2020-03-06 14:10] WellspringCS commented on #129
FWIW, @HKochniss  found the fix for my situation, which was to enable codeLens. Thanks, @Huachao for this awesome tool, and thanks @HKochniss for sharing the solution to that particular problem.

[2020-03-06 21:48] ckihm commented on #209
@jnorkus Your solution is very close to what I am looking for, thank you very much!

What do you think about resolving file variables instead of vscode settings variables? This would provide more flexability. This might be useful in scenarios where you need to pass the result of an previous eval. You would still be able to assign a vscode setting to a file variable which in turn gets referenced in

[2020-03-07 01:33] Piean commented on #209
@jnorkus My case is different from yours, for example:
[code]
The "sign" is all of other parameters join by parameter name and value one by one, then MD5.
Your %token is a file variable, It is constant. But my inout for the expression is changed with request parameters

[2020-03-07 12:38] Roemer opened #539 "Incorrect header check message if the bearer is too long (more then 182)"
- VSCode Version: 1.42.1
- OS Version: Windows 10 1903
- REST Client Version: 0.23.1

Steps to Reproduce:

1. Create the following file:
[code]
2. Run the request, an `incorrect header check` pops up and no request is done.

What I've seen is that if I remove one character from the token (it was 183 length before, so now 182), then the request is fired but of course ends in unauthorized.

[2020-03-07 17:07] Huachao commented on #539
@Roemer could you please show me the error details in the REST channel under  output window of VSCode

[2020-03-07 18:55] Roemer commented on #539
Not much:
[code]

[2020-03-08 06:44] Huachao commented on #539
@Roemer I think it's not related to the token length, the cause should be that the received response with incorrect zip content, or the response body is plain text while the content-encoding header exists. Can you check the response with other tools like curl

[2020-03-08 10:38] Roemer commented on #539
The response headers for a successfull call look like:
[code]

[2020-03-08 16:15] Huachao commented on #539
@Roemer does it work if you add `Accept-Encoding: gzip ` in the request header

[2020-03-08 17:24] Roemer commented on #539
Gah I tried
`Accept-Encoding: gzip, deflate` yesterday which did not work (not sure if it should). Now with just  `Accept-Encoding: gzip` it works.

[2020-03-08 21:26] TechWatching commented on #339
Yes indeed this works fine :), but the original issue was more about using `$aadToken` mechanism.

[2020-03-08 23:53] tdhung80 opened #540 "Improve HttpResponseWebView to support tabular data"
Hi,

It would be great if there is a way to customize the response data visualization or allow to customize the response before rendering it.

My Bests,
Hung Tran

[2020-03-09 01:22] Huachao commented on #539
@Roemer that means the server side prefers deflate over gzip if client supports both. However, the deflated response doesn't follow the strict format of deflate, so it raises an error.

[2020-03-09 03:52] Huachao commented on #539
Related to sindresorhus/got#677, it's not the responsibility of the underlying http client package, it should be done by Node.js that be more lenient to an informal deflated response like browsers.

[2020-03-09 03:53] #539 closed

[2020-03-09 04:16] Huachao commented on #540
@tdhung80 what do you mean tabular data?

[2020-03-09 06:24] Roemer commented on #539
Thanks a lot for helping out! Keep up the usefull addon.

[2020-03-09 06:42] Huachao commented on #495
Duplicate of #463

[2020-03-09 06:42] #495 closed

[2020-03-09 08:39] Huachao commented on #512
@mchelen you can try this in the latest version 0.23.2

[2020-03-09 08:39] Huachao commented on #513
@dakaraphi you can try this in the latest verison 0.23.2.

[2020-03-09 08:39] Huachao commented on #502
@pke you can try this in the latest version 0.23.2

[2020-03-09 08:44] Huachao commented on #533
@RegalMedia you can try with the new format `Authorization: Basic {{username}}:` in the latest version 0.23.2

[2020-03-09 08:45] Huachao commented on #534
@pt-br-ca you can experience this in the latest version 0.23.2

[2020-03-09 08:47] Huachao commented on #507
@sstoychev you can verify this in the latest version 0.23.2

[2020-03-09 13:52] coolshijun opened #543 "URL including /http/ will throw error : Connection is being rejected"
- VSCode Version: 1.42.1
- OS Version: macOS 10.15.3
- REST Client Version: 0.23.2

Steps to Reproduce:

1. Accessing https://localhost/data/http will be successful
2. But if you append more like https://localhost/data/http/config, this will throw below error.

Connection is being rejected. The service isn’t running on the server, or incorrect proxy settings in vscode, or a firewall is blocking re

[2020-03-09 16:04] Huachao commented on #543
@coolshijun sounds strange, did you use some reverse proxy to reject specific path

[2020-03-09 20:38] dakaraphi commented on #513
@Huachao it is working.  Thanks!

[2020-03-10 02:08] coolshijun commented on #543
no, just local docker image, and as I described, the parent path can be accessed and if you have 'http/anything', it will throw this error, so I don't think it's related to environment.

[2020-03-10 02:09] Huachao commented on #543
@coolshijun what's your hosted web server for your web app and your web framework?

[2020-03-10 02:19] coolshijun commented on #543
just flask and connexion rest api, it's easy to reproduce, if you have any api like http://localhost/user/12345, and you can use http://localhost/user/12345/http to test, it will give you error message like user doen't exist, but at least the request is sent to the server to process, but if you have http://localhost/user/12345/http/test, this will trigger the error and the request never reach the

[2020-03-10 02:31] Huachao commented on #543
@coolshijun can you work with cURL?

[2020-03-10 02:34] coolshijun commented on #543
yes, same url can be accessed by cURL and postman even it will throw server error, but at least the request is sent to server, but use REST Client, the request is NOT sent to server at all.

[2020-03-10 07:24] Huachao commented on #543
@coolshijun could you please paste the curl command details with `-v` option in curl and help me to investigate? Thanks in advance.

[2020-03-10 07:44] coolshijun commented on #543
ok, I misunderstood your question,  I use "copy request as cURL" to see the details
for the working url like http://localhost/user/12345/http, you will see
curl --request GET \
  --url 'http://localhost/user/12345/http' \

bur for the call like http://localhost/user/12345/http/test, you will get empty url like

curl --request GET \
  --url '' \

So the transformation is going to be empty, I believ

[2020-03-10 08:33] Huachao commented on #543
@coolshijun nice catch, I have fixed the issue and will be published in the next release. The root cause is that the url contains `http` word which causes parse error.

[2020-03-10 08:33] #543 closed

[2020-03-10 08:35] coolshijun commented on #543
cool, thanks for quick response!!!

[2020-03-10 09:48] coolshijun opened #544 "Support #region #endregion for easy requests management in one file"
It's better to support # region name   ,     # endregion like other languages in VScode. I have many requests in one file, it's easy for me to fold other regions when I focus on just ONE region. Hope it's not that difficult, but really useful.

[2020-03-10 16:18] pke commented on #502
Works. Thanks for fixing it!

[2020-03-10 21:54] tdhung80 commented on #540
@Huachao I just need a way to customize the data visualization, a feature like Visualize API in Postman which i could provide a template or a render logic, MIME type is just text (application/json or application/xml). For example, https://learning.postman.com/docs/postman/sending-api-requests/visualizer/

[2020-03-11 07:33] Huachao commented on #337
@nathan-bardwell @mickeypearce @kiesner this is already supported. Since the type of environment variable value is **JSON** `string`, you should enclose them in the *double quotes* and escape the inside `"` as following:
[code]
To reference them, you can write following code in your request file:
[code]

[2020-03-11 07:33] #337 closed

[2020-03-11 07:34] Huachao commented on #544
Duplicate of #370

[2020-03-11 07:34] #544 closed

[2020-03-13 01:18] mfulton26 commented on #479
right, so for some requests I'll have some variable that will be unique for every single request, instead of defining the variable somewhere I'd rather get a pop-up window when I try to send the request asking me for the value of any variables in the request that are not defined, this way I can only temporarily define it for just that once when I send the request, the next time I click "Send Reque

[2020-03-13 09:47] Huachao commented on #543
@coolshijun as you wished. Thanks for your email
[rest-client-0.23.2.vsix.txt](https://github.com/Huachao/vscode-restclient/files/4328833/rest-client-0.23.2.vsix.txt)

[2020-03-13 12:23] zAndrey95 opened #545 "Context creation failed - graphql"
Hello, can you tell me

Have request:
`@authToken = {eyJraWQiOiIwN1Zj}

POST http://localhost:5000/graphql
Authorization: {{authToken}}
X-REQUEST-TYPE: GraphQL

query listProducts{
  fakturaAssist{
    listProducts{
      id
      name
      productNumber
    }
  }
}`

Getting an error:
`HTTP/1.1 500 Internal Server Error
content-type: application/json; charset=utf-8
access-control-allow-credentia

[2020-03-13 16:42] Huachao commented on #545
@zAndrey95 can you work with other tools, it seems that the error arises from some code like the following:
[code]

[2020-03-14 14:37] coolshijun commented on #543
Excellent! Thank you very much!

[2020-03-15 16:47] tdhung80 opened #546 "A way to specify a name the output windows"
Hi,

There is a setting called requestNameAsResponseTabTitle.

My expectation is showing responses in different tab by request name, I have tried many combination of settings but they are not working.

Also, we need to update RequestVariableDefinitionWithNameRegexFactory("\\\\w+", "m"), it should be RequestVariableDefinitionWithNameRegexFactory("^(?![0-9])[\\\\w^$-!]+", "m"), or the regex patterns

[2020-03-15 17:04] tdhung80 commented on #546
Hi,

There is a setting called requestNameAsResponseTabTitle, I have tried to enable it, but it seems to not work as expected.

My Bests,
Hung Tran

[2020-03-16 01:36] Huachao commented on #546
@tdhung80 only if the request has a name defined for it, the `"rest-client.requestNameAsResponseTabTitle": true` can work. And this setting can only work in the webview mode which means `"rest-client.previewResponseInUntitledDocument": false`.

And I don't know why you want to customize the request variable definition regex.

[2020-03-16 05:52] zAndrey95 commented on #545
@Huachao It worked for me if I wrote it like this:
`Authorization: JraWQiOiIwN1`

[2020-03-16 06:00] Huachao commented on #545
@zAndrey95 do you mean you if you write `Authorization` header with plain text, the request works, however if you use the **File Variable** syntax, it failed?

[2020-03-16 06:02] zAndrey95 commented on #545
@Huachao Yes

[2020-03-16 06:08] Huachao commented on #545
@zAndrey95 could you please paste the variable definition and request again with the markdown multi-line code fences block syntax **```http**  instead of **``**

[2020-03-16 06:34] zAndrey95 commented on #545
@Huachao I'm sorry I didn't understand you

[2020-03-16 06:47] Huachao commented on #545
@zAndrey95 could you please show me your request that not works for you

[2020-03-16 06:50] zAndrey95 commented on #545
@Huachao
Not work:
[code]

[2020-03-16 06:50] zAndrey95 commented on #545
@Huachao
Work:

[code]

[2020-03-16 07:19] Huachao commented on #545
@zAndrey95 could you also show me the `authToken` definition? BTW, if you can take a screenshot of the request and variable is appreciate

[2020-03-16 07:24] zAndrey95 commented on #545
@Huachao
![image](https://user-images.githubusercontent.com/35850949/76732665-ee911780-6767-11ea-8079-e628f31813f2.png)

[2020-03-16 07:26] zAndrey95 commented on #545
@Huachao
Work version:
![image](https://user-images.githubusercontent.com/35850949/76732761-1f714c80-6768-11ea-8d8f-f4df3a134fbb.png)

[2020-03-16 07:31] Huachao commented on #545
@zAndrey95 the `Work version` seems to contain the error response content?

[2020-03-16 07:34] zAndrey95 commented on #545
@Huachao sorry, sorry, sorry...
i edit the message

[2020-03-16 07:38] Huachao commented on #545
@zAndrey95 It seems that in the not-working version, the value of `authToken` is not the same as the inline one. The not-working one contains redundant `{` at the being of the value, please also check the end of the value to see if `}` exists.

[2020-03-17 08:06] moriW opened #549 "capitalize headers"
I figure that whatever I write
this client will capitalize my headers

could be someway to setting this feature?
just let user write them by hand?

[2020-03-17 08:10] Huachao commented on #549
@moriW how did you find that the outgoing request headers are captialized?

[2020-03-17 15:04] moriW commented on #549
sorry my bad
it's my server side problem

[2020-03-17 15:04] #549 closed

[2020-03-17 17:22] salvisbh opened #550 "excludeHostsForProxy - Variable should support trailing domain names"
Currently the proxy configuration only allows a "stupid" list of hostnames for which the communication should be established without a proxy.

Example:
[code]

Wildcards for domain suffixes do not seem to be possible. In large environments this means that for each subdomain or server an entry in settings.json must be explicitly added.

Lines 300 to 314 in [httpClient.ts](https://github.com/Huachao

[2020-03-18 08:06] Huachao commented on #545
@zAndrey95 any updates?

[2020-03-18 18:31] zAndrey95 commented on #545
@Huachao There is an opening { and closing }. This method does not work

[2020-03-19 01:18] Huachao commented on #545
@zAndrey95 I mean maybe you should remove the `{` and `}` in the file variable value. You can check the two screenshots you provided,  the worked version without `{` and `}`, the not-working one has

[2020-03-19 15:29] viT-1 commented on #430
Error text about the blank line in message box should be clear.

[2020-03-19 17:37] zAndrey95 commented on #545
@Huachao You are a great person and super support for the project! Good luck!
It worked, thanks!)

[2020-03-19 21:08] patrickhammond opened #551 "$guid parameter reported as not found in editor even though it executes/behaves correctly"
- REST Client Version: 0.23.2
- VSCode Version: 1.43.1
- OS Version: macOS Catalina 10.15.3

Steps to Reproduce:
1. Create a file named `example.rest` with the following content:
[code]
2. Notice that it reports `$guid is not found` even though the request will execute correctly.

![Screen Shot 2020-03-19 at 5 07 41 PM](https://user-images.githubusercontent.com/424944/77115141-2a480d80-6a04-11ea-9

[2020-03-20 01:17] #545 closed

[2020-03-20 01:46] Huachao commented on #551
@patrickhammond nice catch, this is a regression issue introduced in version 0.23.2, I have fixed it and will publish it in the next release.

[2020-03-20 01:46] #551 closed

[2020-03-20 04:52] Huachao commented on #550
@salvisbh one question, what's the setting of your setting `http.proxySupport`?

[2020-03-23 11:51] lorki opened #552 "post request occurs an error in basic authorize."
- REST Client Version: lastest
- VSCode Version: lastest
- OS Version: windows 10

Steps to Reproduce:

[code]
server ret:
[code]

In addition, using 'GET' is successful. Only can't 'POST'

[2020-03-23 16:12] Huachao commented on #552
@lorki it seems that you have an extra blank line between request line and body,  try to remove it

[2020-03-23 16:33] #552 closed

[2020-03-25 08:43] Huachao commented on #478
@mfulton26 thanks for the great work from @ChayimFriedman2 , this will be published in the next release with following syntax:
[code]
After clicking sending request, a warning message will be displayed.

[2020-03-25 08:43] #478 closed

[2020-03-26 23:33] sstoychev commented on #507
Yes, it is working. Sorry for the late reply

[2020-03-27 15:27] jnorkus commented on #237
I have this implemented in my fork (one line change) but I'm not sure it would get merged. I can share the code if anyone's interested.

[2020-03-29 05:36] tdhung80 commented on #546
Hi Huachao,

1/ The combination of those settings won't work, that keeps creating new tab for the same request and not reuse the panel with the same tab title.

2/ The reason is, the file name could contain these characters (! $ - ^), but that's now restricted by \\w+.

# @name ProductModel^Serial
# @name ProductModel-ProductCode-Serial

My Bests,
Hung Tran

[2020-03-29 11:14] eric-pfi opened #553 "Authorization token header not capitalized"
- REST Client Version: 0.23.2
- VSCode Version: 1.43.2
- OS Version: MacOS 10.14.6

Steps to Reproduce:

1. Make a request with "Authorization: Bearer Test"
2. Log the http headers received by the server. The application receives "authorization: Bearer Test". Note that the actual delivered header identifier starts with a lowercase 'a' rather than uppercase.

I recently took over responsibility for

[2020-03-29 13:35] eric-pfi commented on #553
I did some more searching, and found [this issue](https://github.com/zalando/connexion/issues/855) on another project. The explanation / comments there are useful. In particular, the citation of section 8.1.2 of the spec that says that header labels should be compared in a case-insensitive manner. My application currently does not support HTTP/2, but hopefully this is enough justification that I c

[2020-03-29 16:19] Huachao commented on #553
@eric-pfi HTTP request/response headers names case-insensitive doesn't only apply on the HTTP/2 case, but also applies to the HTTP/1.0 and HTTP/1.1 according to the original spec https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html. Back to our case, since VSCode extensions all build on the Node.js framework which will convert all the characters to lowercase The discussion is already locked sinc

[2020-03-29 16:19] #553 closed

[2020-03-30 02:42] Huachao commented on #546
@tdhung80 for question 1, you should make sure the `"rest-client.showResponseInDifferentTab": false`, it seems not possible that creating new tabs for each response. You should check the workspace setting and user settings. For question 2, I want the request name to be more restrictive.

[2020-03-31 13:32] xslim commented on #521
I need to apply encription / decryption for all requests, so pre&post JS processing would be awesome!

[2020-03-31 20:32] tdhung80 commented on #546
@Huachao

1/ Yes, that setting is set to false. According to the code "line 68-110 in httpResponseWebView.ts", it would reuse the last tab panel for all responses or create a new tab panel if not exist any when the setting is false, however the code should look up the **panels** collection and reuse the one with the same tabTitle aka requestName.

2/ Yes, could you add a new variable name called @

[2020-04-01 04:19] Huachao commented on #546
@tdhung80 I catch you, it's a nice suggestion and I will reopen this issue.

[2020-04-01 10:24] sohaha commented on #229
Is there any progress?
Sometimes switching between several editors can be painful.

[2020-04-01 12:04] Miuler commented on #229
Please add this feature

[2020-04-02 14:21] jeffreyschultz commented on #173
I would also like to vote for websocket support in this extension, or the creation of another. I really like how I can drop an .http file into the project right alongside the controller and provide quick access to related rest calls. That would be amazing for websockets as well.

[2020-04-03 09:46] RimiX2 commented on #521
It would be POSTMAN-killer feature!

[2020-04-03 15:24] LeCanardNoir opened #554 "The extension is realy great but, ... i can't run it"
It must be me but,...
Every thing work fine, except i can't run any POST resquest
The response are allways "Token Denied".

My resquest http code work fine in every application or other extension.

I hope the problem is my Noob coder fault.

But if some one can help me with this it would be appreciate.

Sorry for my english

[2020-04-03 17:25] Huachao commented on #554
@LeCanardNoir could you please show me your post request

[2020-04-04 23:41] pkshima opened #555 "Common Authorization line for all requests"
This is an awesome extension of productivity !!

But could you please make it possible to specify the security in a single place.
Currently, I have to add an extra line after each request line. For eg.

###
GET {{baseUrl}}/abc/xyz/
Authorization: Bearer {{jwtstring}}

###
GET {{baseUrl}}/abc/xyz/dejkde
Authorization: Bearer {{jwtstring}}

###
GET {{baseUrl}}/abc/xyz/jkdewjfk
Authorization: Bearer

[2020-04-06 15:31] LiuCaiHe commented on #209
@Huachao When will this feature be released. I wish I could have used this feature earlier.

[2020-04-06 15:38] dufferzafar opened #556 "Per file request headers"
I have a header that goes with every request in a file.

[code]

Currently, I'm using a variable to store the token, but I still need to this line after each request.

[code]

Like, per file variables, is there a way to have per file headers?

[2020-04-06 15:40] dufferzafar commented on #556
I'll be closing this, because the last issue #555 also describes the SAME problem! This just goes on to show that people do want this!

[2020-04-06 15:40] #556 closed

[2020-04-06 15:48] mburleigh opened #557 "Expose API that other extensions can call"
Would you be open to some refactoring of the REST Client code to expose an API that other extensions could consume (https://code.visualstudio.com/api/references/vscode-api#extensions)? I think the changes would be primarily in the RequestController class. If you are ok with this I can give the refactoring a try.

[2020-04-07 11:58] olivier-voutat commented on #535
No solution?

[2020-04-07 12:01] Huachao commented on #535
@olivier-voutat in your insomnia example, there was a cookie in the request

[2020-04-07 15:07] floydpink commented on #271
+1

[2020-04-08 06:14] olivier-voutat commented on #535
@Huachao thank you for your response, but I did not have to set in Imsonia any cookie. It is a default option? How could I reproduce it with your extension?

[2020-04-08 07:04] Huachao commented on #535
@olivier-voutat can you show me your response after setting `"rest-client.followredirect": false`

[2020-04-08 08:04] olivier-voutat commented on #535
GET https://dev-cl-a.xxxxx.com/?response_type=code&client_id=6da6da68af847cae623aed7defc3000d3a450f0a41391f5d&redirect_uri=https%3A%2F%2Fwww.xxxxxxx.com%2Ffr HTTP/1.1
User-Agent: vscode-restclient
Authorization: Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjZCNDMzRDAzNzM3RTY0MjIzMkFGQ0Q3MDRDMzA0OTVFQkI0MzRGN0UiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJhME05QTNOLVpDSXlyODF3VERCSlhydERUMzQifQ.eyJuYmYiOjE1ODYzMzI4NjQsImV4cC

[2020-04-08 08:47] Huachao commented on #535
@olivier-voutat did you try to send the request after upgrading the extension to 0.23.2?

[2020-04-08 14:45] olivier-voutat commented on #535
yes, I'm using version 0.23.2

[2020-04-08 15:01] olivier-voutat commented on #535
oh, yes. You're right. I'm not having the error anymore. Sorry. But, something is missing in the timeline. I'm checking.

[2020-04-08 15:04] olivier-voutat commented on #535
I have only the final HTTP/1.1 200 OK data. In the timeline I don't have the information about the HTTP/1.0 302 Found

[2020-04-08 15:20] Huachao commented on #535
@olivier-voutat do you mean it works now?

[2020-04-08 16:00] olivier-voutat commented on #535
Yes, but intermediary information in the time-line is missing.

[2020-04-08 16:27] robermorales commented on #521
Yeah I would also like to have some scripting abilities.

[2020-04-08 16:30] robermorales commented on #521
At least, some more complex variable processing to cover most of cases: like replacing only a substring of a variable, things like that. Some "templating" abilities can be enough.

[2020-04-08 23:46] Huachao commented on #535
Do you mean the timeline information missing in my extension?

[2020-04-09 01:28] uncmiracle opened #558 "cURL command fails in Windows CMD console"
- REST Client Version: 0.23.2
- VSCode Version: 1.43.2
- OS Version: Windows 10

Steps to Reproduce:

1. create a request:
[code]
2. "Copy Request as cURL"
3. paste command in Windows CMD window and run
4. command fails with error
[code]

Same command works fine in linux bash. Manually changing apostrophe ' to quotation mark " will fix it for Windows CMD console.

[2020-04-09 01:34] #535 closed

[2020-04-09 02:32] Huachao commented on #558
@uncmiracle nice catch, this is related to the underlying code snippet generate library Kong/httpsnippet#115. Currrently, you have to manually replace single quote with double quote or switch to Powershell.

[2020-04-09 06:34] olivier-voutat commented on #535
In Insomnia, I have this information in the timeline, but with your actual version, I don't have it.

< HTTP/1.1 302 Found
< Content-Length: 0
< Location: https://www.xxxxxx.com/fr?code=fa51b351787f0ad49f11bf1717d47d6b09ba56943ffaa9763c104e98bfb528e8
< Content-Type: application/json; charset=UTF-8
< Cache-Control: no-store
< Pragma: no-cache
< Connection: Close

[2020-04-09 06:38] Huachao commented on #535
@olivier-voutat redirections are not displayed in my extensions

[2020-04-09 08:57] RicardoNiepel opened #559 "aadToken not being used / logs empty"
- REST Client Version: 0.23.2
- VSCode Version: 1.44.0
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Open User Settings
2. go to "Extensions > REST Client > Log Level"
3. change it from "error" to "verbose"
4. execute query with {{aadToken}}
5. follow steps

**after clicking on "Done" nothing happens and logs are empty**
- Output / REST empty
- Output / Log (Window) empty

6. if

[2020-04-09 09:51] olivier-voutat commented on #535
annoying because what I really need to extract is the code parameter in the redirection. Postman doesn't give it to me either. Only Insominia.

[2020-04-09 16:05] dufferzafar commented on #315
@Huachao What is the default way that Rest Client displays the response?

I'm guessing we could replace that view with the [WebView API](https://code.visualstudio.com/api/extension-guides/webview) and things would work?

[2020-04-10 00:14] Huachao commented on #315
@dufferzafar actually the extension is built on the WebView API, however, I just treat all the response body as the code text that inserted into the `<pre><code>` HTML tag

[2020-04-10 00:18] Huachao commented on #535
@olivier-voutat similar with #221 , I think the case makes sense

[2020-04-10 00:19] Huachao commented on #559
@RicardoNiepel could you please provide the request?

[2020-04-10 08:00] dufferzafar commented on #315
Okay. Can you please point me to where this actually happens in the code? I'll see what changes we'd have to make to get the full previews working in the webview.

[2020-04-10 08:07] Huachao commented on #315
@actually this is by design since normally we want to view the actual response, I think we can add an option to render the HTML response instead of raw data.  https://github.com/Huachao/vscode-restclient/blob/666180c9aad50083477f246abc16489848d8051c/src/views/httpResponseWebview.ts#L188-L227

[2020-04-15 08:52] bogem commented on #448
I also really need this feature to debug requests. This could save a lot of time.

[2020-04-16 19:22] NickClark commented on #521
It would be handy, for JSON, to have a [`jq`](https://stedolan.github.io/jq/) style post filter ability.

[2020-04-17 15:31] kildarr opened #561 "HAR file"
Is the har file generated?  If so where is it?

If it is not generated can it be?

Example:

{
  "log" : {
    "version" : "1.2",
    "pages" : [ ],
    "entries" : [ {
      "startedDateTime" : "2020-04-17T15:28:27.331Z",
      "request" : {
        "method" : "GET",
        "url" : "https://XXXXXXX-configurations.cloudhub.io/v1/clients/8c9c26a9-3648-48ac-88b9-5545fce2261b/environments",

[2020-04-17 15:32] kildarr opened #562 "File based variables"
I need the ability to reference variables in files of my choosing.

[2020-04-17 18:28] rohitkrishna094 opened #563 "Is there a way to import saved requests from postman?"
Is there a way to import postman collections into .http files so we can use them in vscode-restclient?

Thanks

[2020-04-18 02:47] Huachao commented on #562
Duplicate of #182

[2020-04-18 02:47] #562 closed

[2020-04-18 02:49] Huachao commented on #563
@rohitkrishna094 nice suggestion, I am considering the feature that supports importing requests of postman, swagger and HAR format.

[2020-04-18 02:49] Huachao commented on #561
@kildarr  nice suggestion, I am considering the feature that supports importing requests of postman, swagger and HAR format.

[2020-04-18 02:49] Huachao commented on #529
@wmedali  nice suggestion, I am considering the feature that supports importing requests of postman, swagger and HAR format.

[2020-04-18 07:11] rainbow2019s opened #564 "Response return utf-8 chars how to display chinese fonts"

[2020-04-18 09:32] Huachao commented on #564
@rainbow2019s could you please provide the actual response received in my extension, especially the `Content-Type` header in response?

[2020-04-18 12:19] tonnyyi commented on #564
@rainbow2019s  There is a configuration item called "Decode Escaped Unicode Characters". May it's what you want  😊

[2020-04-18 12:32] Huachao commented on #564
@tonnyyi where is this configuration in my extension?

[2020-04-18 12:51] quammy commented on #539
I'm bumping the same issue. Tried to follow the related issues but got lost. Can you please share if there is a valid solution for this issue and what it is?
thanks!

[2020-04-18 12:56] Huachao commented on #539
@quammy this should work for you

[2020-04-18 12:58] Huachao commented on #564
@rainbow2019s thanks for @tonnyyi , you can try it and if it works for you

[2020-04-18 13:42] quammy commented on #539
@Huachao yep! Sorry for missing that... Thanks for your quick reply and for a great extension!
Cheers.

[2020-04-20 09:45] Huachao commented on #564
@rainbow2019s I'd like to close it and pls feel free to reopen it if still not working

[2020-04-20 09:45] #564 closed

[2020-04-20 13:35] victorbernardino opened #565 "Evaluate variables in the response body property for next request"
For example:
###
# @name firstRequest
GET http://hey.org

@randomValue = {{$randomInt 0 100}}

###
# @name secondRequest
POST http://hey.org

{
   "hey": "{firstRequest.response.body.responseList[{{randomValue}}]}}"
}

or

{
   "hey": "{firstRequest.response.body.responseList[{{$randomInt 0 100}}]}}"
}

[2020-04-20 15:10] kildarr commented on #561
Actually what I'm asking for is to produce the HAR file for viewing or
export.

{
  "log" : {
    "version" : "1.2",
    "pages" : [ ],
    "entries" : [ {
      "startedDateTime" : "2020-04-20T15:00:50.755Z",
      "request" : {
        "method" : "GET",
        "url" : "
https://xxxxxxxxxxxxxxxxxxxxxxxxxx/v1/clients/8c9c26a9-3648-48ac-88b9-5545fce2261b/environments
",
        "httpVersion" : "",

[2020-04-20 15:55] Huachao commented on #561
Another feature, sorry for the misunderstanding

[2020-04-21 05:46] jeffryang24 commented on #494
Also it could be good if we can chain $shared variable, for example: :bow:

[code]

[2020-04-21 08:00] aodiquan opened #566 "触发请求报SSL错误"
- REST Client Version: 0.23.2
- VSCode Version: 1.44.2
- OS Version: win7 64位

Steps to Reproduce:

触发请求弹出这个错误
![image](https://user-images.githubusercontent.com/4469766/79840759-f2f4c400-83e8-11ea-8b71-ed23c8b69897.png)
之前是好的，不确定是不是更新了vscode导致的

[2020-04-21 09:31] Huachao commented on #566
@aodiquan in which `VSCode` and `vscode-restclient` versions can you work?

[2020-04-22 01:52] aodiquan commented on #566
`vscode` 1.30.1 `vscode-restclient` 0.21.2 可以，
`vscode` 1.44.2 `vscode-restclient` 0.21.2 不行，应该是vscode新版本加了某些限制

[2020-04-22 01:56] Huachao commented on #566
@aodiquan I guess it's related to VSCode upgrades the Electron version from version 4 to version 7, which internally replace the internal SSL module with BoringSSL.

[2020-04-22 03:34] marvel00000 opened #567 "multipart/form-data request, return CSRF verification failed"
- REST Client Version:0.22.2
- VSCode Version:1.37.0
- OS Version:win10

Steps to Reproduce:

1.I seed a 'multipart/form-data request' request (do't contains file part),the server return 'CSRF verification';
 request info is :
![image](https://user-images.githubusercontent.com/16677459/79937445-75828f80-848c-11ea-979e-5b896302f9ef.png)

 response info is:
![image](https://user-images.githubusercon

[2020-04-22 06:51] Huachao commented on #567
Can you show me your actual request without sensitive information?

[2020-04-24 07:05] luistrigueiros opened #568 "Ability to create variables dynamically ?"
Hi

Is it possible to create a variable dynamically based on parsing the response body of a request ?
The context is this I need to call a bunch of API's in my HTTP script's but these API's are secured by one access token that needs to be obtained from another API call and once obtained it is valid for one hour.
I had a look at the documentation and it did not found a way to implement this use cas

[2020-04-24 07:17] Huachao commented on #568
@luistrigueiros this is not supported in my extension

[2020-04-24 08:04] ilog2000 opened #569 "POST with Basic authentication does not work"
- REST Client Version: 0.23.2
- VSCode Version: 1.44.2
- OS Version: Windows 10 1909

Steps to Reproduce:

[code]
Authorization header is missing in request. The same if I use colon. Only directly generated outside base64 string works

[2020-04-24 09:28] ilog2000 commented on #569
UPDATE: Sorry, not completely correct bug report. Request works, the issue is that Authorization header is not shown in request-response window when internal base64 encoding applied.

[2020-04-24 09:39] Huachao commented on #569
@ilog2000 this is by design currently, since we pass this directly to Node.js and remove the `Authorization` header in your request, and Node.js will be responsible for re-generating it again. However, I can't retrieve it from this info again.  The request-response window will only display the request headers that the extension sends to Node.js.

[2020-04-24 09:39] #569 closed

[2020-04-25 08:11] luistrigueiros commented on #303
This is something I also need, and maybe a simple solution to import one script from another would be nice to create test suites that combine share the common logic of obtaining the token .

[2020-04-25 11:42] willishq opened #570 "Referencing requests from different files"
I have seen an issue regarding the adding `before` functionality, which I believe is a great idea.

I am currently wondering if it would be or is possible to access response data from named requests in different .rest files? Maybe something like (given the files `auth.rest` and `posts.rest`, and this being in the `posts.rest` file)

[code]

Is there scope for file-wide `before` functionality?

Are

[2020-04-25 18:52] tusharsarang opened #571 "Q&A | Help Needed | on understanding using `JWT token`"
Hi :)

I have a django+drf+python backend
I have `base_url` stored in my settings file under
[code]

I need help on two issue:
1 ) I couldn't figure out how to update the `token` in my env
2) Secondly, say am using fileVariable am i doing it right
`@token = JWT {{userLogin.response.body.*.token}}`
tried `$` instead too and once without either $ or *

am missing somthing here ?

Thanking in advance

[2020-04-25 18:59] #571 closed

[2020-04-25 19:00] tusharsarang commented on #571
Sorry my bad!

put a `@name =`
[code]

[2020-04-26 10:29] reob-info opened #572 "Cursor in VSCode disappear after execute a request"
- REST Client Version:0.23.2
- VSCode Version:1.44.2
- OS Version:Ubuntu 18.04

Steps to Reproduce:

1. Select a command to run
2. Run the command with ctrl-alt-r

After  run the command, the cursor disappear from the selected line.
I need to execute many commands in a certain time, but it is impossible having to click again over the file after execute each command.
Appear that it is related with

[2020-04-27 03:23] Huachao commented on #572
@reob-info Set `"rest-client.previewResponsePanelTakeFocus": false` in your settings should work for you.

[2020-04-27 03:23] #572 closed

[2020-04-27 06:22] marvel00000 commented on #567
sorry，this ip is local network,can't ping it in out area。 So，i close the issue,when have this problem next time,i while commit a new issue。a

[2020-04-27 06:22] #567 closed

[2020-04-27 08:19] CodingPapi opened #573 "[Remote-SSH]Installed on remote server but request still sent from local host"
Hi, I install your plugin on remote server but http request still sent from local host.
I started a rest api server on remote linux, and fire a request to an address like 127.0.0.1:8000.It cannot complete this request successful

[2020-04-27 10:54] reob-info commented on #572
Thanks.

[2020-04-27 12:37] Huachao commented on #573
@CodingPapi can you confirm my exntension is installed on remote server by using the **Developer: Show Running Extensions** command to see whether VS Code is running the extension locally or remotely

[2020-04-27 14:03] erichiller opened #574 "Add syntax highlighting to markdown with `http` language"
Proposed new feature is to add highlighting to Markdown files. Like:

[code]
note: that it's a triple backtick code block.

I've already modified the extension locally to enable this feature, let me know if you'd accept a pull request?

[2020-04-27 14:47] Huachao commented on #574
Sure, any PR is welcomed

[2020-04-27 15:33] vaclavbenes commented on #523
I have same problem on macOs Catalina `10.15.3` with version 0.23.2

![Screenshot 2020-04-27 at 17 32 40](https://user-images.githubusercontent.com/25709267/80390726-1ddd8d00-88ad-11ea-9a03-606acdeb84cc.png)

and curl works
[code]

[2020-04-27 15:36] Huachao commented on #523
@vaclavbenes can you work with tools like Postman?

[2020-04-28 10:13] vaclavbenes commented on #523
@Huachao. Yes I can. Problem is not in curl or Postman. They work fine.
I thought its related to firewall, but i can send POST from `curl` or `postman` . I ve tried different versions of client. its same behaviour.

[2020-04-28 10:41] Huachao commented on #523
@vaclavbenes how can I setup a test environment like you?

[2020-04-28 10:47] vaclavbenes commented on #523
**vscode version**
Version: 1.45.0-insider
Commit: abb4a35cfc26102f93fd00df7b59ce1a19c2017a
Date: 2020-04-28T05:34:21.109Z (5 hrs ago)
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

my server

[code]

install deno https://deno.land/
run with `deno -A example.ts`

curl command
[code]

[2020-04-28 14:48] Huachao commented on #523
@vaclavbenes I can't repro with your deno example, can you check your settings in VSCode like `http.proxy`?

[2020-04-28 14:48] Huachao commented on #523
@vaclavbenes I can't repro with your deno example, can you check your settings in VSCode like `http.proxy`?

[2020-04-28 14:48] Huachao commented on #523
@vaclavbenes I can't repro with your deno example, can you check your settings in VSCode like `http.proxy`?

[2020-04-28 15:59] brianbourke75 commented on #15
+1

[2020-04-28 16:49] collegeimprovements opened #575 "Graphql autocomplete support"
Once we have setup/defined the endpoint, it would be really nice to get autocomplete support for queries just like most graphiql clients. They do it with graphql-introspection.

[2020-04-28 16:51] collegeimprovements opened #576 "x-request type: rest header in order to make graphql request as default."
Almost all the request we make are `graphql` requests.
Is it possible to set `X-REQUEST-TYPE: GraphQL` as default and set `X-REQUEST-TYPE: REST` only when we are making rest calls ?

[2020-04-29 02:51] Huachao commented on #576
@collegeimprovements I have fixed this and you can use default headers in setting
[code]
You can expect this in the next release.

[2020-04-29 02:51] #576 closed

[2020-04-29 16:12] mfulton26 commented on #375
I would love to see formatting support too, request bodies could be formatted using whatever MIME type is found in the `Content-Type` header. That way people can write JSON, XML, etc. and get auto-indentation when formatting. GraphQL formatting would be great too. I imagine this extension wouldn't have to write formatting for all those but just wire up delegation to VSCode to format subsections of

[2020-04-29 20:33] mfulton26 opened #577 ""application/graphql" Content-Type header support"
From [Serving over HTTP | GraphQL](https://graphql.org/learn/serving-over-http/):

this would be, IMO, a great alternative to needing to specify `x-request-type: GraphQL`

[2020-04-30 01:31] Huachao commented on #577
@mfulton26 I think this is supported natively. The reason we need users to specify the `x-request-type: GraphQL` header, is that they need some extra processing for the normal GraphQL query to be compatible with the `Content-Type: application/json`. We need some hints to know if we need to do some extra processing for request body tagged with `application/json`. You can try the `application/graphq

[2020-04-30 01:31] #577 closed

[2020-04-30 11:27] vaclavbenes commented on #523
@Huachao  its strange , i removed all settings from user-settings and its no working.

[2020-04-30 11:29] vaclavbenes commented on #523
[code]

[2020-04-30 11:51] vaclavbenes commented on #523
I did progress. Plugin works with node-js express example, but not working with deno server example. I move to https://github.com/drashland/deno-drash

[2020-04-30 15:48] erfanium opened #578 "Dynamic envs | set env var by HTTP response"
In Postman, I can set a environment-variable by HTTP response ,JSON response by adding these codes to Tests.
[code]
Can I do like this in REST-CLIENT?

[2020-05-01 14:03] 0x49D1 commented on #444
This really would be nice: run selected or run all in the file. For example now I'm testing the REST API using the client and just need to run all and recheck the results.

[2020-05-02 01:15] tdhung80 opened #579 "variables are not resolved in defaultHeaders"
- REST Client Version: 0.23.2
- VSCode Version: 1.42.1
- OS Version: Windows 10 64-bit

Steps to Reproduce:

"rest-client.defaultHeaders": {
    "SecretKey": "{{$processEnv SERVER_SECRET_KEY}}"
  }

SecretKey is not replaced when a request is sent

[2020-05-02 01:22] tdhung80 commented on #565
@victorbernardino it's supported

@token = {{requestName.(response|request).(body|headers).(*|JSONPath|XPath|Header Name)}}

[2020-05-02 01:25] tdhung80 commented on #568
@luistrigueiros have you tried to extract the access token from the response of authentication request?

@token =  {{requestName.(response|request).(body|headers).(*|JSONPath|XPath|Header Name)}}

[2020-05-02 01:26] tdhung80 commented on #578
@erfanium you could set it into a named variable

@code = {{requestName.response.body.$.code

[2020-05-02 03:15] CodingPapi commented on #573
@Huachao I can see that REST Client is running remotely in the result

[2020-05-02 08:53] Huachao commented on #573
@CodingPapi so it may be other reason that request fails, could you check your request again and ensure the endpoint really works

[2020-05-02 14:00] CodingPapi commented on #573
@Huachao I running a restapi server in a linux server, and using vscode remotessh plugin on this server. Let's say it's IP is a.b.c.d. I send a post request using http://127.0.0.1:8080/xxxxx with restclient running in remote, it returns 403 forbidden. After change it to http://a.b.c.d:8080/xxxxx it works well.
curl --request GET  --url http://127.0.0.1:8801/xxxxx  also works well on remote server

[2020-05-02 16:12] Huachao commented on #573
@CodingPapi what confused me is that your curl example with `127.0.0.1` is a `GET` request while the HTTP message request is of `POST`, can you try it in the same scenario?

[2020-05-03 06:18] khayong opened #580 "SSL error in Remote Container"
- REST Client Version: 0.23.2
- VSCode Version: 1.44.2
- OS Version: macOS Catalina Version: 10.15.4

Steps to Reproduce:

Sending the request to the url https://api-fxpractice.oanda.com/v3/accounts in the Remote Container Python 3 - Anaconda prompt error as in the screenshot.

![image](https://user-images.githubusercontent.com/1212375/80907228-e9078500-8d47-11ea-955e-a8dfa4b1dd8a.png)

[2020-05-03 08:18] CodingPapi commented on #573
@Huachao Post or Get both fail, Just an example to clear my situation in my previous comment

[2020-05-04 00:36] Huachao commented on #573
@CodingPapi could you please show me  your 403 response

[2020-05-04 22:07] satyakvv opened #581 "JSON body params not recognized"
I have the following REST API to try in VS Code REST client.
It returns the error "AADSTS900144: The request body must contain the following parameter: 'grant_type'" .
I looks like the grant_type json element is not passed to the server. The same request works fine in Postman.

###======== HTTP request below =======
POST https://accounts.accesscontrol.windows.net/<tenantid>/tokens/OAuth/2  HTTP/1.

[2020-05-05 01:50] albertjone opened #582 "slant is escaped by back-slant in response which might not be readable"
- REST Client Version: 0.23.0
- VSCode Version: 1.44.1
- OS Version: mac os 10.15.4

Steps to Reproduce:

1. try this
 ###
GET http://blog.dawncreat.com/wp-json/jwt-auth/v1
2. you got unexpected response

and expected may be

[2020-05-05 08:03] CodingPapi commented on #573
@Huachao
I figure this out, I set a http proxy in user side of vscode, and our proxy server allow accessing  127.0.0.1 from it.
But I have another question: I set the proxy in user side, not in remote side. as your plugin working in remote , how this proxy affect your plugin?

Anyway, thank you for you efforts investigating this issue, I will close this

[2020-05-05 08:03] #573 closed

[2020-05-05 12:17] liuwangchen commented on #375
英雄所见略同

[2020-05-06 01:43] Huachao commented on #582
@albertjone my extension doesn't do any modifications to the response body content when previewing the response. So the backslash character will be left as is. I will leave this issue open and collect more community feedback.

[2020-05-07 03:08] sleepreading opened #583 "open a new .http file, don't put it along with the response tab"
please make every http file open on the same side , even the focus on the response
![11](https://user-images.githubusercontent.com/7484631/81250272-1bb8c280-9053-11ea-929d-431707129951.png)
 tab!

[2020-05-08 15:38] cilerler opened #584 "Space in URL causes wrong colorization"
REST Client Version: 0.23.2
Version: 1.44.2 (system setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. copy the following snippet into a `.HTTP` file
[code]

![image](https://user-images.githubusercontent.com/385958/81421729-ede

[2020-05-08 15:47] cedx commented on #420
This issue is still here with VSCode 1.45.0 in Windows 10 (x64) with REST Client 0.23.2.

[2020-05-08 23:37] Huachao commented on #420
@cedx I can't repro your case, could you please double-check the defined shared environment variables in your settings and the referenced variable name in your `.http` file?

[2020-05-09 03:51] Huachao commented on #584
@cilerler I have fixed this issue and will publish it in the next release.

[2020-05-09 03:51] #584 closed

[2020-05-09 14:43] tonn opened #585 "Define default headers in .http file"
So we will can use data from response to define authorization header for all other request
And have different defaultHeaders in different .http-files

[2020-05-09 23:22] intoku commented on #430
Exactly @viT-1  - The error is so vague, took me lot of time to find this out - Just a simple notification error would help many users;

[2020-05-11 03:22] secsilm commented on #581
Same. Here is my workaround.

[code]

[2020-05-11 03:58] Huachao commented on #581
@satyakvv

There is an extra `/` in your request URL, could you please try again after removing it?

[2020-05-11 04:50] Huachao commented on #581
@secsilm what's your problem when you use your original way?

[2020-05-11 04:51] Huachao commented on #585
Duplicate of #148

[2020-05-11 04:51] #585 closed

[2020-05-11 06:47] tonn commented on #148
This doesn't work for me
![image](https://user-images.githubusercontent.com/166351/81531893-9136d280-9374-11ea-9d82-2dce6bff462d.png)

[2020-05-11 07:08] tonn commented on #148
This solution is quite enough for me. But this information should be in the documentation.
Thank you.

[2020-05-11 07:09] Huachao commented on #148
@tonn is your OS Windows-based if so, replace `\n` with `\r\n`

[2020-05-11 09:34] tonn commented on #148
Yes. The problem was in it.

[2020-05-11 14:52] cvburgess commented on #229
This would be great for our team that's split between PyCharm and VSCode - is there any way we can help out? Would a draft PR be helpful or does this need more architectural thought before code can be written?

[2020-05-12 04:03] secsilm commented on #581
Backend got empty request body. But now it worked using my original way. Maybe there were some mistakes.

Thanks.

[2020-05-12 08:38] #281 closed

[2020-05-12 08:50] Huachao commented on #281
@peterquirk @jspronk @serverlesspolska @jimmcslim @buggy @DJPorv @CasperSkydt  @virtuoushub @rdt712 @sopel @mgresko @xBrux with the great PR #586 from @sebastian-fredriksson-bernholtz my extension will support the AWS Signature v4 auth scheme out of the box in the next release. One sample request looks like the following:
[code]

You can check out the docs for more details https://github.com/Huach

[2020-05-12 09:31] serverlesspolska commented on #281
That's really cool. Is it possible to refer `accessKey` and `secretAccessKey` from outside file somehow?
Having those in the source code is a bad practice as it is easy to commit them into a git repository.

I think the best would be to refer to any profile defined in `.aws/credentials` file.
[code]

[2020-05-12 09:38] Huachao commented on #281
@serverlesspolska my extension supports reading dynamic variables outside VSCode mainly in two ways:

- Use `$processEnv` system variable, which reads exported shell environment variables like `Authorization: {{$processEnv AWS_ACCESS_KEY}} {{$processEnv AWS_SECRET_KEY}}`, you just need to export `AWS_ACCESS_KEY` and `AWS_SECRET_KEY`
- Use `$dotenv` system variable which reads the value stored in t

[2020-05-12 09:59] serverlesspolska commented on #281
Every day you learn something new! 😂

That will do it!

By the way. I really ❤️ your extension and recommend it to people who I teach how to write serverless apps.

Thanks & good luck @Huachao 😀👍

[2020-05-12 14:01] jspronk commented on #281
This is great news!  Any word on when the next release will GA?

Thank you!

[2020-05-12 19:08] svrooij opened #587 "Copy url"
I use this extension a lot and found myself generate the curl code, then copy the url (with all the parameters filled in) and them open it in the browser.

It would be really nice if there was an option to copy the filled in url from the context menu (where it also says copy curl)

[2020-05-13 02:05] Huachao commented on #587
@svrooij Hmm, I don't quite understand what you want 😞 . Do you mean you need to convert the HTTP request in the editor to its corresponding cURL command format? If so, it's already supported in the context menu as `Copy Request As cURL`

[2020-05-13 02:09] Huachao commented on #281
@jspronk maybe late this month

[2020-05-13 06:06] svrooij commented on #587
I'm using all kind of parameters in the url, like
`https://{{subdomain}}.something.com/test?ts={{timestamp}}`.

And I would like a **copy Url** in the context menu, where it would copy
`https://test.something.com/test?ts=153028492`

So that it creates the complete url with all the used parameters filled in.

Now I use the Copy Curl step for this and then copy the url from the curl script.

[2020-05-13 06:14] 0123cf commented on #566
我也遇到这个问题，这个是微信转码的问题，160的空格无法被识别，我写了一个在线转码网站，你可以看一下

http://cjyykt.com/wechatSpaceConvert.html

[2020-05-13 06:33] Huachao commented on #587
@svrooij Ahh got it. It seems you need the feature described in #448

[2020-05-14 09:40] aodiquan commented on #566
试了下不行，应该不是这个问题，相同的文件我用老版本vscode没问题

[2020-05-15 13:02] shadabtamboli opened #588 "Query string parameters not accepting variables as values"
Can variables be added as values for query string parameters? It doesn't seem to be working.

https://{{host}}/employees/report?startDate={{@startDate}}&endDate={{endDate}}

[2020-05-16 06:38] Huachao commented on #588
@shadabtamboli do you mean the `startDate` variable not working, it seems you add a redundant leading `@` before `startDate`

[2020-05-19 16:42] reganheath opened #589 "Composite variables"
I would like to be able to compose variables from parts.  The existing `{{$shared X}}` feature allows re-use, but not composition, e.g.

**This works:**
[code]

**This does not:**
[code]

I would like composition/replacement to occur in the context of the environment, so that values from shared can be used, but also overridden locally, e.g.

[code]

I have used `{{$var X}}` to trigger the replacem

[2020-05-19 16:50] takecare commented on #581
i've been noticing a similar issue as well. i'm running a local server and the body is never sent along with the request.

example:
[code]

no body is received in the server.

[2020-05-20 08:56] Huachao commented on #574
@erichiller any updates on this?

[2020-05-20 21:38] Hatgor commented on #523
Has similar issue with my node-js express app.
My OS is Windows 10,
REST Client version is 0.23.2

Server is hosted on `localhost:3000`

Test request is
`@url = "http://localhost:3000/"`
`GET {{url}}`

Error message:

Postman face no such issues.

[2020-05-21 01:15] Huachao commented on #523
@Hatgor as for your case, the added additional double quotes around the URL, removing it should work.

[2020-05-21 03:58] msgjobs opened #592 "Intermitten problem: Preview Response Panel Take Focus set to false, but jumps to it anyway"
- REST Client Version: 0.23.2
- VSCode Version: 1.45.1
- OS Version:  Windows 7

Steps to Reproduce:

1. Set Preview Response Panel Take Focus to false (unchecked) in both user and workspace.
2. Send request.
3. Focus moves to response tab and tab grows to full size.
4. Resize response tab to small size.
5. Resend the request.
6. Response tab again takes focus and maximizes.

This is an intermitte

[2020-05-21 04:33] Huachao commented on #592
@msgjobs what do you mean resize the response tab, do you mean resize the VSCode window?

[2020-05-21 06:12] msgjobs commented on #592
Here's a screen shot below. You'll notice the Response is in a separate window on the right in its own tab. When I Send Request, the window jumps to double its size and I have to manually shrink it back down. I realize it may not be changing focus, but rather the window is expanding when the response is output to it.

Thanks

<img width="943" alt="vscode rest screen shot" src="https://user-images.

[2020-05-21 07:20] Hatgor commented on #523
Thanks! It's working now =)

[2020-05-21 10:22] dchimeno commented on #578
I was looking for the same ability,
[requests variables](https://marketplace.visualstudio.com/items?itemName=humao.rest-client#request-variables) seems to exists, but only with a file scope. Would be great to have "global requests variables" that overrides environment variables based on a response.

[2020-05-24 07:10] akshayjai1 commented on #430
Just so that a newbee gets it,

`GET http://localhost:3099/subscribers
GET http://localhost:3099/subscribers`
 while following code will not
`GET http://localhost:3099/subscribers

GET http://localhost:3099/subscribers`

[2020-05-25 12:43] saelfaer commented on #448
Visualizing the actual request that went out would be very useful, especially to verify you built it properly.
On multiple occasions today, either the variable was not properly set, or I tried splitting a curl request over multiple lines and forgot the \ character to denote that the statement continues on the next line. Problem is you only suddenly see an error popup but nowhere see the debug show

[2020-05-26 06:52] zzti opened #594 "响应报文中文乱码"
- REST Client Version:
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.建议响应的编码和请求编码一致
2.

[2020-05-26 07:04] Huachao commented on #594
@zzti could you please paste your request and response details?

[2020-05-27 08:19] mover96 opened #595 "Does not support SNI"
- REST Client Version: 0.23.2
- VSCode Version: 1.45.1
- OS Version: Ubuntu18.4

Steps to Reproduce:

1. Send a request to a server with [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication]) enabled
2. Get error: `write EPROTO 140673942931328:error:14094438:SSL routines:ssl3_read_bytes:tlsv1 alert internal error:../deps/openssl/openssl/ssl/record/rec_layer_s3.c:1544:SSL alert number 80`

I

[2020-05-27 08:23] mover96 commented on #595
Nevermind, I think this is an issue on my end

[2020-05-28 08:02] stephprat opened #596 "Is rest-client.certificates path compatible with wildcards?"
Hi,
I need to make the request on several host of the same domain using the same certificates. Is the following notation covered (with wildcards):
[code]
Thanks!
Stephan

[2020-05-28 08:21] Huachao commented on #596
@stephprat it's not supported currently, a nice suggestion, I will consider it carefully. BTW, if you have interests, it's really appreciated.

[2020-05-28 08:27] stephprat commented on #596
Thanks for the fast answer! What do you mean by interest?

[2020-05-28 08:33] Huachao commented on #596
@stephprat I mean if you want to contribute to the extension?

[2020-05-28 20:14] msbenedetto commented on #179
Hi,
I think this is what I need too.
I want to set up a project with different workspaces linked all together by a settings.json but I want to be able to add/override certain variables only at workspace level (different client/different workspace, each one with a different name variable, etc).
Can this be linked to:
https://github.com/Huachao/vscode-restclient/issues/251
?
Great tool. Thanks.

[2020-05-28 23:49] drhaas opened #597 "{{aadToken}} in "rest-client.environmentVariables""
- REST Client Version: 0.23.2
- VSCode Version: 1.45.1
- OS Version: Windows 10 1909 (OS Build 18363.836)

Steps to Reproduce:

1. Add a aadToken to environmentVariables
		"rest-client.environmentVariables": {
			"local": {
				"token": "{{$aadToken ppe}}"
			},
			"production": {
				"token": "{{$aadToken}}"
			}
		}

2. Try using token from a request:

GET / HTTP/1.1
Authorization: {{token}}

To

[2020-05-29 17:01] YBogomolov opened #598 "Response body should not be parsed for "204 No Content" code"
- REST Client Version: 0.23.2
- VSCode Version: 1.45.1
- OS Version: macOS 10.15.5

Prerequisites:

1. REST API which responds to POST verb with `204 No Content` code, `Content-Type: application/json` headers and empty body.

Steps to Reproduce:

1. Create the following REST request:

[code]

2. Execute the request.

Actual behaviour:

1. A warning message in the lower right corner stating: `The c

[2020-05-29 19:06] batrashi commented on #122
I had the same problem, but I realized that I have been request the url as a 'string' and you should not.
No quotations and it works.

[2020-05-30 03:41] Huachao commented on #598
@YBogomolov nice catch, I have fixed this issue and will publish it in the next release.

[2020-05-30 03:41] #598 closed

[2020-05-30 12:21] cemtopkaya commented on #271
I think it is really difficult issue to make. I don't know how can I help to make this feature realize.

[2020-05-31 15:33] newbienewbie opened #599 "invalid multipart/form-data payload"
- REST Client Version: 0.23.2
- VSCode Version: 1.15.1
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

send a  `multipart/form-data` HTTTP  request as below:
[code]

However, the actual payload captured using Wireshark is :

![image](https://user-images.githubusercontent.com/10741879/83356017-c643ad00-a395-11ea-82eb-fed54e9561fb.png)

Note there's a  **trailing "...Connection Age 182

[2020-06-01 00:54] Huachao commented on #599
@newbienewbie since the boundary is `----MYBOUDNRY `, the boundaries used in the request body should add two extra `--` before the boundary, as well as append `--` for the last boundary. The correct one should look like following:

[code]

[2020-06-01 00:54] #599 closed

[2020-06-01 05:16] newbienewbie commented on #599
My Bad. Thanks for your detailed explanation.  :)

[2020-06-03 17:11] druffner924 opened #600 "POST body data is not being sent"
- REST Client Version: 0.23.2
- VSCode Version: 1.45.1
- OS Version: Ubuntu 20.04 LTS
- PHP Version: 7.4.3
- Apache Version: 2.4.41
- NodeJS Version: 12.16.3
- Nginx Version: 1.17.10

Hi,

I am running an API endpoint on my local machine. To start, I tried a simple test that looks like this:
POST http://[my local IP address]/post_test.php HTTP/1.1

Content-Type: application/json

{
    "token": "T

[2020-06-03 17:12] druffner924 commented on #600
I also want to add, that I've verified my endpoints are working properly using Postman to pass the data.

[2020-06-04 01:24] Huachao commented on #600
You have added an extra line between request line and headers, the correct syntax should look like following:
[code]

[2020-06-04 01:24] #600 closed

[2020-06-05 02:20] darkrice opened #601 "Parse Error: Header overflow"
- REST Client Version:0.23.2
- VSCode Version:1.4.6-insider
- OS Version:
win 10
Steps to Reproduce:

1. send post request  to  server to obtain token
2. restclient give "Parse Error: Header overflow", maybe header length of response message  is longer than 8k.
3. error message as bellow:
[Error  - 上午10:11:55] Failed to send request:
RequestError: Parse Error: Header overflow
	at ClientRequest.<an

[2020-06-05 03:37] Huachao commented on #601
@darkrice you are right, and this is the limitation from Node.js which hard code the header max size. I'd like to close it since actually it's not related to my extension itself.

[2020-06-05 03:37] #601 closed

[2020-06-08 23:55] jackbravo opened #603 "Copy is not working on the response buffer"
The response buffer is not allowing copying text. I think it used to allow it.

[2020-06-09 00:21] Huachao commented on #603
@jackbravo do you mean copy response or response body

[2020-06-11 14:35] ryan-connolly-nextech commented on #179
I think I might create a powershell script to get new tokens and replace the environmental variables in the meantime.

[2020-06-11 15:09] martinschayna opened #604 "Parse response variables from non-standard Content-Type"
I have to work against a bit non standard API, which produces response with Content-Type:
[code]
but in fact the response body is pretty normal JSON format. In this case I cannot use parsing response variables in subsequent requests just like `{{nameOfRequest.response.body.$.id}}` because of warning:

[code]

I thought that the parameter `suppressResponseBodyContentTypeValidationWarning: true` is

[2020-06-11 15:47] rdhar opened #605 "How to capture multiple elements?"
Hi there,

First off, great work on this amazing extension; it's ideal for quickly pinging endpoints with minimal overhead!

I'm trying to capture multiple elements returned in the response array using this example.

[code]

[code]

However, `read_comments.response.body.$[*].email` only returns the first instance it finds despite using the `*` wildcard. Is there another way to capture multiple ele

[2020-06-11 16:19] rdhar opened #606 "How to return paginated output altogether?"
Hi there,

Love this extension for its ease of use when pinging a RESTful API!

I'm trying to return the complete set of results of an array split over several pages using this example.

[code]

There are typically 2 types of paginated API content traversal:

1. **Body: `more` and `offset` attributes**
E.g., [PagerDuty](https://developer.pagerduty.com/docs/rest-api-v2/pagination/). Here, we parse

[2020-06-12 01:18] Huachao commented on #604
Duplicate of #327

[2020-06-12 01:18] #604 closed

[2020-06-12 01:19] Huachao commented on #605
Duplicate of #197

[2020-06-12 01:19] #605 closed

[2020-06-12 05:35] Huachao commented on #281
@peterquirk @jspronk @serverlesspolska @jimmcslim @buggy @DJPorv @CasperSkydt @virtuoushub @rdt712 @sopel @mgresko @xBrux You can try this feature in the latest release 0.24.0. Again, thanks so much @sebastian-fredriksson-bernholtz for your great contribution

[2020-06-12 05:37] Huachao commented on #478
@mfulton26 @ChayimFriedman2 you can try this feature in the latest version 0.24.0. Again, thanks @ChayimFriedman2 for your great contribution.

[2020-06-12 05:39] Huachao commented on #543
@coolshijun you can try this in the latest version 0.24.0

[2020-06-12 05:40] Huachao commented on #551
@patrickhammond this should be fixed in the latest version 0.24.0, and you can verify it.

[2020-06-12 05:41] Huachao commented on #584
@cilerler you can try the latest version 0.2.4.0 to verify it.

[2020-06-12 05:41] Huachao commented on #598
@YBogomolov you can verify this in the latest version 0.24.0

[2020-06-12 06:42] coolshijun commented on #543
Great! Thanks for keeping me posted.

[2020-06-12 08:04] YBogomolov commented on #598
@Huachao It works as intended, thank you!

[2020-06-12 09:15] TechWatching opened #607 "Requests on multiple lines stopped working."
- REST Client Version: 0.24.0
- VSCode Version: 1.47.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Create a http file with a request on multiple lines
2. Launch the request

Color syntaxing for the request will be fine, but the REST Client will add breaking lines symbols (%0D%0A) to the http request which will lead to a HTTP 400 bad request.

It is breaking all my existing http files

[2020-06-12 10:09] reganheath commented on #607
Additionally, if you have any response processing after a request, it gets included IN the request body!

[2020-06-12 10:20] reganheath commented on #607
The endpoints I am using can handle the %0D%0A's but this effect is really ruining my day :(

[2020-06-12 11:09] Huachao commented on #607
@TechWatching could you please also provide the sample http request?

[2020-06-12 11:44] cilerler commented on #584
Thanks @Huachao
confirming that it is working as expected.

[2020-06-12 13:12] TechWatching commented on #607
Yes sure.
`POST https://login.microsoftonline.com/{{tenantId}}/oauth2/v2.0/token HTTP/1.1
Content-type: application/x-www-form-urlencoded

grant_type=client_credentials
&client_id={{clientId}}
&client_secret={{clientSecret}}
&scope={{scope}}

@token={{auth.response.body.access_token}}`

It's a call to retrieve a token from Azure AD on a specific scope. Problem is that @token is separated from the

[2020-06-12 13:16] maciej-blyng opened #608 "Run all tests?"
Loving this extension! Amazing!

Is there any where to run all tests?
Either on a per file or per project basis?

[2020-06-12 14:41] telegu opened #609 "Cannot read property 'toLowerCase' of undefined"
- REST Client Version: 0.24.0
- VSCode Version:  1.46.0
- OS Version: MacOs 10.14.6

Steps to Reproduce:
When I send a request I receive this message:
**Cannot read property 'toLowerCase' of undefined**
[](url)

[2020-06-12 15:16] Huachao commented on #609
@telegu can you show me the output in the *Output* window of VS Code for the `REST` channel?

[2020-06-12 15:27] Huachao commented on #608
Duplicate of #444

[2020-06-12 15:27] #608 closed

[2020-06-12 15:38] Huachao commented on #607
@TechWatching @reganheath @jthagesk  I have fixed the first question that query string spread into multiple lines, really nice catch. For the second question, I have to say sorry that this is a breaking change in the request body parsing logic. Previously, we treat the request body range from the first non-empty line after headers to the first empty line. That means if the request body contains bl

[2020-06-12 15:38] #607 closed

[2020-06-12 17:41] jspronk commented on #281
Thank you!

[2020-06-12 18:26] parannoide opened #610 "Query strings not working on multiple lines"
- REST Client Version: 0.24.0
- Version: 1.46.0
- Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
- Date: 2020-06-10T08:59:04.923Z
- Electron: 7.3.1
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Linux x64 5.4.0-37-generic

Steps to Reproduce:

1. Execute:
[code]
2. Receive a 404

[2020-06-12 18:29] parannoide commented on #610
Full response

[code]

[2020-06-12 20:07] #610 closed

[2020-06-12 20:07] parannoide commented on #610
Already solved on #607

[2020-06-13 06:14] Huachao commented on #607
@TechWatching @reganheath @jthagesk @schmas @parannoide @Cujoko I have published the latest version 0.24.1, you can verify the fix. Sorry for the inconvenience.

[2020-06-13 21:31] devlie opened #611 "Is there a way to perform string functions on header values?"
Is there a way to perform string operations when referencing request variables, specifically response header values? For e.g. with API pagination, the next page link may be following RFC 5988 in the form of:
[code]
In order to make the request for the next page, I need to extract the URL from that header values.

P.S. Great extension, thanks for creating this!

[2020-06-14 13:52] ArthurHNL opened #612 "Headers are not shown for an image response"
- REST Client Version: `v1.46.0`
- VSCode Version: `v0.24.1`
- OS Version: Windows 10 Pro version 1909

When executing a request that returns an image, the response HTTP headers are not shown.

Steps to Reproduce:

1. Create a request to request an image, eg:
[code]

2. Execute the request

[2020-06-15 07:02] Huachao commented on #554
@LeCanardNoir I'd like to close it since no more updates. If you still have any questions, please feel free to reopen it.

[2020-06-15 07:02] #554 closed

[2020-06-15 08:42] Huachao commented on #612
@ArthurHNL this is by design that only renders the actual images for the image response in **webview** preview mode. We have two ways to view the actual response headers for the image response:

1. Set the preview mode to text document instead of webview with options `"rest-client.previewResponseInUntitledDocument": false`
2. Use the `HEAD` request instead of `GET` request method to retrieve image

[2020-06-15 09:37] telegu commented on #609
This https://github.com/Huachao/vscode-restclient/issues/607 fixed the issue

[2020-06-15 09:45] Huachao commented on #609
@telegu glad to hear that 😄

[2020-06-15 09:45] #609 closed

[2020-06-15 09:51] telegu commented on #609
🔝

[2020-06-15 12:45] Nedjm commented on #243
hey guys I have the same problem but this didn't fix it`POST http://localhost:3000/login
Content-Type: : application/json

{
    "username": "kyle"
}
`

[2020-06-15 12:46] Nedjm commented on #243
hey guys I guess I have the same problem and the body is just empty and I want to get the username, what am I doing wrong??

`
POST http://localhost:3000/login
Content-Type: : application/json

{
    "username": "kyle"
}

`

[2020-06-16 11:08] rbierowiec opened #613 "Problem with application/x-www-form-urlencoded request"
Hi,
Yesterday everything working as expected. Today I had some VS Code updates and Oauth2 token request stopped working. After investigation I can see that there is problem with request parameters.

This is my token request:
![image](https://user-images.githubusercontent.com/18077823/84767165-3e36e780-afd2-11ea-8539-2fec44c9e969.png)

And see what is being sent (from the Fiddler)
![image](https://

[2020-06-16 11:29] rbierowiec commented on #613
I checked right now. Case above is working fine with version 0.23.2, the problem occurs since version 0.24.0.

[2020-06-16 12:00] rbierowiec commented on #613
Another update, putting ### in line before assigning @token variable doing the job. Is this expected behavior?

[2020-06-16 12:04] Huachao commented on #613
@rbierowiec you are right, you should add the `###` separator, and this is a breaking change. The reason is described in other thread https://github.com/Huachao/vscode-restclient/issues/607#issuecomment-643340438

[2020-06-16 12:04] #613 closed

[2020-06-17 07:03] mensand commented on #607
Now the following isn't working anymore. First define param then Post method next Accept then white line and the body for the call, next white line then the get data from response into params.
With the update the params part after the white line are also posted in the body.

## ***************************************************************************************************
# @name geturl
POST {

[2020-06-17 07:06] TechWatching commented on #607
As indicated in @Huachao's response, you should have ### before your line @token. It's a breaking change but not a bug

[2020-06-17 07:07] Huachao commented on #607
@mensand you have to add `###` before file variables definition

[2020-06-17 07:08] mensand commented on #607
Thanx. We found out just before your reply that also works. But before the change it worked without the ###

[2020-06-17 13:30] parannoide commented on #607
Not quite working, but is working

[code]
The above works fine, but once I put on HTTP/1.1 in the end, like

[code]

It stops to working with multiple lines.

[2020-06-17 14:05] Huachao commented on #607
@parannoide The protocol version `HTTP/1.1` should be put after the request URL, so here, it should be put after the last query params like following
[code]

[2020-06-17 15:53] boboz2 commented on #444
+1 for this feature

[2020-06-17 16:56] Kiyozz commented on #444
+1

[2020-06-17 17:33] boboz2 opened #614 "Use variable in independant file for request body"
I want to use file path for a request body, and in this file i want to use variable.

This one works (variable in request body)
[code]

This one works (file path for request body)
[code]

body.json
[code]

but this one don't works (variable in file path for request body)
[code]

body.json
[code]

Thanks

[2020-06-17 19:29] avlasics opened #615 "Variable from body of response for next request causes 400 bad request"
- REST Client Version: 0.24.1
- VSCode Version: 1.46.0
- OS Version: Windows 10

**Steps to Reproduce:**

Request:
[code]

Response:
400 error - bad request

**Workaround:**

- Revert to version 0.23.2
- Remove @token variable

Response:
[code]

[2020-06-18 01:25] Huachao commented on #614
@boboz2 this is by design,
Duplicate of #427

[2020-06-18 01:25] #614 closed

[2020-06-18 01:26] Huachao commented on #615
Duplicate of #607

[2020-06-18 01:27] Huachao commented on #615
@avlasics as described here https://github.com/Huachao/vscode-restclient/issues/607#issuecomment-643340438, you need to put the request block delimiter `###` before the file variables declaration.

[2020-06-18 01:27] #615 closed

[2020-06-19 06:51] csmaxx opened #617 "Client network socket disconnected before secure TLS connection was established"
Why is the rest client using TLS when i'm requesting http? (NOT http**S**)

"Client network socket disconnected before secure TLS connection was established"

[code]

[2020-06-19 09:30] Huachao commented on #617
It seems that the request line has a leading `HTTP`, how about remove it and try again?

[2020-06-19 09:30] #612 closed

[2020-06-21 09:37] SutharMukesh opened #618 "Support for API documentation."
The extension works great when creating REST calls and maintaining them in `.http` files, I can also specify a description for an API inside a comment but there is no sperate support for documenting all APIs.

Is there any way I can export the `.http` file into postman collection format? as I can generate docs inside postman.
or can the extension have swagger like API docs support?

[2020-06-22 01:36] Huachao commented on #618
Duplicate of #67

[2020-06-22 01:36] #618 closed

[2020-06-22 21:07] jackbravo commented on #603
response body. But seems like it was a local error because I can now copy again. Sorry for the bad bug report.

[2020-06-22 21:07] #603 closed

[2020-06-22 21:21] jackbravo commented on #448
There is now the `rest-client.previewOption` setting, that you can set to:

- full | Default. Full response is previewed
- headers | Only the response headers(including status line) are previewed
- body | Only the response body is previewed
- exchange | Preview the whole HTTP exchange(request and response)

Seems like changing this setting to `exchange` would provide the desired request, right?

S

[2020-06-23 01:37] nstansby opened #621 "URL Params on separate line break if HTTP version specified"
- REST Client Version: 0.24.1
- VSCode Version: 1.46.1
- OS Version: Win 10 Pro, v 1909, build 18363.900

Steps to Reproduce:

1. Send a request with a URL parameter specified inline, such as this:
[code]
The server *will* receive the URL parameter.

2. Change the request to put the URL parameters on separate lines, like this:
[code]
The server *will not* get the `hapikey` parameter.

3. Remove th

[2020-06-23 01:40] Huachao commented on #621
@nstansby sorry for the **breaking change**, that if you use the multi-line query string, the HTTP version information should be put at the end of the URL, that means right after the last query string line. https://github.com/Huachao/vscode-restclient/issues/607#issuecomment-645395008

[2020-06-23 01:40] #621 closed

[2020-06-23 01:49] nstansby commented on #621
Thanks for the quick response @Huachao!  Sorry, I missed that comment even though I looked at the issue.  I understand the issue with supporting blank lines in the request body, and why it required a breaking change with a blank line in a request,  but I don't understand why it broke this functionality.  I assume since you closed the issue, it's going to stay this way?  It's really unfortunate, be

[2020-06-23 01:57] Huachao commented on #621
@nstansby The reason for doing this change(*Put HTTP version after the last query params*) is not related to the blank lines in request body issue. The actual reason is that I did some refactoring that I will join all the request lines(including query lines) directly and pass the joined URL. So here if you put the HTTP version at the end of the request line, the joined result will lead to an inval

[2020-06-23 02:02] nstansby commented on #621
Understood.  To be honest when I started using REST Client, I found the old syntax a bit strange (because the things I specified got put together, but in a different order!) but I quickly got used to it, and liked it... again, because I never change the URL or HTTP version, but I tweak URL params all the time.

I've just removed the HTTP/1.1 from all my .rest files; I was really just putting it th

[2020-06-23 03:23] wodesj33 opened #622 "请求参数里 带‘$’的无法正确解析"
- REST Client Version:0.24.1
- VSCode Version:1.46.1
- OS Version:win10 v2004

Steps to Reproduce:

- [ 地址] http://zjy.jxjst.gov.cn/w/dataQuery/getCompDate

- [ 请求参数]
parameter:=
&$pgsz=15
&$pg:=15
期望的返回json结果里
应该是
 "page": 15,
  "pageSize": 15,

[2020-06-23 03:59] leodinas-hao opened #623 "normalizeHeaderNames - option to disable lowercase the header"
Thank for sharing this awesome tool.  However I recently had some issues where the vendor applications consider header names are case-sensitive, the requests sent via this client converts the header names to lowercase automatically and this brought me some headache.

Currently `normalizeHeaderNames` function of "[utils/httpClient.ts](https://github.com/Huachao/vscode-restclient/blob/master/src/uti

[2020-06-23 04:27] bogem commented on #448
@jackbravo  Oh yes. Thank you!
![Screenshot 2020-06-23 at 06 27 23](https://user-images.githubusercontent.com/13235519/85360832-9f9f0f00-b51a-11ea-894a-2af342b16e24.png)

[2020-06-23 04:28] Huachao commented on #622
@wodesj33 could you please both paste the actual URL in `.http` file and the one you can work in the cURL format?

[2020-06-23 04:31] Huachao commented on #623
@leodinas-hao actually this is not related to the code you've pointed out. It's responsible for prettifying the **response** header names. The outgoing request header names are lowercased by the Node.Js framework internally, and we can't control its behavior.

[2020-06-23 04:31] #623 closed

[2020-06-23 06:01] #622 closed

[2020-06-23 06:01] wodesj33 commented on #622
我搞错了  是他们网站做了限制

[2020-06-23 06:46] visschersm commented on #444
I really like the REST client to test my Requests, but adding this feature will make me close my postman application completely.

[2020-06-23 10:58] Pika-Pool opened #624 "REST Client extension disabling effects of Bracket Pair Colorizer 2 extention"
- REST Client Version: v0.24.1
- VSCode Version: 1.46.0
- OS Version: Windows 10

Steps to Reproduce:

1.    install bracket pair colorizer 2 extenson for vscode
2.    install REST Client extension for vscode
3.    enable REST Client extension
4.    reload vscode

REST client is somehow disabling the bracket pair colorizer 2 and possibly setting the colors to default.

When REST Client is disabled

[2020-06-23 15:09] zhmq0124v commented on #444
+1

[2020-06-23 21:34] xenoterracide opened #627 "compatibility with intellij's http-client"
IDEA's client is very similar to yours, would be nice see feature parity, my first 3 desires would be the http.env file which also means the variable syntax {{foo}}, and remembering cookies and passing from the previous request.

https://www.jetbrains.com/help/idea/http-client-in-product-code-editor.html

[2020-06-23 23:55] Huachao commented on #624
@Pika-Pool I followed your step that first disables my extension, then enables my extension, and it reproduces. However, I checked with VSCode built-in command `Show Running Extensions`, I found the **Bracket Pair Colorizer 2** reported an issue with following output
[code]

The root cause seems `Cannot invoke loadWASM more than once.`. I also found there is a similar issue in https://github.com/C

[2020-06-23 23:55] #624 closed

[2020-06-24 07:33] Huachao commented on #500
@katagaStyle @e14mattc I'd like to close the issue since I think the `excludeHostsForProxy` setting can work if you set the `http.proxySupport` to `off`

[2020-06-24 07:33] #500 closed

[2020-06-24 15:09] RyanOC commented on #179
I created a powershell script that Incan call and have my token environment variable updated for now. Its working very well for me and much better than copying it every time manually.
`$env=$args[0]
$json = Get-Content '.vscode/settings.json' -raw | ConvertFrom-Json
$settings = $json.{rest-client.environmentVariables}
if($env -eq 'local'){
    $postParams = @{
        username = $settings.{local}.

[2020-06-25 12:34] maxtar commented on #389
I have the similar problem too.

[2020-06-25 14:01] ariehf commented on #389
The workaround is to use older VSCode version [1.35.1](https://update.code.visualstudio.com/1.35.1/win32-x64-user/stable)

[2020-06-25 14:42] maxtar commented on #389
This is one-year-old-version :))

[2020-06-26 00:06] JacksonKearl opened #628 "Notebook interface for *.http and *rest files"
Hello from the VS Code team! 👋

We're working on bringing first-class support for notebooks into VS Code core, and we'd like to use your extension as an example of how notebooks can be used for things beyond just normal source code.

If this is something you'd be interested in, we can work on a PR that adds a way to view and run your `*.http` and `*.rest` files as a notebook.

Cheers,
Jackson

[2020-06-26 00:09] JacksonKearl commented on #628
The docs for this are still WIP, but if you're interested you can view them here https://github.com/microsoft/vscode-docs/blob/notebook/api/extension-guides/notebook.md

[2020-06-26 09:45] jcvpacheco opened #629 "Get Authorization Token using multipart/form-data"
When i'm trying to get the authorization token using the following format, and is returning the following error:
"Message": "Unexpected end of Stream, the content may have already been read by another component. ",

POST https://MYOAUTHSERVER/connect/token
Content-Type: multipart/form-data;boundary=----MyBoundary

----MyBoundary
Content-Disposition: form-data; name="client_id"
Content-Type: text/p

[2020-06-26 17:14] kalanchiyamtutorial commented on #22
Here is the complete tutorial for rest client - https://www.youtube.com/watch?v=Jf4SFY1yT1k

[2020-06-28 01:41] Huachao commented on #629
@jcvpacheco could you please provide more details about the error response? I found one strange thing is that the hostname in URL is not the same as the one in `Host` header.

[2020-06-29 08:33] jcvpacheco commented on #629
Hi, thanks for the reply.
With or without host define, is always returning this
![image](https://user-images.githubusercontent.com/13167751/85991563-82bb7d80-b9eb-11ea-9bb9-0df3d39a1f6e.png)

[2020-06-30 01:49] Huachao commented on #629
@jcvpacheco can you work with other HTTP client tools like *cURL*, *Postman*?

[2020-06-30 11:51] samthegolden commented on #186
Any update on this? It's open for 2 years now.

[2020-06-30 12:48] ricmrodrigues commented on #629
using `"rest-client.formParamEncodingStrategy": "always",` with `Content-Type: application/x-www-form-urlencoded` works

[2020-06-30 12:49] ricmrodrigues commented on #444
was this implemented?

[2020-06-30 14:01] ricmrodrigues opened #630 "Variables in payload file"
Hi!
Tried to use variables in a file but it didn't work, is this just not supported?
If so, can you point me in the right direction where this logic happens so I can try to make it work and put a PR in?
Thanks!

[2020-07-01 01:03] Huachao commented on #444
@ricmrodrigues No, it wasn't.

[2020-07-01 01:05] Huachao commented on #186
@samthegolden no, if you have some interest, it's warmly welcomed to contribute a PR

[2020-07-01 01:17] Huachao commented on #630
Duplicate of #427
Close this in favor of #442

[2020-07-01 01:17] #630 closed

[2020-07-02 08:11] tvld opened #631 "Allow {{...}} in comments and strings without linting error"
Right now {{}}  gives an error if we have a comment:
[code]
I think comments should not lint.

By coincidence we also have POST parameters that need {{ }} , and that also generates undesired linting errors:

[code]

[2020-07-03 01:37] Huachao commented on #631
@tvld I have fixed the problem that linting errors occur in comments, for the latter one, this is by design since the variable evaluation logic takes effect in body strings

[2020-07-03 01:37] #631 closed

[2020-07-03 03:33] wallberg13 commented on #182
This feature is very cool.

[2020-07-03 07:59] tvld commented on #631
@Huachao super, thank you.

 For the strings we can now use a work-around to comment them out, before saving.

[2020-07-04 11:25] ygavrishov opened #633 "Getting parameter from a request"
Hi! I'm trying to get a parameter value from an HTTP request that is generated randomly. This is my code:
[code]

As a result I get the error:

What is the correct way to do it?

Thanks in advance

[2020-07-04 23:37] Huachao commented on #633
@ygavrishov Please add a request delimiter `###` before the `email` file variable definition as following
[code]

[2020-07-05 04:55] ygavrishov commented on #633
Doesn't help... The same error

[2020-07-05 07:50] Huachao commented on #633
@ygavrishov did you meet this error when you try to send the request, could you please paste your request after modification?

[2020-07-06 11:30] mztlive opened #634 "可以require其他文件吗？"
比如说，我有一个login.http的文件。

# @name mobileLogin
POST {{host}}/xxxxx/login HTTP/1.1
Content-Type: application/json

{
       "mobile": "186xxxxxx",
	"loginType": "1",
	"password": "123456",
	"source": 12
}

@token = {{mobileLogin.response.body.data.token}}

现在在另外一个 userInfo.http的文件里面我希望能直接复用login.http里面的请求和变量。 请问如何能做到呢？
（复制粘贴过来我知道，除了这个）

另外，还想问一下。 因为有些项目在api报错的时候是会返回html页面的， 有设置html preview的功能吗？

[2020-07-06 13:43] kabrau commented on #633
[code]
1) Insert ### before @email =
2) and, in this case, without $

[2020-07-06 23:21] Huachao commented on #634
Duplicate of #182

[2020-07-06 23:24] Huachao commented on #634
Duplicate of #146

[2020-07-06 23:24] #634 closed

[2020-07-07 01:56] Huachao commented on #633
@kabrau do you mean you can only work when you remove the `$` in the request variable path?

[2020-07-07 02:13] Huachao commented on #633
@ygavrishov in which case did you meet the following error?

[2020-07-07 05:43] ygavrishov commented on #633
I used the snippet that you recommended. This is the only content of the file:
[code]

[2020-07-07 05:43] ygavrishov commented on #633
Yes, it works!

[2020-07-07 05:49] Huachao commented on #633
@ygavrishov I still don't understand when you meet this error, sending the createUser request or hovering the email variable value

[2020-07-07 05:49] ygavrishov commented on #633
I realized that both options (with or without $) work if I close the editor and open it again. Seems the error depends on previous changes in the document.

[2020-07-07 06:14] Huachao commented on #633
@ygavrishov so adding `###` work for you, right? I'd like to close this issue. If you still have any questions, please feel free to reopen it.

[2020-07-07 06:14] #633 closed

[2020-07-07 15:28] vobu opened #635 "$filter GET query param broken in 0.24.1 (but works in 0.23.2)"
- REST Client Version: 0.24.1 (but **works with v0.23.2**)
- VSCode Version: 1.46.1
- OS Version: macOS 10.15.5

Steps to Reproduce:

1. construct an (OData) GET query with a `$filter` parameter, e.g.
[code]

2. `Send Request` -> error:
[code]
Looks like some `RegEx` going wild 😄

[2020-07-08 04:32] Huachao commented on #635
@vobu I have fixed this issue and will be published in the next release.

[2020-07-08 04:32] #635 closed

[2020-07-09 04:54] niusounds commented on #197
is there any plan to support this feature?

[2020-07-09 04:58] Huachao commented on #197
@niusounds I am still planing this since I met a problem. What's the string representation(serialization) of the array result, simply JSON stringify the array or something else?

[2020-07-09 05:02] dancherb opened #636 "Variable passed to request header is incorrect (a previous copy, or from another file?)"
- REST Client Version: 0.24.1
- VSCode Version: 1.42.1
- OS Version: Windows 10 Pro - Version 1809 - OS build 17763.379

This has begun occurring fairly randomly over the last few weeks. Calls will start passing through the wrong variable to headers, even after previous calls worked correctly (and no variables were changed). This seems to happen after re-opening the .http file.

[code]

And then i

[2020-07-09 05:54] Huachao commented on #636
@dancherb did you have multiple definitions for the variable `token`, and can you show me the screenshot when you hover over the variable `token`?

[2020-07-09 06:03] dancherb commented on #636
The value for token within the file does change periodically yes. I also have other .http files in the same folder that have their own @token variables. This error seems to occur after re-opening the .http file - editing the file and typing some stuff seems to "refresh" it and then it uses the correct variable. Maybe it's using a cached version up until then.

![tokens](https://user-images.githubu

[2020-07-09 06:09] Huachao commented on #636
@dancherb so when you open the `.http` file, the variable value seems incorrect, is the value the exact one defined in other `.http` file?

[2020-07-09 06:15] dancherb commented on #636
The incorrect value is not one that appears presently in another .http file.

I have 3 .http files in the folder. The same error occurs in another one of them - here there is a _different_ incorrect value that also is not one that is actually present in another .http file.

The final .http file actually works fine straight away - the correct variable is referenced. This is a .http file that I have

[2020-07-09 06:30] Huachao commented on #636
@dancherb you mean the incorrect value happens to be the previous values in that file?

[2020-07-09 06:35] dancherb commented on #636
Yes - after some experimentation, I've found:

The incorrect value is the value of that variable _when VScode is opened_. If you change the variable in the .http file, it picks up the latest one while the file is open. _However,_ if you close and then re-open the .http file, the value will revert to what the value was at the start of the VScode session (even though the value actually written in th

[2020-07-09 06:57] Huachao commented on #636
@dancherb I can't reproduce your case, did you save the `.http` file after you changed the `token` variable value?

[2020-07-09 07:00] dancherb commented on #636
Yes I saved. When I re-open the .http file it shows the latest saved version, but it still "uses" the version cached when VScode was first opened that session.

[2020-07-09 08:27] Huachao commented on #636
@dancherb I cached the `FileVariables` based on the document Uri and document version (https://code.visualstudio.com/api/references/vscode-api#TextDocument). And in my test, if VSCode itself is not closed, the version of the document is always strictly increased. The case of you seems VSCode doesn't follow this rule and the document version of the same file is reset back to the previous ones. And

[2020-07-09 08:31] Huachao commented on #636
@dancherb One more question, did you open the `.http` file in the same VSCode instance?

[2020-07-09 23:59] talanc commented on #258
@Huachao
Any update on this?
(GitHub Sponsors is now a thing :))

[2020-07-10 01:02] Huachao commented on #258
@talanc since China is not in the available countries/regions list, and I think even no donations, I will still contribute to my project

[2020-07-10 19:53] mepsoid commented on #173
I'd like to vote up for websockets support too.

[2020-07-12 09:42] romanown opened #638 "auth not working"
- REST Client Version: last
- VSCode Version: last
- OS Version: win7
i tryed making to request. but website need authorisation
GET https://mywebsite.com/api/view?id=14  HTTP/1.1
Authorization: Basic myusername:mypassword
Content-Type: application/json
and response is auth reqired
when i past this heders in the any brauser it worked

[2020-07-12 11:26] Huachao commented on #638
@romanown could you please show me the request that you worked in the browser?

[2020-07-12 15:26] romanown commented on #638
i changed hostname

    GET /api/view?id=14 HTTP/1.1
Host: mywebsite.com
User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:78.0) Gecko/20100101 Firefox/78.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Language: ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3
Accept-Encoding: gzip, deflate, br
Authorization: Basic myusername:mypassword
Connection: keep-alive

[2020-07-13 01:16] Huachao commented on #638
Is this the request you copied from the Chrome network tab? I found your request sent in the browser has an extra `Content-Type` header, how about remove it?

[2020-07-13 06:41] romanown commented on #638
from mozilla. i added Content-Type: application/json and its worked also in the browser. not worked from
vscode-restclient  becose need authorisation

[2020-07-13 06:44] Huachao commented on #638
@romanown could you please show me the curl format request from firefox?

[2020-07-13 06:50] Huachao commented on #588
@shadabtamboli do you still meet this issue, I'd like to close it since it seems you add the extra `@` before variable references

[2020-07-13 06:50] #588 closed

[2020-07-13 06:58] romanown commented on #638
![изображение](https://user-images.githubusercontent.com/7169357/87279153-3e51d680-c4ef-11ea-9776-de781f7e9070.png)
screen. i can not curl.

[2020-07-13 07:11] romanown commented on #638
i can.curl "https://mywebsite.com/api/view?id=14" -H "User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:78.0) Gecko/20100101 Firefox/78.0" -H "Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8" -H "Accept-Language: ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3" --compressed -H "Authorization: Basic login:password" -H "Connection: keep-alive" -H "Content-Type: applicati

[2020-07-13 09:24] Huachao commented on #638
@romanown I guess it's related with the Cookie header, could you please copy the whole Cookie header into your `.http` file

[2020-07-13 09:30] Huachao commented on #580
@khayong @Saghen could you please check if the workaround https://imlc.me/dh-key-too-small#workaround works for you?

[2020-07-13 09:31] romanown commented on #638
![изображение](https://user-images.githubusercontent.com/7169357/87288921-a828ab00-c504-11ea-9ad4-34ec73b5bc3a.png)

this I immediately tried to do

[2020-07-13 09:32] romanown commented on #638
the request is being processed. the authorization page is returned in response. I use yii.

[2020-07-13 09:36] Huachao commented on #638
@romanown did you mean it's still not working even if you set the cookie header, hmm, how about set `rest-client.rememberCookiesForSubsequentRequests` to `false`? Another question is that will redirections happen in this API?

[2020-07-13 09:39] romanown commented on #638
I made a logout in the browser and got the authorization page the same way. the browser cannot log in with the header. but your module is able to log in.

[2020-07-13 09:42] Huachao commented on #636
@dancherb I have fixed this and will publish it in the next release.

[2020-07-13 09:42] #636 closed

[2020-07-13 09:44] Huachao commented on #638
@romanown so I guess it's related with the Cookie header value, so can I close this issue?

[2020-07-13 09:47] romanown commented on #638
but your module was not able to log in. but the browser could. so you need to do something so that your plug - in can log in as a browser. otherwise, most of its functionality is useless.

[2020-07-13 09:48] romanown commented on #638
close issue. but let this become a plan to improve the module.

[2020-07-13 09:49] dancherb commented on #636
Awesome, love you @Huachao

[2020-07-13 09:49] Huachao commented on #638
@romanown as you said, you can't log in either after logging out? Can you work with the browser now?

[2020-07-13 09:53] romanown commented on #638
I logged in again in the browser and am working. this is the standard backend functionality. the browser could not get data after logging out and sending messages via devtool. if You have the desire to continue, I can continue as well.

[2020-07-13 09:55] romanown commented on #638
how i can rememberCookiesForSubsequentRequests = falsh?

[2020-07-13 09:56] Huachao commented on #638
@romanown what's the Auth scheme for your API, `Basic Auth`? I suddenly find that you didn't invoke the login API in my extension, did you know the login API endpoint?

In the settings.json

[2020-07-13 09:58] romanown commented on #638
i can not find settings

[2020-07-13 10:00] Huachao commented on #638
@romanown just as normal VSCode settings, and could you first call the Login API in my extension?

[2020-07-13 10:21] romanown commented on #638
i installed it and create the .http file.

[2020-07-13 10:24] romanown commented on #638
i tryed rememberCookiesForSubsequentRequests = false. it not helped me

[2020-07-13 10:28] #638 closed

[2020-07-13 10:42] romanown commented on #638
i can not call the Login API. in the POST auth worked but not redirected

[2020-07-14 01:01] Huachao commented on #638
@romanown I think you first need to call the Login API and the server-side will return some cookies in the response headers. After that, you can trigger your normal API calls

[2020-07-14 21:06] ssnyder commented on #565
I am having the same problem.  My query is:
[code]
The response I get is:
[code]
When I try to reference the token value it complains that Only JSON and XML response/request body is supported to query the result.  Following the examples in the readme, I thought this should work...but apparently does not!

@token={{loginAPI.response.body.$.token}}

I'm sure there is something small that I'm missing

[2020-07-15 05:57] Huachao commented on #565
@ssnyder The extension infers the mime type of the response body from the `Content-Type` header in the response. For example, if the response is of JSON, the `Content-Type` of it is normally `application/json`. While in your request body, the `Content-Type` header doesn't exist

[2020-07-15 05:57] #565 closed

[2020-07-15 13:26] DefaultJARR commented on #243
Same thing is happening to me with this :C

`POST http://localhost:7000/accountsmod/accounts HTTP/1.1
Content-Type: : application/json

{
    "nickname": "El Juanzo",
    "password": "adwfawd",
    "status": true,
    "role": "5f018c5afda9715ff8403736",
    "user": "5f0187ae32a664164809ac4a"
}`

what could be the mistake?

[2020-07-15 13:41] Huachao commented on #243
@DefaultJARR could you please show me the complete http file?

[2020-07-15 17:22] drk-mtr opened #639 "Parsing values from HTML response"
Firstly thanks for a brilliant plugin! I love it, really nice to be able to do this in a text file rather than hopping over to Postman etc.

I'm not sure whether my question is a feature request, or existing functionality.

Essentially, I want to capture a value from within an HTML response as a variable i.e. extract `myvalue` from the response below:

[code]

I can successfully capture the whole

[2020-07-17 07:49] codermrrob opened #641 "Cannot copy data from response"
- REST Client Version: 0.24.1
- VSCode Version: 1.47.2
- OS Version: Win_NT x64 10.0.18362

Steps to Reproduce:

Sorry I know this is vague, but its hard to make it repeatable. Some responses seem to have become impossible to copy data from. Others still are fine.

I can repeat it with bearer tokens, from an authorization endpoint, from one API every time.

Make the auth request, tokens are return

[2020-07-17 23:50] Frank5000 commented on #575
Might be asking for too much here but a documentation explorer similar to GraphiQL or Insomnia would be perfect

[2020-07-18 02:20] CharlieScarver commented on #641
- REST Client 0.24.1
- VS Code 1.47.2
- OS Windows_NT x64 10.0.19041

Can't use Ctrl+C in the Result tab anymore.
It was working until earlier today, when I restarted VS Code.

I updated both my REST Client and my VS Code (from 1.30...) today so maybe one of those has something to do with it.

More details:
The behavior is not that straightforward. If you select the full body of the request you ca

[2020-07-18 15:28] Huachao commented on #641
Normal document view is supported by set the setting `rest-client.previewResponseInUntitledDocument` to `true`

[2020-07-18 15:34] Huachao commented on #641
@CharlieScarver @codermrrob this seems to be related with the VS Code update in 1.47.2, issues already reported by others in the VS Code repository microsoft/vscode#102736

[2020-07-19 03:16] Maslow commented on #521
I am looking for this feature then arrived here.  It would be handy.

[2020-07-19 03:17] Maslow commented on #521
I am looking for this feature then arrived here. It would be handy.

Add custom-filter or hooks during req & res duration.

[2020-07-20 17:44] Jaimeloeuf opened #642 "Is there any support for locally (per request) scoped variables?"
I looked into using variables for defining APIs and find it extremely useful and important to developer workflows. However upon closer inspection of <https://github.com/Huachao/vscode-restclient#file-variables>, I realise that all variables are globally scoped or scoped to the entire file, regardless of its location of definition.

Is there anyway to define locally scoped variables for individual

[2020-07-20 18:52] SimonkNetapp commented on #15
+1

[2020-07-21 06:51] codermrrob commented on #641
Thanks - just switching views in the response. Can't believe I missed that :/

Thanks again, great tool, its so much more convenient than Postman, etc

[2020-07-21 07:44] rbtrun opened #643 "socket hang up"
Hi team,

I failed to run any script, always popup "socket hang up"

VScode info:
---------------------
Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:33:47.663Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.6.0

REST output:
--------------------
[Error - 3:23:24 PM] Failed to send request:
RequestError: sock

[2020-07-21 08:33] Huachao commented on #643
@rbtrun did you work previously or set the proxy?

[2020-07-21 18:11] Jaimeloeuf commented on #125
Hello sorry for pinging you directly @Huachao but is there any status update on this? Would love to help work on this if needed!

[2020-07-21 18:13] Jaimeloeuf commented on #101
Hello sorry for pinging you directly @Huachao but is there any status update on this? Is this in backlog already or is the design / technical architecture still in consideration? Would love to help work on this if needed!

[2020-07-22 12:27] vivek781113 commented on #15
Any workaround for this issue ?

[2020-07-22 15:41] matiasg77 commented on #641
Same problem!
vscode version: 1.47.2

[2020-07-23 16:24] LucaGabi opened #644 "Generate code dose not work on multiple requests in a file"
- REST Client Version:0.24.1
- VSCode Version:1.46.1
- OS Version:Windows 10

Steps to Reproduce:

1. Create 2 requests separated by ###
2. Select all and chose Generate Code or Curl

[2020-07-24 01:26] Huachao commented on #641
@CharlieScarver @matiasg77 @codermrrob @DonatasBrazionis @stanb-quali @Hawken94 @ytrinh @rodolphocastro According to the microsoft/vscode#102736, it has been fixed in the latest insider build, could you please confirm it is available. Thanks in advance.

[2020-07-24 01:26] #641 closed

[2020-07-24 01:26] Huachao commented on #644
@LucaGabi This is by design, we don't support batch operations for multiple requests

[2020-07-24 04:16] LucaGabi commented on #644
Hi, I was expecting the behavior mentioned in the #645.

Thanks!

[2020-07-24 08:16] zhupengfeivip commented on #583
settings.json中增加配置即可
"rest-client.showResponseInDifferentTab": true,

[2020-07-24 10:45] zhupengfeivip opened #646 "outline show #,## title"
The display now looks like this, as shown in the figure below
![image](https://user-images.githubusercontent.com/30720809/88383721-9afd9d00-cddd-11ea-9908-1fca27953c2e.png)

I want the title after # to appear in the outline，

![image](https://user-images.githubusercontent.com/30720809/88383801-ca140e80-cddd-11ea-94c0-42f80c076bd0.png)

[2020-07-24 11:37] rodolphocastro commented on #641
I can confirm it's working like a charm on Insiders:

![hsZ76IX07y](https://user-images.githubusercontent.com/2666310/88387424-c86c2b80-cd88-11ea-85b8-6c9c4ea322e0.gif)

[2020-07-25 19:22] nstansby opened #647 "Can't copy values from results window"
- REST Client Version: 0.24.1
- VSCode Version: 1.47.2
- OS Version: Win 10 Pro v2004 build 19041.388

Steps to Reproduce:

1. Send any request that returns a response body
2. Try to select a section of the response text and copy it to the clipboard

Tried this with ctrl-C as well as right-mouse-button.  Neither works.

[2020-07-27 00:37] gertjvr commented on #647
Similar, found out the copy has moved to hidden buttons at the top right, I personally prefer being able to copy straight from the output window

![image](https://user-images.githubusercontent.com/1691062/88493537-f8b80200-cff4-11ea-9c54-964d5b0bc538.png)

[2020-07-27 01:54] nstansby commented on #647
@gertjvr Yes I saw that, but often I just want to copy a small subsection of the response.  I've been using that as a workaround (copy the entire response to a new file, then copy and paste from there), but that's far from ideal.

@Huachao A bit of additional info: It seems this is transient... I just did a query that returned a large JSON response, was able to copy a few values out of it and then

[2020-07-27 02:01] Huachao commented on #647
This is duplicated with #641

[2020-07-27 02:01] #647 closed

[2020-07-27 18:30] eddingsta commented on #15
I would love to see support for NTLM implemented.  This is a great tool for VS Code development.  As a work around, I do testing with Postman.  As it supports NTLM.

[2020-07-28 01:39] skyred commented on #489
I can see this could be useful, or is there another to let variables in `.env` to override the variables in `settings.json`?

[2020-07-28 14:10] rdhar opened #648 "localDatetime timezone discrepancy in iso8601 format"
### Summary

There is no difference in output between `datetime` and `localDatetime` in `iso8601` format. I would expect the local timezone to be taken into account for `localDateTime`.

### Replication Steps

Using [PostBin](https://postb.in/) as a free API client to test requests using this script:

[code]

#### Expected Behavior

In the UK, which is currently observing UTC +1 timezone.

| Varia

[2020-07-29 00:28] darrelmiller commented on #339
I added a PR that creates an $aadV2Token mechanism that can call Microsoft Graph.  https://github.com/Huachao/vscode-restclient/pull/649  Feedback welcome!

[2020-07-29 05:13] Huachao commented on #648
@rdhar nice catch, I have fixed it, and before I publish a new version, you can try the format like following to achieve this `{{$localDatetime 'YYYY-MM-DDTHH:mm:ss.SSSZ'}}` with a specified format string.

[2020-07-29 05:13] #648 closed

[2020-07-29 09:08] rdhar commented on #648
Thanks for such a prompt response, @Huachao, really appreciate it! Current behaviour is as follows:

| Variable         | Format                     | Result                          |
| ---------------- | -------------------------- | ------------------------------- |
| `$datetime`      | `iso8601`                  | `2020-07-28T14:30:00.000Z`      |
| `$localDatetime` | `iso8601`

[2020-07-29 10:01] Huachao commented on #648
@rdhar I will use your suggestion, however, the format `YYYY-MM-DDTHH:mm:ss.SSSZ` works on my machine

[2020-07-29 10:15] rdhar commented on #648
Oh, in that case, I wonder if the issue is on my end. Sorry if I've caused a hassle, I'll double-check my output to be sure.

What's your output for `YYYY-MM-DDTHH:mm:ss.SSSZ` and your local timezone? How does this compare after your latest commit ba88dcb?

[2020-07-31 03:03] ningpengfei opened #653 "响应区域无法直接复制"
右边的响应区域想要复制某一段是不行的，只能点击右上角的Copy body？？？？？？？？？？

[2020-07-31 16:52] TechWatching commented on #339
I am willing to try it. But how can I test it. If I clone your branch from the PR, what do I have to do to test it in my vs code ? Sorry, never try to use rest client from the source code.

[2020-08-01 13:36] RogerThattt commented on #122
Hi
I am also getting the below error

Connection is being rejected. The service isn’t running on the server, or incorrect proxy settings in vscode, or a firewall is blocking requests. Details: RequestError: connect ECONNREFUSED 127.0.0.1:443.

How do i check for rest client related settings in vscode setting file

[2020-08-01 14:08] RogerThattt opened #655 "Hi I am getting the below error Connection is being rejected. The service isn’t running on the server, or incorrect proxy settings in vscode, or a firewall is blocking requests. Details: RequestError: connect ECONNREFUSED 127.0.0.1:443. How do i check for rest client related settings in vscode setting file"

[2020-08-01 14:09] RogerThattt commented on #655
@Huachao

[2020-08-01 16:01] cassioconti opened #656 "Copy (Ctrl+C) not working anymore in the response window"
- REST Client Version: v0.24.1
- VSCode Version: 1.47.3 (user setup)
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Run a request with REST Client.
2. On the opened response window, select some part of the response and try to copy (Ctrl+C)
3. Try to paste in the editor or another text editor. The selected text was not copied.

This used to work.

[2020-08-01 16:37] darrelmiller commented on #339
@TechWatching That's the most awesome part.  Clone it, load it into VS Code and then select Run and it will spin up a new instance of VS Code with the extension installed.  You can even debug and step through the extension.

[2020-08-01 17:49] equiman commented on #446
I'm trying to do the same with PokeAPI:

[code]

But isn't working. Could you add support for variables inside `randomInt`?

[2020-08-01 19:22] equiman commented on #491
Add this setting on vscode, then you can see the request header with variable values.

[code]

[2020-08-01 22:28] lucasluca commented on #523
Im facing the same issue in MacOs Catalina

[2020-08-03 11:28] quammy commented on #656
+1
temporary solution - on the top right corner there's a button to copy *all* the text of the response...

[2020-08-04 05:41] Huachao commented on #653
Duplicate of #641

[2020-08-04 05:41] #653 closed

[2020-08-04 05:41] Huachao commented on #656
Duplicate of #641

[2020-08-04 05:41] #656 closed

[2020-08-04 05:42] Huachao commented on #655
@RogerThattt what's your setting for `http.proxy`

[2020-08-05 07:47] RogerThattt commented on #655
Hi Huachao

When i import import 'package:http/http.dart' as http;

Target of URI doesnt exist - 'package:http/http.dart'

'where' is not recognized as an internal or external command,
operable program or batch file.
Error: Unable to find git in your PATH.
exit code 1

I have installed Git, and in my environment variables under path have put
C:\Program Files\Git\cmd;C:\src\flutter\bin;C:\src\flutt

[2020-08-05 08:03] RogerThattt commented on #655
git --version in cmd prompt gives me

git version 2.28.0.windows.1

On Wed, Aug 5, 2020 at 12:52 PM manoj mohan <manojkmohan@gmail.com> wrote:

[2020-08-05 11:07] mensand commented on #523
I have the same problem also.

The URL is defined as

https://localhost:44391/.well-known/openid-configuration
And the error is on
https://127.0.0.1:44391/.well-known/openid-configuration

Do you know why the localhost is replaced with 127.0.0.1 IP address. The IISExpress is only listening on localhost by name

[2020-08-06 07:15] TechWatching commented on #339
Hum, I must have missed something because I correctly retrieved a token but the query to graph failed anyway :
[code]
I try with this one (same response without the tenant Id specified).
[code]

Another thing to note is that pop up to login in the browser shows up too late i.e. after the pop up where I can click on "Done". It still work because I can click on "Try again" and it will show up (twice

[2020-08-07 00:10] MyWorldG opened #657 "I can't copy the contents in the split editor."
Issue Type: <b>Bug</b>

I can't copy and paste content in the editor window of the response

Extension version: 0.24.1
VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2300 CPU @ 2.80GHz (4 x 2794)|
|GPU Status|2d_canvas

[2020-08-07 00:10] MyWorldG commented on #657
![vscodebug3](https://user-images.githubusercontent.com/53108767/89594802-6bdb3700-d885-11ea-8b7e-c96ee0039aae.gif)

[2020-08-07 06:50] LennardFi commented on #657
Same in my vscode

Version: 1.47.3 (user setup)
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:12:49.994Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Extension-Version: v0.24.1

[2020-08-07 16:08] Miuler commented on #229
Please add this feature

[2020-08-08 03:38] MyWorldG commented on #657
@Huachao

[2020-08-08 04:16] QuantumGhost commented on #229
If you do want this, you may start a bounty (maybe on bountysource.com). Then other people may get more motivation to implement it.

[2020-08-10 03:48] soaringk opened #658 "Is it possible to send files inside docker container?"
I was trying to upload an image file located in a CentOS docker container, as follows:

[code]

However, whenever I tried to send request, the vscode gave me:
<img width="454" alt="Screen Shot 2020-08-10 at 11 31 59 AM" src="https://user-images.githubusercontent.com/42689402/89750099-1c9f3b80-dafd-11ea-8e82-c0dc74a38ce2.png">

This seems to be a path issue. Maybe the client doesn't know where to f

[2020-08-10 03:52] soaringk commented on #658
BTW, if I changed the path to somewhere on my host machine, I can send the request without an error prompt but I can't  actually upload the image.

[2020-08-10 13:09] darrelmiller commented on #339
@TechWatching Depending on what request you are making you will need to consent the RESTClient extension access to your data.  You do this by providing the scopes attribute.  Each reference documentation page on Microsoft Graph tells you which scope the application needs to consent to before it can make the call.  e.g. https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-1.0&tabs=h

[2020-08-11 05:30] Huachao commented on #657
Duplicate of #641

[2020-08-11 05:30] #657 closed

[2020-08-11 05:33] Huachao commented on #658
@soaringk where's your request file and your VSCode?

[2020-08-11 08:52] soaringk commented on #658
They're on the host, But I mounted my project folder (including images) when started container. I also tried to copy the image to somewhere else in the container like under the `/tmp` folder, still no work.

[code]

<img width="376" alt="Screen Shot 2020-08-11 at 4 49 38 PM" src="https://user-images.githubusercontent.com/42689402/89877430-ac72e180-dbf2-11ea-96bd-bd69a7183870.png">

My VSCode was o

[2020-08-11 11:01] stevenson commented on #243
I am experiencing the same issue with a http file with a body.
I sent a request with header
````content-type: "application/json"```
but when I removed the quotes for application json it worked
```Content-Type: application/json```

[2020-08-11 11:01] jkcdarunday commented on #243
@DefaultJARR
Hi, I noticed that there are two colons after your Content-Type which causes the client to send an invalid type and the server to not know how to process the body.

[2020-08-11 11:47] Huachao commented on #646
@zhupengfeivip could you please show me the sample request file that will generate the second screenshot?

[2020-08-12 17:24] dv29 commented on #182
I'm interested in this, if you have any ideas on how you want to do it. i can help you build it out.

[2020-08-12 21:17] andrechalom commented on #243
Having the same issue on Windows 10 when running requests against localhost, maybe it's related?

example.rest as follows:

[code]

[2020-08-12 23:46] Ramos-Diego commented on #122
For people using Express.js, I resolved this issue by specifying the host with `app.listen()`:

[code]

It's strange because I had been using REST client for weeks without issues and without specifying `localhost`.

[2020-08-13 01:24] jkcdarunday commented on #243
@andrechalom Check out @stevenson's comment above. The value of content-type should not be wrapped in double quotes.

[2020-08-13 01:59] andrechalom commented on #243
My bad, the actual problem was how I was trying to read the $_POST superglobal, when I should be looking at `file_get_contents("php://input")`

[2020-08-13 05:55] lee-baker opened #659 "Show current environment next to "Send Request" in code lens"
It would be great to show the current selected environment next to the send request code lens button to help mitigate sending requests to environments inadvertently. This could also open the environment selector when clicked.

Keeping the environment close to the send request makes it harder to make mistakes

[2020-08-13 12:09] werfb1 opened #660 "I'm receiving 3 cookies in a response, these are merged comma seperated. How can i select the third cookie in a new variable?"

[2020-08-13 13:09] Joeboyc2 commented on #641
This change has fixed the issues for me, thank you @Huachao it was really bugging me

[2020-08-13 17:32] jamie-burks opened #661 "Is selected custom environment name available in a variable?"
When multiple custom environment are defined, is there a variable that returns the name of the selected environment? I'm finding I could use that variable to substitute in my URLs for testing different environments. I've looked through the doc and issues but haven't found that it's available.

[2020-08-14 09:30] JohnPiepersSmits opened #662 "Parse Error: Expected HTTP/"
- REST Client Version: v0.24.1
- VSCode Version: 1.48.0
- OS Version: Windows 10 1909

Version: 1.48.0 (system setup)
Commit: db40434f562994116e5b21c24015a2e40b2504e6
Date: 2020-08-13T07:50:42.600Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

Using a get request saved in a send.http file (GET http://url HTTP/1.1

[2020-08-15 17:31] zzc-tongji commented on #284
By the way, how to remove cookies that have already set? Where is `cookie.json`?

[2020-08-17 01:39] Huachao commented on #660
Duplicate of #316

[2020-08-17 01:39] #660 closed

[2020-08-17 01:40] Huachao commented on #662
@JohnPiepersSmits could you please show me your actual request or HTTP file

[2020-08-17 05:20] JohnPiepersSmits commented on #662
Sure.

This request works:
POST http://website.local/dev/api.php

But if I try a GET to the same local url:
GET http://website.local/dev/api.php

This shows the popup with the Parse Error: expected HTTP/

As I already mentioned, this error is since VSCode was updated to version 1.48
Before that there was no issue at all.

[send-test.zip](https://github.com/Huachao/vscode-restclient/files/5082272/s

[2020-08-17 05:26] Huachao commented on #662
@JohnPiepersSmits could you please show me the error details, you can checkout this in the output channel of `REST`

[2020-08-17 11:48] lee-baker commented on #659
I have added a pull request for this #664

[2020-08-17 13:19] sgentile opened #665 "Auth Request prior to REST call"
I'm using graphql , the queries work great.

We have a 3rd party auth call we make to get a bearer token.   I would like to make that request, get the token, and set it in our queries (we were doing this in our postman calls).

Is this possible - a 'pre-script' request to get and then set a {token} variable ?

[2020-08-17 18:28] waldyrious opened #666 "Smart selection of request boundaries if no manual selection is made"
It is a bit cumbersome to manually select an entire request to be able to right-click and, for example, copy it as a curl command. I would like the extension to automatically determine a request's boundaries when no selection is made, so I could simply right-click anywhere within a request and perform actions with it. This issue is similar to #644/#645, but the proposed behavior is the opposite: g

[2020-08-18 04:40] Huachao commented on #666
@waldyrious you need to add request delimiter `###` between requests to mark request boundary if you wish to put multiple requests in the same `http` file as following:
[code]

[2020-08-18 04:40] #666 closed

[2020-08-18 04:40] Huachao commented on #665
Duplicate of #209

[2020-08-18 04:40] #665 closed

[2020-08-18 04:56] Huachao commented on #428
@DefJunx @chevtek @hellorayza @Spanhaak this will be supported in the next release.

[2020-08-18 04:56] #428 closed

[2020-08-18 08:19] waldyrious commented on #666
Oh, right! 🤦 I don't know how I missed that in the documentation, it's [right there](https://github.com/Huachao/vscode-restclient#select-request-text) :) sorry for the noise.

[2020-08-18 08:35] Huachao commented on #661
@jamie-burks I am afraid not, currently, you have to create a variable whose value is your environment name

[2020-08-19 19:25] rafek1241 opened #667 "[suggestion] Make virtual document preview as default view for responses"
As in topic.
Benefits:
* better performance.
* copy & paste working for any text.

[2020-08-20 04:58] #339 closed

[2020-08-20 05:05] Huachao commented on #667
@rafek1241 what do you mean the *virtual document preview*, the webview mode or the text document mode?

[2020-08-20 05:19] rafek1241 commented on #667
@Huachao I mean the `text document mode` but after I reviewed it on my another computer I see that copy & paste working correctly for both modes and I just have problems (maybe because of other plugins) with vscode. Your text document mode is done based on https://code.visualstudio.com/api/extension-guides/virtual-documents.

[2020-08-20 05:59] Huachao commented on #667
@rafek1241 the copy and paste function in webview mode doesn't work well in VS Code 1.40. After upgrading to the latest version 1.41, everything should work as expected. If you want to use text document mode as the default preview mode, you can set the `rest-client.previewResponseInUntitledDocument` to `true`

[2020-08-20 05:59] #667 closed

[2020-08-20 08:18] rafek1241 commented on #667
@Huachao I understand that there's no issue but why don't you want to set it as default on the extension level? Is the webView, that you're currently using, performant enough?

[2020-08-20 08:34] Huachao commented on #667
@rafek1241 good question, actually we can set the text document view as the default one. The reason may be that the webview was implemented almost in the first version of the extension. The other reason is that no other users complain about this. Personally I think the switch to the text document view makes sense. Nonetheless, before other users voted for this, I still would like to keep it as is.

[2020-08-20 09:59] rafek1241 commented on #667
@Huachao I think people won't complain because they won't see any difference. Nowadays PCs are really strong and I guess that every user uses vscode not only with the `Rest client` plugin. In this way went they experience that performance drops they can assume that it doesn't related to the `Rest client`.

[2020-08-24 08:09] youcanping opened #668 "Connection is being rejected. The service isn’t running on the server"
- REST Client Version: 0.24.1
- VSCode Version: 1.48.1
- OS Version: MAC 10.15.5

Steps to Reproduce:
1. send post
[code]
2. error
Connection is being rejected. The service isn’t running on the server, or incorrect proxy settings in vscode, or a firewall is blocking requests. Details: RequestError: connect ECONNREFUSED 127.0.0.1:1087.

[2020-08-24 18:36] JamoCA opened #669 "Output is not viewable"
- REST Client Version: 0.24.1
- VSCode Version: 1.49.0-insider
- OS Version: Windows_NT x64 10.0.18363 (er, Windows 10)

Steps to Reproduce:

1. Perform API request and wait for new window to appear
2. New window tab indicates `Response(1554ms)`, but  nothing is displayed within the response window.

No response text is visible.  There's no text to view and/or select.

I've restarted VSCode and tr

[2020-08-24 20:36] rafek1241 commented on #563
@Huachao @rohitkrishna094
Regards this thing - I'm working on from time to time:
https://github.com/rafek1241/vscode-restclient/tree/feature/import-documents
Still in progress but at least documents are parsed. It will take much time because there's still wrap up of the importer architecture, resign from `postman-collection` dependency and use our-own typescript interfaces...

[2020-08-24 21:04] JamoCA commented on #669
A new VSCode commit was just released and has appeared to fix this issue.

[code]

[2020-08-24 21:04] #669 closed

[2020-08-24 21:05] JamoCA commented on #669
Bug was due to insiders version of VSCode and has been fixed within 2 hours of reporting this.

[2020-08-25 01:23] tuath commented on #302
This would be great !

[2020-08-25 09:08] Huachao commented on #668
@youcanping what's your proxy settings `http.proxy`

[2020-08-25 11:21] rise05 commented on #15
Thank you for a great tool! Would also love to see NTLM support.

[2020-08-27 02:56] sontd-0882 commented on #216
@Huachao How about splitting to `bottom`  or `top` of the current tab.

[2020-08-27 03:38] Huachao commented on #216
@sontd-0882 `top` is not supported natively by VS Code, you can open the response tab in the bottom by set `"workbench.editor.openSideBySideDirection": "right"` and `"rest-client.previewColumn": "beside",`

[2020-08-27 12:27] rodrigoestevao commented on #197
@Huachao, I do have the same need. I was taking a look on [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) link and I do believe that a JSON stringify with the correct replacer, would do the job for most cases.

[2020-08-27 18:37] rafek1241 opened #670 "Lazy evaluated variables"
I would like to see something like a postman client.
Example:
[code]
Expected result:

When `SendRequest` will be clicked then there will be prompt to write the remaining id. We won't need to specify it before request execution but during the process.

Possible addition:
[code]
Explanation:
in the line `# @param:id` we would define the description message of the prompted variable to hint user what

[2020-08-28 02:01] james-klein opened #672 "Support system variables in settings? (esp. default headers)"
I want to do something like the below, but currently `{{$timestamp}}` is taken literally and used verbatim.

[code]

Is this supported somehow? If not, could it be?

[2020-08-28 09:42] Huachao commented on #670
Duplicate of #479

[2020-08-28 09:42] #670 closed

[2020-08-28 11:49] chaeron opened #673 "Environment variables from file rather than VSCode settings"
Having environment variables defined in VSCode setting works, but is awkward when you are working on a multi-person project since it's harder to share the settings with your colleagues, save them in Git, version them, etc.

Would be really nice if there was a way to load different environments from a separate file rather than settings.

[2020-08-28 23:34] afeblot commented on #521
yes, it would!! Ideally, integrated in the rest client output pane. Or a way to integrate or "pipe" to existing vscode jq extensions such as jq-vscode or VSCode js playground

[2020-08-30 03:19] Huachao commented on #339
@TechWatching you can try the latest version 0.24.2, thanks for the contribution from @darrelmiller

[2020-08-30 03:20] Huachao commented on #428
@DefJunx @chevtek @hellorayza @Spanhaak you can try the latest version 0.24.2

[2020-08-30 03:20] Huachao commented on #648
@rdhar you can try the latest version 0.24.2

[2020-08-30 03:21] Huachao commented on #636
@dancherb you can try the latest version 0.24.2

[2020-08-30 03:21] Huachao commented on #635
@vobu you can try the latest version 0.24.2

[2020-08-30 03:22] Huachao commented on #631
@tvld you can try the latest version 0.24.2

[2020-08-30 09:42] tvld commented on #631
Great thank you ))

[2020-08-31 15:59] mchelen-gov opened #675 "Where do processEnv variables need to be defined?"
When using [processEnv](https://github.com/Huachao/vscode-restclient#system-variables) variables such as `Authorization: {{$processEnv PRODSECRET}}` where does the `PRODSECRET` system environment variable need to be defined?
For example:
1. In `~/.bashrc`:
[code]
2. In terminal before running VSCode:
[code]
3. In VSCode terminal:
[code]

It seems like #1 is the only way that works, is that correct

[2020-08-31 16:13] mchelen-gov commented on #279
another good option is to put credentials into a `.env` file which can be read using: `{{$dotenv PASSWORD}}`
https://github.com/Huachao/vscode-restclient#system-variables

(remember to `.gitignore` this file to avoid committing it)

[2020-09-01 16:15] michaelalhilly commented on #302
Dang! Almost 2 years and still nothing. This would be great. Especially with the rise in popularity of Firebase. Still a great extension though!

[2020-09-01 18:11] vinitdave27 commented on #662
I have the same error. Below is the error from the output terminal for the RESTClient extension.
[Error - 1:09:03 PM] Failed to send request:
RequestError: Parse Error: Expected HTTP/
	at ClientRequest.<anonymous> (c:\Users\davevx\.vscode\extensions\humao.rest-client-0.24.2\dist\extension.js:252:3306)
	at Object.onceWrapper (events.js:291:20)
	at ClientRequest.emit (events.js:208:15)
	at ClientReq

[2020-09-02 01:27] Huachao commented on #662
@vinitdave27 could you please show me your request

[2020-09-02 01:31] vinitdave27 commented on #662
GET http://localhost:5001/api/v1/user/list

[2020-09-02 01:37] vinitdave27 commented on #662
Same occurs when I perform a POST http://localhost:5001/api/v1/user/add HTTP/1.1
Content-Type: application/json

{
"firstname":"sample"
}

[2020-09-02 01:40] Huachao commented on #662
@vinitdave27 could you succeed with `cURL` or other HTTP client tools, and show me the response there if available

[2020-09-02 01:42] vinitdave27 commented on #662
Yes, I can run the same requests from postman and they successfully run. I don't have the responses right now handy, but I can post later.

[2020-09-02 09:32] warrenchin opened #676 "No response when result contains encoded string with double forward slash"
When response contains encoded string with double slash, the result just gone missing.

- REST Client Version: 0.24.2
- VSCode Version: 1.47.2
- OS Version: Mac 10.15.6

Steps to Reproduce:

1. Not OK
[code]
2. OK
[code]

[2020-09-02 10:54] jalezi opened #677 "No Send Request link"
Hello,

Why I don't have Send Request  link above GET url ?

My file is with .http extension.

Best regards,
Jaka

[2020-09-02 11:12] rafek1241 commented on #677
@jalezi
Can you provide us your http call preview?

[2020-09-02 11:46] jalezi commented on #677
@rafek1241
I hope this will help.

![Screenshot 2020-09-02 12 44 02](https://user-images.githubusercontent.com/44704999/91977148-7a9cf880-ed22-11ea-9f77-a9a3227c2f72.png)

[2020-09-02 12:27] rafek1241 commented on #677
@jalezi
Can you disable other extensions that affect codelens or http extension file? In this way we can find out if the extension doesn't work in accompany of some other extension.

[2020-09-02 12:41] jalezi commented on #677
@rafek1241
Sorry.
Code Lens was disabled :)

[2020-09-02 13:34] rafek1241 commented on #677
@Huachao can you close the issue?

[2020-09-02 13:41] vinitdave27 commented on #662
Access-Control-Allow-Origin: *
Content-Security-Policy: default-src 'self';base-uri 'self';block-all-mixed-content;font-src 'self' https: data:;frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests
X-DNS-Prefetch-Control: off
Expect-CT: max-age=0
X-Frame-Options: SAMEORIGIN
Strict-Tra

[2020-09-02 15:57] #677 closed

[2020-09-03 01:51] Huachao commented on #676
@warrenchin I think it's related to your server-side logic, how does your server handle the unescaped slash?

[2020-09-03 02:07] tangdw commented on #676
#620

[2020-09-03 02:11] Huachao commented on #676
@warrenchin @tangdw can you work with old versions?

[2020-09-03 02:12] tangdw commented on #676
0.24.2 is ok

[2020-09-03 03:07] Huachao commented on #676
@warrenchin @tangdw I have fixed the issue and will publish a new version soon.

[2020-09-03 03:08] #676 closed

[2020-09-03 06:27] youcanping commented on #668
放弃了，调不出来

[2020-09-03 06:28] #668 closed

[2020-09-03 14:44] racedaemon commented on #122
I'm getting the same behavior with a Lumen server running trough `php -S localhost:8000 -t public` on Windows 10.
Solved it by using `php -S 127.0.0.1:8000 -t public`.
Postman had not problems with it. I suspect the underlying node package that sends the request is the culprit because I tried another rest client extension and got errors there as well.

[2020-09-03 15:18] warrenchin commented on #676
Thank you guys, and thanks again for the great plugin.

[2020-09-03 21:00] rdhar commented on #648
The results are perfect, as shown in the screenshot from [Postb.in](https://postb.in/) below. Many thanks once again for your prompt resolution, @Huachao!

![image](https://user-images.githubusercontent.com/19497993/92166502-9d1d3780-ee30-11ea-9819-556c1efee16e.png)

[2020-09-04 12:00] viewer2018 commented on #594
我也碰到了相同的问题。
本地环境：
Extension version: 0.24.2
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:09:08.021Z)
OS version: Darwin x64 19.5.0

当请求响应中有中文时无法进行处理就无法处理了，比如响应中包含
[code]
Response 就为空了

[2020-09-04 13:35] Huachao commented on #594
@viewer2018 Response为空可能是由于#676

[2020-09-04 18:14] robertoarcos55555 opened #678 "How can I pass my network credential to all my request?"
all request in my company require authentication
so I need to pass my user password for all request.
Is there a way to configure this so I only enter my user/password once and all files use that profile?
otherwise is there a way to just say pass the credentials of the user logged in windows?

Reply answer also to my robertoarcos5@gmail.com

Please advise
Roberto

[2020-09-07 13:25] vobu commented on #635
works! thanks!
🥳

[2020-09-08 12:52] johnwebbcole opened #680 "Allow per request settings override Rest Client system settings"
I'd like to be able to set per-request settings and change the value of a Rest Client setting.

Reading [this](https://github.com/Huachao/vscode-restclient#per-request-settings) made it appear that it was possible, but reading the syntax regex's, it looks like only `@note` is currently supported.

In my case, I'd like to disable `followRedirect` for a single request.

[code]

I imagine other setti

[2020-09-08 23:02] interglobalmedia commented on #523
Hi, I also have the same problem when trying use POST request on localhost. a GET request on a production url is fine. Just POST request on localhost is causing a problem for me.

I created a .txt file I called rest-client.txt. When I read this thread, I tried to install via vsix, and the file was not recognized. Neither were any other ones on my computer. What could I be doing wrong? Thanks in ad

[2020-09-08 23:28] interglobalmedia commented on #523
I tried again, and now everything for some reason is working. My file is still called rest-client.txt by the way. Now the trick will be to reproduce this!

[2020-09-08 23:37] interglobalmedia commented on #523
Hi, again, so far I have been able to and am starting to get how this works. It's actually much better using this extension that works directly with the code you are building instead of mock third party service code. Thanks!

[2020-09-09 04:40] Huachao commented on #678
@robertoarcos55555 One way is to use file variable for the auth header and add this variable to all the requests, another is to use the setting `rest-client.defaultHeaders` which will add the headers to all the requets

[2020-09-09 07:20] madiken21 commented on #673
+1

[2020-09-09 09:28] Marvin-Brouwer commented on #673
+1
Maybe just recurse up from http files finding a environment.json that overrides it's parent?

[2020-09-09 10:36] interglobalmedia commented on #523
Hi again,

Now everything works exactly as expected when I use req.body in my index.js (server file) for my Node.js/Express/MongoDB application. One thing that was causing issues but I didn't check at first was that I would get disconnected from the server and that is why things ended up not working. Now I just have to double check before I hit "Send Request". That must be something either with no

[2020-09-09 23:54] gojanpaolo opened #681 "Open (automatic or manual) a response for specific mime types"
Hello. It would be nice if the response body is automatically opened (and saved?) if the response body is of a specific mime type. For example, if `application/pdf` then open the default browser.

[2020-09-15 08:10] the-docta opened #682 "No Auth header sent when re-running a request"
- REST Client Version: 0.24.2
- VSCode Version: 1.49.0
- OS Version: MacOS Catalina 10.15.6

Steps to Reproduce:

1. run a request with auth header (in current example, a POST with "Authorization: Basic user:pw" )
2. Pressing Command-Option-L reruns last request, but gets 401 unauthorized

[2020-09-15 10:46] FloMaetschke commented on #402
I have a folder structure by feature, each feature has a controller with its functions and etc. stuff in it. It also has a e.g. auth.http in the auth folder, or a users.http in the users folder.
At the moment, i have to copy the login request to all http files in all folders, to login file by file. thats really annoying.

[2020-09-19 04:16] sghsri opened #683 "Have a Sidebar webview for easier access and better UI!"
Recently, VScode pushed up the functionality to have [sidebar webviews](https://github.com/microsoft/vscode/issues/46585). This opens a ton of possibilities for making the extension way more user friendly and intuitive as we are now able to have custom UIs and actions in the sidebar. I imagine the sidebar can be used to specify the request headers and the actual request response could show up in t

[2020-09-19 04:48] sghsri opened #684 "Have a command for opening an untitled .http file"
Kinda like the quokka.js has a command to open a new javascript file to use as a scratchpad, I think having a command for this extension would allow users to remap a keybind to open an unsaved, untitled .HTTP file and thus open up the "rest client scratchpad" would be extremely helpful from a UX standpoint. Rather than having to manually create a new .HTTP file with a garbage name, and then later

[2020-09-19 14:17] dineshKumar777 commented on #677
Can you mention this info in readme doc.
I was about to create an new issue and saw this existing one. After enabling codelens I am seeing send request link now.
Thanks.

[2020-09-19 18:53] mchelen-gov commented on #673
Have you looked at the dotenv variables like `{{$dotenv USERNAME}}`?

[2020-09-21 20:40] alycda opened #685 "Response Type: M3U8 Playlist"
I know this is an oddly specific request, but I'd like to be able to use the response body from an MP3 Playlist file to generate a request url. I'd be happy to contribute if someone can point me in the right direction for adding this feature to the repo.

Thanks for the awesome plugin ❤️

response looks like this:

[code]

where I'd like to grab lines like `997452/playlist.m3u8?terminate=false` an

[2020-09-22 09:24] arliang commented on #148
So how to make a default header in http file

[code]

Got response:

[code]

[2020-09-23 09:36] Huachao commented on #682
@the-docta nice catch, I have fixed the issue and will publish this in the next release.

[2020-09-23 09:36] #682 closed

[2020-09-23 16:23] dzmitry-lahoda commented on #326
content length header is larger than 10kb, just do not parse or pretty print - swap to raw text. the solution seems simple. if else on header

[2020-09-24 03:38] dzmitry-lahoda commented on #326
wow, with this hang even close and reopen does not help - it hangs ui upon restart

[2020-09-24 08:25] Steinblock commented on #389
I came accross this issue because I also had a  generic `socket hangup` message for a simple request on my dev machine.

Eventually the problem was that I tried to access an https endpoint with http (instead of `https://localhost:5001` I used `http://localhost:5001`).

After 20 minutes searching the web I noticed my mistake. Maybe this comment will help sombody else with the same problem.

[2020-09-24 15:59] yarus opened #686 "Define and run integration tests sequence for HTTP Requests"
Usually, in many APIs you have a number of entities, which have relations to each other. And api exposes endpoints to create each type of entity. Using REST Client variables we can chain those request which allows to define some kind of integration test scenario which confirms that API is up and running.

Lets assume we have the following entity with defined fields:
JobOrder
- locationId
- departm

[2020-09-25 09:35] mhamri opened #687 "is this addon still work?"
I just installed this addon and made a .http file. but unfortunately no "send request" appear on top of the first line in the vscode. I closed and reopened the vscode but nothing happened. so I was thinking something should be broken

![image](https://user-images.githubusercontent.com/8991783/94251652-6761ff00-ff55-11ea-9523-71d1b53f7ec6.png)

Version: 1.49.2 (user setup)
Commit: e5e9e69aed6e1984f

[2020-09-25 14:12] mheyberg commented on #687
same here,

Version: 1.49.1 (user setup)
Commit: 58bb7b2331731bf72587010e943852e13e6fd3cf
Date: 2020-09-16T23:27:51.792Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18362

[2020-09-25 22:32] JtMotoX opened #688 "Headers are converted to lowercase"
- REST Client Version: v0.24.2
- VSCode Version: v1.48.2
- OS Version: macOS Catalina 10.15.6 (19G2021)

First of all I want to give a huge thank you for making this extension.  I use it on a daily basis 👍

### Issue:

Some API endpoints expect the headers as case-sensitive.  When I try to make api calls to these endpoints using this rest client, the api endpoint does not recognize the headers bec

[2020-09-25 22:43] JtMotoX commented on #687
I would recommend you to check out the documentation ([link](https://marketplace.visualstudio.com/items?itemName=humao.rest-client)).  It is written very well by the author and it should have everything you need.

To answer your question.  I see a couple issues with your .http file.

1. [Circled in red in screenshot below] - You need to separate each request with ###.  This is mentioned under the

[2020-09-26 11:42] fskroes commented on #197
I would love to have this as well 👍

[2020-09-27 14:05] Huachao commented on #687
@JtMotoX thanks for your explanation.

[2020-09-27 14:05] #687 closed

[2020-09-29 00:00] Huachao commented on #688
@JtMotoX this is by design since the underlying Node.js http module will convert all header names to their lower case.

[2020-09-29 00:00] #688 closed

[2020-09-29 09:07] mhamri commented on #687
@JtMotoX thanks, I were used this addon before and it was working but now it doesn't. and adding ### doesn't do anything

I tried first with single GET method and no "send request" appeared in the editor.
I've also tried with the "command bar (Ctrl+shift+p)" to send the request. this is intermitent. sometimes show the sidebar, sometimes doesn't show

![image](https://user-images.githubusercontent.

[2020-09-30 10:32] Req opened #689 "Reference saved HTTP calls from code"
My idea is that I could reference a request from my .http file, such as

    ### foobar
    GET localhost:3000/api/foo

And reference it directly from code

    // ### foobar
    fooHandler = async () => { return await axios(something); };

And I would be able to trigger the request directly from code. I such a thing possible by extensions? It would be handy to tinker with my handlers and trigger

[2020-10-01 12:02] joaogsleite opened #690 "Support .env file on the root of the project"
This extension do not support `.env` files that are not on the same folder as the `.http` file

Imagine this project structure:
[code]
On each subfolders `doc.http` file, it would be great to use variables that are defined on the project root `.env` file.

[2020-10-01 12:27] momon commented on #563
Actually, synchronizing with Postman would be key for us, not sure if that's just a very specific case scenario, but the reason we keep postman is because it is very easy and quick to reference things in a team environment and to provide quick examples to others (not just devs) on how to work with our API's.

However, using this within VSC for a developer is MUCH MUCH faster and can leverage much

[2020-10-02 02:42] AleksandrIvanov9655 commented on #430
i dont understand well how to fix this error

[2020-10-05 07:45] whisp1222 commented on #678
rest-client.defaultHeaders does not work for get command

"rest-client.environmentVariables": {
    "local": {
      "Auth": "Basic",
      "host": "192.168.xxx.xxx",
      "user": "USER1",
      "password": "Password1"
    },
    "remote": {
      "Auth": "Basic",
      "host": "localhost",
      "user": "USER2",
      "password": "Password2"
    }
  },
  "rest-client.defaultHeaders":{
    "Autho

[2020-10-05 15:24] Huachao commented on #689
@Req it's not supported and is out of the scope of my extension

[2020-10-05 15:24] #689 closed

[2020-10-05 17:02] Huachao commented on #676
@warrenchin @tangdw you can try the latest version 0.24.3

[2020-10-05 17:03] Huachao commented on #682
@the-docta you can try the latest version 0.24.3 to verify

[2020-10-05 21:32] eaglemoor opened #692 "Idea .http down"
- REST Client Version: 0.24.3
- VSCode Version: 1.49.3
- OS Version: Darwin x64 19.6.0

Now, all request with js from idea down, because vscode-restclient send all body (json + js) as request body

Steps to Reproduce:
1. Run test server on go (or same over server to log request body)
[code]

2. Run test from test.http
[code]

If you don't want support idea format, please get right json/xml body fr

[2020-10-06 14:10] momon commented on #265
This appears to be not working still.  I set rest-client.logLevel to "verbose" and "info", neither seems to output anything on Output > REST panel.  The panel remains blank.

[2020-10-06 14:36] Huachao commented on #692
@eaglemoor my extension isn't fully compatible with the idea format of HTTP syntax.

[2020-10-06 17:29] eaglemoor commented on #692
It's ok, but can u support right parse json/xml body with ```> {%``` ?

[2020-10-06 19:15] SagarBobade commented on #430
Under Headers section click for hidden(headers). And remove duplicate headers(key-values).
that's it..!!!
try again to call API(or run collection).

[2020-10-06 22:50] dcsan opened #693 "comparison with DREDD?"
Recently came across the DREDD project and wondering how you would compare?

https://dredd.org/en/latest/

[2020-10-07 10:05] mehmetilker opened #694 "Lost command link and color functions after update"
- REST Client Version:0.24.3
- VSCode Version:1.49.3
- OS Version:Windows 19 1941

Steps to Reproduce:

1.Create .http file
2.Write standard request code

It was working until yesterday. Either VS Code or REST Client update broke functions.
Cannot see Send Request link or any other color on text.

[2020-10-08 09:42] Marvin-Brouwer commented on #673
@mchelen-gov That only works from the same folder as where the files are in.
Also, it doesn't allow you to change environments using the editor UI. You'll end up having "environment-a.env" and renaming them when you need them.

[2020-10-09 02:09] Huachao commented on #694
@mehmetilker could you please show me you http file?

[2020-10-09 07:34] mehmetilker commented on #694
@host = http://localhost:5000

###

POST {{host}}/api/accounts/login
content-type: application/json

{
	"userName": "aaa",
	"password": "aaaa"
}

I did not need to post the file content since same file was working few days ago....

[2020-10-09 07:36] Huachao commented on #694
@mehmetilker could you please show me the screenshot of your HTTP file, since only the content you provided works for me.

[2020-10-09 07:57] mehmetilker commented on #694
@Huachao Maybe I clould not explain the problem... I have tried a new .http file in another computer with same versions of VS Code and REST client and no problem.
Must be something internal related with VS Code... maybe other extension is prevent REST Client working properly...

![image](https://user-images.githubusercontent.com/279289/95557315-4b626100-0a1d-11eb-896d-1d46a7f261eb.png)

[2020-10-09 08:00] Huachao commented on #694
@mehmetilker did you try to work with restarting VS Code>?

[2020-10-09 08:04] mehmetilker commented on #694
@Huachao I have tried to restart few times, uninstall REST Client and install again... No chagen..

[2020-10-09 08:07] Huachao commented on #694
@mehmetilker could you please check with the VS Code built-in command `Show Running Extensions` by pressing `F1` and type the above command, after entering into the extensions page, check if my extension is loaded, and if not, check it my extension is disabled in your workspace.

[2020-10-09 08:09] mehmetilker commented on #694
Here is what I see on debug window

[code]

![image](https://user-images.githubusercontent.com/279289/95558897-9da48180-0a1f-11eb-90d9-9154e0c2f066.png)

![image](https://user-images.githubusercontent.com/279289/95558935-aac17080-0a1f-11eb-98c2-75ab218361f6.png)

[2020-10-09 08:13] Huachao commented on #694
@mehmetilker could you please check the json at path `file:///c%3A/Users/aaa/.vscode/extensions/humao.rest-client-0.24.3/syntaxes/http.tmLanguage.json`

[2020-10-09 10:03] mehmetilker commented on #694
@Huachao yes file is there but it does not look like json file
I will try to remove the folder humao.rest-client-0.24.3 completely and install again.

[http.tmLanguage.json.zip](https://github.com/Huachao/vscode-restclient/files/5354086/http.tmLanguage.json.zip)

[2020-10-09 10:06] mehmetilker commented on #694
@Huachao after I removed extension folder install again, it works.
Not sure why this happened...
Should I close the issue or you will investigate?

[2020-10-09 11:02] Huachao commented on #694
I will close it since I think it should be related to VS Code for the integrity check?

[2020-10-09 11:02] #694 closed

[2020-10-10 18:01] mhamri commented on #687
@Huachao  maybe you want to add this to the documentation, having `  "editor.codeLens": false,` in the setting is removing the "send requet" button

[2020-10-10 18:16] JtMotoX commented on #687
@mhamri actually the documentation pretty much already mentions this.

[2020-10-13 14:47] mhamri commented on #687
well, it's not clear enough and doesnt' pass the meaning at all. it should mention it as a requirement or tell what will happen if it's disabled.

`Codelens support` means the plugin support code lens, doesn't mean it doesn't work if it's disabled. some paraphrase is needed.

i would rewrite it as:

[2020-10-13 15:42] Huachao commented on #687
@mhamri it's welcomed to open a PR

[2020-10-15 08:01] matthieusieben opened #696 "Renderer very slow for big JSON"
A very big json response breaks the response renderer by making it so slow it is un-usable.
Additionnaly, the rendering of the response using a webview does not respects vs-code's color style.

Would it be possible to use vs-code's native code renderer instead of a webview to render responses ? It works so well for requests...

[2020-10-18 08:41] kasanitej opened #697 "Can we have al request headers(including Temporary headers)"
Hi,

For now the extension gives us the final request/response headers(body too) but it wont output the initial and intermediate requests/responses.

For example Digest Auth only gives us the final things.. but not the initial ones

[2020-10-18 18:19] mthierba opened #698 "AADV2TokenProvider only works for special case of MS Graph Tokens"
- REST Client Version: 0.24.3
- VSCode Version: 1.50.1
- OS Version: Win 10 2004

Steps to Reproduce:

1. Make HTTP request using `$aadV2Token` using full scope format:
[code]
2. AuthParameters regex fails to parse scopes, and request fails:
[code]

#649 is a tremendous contribution by @darrelmiller, and I was really excited to see this in place!

However, the Regex used to parse the token declara

[2020-10-18 18:44] darrelmiller commented on #698
Good catch.  Thanks for reporting this.  I did test non-graph APIs but I had used a confidential client scenario.  As you call out, public client scenarios are just as important.  I may choose not to use a regex to parse scopes as regexes for URLs get pretty ugly.

[2020-10-21 13:59] thomaslevesque commented on #148
Not ideal, but it gets the job done!

[2020-10-21 18:41] jluterek opened #699 "GraphQL file import fails"
- REST Client Version: 0.24.3
- VSCode Version: 1.50.1 (user setup)
- OS Version: Windows_NT x64 10.0.19041

Embedding GraphQL in http file works:

`
POST {{host}}/{{projectKey}}/graphql
Content-Type: application/json
Authorization: Bearer {{login.response.body.access_token}}
X-REQUEST-TYPE: GraphQL

query project {
  project {
...
`

Trying to use a gql file fails:

`
POST {{host}}/{{projectKey}}

[2020-10-22 03:13] Huachao commented on #699
@jluterek nice catch, I have fixed the issue and will publish it in the next release

[2020-10-22 03:13] #699 closed

[2020-10-22 06:31] chrlic opened #700 "Variable in URL - transformed to lowercase?"
Hi,

in a request like this:
[code]

the content of the variable applicationName is transformed to lowercase, so https://real-hostname/controller/rest/applications/vspheremonitor is sent - is there any way to prevent that?

Thanks,

Martin

[2020-10-22 10:27] waldo1001 commented on #15
Serious backlog :-/

+1 for me!

[2020-10-22 11:55] Huachao commented on #700
@chrlic in my test the URL sent out is not converting to its lower case, how did you find the issue?

[2020-10-22 13:42] Trane9991 commented on #432
Since this client is very similar to the one in IDEA (see #627), there is https://github.com/restcli/restcli, which intends to be CLI client for IDEA HTTP Client. This brings us back to #627, if features were similar that would mean that people would use the same `.http` files between IDEA, VSCode, and CLI.

[2020-10-22 13:43] Trane9991 commented on #432
A bit more reference links:
    - https://blog.jetbrains.com/phpstorm/2018/04/easier-start-with-the-http-client/
    - https://www.jetbrains.com/help/idea/http-client-in-product-code-editor.html
    - https://youtrack.jetbrains.com/issue/IDEA-239345?_ga=2.61553516.1137828120.1603356975-1132655038.1602585209&p=WI-42002
    - https://github.com/restcli/restcli

[2020-10-23 04:41] chrlic commented on #700
Oh, I get it - the problem was the quotes in the variable assignment and that the server returned an error message like this:
invalid application id &amp;quot&#59;**vspheremonitor**&amp;quot&#59; is specified

so the lowercase conversion was apparently done by the server.

Apologies, it's working fine when variable assigned without the quotes, e.g.
@applicationName = vSphereMonitor

BTW I love the

[2020-10-23 04:42] #700 closed

[2020-10-23 07:25] tvvignesh commented on #575
Yup. If this is available, I can move completely away from Insomnia to Restclient rather than switching in between the two. Autocomplete for variables, queries, mutations based on introspection from the GQL endpoint would be great.

[2020-10-23 09:35] tvvignesh opened #701 "Env Variables with quotes does not work within GraphQL variable"
Hi. I am trying out GraphQL requests with Rest Client. And if I want to use Rest Client variables within GraphQL variable inputs, it does not work within quotes. I get a JSON parsing error. If I remove the quotes, it works.

**This works:**

[code]

**This does not work:**
[code]

- REST Client Version: 0.24.3
- VSCode Version:
[code]

[2020-10-23 09:54] tvvignesh opened #702 "processEnv does not work when chaining variables"
I was trying to use processEnv in my request.

It works if I directly use them in my `.http` or `.rest` file like this: `{{$processEnv MY_VARIABLE}}`

It doesn't work if I add it to vscode settings like this:

[code]

and then refer to `{{MY_VAR}}` in my `.http` or `.rest` file.

I had switched to the right environment and the non-processenv variables were loading properly from vscode settings but

[2020-10-23 10:46] tvvignesh opened #703 "Infer operation name from the query/mutation name for GraphQL requests"
Hi. Write now, rest client supports naming the requests with the `@name` tag which is great but since GraphQL queries/mutations already have the operation name, it will just be an extra duplication to give the same name twice in `.http` files.

Rather, for GraphQL queries/mutations `@name` can be inferred from the query or mutation name for eg. `query signupAccount {}` means the operation name is

[2020-10-23 21:54] brbecker commented on #15
Is there any progress moving away from the [request library](https://www.npmjs.com/package/request), which has been deprecated since 2020-02-11, to one which supports additional authentication methods? I'm going to have to find a replacement for REST client, if not.

[2020-10-24 02:42] mohadel92 commented on #523
thanks

[2020-10-24 12:23] fadl8 commented on #169
I write like the in my request

Content-Type: application/x-www-form-urlencoded

I get that error

HTTP/1.1 400 Bad Request

{
  "error": "unsupported_grant_type"
}

[2020-10-25 14:16] aderchox opened #704 "Add Support for non-ASCII characters"
I think the title of this feature request says most of what I'm trying suggest here, but only as an example, let's say I'm making a request which will have non-English letters in its response, currently, the response is shown like this:
[code]
Thank you.

[2020-10-25 16:50] cosct opened #705 "扩展无法正常使用"
- REST Client Version:0.24.3
- VSCode Version:1.50.1
- OS Version:win10

Steps to Reproduce:

使用命令"Rest Client: Generate Code Snippet"

报错：命令"Rest Client: Generate Code Snippet"导致错误 (validation failed)

另外请求也无法正常响应

[2020-10-26 02:26] Huachao commented on #15
@brbecker my extension has migrated to [got library](https://www.npmjs.com/package/got) for several releases

[2020-10-26 02:28] Huachao commented on #705
@cosct could you please try to reinstall my extension, and did it work previously

[2020-10-26 02:29] Huachao commented on #704
@aderchox set VS Code setting `rest-client.decodeEscapedUnicodeCharacters` to `true` should work

[2020-10-26 02:29] #704 closed

[2020-10-26 02:30] Huachao commented on #169
@fadl8 could you please show me your actual request?

[2020-10-26 03:14] cosct commented on #705
尝试过重装多次，依然无法解决问题

[2020-10-26 03:26] Huachao commented on #705
@cosct You can check the output of `REST` channel of VS Code, and please paste the request if available

[2020-10-26 14:25] cosct commented on #705
无任何输出
`curl 'https://rm.api.weibo.com/2/remind/push_count.json?with_push_settings=1&trim_null=1&with_dm_group=0&with_settings=1&exclude_attitude=1&with_common_cmt=1&with_comment_attitude=1&with_common_attitude=1&with_moments=1&with_dm_unread=1&msgbox=true&with_page_group=1&with_chat_group=1&with_chat_group_notice=1&_pid=1&count=0&source=351354573&status_type=0&callback=STK_16037209872575' \
  -H '

[2020-10-26 14:30] Huachao commented on #705
@cosct does it work previously, can you find the spin icon in the status bar? Please also check the console output when you  type `F1 > Developer: Toggle Developer Tools` in VS Code?
以前能运行吗？发送请求时看到状态栏上的转圈图标了吗？同时用`F1 > Developer: Toggle Developer Tools`检查下控制台输出

[2020-10-26 14:42] cosct commented on #705
之前有用过是没问题的，另外我表述得可能有点问题，不是请求没有响应而是响应永远如下：
`HTTP/1.1 404 Not Found
Date: Mon, 26 Oct 2020 14:39:45 GMT
Connection: close
Content-Type: text/html
Content-Length: 48

<HTML><BODY><H1>404 Not Found</H1></BODY></HTML>`

控制台有一些信息：
`workbench.desktop.main.js:sourcemap:5479 Overwriting grammar scope name to file mapping for scope source.java.
Old grammar file: file:///c%3A/develop/Microsoft%20VS%20Code/re

[2020-10-26 14:55] Huachao commented on #705
@cosct did you set the VS Code proxy?

[2020-10-26 15:02] cosct commented on #705
没有配置代理

[2020-10-26 15:20] Huachao commented on #705
@cosct could you work with other URLs like baidu.com since I found an error in your console **getaddrinfo ENOTFOUND**?

[2020-10-26 22:39] iainwlg commented on #673
Yes please. This would be great timesaver when sharing a .http collection.

[2020-10-27 12:56] Marvin-Brouwer opened #706 "Multi-line variables"
This might be a very niché request but it also might not be.
I am in a situation where I need to talk to an API that accepts JSON inside of a form-encoded field
[code]
It's not the prettiest of API's but it's what we have to work with, the list of attributes can get quite large and I'd like to assign this to a variable with formatted json but put it inside of the form-encoded field like so:
[code]

[2020-10-27 20:32] opessoa commented on #643
I have this error when use host:port

[2020-10-28 08:58] buyaoshushu commented on #523
can't sent any curl request  on version 0.24.2.  downgrade to 0.23.1 anything goes well.

[2020-10-28 15:36] cosct commented on #705
别的请求貌似没有这个报错
另外，我发现这好像是0.24.3这个版本的问题，我切换到其他版本就可以正常使用了

[2020-10-29 06:16] mskuratowski opened #707 "Azure AD - callback"
Hi,

Currently, I use Postman to test my API where I can put my

- Grant Type (implicit)
- Callback URL (https://www.postman.com/oauth2/callback)
- Auth URL (https://login.microsoftonline.com/TENANT_ID/oauth2/v2.0/authorize)
- ClientId (CLIENT_ID)
- Scope (api://CLIENT_ID/Y)

When I get the token I am redirected to the login page and then I come back to Postman where I can reuse my token.

Is it p

[2020-10-29 09:16] PhilzAce1 commented on #182
Any Update on this ??? , I am really looking forward to it

[2020-10-29 11:38] Huachao commented on #705
@cosct nice catch, this is related to the upgrade of yargs-parser, which incorrectly parses the request URL with single quote, current workaround for you is removing the single quote around the URL or just replacing the `'` to `"`

[2020-10-29 11:38] #705 closed

[2020-10-29 11:40] Huachao commented on #707
@darrelmiller is it possible in the extension? Thanks in advance.

[2020-10-29 11:42] Huachao commented on #706
@Marvin-Brouwer this is not supported yet, but nice suggestion

[2020-10-29 11:47] #690 closed

[2020-10-29 12:07] cosct commented on #705
感谢作者的辛勤工作和解决方案，经尝试删除URL的单引号就能正常工作了，但把单引号替换成双引号依然无法正常使用

[2020-10-29 12:10] Huachao commented on #705
@cosct I already reverted the original commit, in the next release, you can use both single and double quotes

[2020-10-29 22:05] chadbr commented on #444
@Huachao any interest in a PR?

[2020-10-31 22:18] darrelmiller commented on #707
@mskuratowski You can't do implicit grant, but you can do client credentials and device code flow with the aadV2Token.  There is a bug with the scopes for custom APIs so the device code flow path needs a fix which I hope to get to very soon.

[2020-11-01 16:47] leviethung2103 commented on #523
I am confirming the double quotes would cause the problem. Just simply remove it and everything goes well.

[2020-11-02 06:36] mskuratowski commented on #707
@darrelmiller Thanks for the explanation. I think we can close the issue. thanks.

[2020-11-02 06:36] #707 closed

[2020-11-04 10:02] CatsMiaow commented on #284
@zzc-tongji
https://github.com/Huachao/vscode-restclient/blob/d7420d73d2dc180cf9bb0beb4b84fbcbbede6d4f/src/utils/userDataManager.ts#L8

In my case it was the `/Users/myusername/.rest-client/cookie.json` path.

[2020-11-05 02:53] ramos07 commented on #430
@AleksandrIvanov9655 Leave an empty line between your request headers and request body

[2020-11-05 06:51] gdub opened #709 "Display of response header name is altered when header name and value are case-insensitive matches"
- REST Client Version: 0.24.3
- VSCode Version: 1.50.1
- OS Version: Ubuntu 20.04

Steps to Reproduce:
1. Return a response with header and value that compare as case-insensitive equals, e.g.:
[code]
2. REST Client mangles the header names in its display of the response:
[code]
I would expect the case of the header names to match what came back in the raw response.

[2020-11-05 22:54] mchelen-gov commented on #182
@dv29 want to try some implementation and get feedback?

[2020-11-09 08:17] Huachao commented on #709
@gdub nice catch, I have fixed the bug and will publish in the next release.

[2020-11-09 08:17] #709 closed

[2020-11-09 12:13] Huachao commented on #705
@cosct I have published a new version 0.24.4. and you can have a try.

[2020-11-09 12:13] Huachao commented on #699
@jluterek I have published a new version 0.24.4. and you can try the fix

[2020-11-09 12:13] Huachao commented on #709
@gdub I have published a new version 0.24.4. and you can have a try.

[2020-11-09 12:14] Huachao commented on #690
@joaogsleite @JPedroBorges I have published a new version 0.24.4. and you can have a try.

[2020-11-09 15:43] Joe-Zer0 opened #711 "Save Response Bytes as File"
First, I love this plugin and thank you for all your hard work.
Second, I apologize if this was in the documentation and I missed it.

Is it possible to download a file with this plugin?  Below is python code that I am using, but I would like to do this via the Rest Client if possible.  Thank You!

[code]

[2020-11-10 02:50] Huachao commented on #711
@Joe-Zer0 you need to preview the response first and click the `Save Response` and `Save Response Body` as you wish

![image](https://user-images.githubusercontent.com/2796177/98621544-7d2f5600-2342-11eb-9587-60494d6167a1.png)

[2020-11-10 15:52] jluterek commented on #699
Thank you for this quick fix, I tested it and everything worked as expected.  This plugin looks amazing and I look forward to leveraging it.  Keep up the great work!

[2020-11-10 20:15] Joe-Zer0 commented on #711
@Huachao thank you for the quick response.  Save Response Body does what I want.  Is there some notation I can use in the .rest file to redirect the output to a file?

Also I had one more question.  I am attempting to send file data as well.  The examples I found use multipart/form-data.  I have tried to implement this, but I just get a 500 back from the server so I am doing something incorrectly.

[2020-11-11 19:21] tomvjoss opened #712 "custom header are sending part of request."
How can i send a custom header.

###
POST https:my api  HTTP/1.1
Content-Type:application/json
Authorization:{{BEARER_TOKEN}}
Tracking-ID:{{TrackingId}}

{
 jsonbody
}

i am getting header "racking-ID "as null at server side.

[2020-11-12 04:45] carlosMedrano27 opened #713 "Reuse .rest call"
I have a .rest file with my login implemented, is it possible to reuse this login call in other .rest files? My plan is to save that login call into a variable that will be shared on all the .rest files, I know that is environment variables, but I don't want to go the change that token into the file every time it expires

Do you have any ideas on how I can implement this?

[2020-11-12 13:07] tangmark opened #714 "Http headers always gets sent as lowercase"
Hi!
Great extention to VSCODE!
I found that the http headers sent gets put to lowercase even though the preview of Request/Response displays how they where initially written.

- REST Client Version: v0.24.4
- VSCode Version: 1.51.0
- OS Version: Windows 10

Steps to Reproduce:

1. set header "**Content-Type: application/json**" to a request, doesnt matter which method.
2. In the receiving end you

[2020-11-13 06:08] Huachao commented on #712
@tomvjoss what's the variable value of `TrackingId`

[2020-11-13 06:09] Huachao commented on #714
@tangmark this is the underlying Node.js behavior.

[2020-11-13 06:09] #714 closed

[2020-11-13 08:53] showenx commented on #521
First of all, love this extension, I was searching some solution for code blocks in the extension, I just want to throw some ideas, maybe helpful or not.

Is it possible for variable resolution, using IIFE style ( similar to other ****Monkey chrome extensions) to wrap up user's custom code block?

e.g.
[code]

[2020-11-13 15:07] tvvignesh opened #715 "File navigation issue when using Windows Host and Linux Remote"
- REST Client Version: 0.24.4
- VSCode Version:
[code]
- OS Version: Windows 10 Home Insiders (Host), Ubuntu 20.04 (Remote)

Steps to Reproduce:

Hi. I use the extension with Windows Host and Linux remote via remote ssh. While it works, clicking this to do file navigation fails:

<img width="224" alt="2" src="https://user-images.githubusercontent.com/1165845/99086347-65c8c500-25ef-11eb-9da1-e59f12

[2020-11-13 15:09] tvvignesh commented on #715
While not related to this issue, another suggestion I have is to support autocomplete of file paths when typing it to load.

[2020-11-13 15:54] Huachao commented on #715
@tvvignesh do you mean that the outgoing request body is correct indeed, while the go to document link doesn't work?

[2020-11-13 16:04] tvvignesh commented on #715
@Huachao Yup. The request works well and the request body is correct (The file does exist in the path). Only the navigation to file when doing `Ctrl+Click` is broken when using is in Remote SSH with Windows Host and Linux remote

[2020-11-15 19:35] LeCoupa commented on #489
Yes, I was thinking about the same tonight. This feature would save me so much time

[2020-11-16 03:49] Huachao commented on #715
@tvvignesh could you please also provide the absolute file path of the executed HTTP file and your actual absolute file path of the referenced gql file?

[2020-11-16 04:40] tvvignesh commented on #715
@Huachao Hi. Just tried with the absolute path instead of relative path. Have the same issue but the request works.

<img width="238" alt="1" src="https://user-images.githubusercontent.com/1165845/99213471-c0cb0980-27f3-11eb-9287-5611f9a58236.png">

[2020-11-16 04:45] tvvignesh commented on #715
The problem is not about the absolute or relative path here. The problem is that it is trying to access the host machine instead of the remote machine. I tested it out and found that `/` is pointing to the root of my host (C: drive in my case), not the remote Linux host. And the same is the case with relative path as well.

[2020-11-18 03:06] Huachao commented on #327
@asmith3006 @martinschayna with the help of @mingue , you can treat javascript mime type as JSON during variable parsing. in the next release

[2020-11-18 16:45] pke opened #716 "Suport query of (X)HTML"
For automatic form fill out scenarios it would be nice to query (X)HTML responses. At least for XHTML this should already be allowed, since they should be valid XML.
For HTML parsing we could rely on well established [cheerio](https://cheerio.js.org/)

[2020-11-23 06:19] pobearm opened #717 "Is there any place to see the real request data?"
If we use variable in request context , sometimes we are not sure what the real data is that we send to our api.
So, is there any place in vscode we could preview the real data of my reqeust?

[2020-11-23 06:21] Huachao commented on #717
@pobearm set the setting `"rest-client.previewOption": "exchange"`, and yo can see the actual outgoing request.

[2020-11-23 06:21] #717 closed

[2020-11-24 09:10] Jiran03 commented on #430
i can solve it by manually retyping the command

[2020-11-26 03:10] piumnl opened #719 "outline can't correct show Chinese."
- REST Client Version: v0.24.4
- VSCode Version: 1.51.1 (user setup)
- OS Version: Windows_NT x64 10.0.18363

Look this image: ![图片](https://user-images.githubusercontent.com/24371189/100303413-68f08780-2fd7-11eb-8d0e-0059005b2f56.png)

[2020-11-26 08:00] kiranyadav2 commented on #84
is there a way for me to have scoped local variable to a particular request
like for example

###
// request 1
@name=john

GET http://localhost/{{name}} // produces  http://localhost/jack

###

// request 2
@name=jack
GET http://localhost/{{name}} // produces  http://localhost/jack

as u see the  in request 1 local variable name is overwritten with the new value "jack" when the name is redifined i

[2020-11-27 03:29] kiranyadav2 commented on #414
I think there  is a duplicate issue [#642](https://github.com/Huachao/vscode-restclient/issues/642)  for the above same request

[2020-11-27 06:06] Huachao commented on #719
@piumnl thanks for your question, since the request variable requires its name of regex `\w+`, it's by design

[2020-11-27 06:06] #719 closed

[2020-11-27 09:12] nikitajaiswal0902 commented on #523
@Huachao I am facing this issue.
![error](https://user-images.githubusercontent.com/51615724/100431787-a419b600-30be-11eb-99fd-fa8c4d5e7443.png)

My request is :-
POST http://localhost:8091/api/provider/token HTTP/1.1
Content-Type: application/json
Authorization: Basic XXXXXXXXXXXXXX

I am sending this request via VS code.

[2020-11-30 03:39] sanzic-wes opened #721 "Get MS Graph Users Delta"
When I do:
# @name nextlink
GET https://graph.microsoft.com/v1.0/users/delta
Authorization: bearer {{auth.response.body.access_token}}
I get this response with heather, nextLink and value:
...
"@odata.nextLink": "https://graph.microsoft.com/v1.0/users/delta?$skiptoken=8aNJ13uxicmLHXjWBM5rfUNmxJ5gxH5upsmPT_YFW9cdqaYFFzc5pxH69z9hmDn2A_40mTY258ZW6FcWCP66-kVN0mJQIhcVO..."
...

Now I want to get the ne

[2020-11-30 12:11] bertubezz opened #722 "Set-Cookie response headers are grouped"
- REST Client Version: 0.24.4
- VSCode Version: 1.51.1
- OS Version: windows 10

Steps to Reproduce:

1. imagine this simple express script...

[code]

2. simple GET request will group `Set-Cookies` headers into one as follows;

[code]

NOTE almost same request from curl...

[code]

[2020-12-01 02:12] tomvjoss commented on #712
its string value .eg: "61a98ec7-4884-42e4-849e-66086eb073b1"

[2020-12-01 02:14] tomvjoss commented on #712
POST https://testurl  HTTP/1.1
Tracking-ID: 10337e6a-837b-47ac-9b52-3d94867db65
Content-Type:  application/json
Authorization: Bearer
{
request body
}

[2020-12-01 02:38] Huachao commented on #712
@tomvjoss you need a blank line between the request body and headers, and how did you find your custom headers not sent to the server. You can set the setting `"rest-client.previewOption": "exchange"`, and you can see the actual outgoing request

[2020-12-01 11:19] rdumont commented on #182
I'm also very interested in this, and thinking about giving it a shot. But first, we need to agree on a few things.

### The statement syntax

I would prefer to follow the pattern of prefixing keywords with `@` inside a comment, like it is done with `@name`. So what do you think about the following?

[code]

### The keyword name

I see that we have a few options: `include`, `import`, `require`.

M

[2020-12-01 23:20] tomvjoss commented on #712
@Huachao

POST https:my api HTTP/1.1
Content-Type:application/json
Authorization:{{BEARER_TOKEN}}
Tracking-ID:{{TrackingId}}

{
jsonbody
}

i am getting header "Tracking-ID"as null at server side.

[2020-12-01 23:25] tomvjoss commented on #712
@Huachao

when i print the value at server side. i can see its null.

[2020-12-02 01:28] Huachao commented on #712
@tomvjoss could you show me the lines you define the variables?

[2020-12-02 10:55] chamerling opened #723 "Files are opened on the right of the REST client result after REST call"
- REST Client Version: 0.24.4
- VSCode Version: 1.51.1
- OS Version: OS X 10.13.6

Hello,

Every time I want to open a file after I used REST Client, the file is opened "on the Side" of the REST Client response which is already opened "on the Side" of my files.

Steps to Reproduce:

1. Open a REST Client file
2. Make a REST Client call, the result is opened "on the Side"
3. Open a file from the VS

[2020-12-02 16:15] mjmatthiesen commented on #430
This is closed, but I am bumping this because the error message should be clear, because currently it's not, I had to search here to figure it out.

[2020-12-02 23:20] chaeron opened #724 "Sequential execution of multiple requests."
Since it's possible to name requests, it would be really useful if there was some way to specify sequences of requests that you want to run one after another.

Say we have a .rest file like this:

[code]

The it would be great if we could specify a sequence of requests somehow, maybe like this:

`// @sequence request1 request2`

And have restclient show a clickable "Send Requests" above the sequen